<div ng-if="!not_found" class="edit-project-page">
    <md-content class="project-profile-padding">
        <div layout="row">
            <div layout="row" layout-align="start start" flex="50">
                <h2>{{title}}</h2>
            </div>

            <div layout="row" flex="50" layout-align="end start">
                <md-button class="md-raised cancel-button" ng-click="cancelChanges()">Cancel</md-button>
                <md-button class="md-raised md-primary save-button" ng-click="saveChanges()">Save</md-button>
            </div>
        </div>

        <div layout="row">
            <div layout="column" flex class="inputs-top">
                <div layout="row">
                    <md-input-container flex="15" class="project-root">
                        <label>Root Number (Required)</label>
                        <input ng-model="project.rootNumber"
                               ng-disabled="!user.isDmdiiAdmin"
                               ng-required="true">
                    </md-input-container>

                    <md-input-container flex="15" class="project-call">
                        <label>Call Number (Required)</label>
                        <input ng-model="project.callNumber"
                               ng-disabled="!user.isDmdiiAdmin"
                               ng-required="true">
                    </md-input-container>

                    <md-input-container flex="10" class="project-number">
                        <label>Project Number (Required)</label>
                        <input ng-model="project.projectNumber"
                               ng-disabled="!user.isDmdiiAdmin"
                               ng-required="true">
                    </md-input-container>

                    <md-input-container flex="15" class="project-cost-share">
                        <label>Cost Share</label>
                        <input ng-model="project.costShare"
                               ng-disabled="!user.isDmdiiAdmin"
                               >
                    </md-input-container>

                    <md-input-container flex="15" class="project-dmdii-funding">
                        <label>DMDII Funding</label>
                        <input ng-model="project.dmdiiFunding"
                               ng-disabled="!user.isDmdiiAdmin"
                               >
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex="35" class="project-name">
                        <label>Title (Required)</label>
                        <input ng-model="project.projectTitle"
                               ng-disabled="!user.isDmdiiAdmin"
                               ng-required="true">
                    </md-input-container>

                    <md-input-container flex="35" class="project-status">
                        <label>Status (Required)</label>
                        <md-select ng-model="project.projectStatus"
                        ng-model-options="{trackBy: '$value.id'}"
                        ng-disabled="!user.isDmdiiAdmin"
                        ng-required="true">
                        <md-option ng-value="status" ng-repeat="status in statuses">{{status.name}}</md-option>
                    </md-input-container>
                </div>

                <div layout="row">
                    <div layout="column">
                        <md-datepicker class="no-bottom no-pad-bottom top10" name="awardDate" ng-model="date.awarded"  ng-required="project.projectStatus.id !== 1" md-placeholder="Award Date"></md-datepicker>
                    </div>

                    <div layout="column">
                        <md-datepicker class="no-bottom no-pad-bottom top10" name="endDate" ng-model="date.end"  ng-required="project.projectStatus.id !== 1" md-placeholder="End Date"></md-datepicker>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row">
            <div layout="column" flex="100"
                ui-widget-rich-text
                field-name="fieldName"
                is-required="true"
                model="project.projectSummary"
                limit="descriptionLimit"
                is-saved="isSaved"
                is-valid="isValid">
            </div>
        </div>

        <div layout="row">
            <md-input-container flex="35" class="project-focus-area">
                <label>Focus Area (Required)</label>
                <md-select ng-model="project.projectFocusArea"
                    ng-model-options="{trackBy: '$value.id'}"
                    ng-disabled="!user.isDmdiiAdmin"
                    ng-required="true">
                    <md-option ng-value="focus" ng-repeat="focus in focusAreas">{{focus.name}}</md-option>
            </md-input-container>

            <md-input-container flex="35" class="project-thrust">
                <label>Thrust Area (Required)</label>
                <md-select ng-model="project.projectThrust"
                    ng-model-options="{trackBy: '$value.id'}"
                    ng-disabled="!user.isDmdiiAdmin"
                    ng-required="true">
                    <md-option ng-value="thrust" ng-repeat="thrust in thrustAreas">{{thrust.name}}</md-option>
            </md-input-container>
        </div>

        <div layout="column">
            <md-autocomplete flex="33" ng-show="user.isDmdiiAdmin"

                ng-required="project.projectStatus.id !== 1"
                md-input-name="organizations"
                md-items="org in queryOrgSearch(searchOrg)"
                md-search-text="searchOrg"
                md-selected-item="selectedOrg"
                md-item-text="org.name"
                md-selected-item-change="setPrimeOrg(selectedOrg)"
                md-floating-label="Prime Oganization">
                <md-item-template>
                  <span md-highlight-text="searchOrg">{{org.name}}</span>
                </md-item-template>
                <md-not-found>
                  No Organizations matching "{{searchOrg}}" were found.
                </md-not-found>
            </md-autocomplete>

            <span flex></span>

            <div layout="row" layout-wrap flex="33" ng-show="project.primeOrganization.name">
                <div layout="column">
                    <span class="no-bottom" flex>Selected Prime Organization</span>
                    <div layout="row" layout-wrap>
                        <md-chips>
                            <md-chip>
                                <span>{{project.primeOrganization.name}}</span>
                            </md-chip>
                        </md-chips>
                    </div>
                </div>
            </div>

            <span flex></span>

            <div layout="row" ng-show="user.isDmdiiAdmin">
                <md-autocomplete flex="33"

                    ng-required="project.projectStatus.id !== 1"
                    md-input-name="organizations"
                    md-items="org in queryOrgSearch(searchContOrg)"
                    md-search-text="searchContOrg"
                    md-selected-item="selectedContOrg"
                    md-item-text="org.name"
                    md-selected-item-change="addContributor(selectedContOrg)"
                    md-floating-label="Add Contributing Company">
                    <md-item-template>
                      <span md-highlight-text="searchContOrg">{{org.name}}</span>
                    </md-item-template>
                    <md-not-found>
                      No Organizations matching "{{searchContOrg}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </div>
        </div>

        <span flex></span>

        <div layout="row" layout-wrap flex="33">
            <div layout="column">
                <span class="no-bottom" flex>Selected Contributors (Click Company to remove)</span>
                <div layout="row" layout-wrap>
                    <md-chips ng-repeat="company in contributors track by $index">
                        <md-chip ng-click="(user.isDmdiiAdmin) && removeContributor($index)">
                            <span>{{company.name}}</span>
                        </md-chip>
                    </md-chips>
                </div>
            </div>
        </div>

        <div layout="column" ng-show="user.isDmdiiAdmin">
            <h3 class="no-bottom">Principal Investigator</h3>
            <div layout="row">
                <div layout="column" flex="20">
                    <md-input-container>
                        <label>First Name</label>
                        <input id="contactFirstName"

                            ng-required="project.projectStatus.id !== 1"
                            ng-model="project.principalInvestigator.firstName">
                    </md-input-container>
                    <md-input-container>
                        <label>Last Name</label>
                        <input id="contactLastName"

                            ng-required="project.projectStatus.id !== 1"
                            ng-model="project.principalInvestigator.lastName">
                    </md-input-container>
                    <md-input-container md-no-float>
                        <label>Email</label>
                        <input id="contactEmail"

                            ng-required="project.projectStatus.id !== 1"
                            ng-model="project.principalInvestigator.email">
                    </md-input-container>
                </div>
                <span flex></span>
            </div>
        </div>

        <div layout="column" ng-show="user.isDmdiiAdmin">
            <h3 class="no-bottom">DMDII Point of Contact</h3>
            <div layout="row">
                <!-- <div layout="column" flex="20">
                    <md-input-container>
                        <label>First Name</label>
                        <input id="contactFirstName"
                            ng-model="project.principalPointOfContact.firstName">
                    </md-input-container>
                    <md-input-container>
                        <label>Last Name</label>
                        <input id="contactLastName"
                            ng-model="project.principalPointOfContact.lastName">
                    </md-input-container>
                    <md-input-container md-no-float>
                        <label>Email</label>
                        <input id="contactEmail"
                            ng-model="project.principalPointOfContact.email">
                    </md-input-container>
                </div>
                <span flex></span> -->
                <md-autocomplete flex
                    md-input-name="selectDmdiiPOC"
                    md-no-cache="true"
                    md-selected-item="project.principalPointOfContact"
                    md-search-text="query"
                    md-items="dmdiiPOC in searchMembers(query)"
                    md-item-text="dmdiiPOC.displayName"
                    md-floating-label="Search DMC Users">
                    <md-item-template>
                        <span md-highlight-text="query">{{dmdiiPOC.displayName}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found for "{{query}}".
                    </md-not-found>
                </md-autocomplete>
            </div>
        </div>
    </md-content>
</div>
