<div class="page-header margin-bottom-35">
    <md-toolbar>
        <h1 class="project-title">{{projectCtrl.projectData.title}}</h1>
        <div class="md-toolbar-tools">
            <div layout="column" flex="65" class="margin-right12-5">
                <div layout="row" class="name-project" flex>
                    <div sub-nav-menu-button current-page="3"></div>
                </div>
                <!--<span class="small-text small-text--grey">Due in 20 days</span>-->
            </div>
        </div>
    </md-toolbar>
</div>
<div class="container container-view-all all-project-documents">
    <div class="content-panel-body">
        <md-content>
            <ui-widget-documents-folder documents-type="'project'" type-id="projectCtrl.projectData.id"></ui-widget-documents-folder>
        </md-content>
    </div>
</div>