<div class="page-header margin-bottom-35">
    <md-toolbar>
        <h1 class="project-title" layout="row" layout-align="start end">
            <div class="title">{{projectCtrl.projectData.title}}</div>
            <span ng-if="projectCtrl.projectData.dueDate" class="small-text due-date-project small-text--grey">
                Due in {{projectCtrl.projectData.dueDate}}
            </span>
        </h1>
        <div class="md-toolbar-tools">
            <div layout="column" flex="65" class="margin-right12-5">
                <div layout="row" class="name-project" flex>
                    <div sub-nav-menu-button current-page="1"></div>
                </div>
                <span ng-if="isPreview" class="project-manager">Invited to {{projectCtrl.projectData.type}}: <a ng-href="/profile.php#/1">{{projectCtrl.projectData.projectManager}}</a> <ng-md-icon icon="mail" size="20"></ng-md-icon></span>
            </div>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <!-- buttons for preview -->
            <md-button ng-if="isPreview" ng-click="decline()" class="md-raised dmc-button" ><ng-md-icon icon="close" size="18"></ng-md-icon> Decline Invitation</md-button>
            <md-button ng-if="isPreview" ng-click="accept()" class="md-raised md-primary dmc-button" ><ng-md-icon icon="done" size="18"></ng-md-icon> Accept Invitation</md-button>

            <!-- buttons for submission -->
            <md-button ng-if="isSubmission" class="md-raised dmc-button" href="/project.php#/submit/{{projectCtrl.projectData.id}}"><ng-md-icon icon="send" size="18"></ng-md-icon> Submit</md-button>

            <a ng-if="!isPreview"
               ng-href="{{'/project.php#/'+projectCtrl.projectData.id+'/edit'}}"
               class="link-button uppercase invite-button margin-left20">
                <ng-md-icon icon="edit" size="18"></ng-md-icon>Edit
            </a>

            <a ng-if="!isPreview"
               ng-href="{{'/add-members.php#/'+projectCtrl.projectData.id}}"
               class="link-button uppercase invite-button margin-left20">
                <ng-md-icon icon="share" size="18"></ng-md-icon>Invite
            </a>
            <!--<md-menu  ng-if="!isPreview"> -->
                <!--<md-button class="md-raised dmc-button" ng-click="$mdOpenMenu($event) "><ng-md-icon icon="share" size="18"></ng-md-icon> Invite</md-button>-->
                <!--<md-menu-content>-->
                    <!--<md-menu-item>-->
                        <!--<md-button>Team</md-button>-->
                    <!--</md-menu-item>-->
                    <!--<md-menu-item>-->
                        <!--<md-button href="/invite-challenge.php">Challenge</md-button>-->
                    <!--</md-menu-item>-->
                <!--</md-menu-content>-->
            <!--</md-menu>-->
        </div>
    </md-toolbar>
</div>
<div class="container project-page-container" >
    <div ng-if="isPreview" layout="row" layout-margin layout-fill layout-padding>
        <div class="content-column" layout="column" flex>
            <div class="content-panel">
                <div class="content-panel-header">
                    <md-toolbar>
                        <h2>COVER LETTER</h2>
                    </md-toolbar>
                </div>
                <md-content>
                    <p>We seek a power transformer with improved heat losses relative to a standard iron core transformer. Cost and time to delivery are also critical. The attached documents give detailed specs and the attached Evaluator Service encompasses how we will value the trade-offs among heat loss, cost, and delivery time.</p>
                </md-content>
            </div>
        </div>
    </div>
    <div layout="row" >
        <!-- Left Content Column -->
        <div class="content-column" layout="column" flex="65">
            <!-- Overview -->
            <div class="content-panel margin-right12-5">
                <div class="content-panel-header">
                    <md-toolbar>
                        <h2>OVERVIEW</h2>
                    </md-toolbar>
                </div>
                <div class="content-panel-body">
                    <md-content layout="row">
                        <div flex="25" style="display: none">
                            <img ng-src="{{projectCtrl.projectData.featureImage.thumbnail}}">
                        </div>
                        <div flex>
                            <p class="project-description">{{projectCtrl.projectData.description}}</p>
                        </div>
                    </md-content>
                </div>
            </div>
            <!-- Discussion -->
            <div ng-if="!isPreview" class="content-panel margin-right12-5 margin-top-25"
                 ui-widget-discussions project-id="projectCtrl.currentProjectId"
                 widget-title="'DISCUSSIONS'"></div>
            <!-- Tasks -->
            <div ng-if="!isPreview" class="content-panel margin-right12-5 margin-top-25"
                 ui-widget-tasks project-id="projectCtrl.currentProjectId"
                 columns="['title','assignee','dueDate','priority']"
                 widget-title="'TASKS'" show-task-modal="showTaskModal"></div>
        </div>
        <!-- Right Content Column -->
        <div class="content-column" layout="column" flex>
            <!-- Requirement Documents -->
            <div ng-if="isPreview" class="content-panel margin-left12-5"
                 ui-widget-documents
                 project-id="projectCtrl.currentProjectId"
                 widget-title="'DOCUMENTS'"></div>
            <!-- Running Services -->
            <div ng-if="!isPreview" class="content-panel margin-left12-5"
                 ui-widget-services
                 view-all-href="'https://test.projectdmc.org/services/?group_id=7'"
                 title-href="'https://test.projectdmc.org/services/index.php?group_id=7&diid=4'"
                 project-id="projectCtrl.currentProjectId"
                 widget-title="'SERVICES'"
                 limit="5"
                 columns="['name','status']"></div>
            <!-- Components -->
            <!--<div ng-if="!isPreview" class="content-panel project-review" ui-widget-components project-id="projectCtrl.currentProjectId" widget-title="'COMPONENTS'" columns="['name']"></div>-->
        </div>
    </div>
</div>