<div class="page-header" layout-padding>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<div layout="column">
				<h1 class="name-project">
					<div sub-nav-menu-button current-page="1"></div>
					{{projectData.title}}
					<span class="small-text small-text--grey">Due in 20 days</span>
				</h1>
				<span ng-if="isPreview" class="project-manager">Submitted: {{projectData.projectManager}}</span>
			</div>      
		</div>
	</md-toolbar>
</div>
<div class="project-run-services" ng-if="!runHistory" layout="column">
	<h2><a ui-sref="project.services-detail({ServiceId: ServiceId})" >{{service.title}}</a></h2>
	<div layout="row" layout-align="space-between center">
		<a href="" ng-click="showHistory()" class="historyButton">
			Run History
		</a>
		<div>
			<md-button ng-click="" ng-show="false" class="md-raised">
				Visualize
			</md-button>
			<md-button ng-click="run()" class="md-raised">
				Run
			</md-button>
		</div>
	</div>
	<h3>Status: {{status}}</h3>
	<h3>Last Run Status: {{lastStatus}}</h3>
	<h3>Your Run Time: {{runTime}}s</h3>
	<h3>Last Run Time: {{lastRunTime}}s</h3>
	<h3>Average Run: {{averageRun}}s</h3>
	<div layout="row">
		<div flex="50" class="inputs">
			<div layout="row" layout-align="space-between center">
				<h2>Inputs</h2>
				<div class="inputs-button">
					<md-button ng-click="clear()" class="md-raised dmc-button">
						Reset
					</md-button>
					<md-button ng-click="default()" class="md-raised dmc-button">
						Default
					</md-button>
					<md-button ng-click="save()" class="md-raised md-primary dmc-button">
						Save Order
					</md-button>
				</div>
			</div>
			<md-content>
				<md-list>
					<md-list-item ng-repeat="item in inputs" layout="row" layout-align="start end">
						<div flex="50" class="left">
							<md-input-container>
							<label>{{item.left}}</label>
							<input maxlength="20" ng-model="item.models">
							</md-input-container>
						</div>
						<div flex="50" class="right">
							{{item.right}}
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</div>
		<div flex="50" class="outputs">
			<h2>Outputs</h2>
			<md-content>
				<div class="content">
					<h2>Magnetic Permeability</h2>
					<br>
					<div layout="row" layout-align="space-between center">
						<h3>289351.85185185</h3>
						<h3>Permability of Vacuum (real)</h3>
					</div>
					<br>
					<div layout="row" layout-align="space-between center">
						<h4>Magnetic Permeability</h4>
						<h3> Permability of Vacuum (real)</h3>
					</div>
				</div>
			</md-content>
		</div>
		
	</div>
</div>
<div class="project-history-services" ng-if="runHistory" layout="column">
	<h2>{{service.title}}</h2>
	<div layout="row" layout-align="space-between center">
		<a href="" ng-click="showHistory()" class="historyButton">
			Run Service
		</a>
	</div>
	<h3>Run History</h3>
	<md-content>
		<md-list>
			<div layout="row" class="listHeader">
				<md-button flex="25" ng-click="sorting('runDate')">
					Run Date 
					<ng-md-icon  
						icon="arrow_forward" 
						size="18" 
						ng-if="sort == 'runDate'"
						style="fill: #000"
						ng-style="(sort == 'runDate' && order)? {transform: 'rotate(-90deg)',transition: 'transform 0.25s'}: {transform: 'rotate(90deg)',transition: 'transform 0.25s'}"></ng-md-icon>
				</md-button>
				<md-button flex="25" ng-click="sorting('runBy')">
					Run By
					<ng-md-icon  
						icon="arrow_forward" 
						size="18" 
						ng-if="sort == 'runBy'"
						style="fill: #000"
						ng-style="(sort == 'runBy' && order)? {transform: 'rotate(-90deg)'}: {transform: 'rotate(90deg)'}"></ng-md-icon>
				</md-button>
				<md-button flex="25" ng-click="sorting('runTime')">
					Run Time 
					<ng-md-icon  
						icon="arrow_forward" 
						size="18" 
						ng-if="sort == 'runTime'"
						style="fill: #000"
						ng-style="(sort == 'runTime' && order)? {transform: 'rotate(-90deg)'}: {transform: 'rotate(90deg)'}"></ng-md-icon>
				</md-button>
				<md-button flex="25" ng-click="sorting('results')">
					Results 
					<ng-md-icon  
						icon="arrow_forward" 
						size="18" 
						ng-if="sort == 'results'"
						style="fill: #000"
						ng-style="(sort == 'results' && order)? {transform: 'rotate(-90deg)'}: {transform: 'rotate(90deg)'}"></ng-md-icon>
				</md-button>
			</div>
			<md-list-item ng-repeat="item in history | orderBy:sort:order" layout="row">
				<div flex="25">{{item.runDate}} {{item.runTimeService}}</div>
				<div flex="25"><a href="">{{item.runBy}}</a></div>
				<div flex="25">{{item.runTime}}s</div>
				<div flex="25" style="color:{{(item.results == 'Success') ? '#65AF3F': 'red'}}">
					<a href="" ng-click="openResults(item)" class="href-result">{{item.results}}</a>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
</div>