<div class="page-header" layout-padding>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<div layout="column">
				<h1 class="name-project">
					<div sub-nav-menu-button current-page="1"></div>
					{{projectData.title}}
					<span class="small-text small-text--grey">Due in 20 days</span>
				</h1>
				<span ng-if="isPreview" class="project-manager">Submitted: {{projectData.projectManager}}</span>
			</div>      
		</div>
	</md-toolbar>
</div>
<div class="project-run-services" ng-if="!runHistory" layout="column">
	<h2>{{service.title}}</h2>
	<div layout="row" layout-align="space-between center">
		<a href="" ng-click="showHistory()" class="historyButton">
			Run History
		</a>
		<div>
			<md-button ng-click="" class="md-raised">
				Visualize
			</md-button>
			<md-button ng-click="run()" class="md-raised">
				Run
			</md-button>
		</div>
	</div>
	<h3>Status: {{status}}</h3>
	<h3>Your Run Time: {{runTime}}s</h3>
	<h3>Average Run: {{averageRun}}s</h3>
	<div layout="row">
		<div flex="50" class="inputs">
			<div layout="row" layout-align="space-between center">
				<h2>Inputs</h2>
				<div class="inputs-button">
					<md-button ng-click="clear()" class="md-raised">
						Clear
					</md-button>
					<md-button ng-click="save()" class="md-raised md-primary">
						Save
					</md-button>
				</div>
			</div>
			<md-content>
				<md-list>
					<md-list-item ng-repeat="item in inputs" layout="row" layout-align="start end">
						<div flex="50" class="left">
							<md-input-container>
							<label>{{item.left}}</label>
							<input maxlength="20" ng-pattern="/^-?\d*\.?\d*$/" ng-model="item.models">
							</md-input-container>
						</div>
						<div flex="50" class="right">
							{{item.right}}
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</div>
		<div flex="50" class="outputs">
			<h2>Outputs</h2>
			<md-content>
				<div class="content">
					<h2>Magnetic Permeability</h2>
					<br>
					<div layout="row" layout-align="space-between center">
						<h3>289351.85185185</h3>
						<h3>Permability of Vacuum (real)</h3>
					</div>
					<br>
					<div layout="row" layout-align="space-between center">
						<h4>Magnetic Permeability</h4>
						<h3> Permability of Vacuum (real)</h3>
					</div>
				</div>
			</md-content>
		</div>
		
	</div>
</div>
<div class="project-history-services" ng-if="runHistory" layout="column">
	<h2>{{service.title}}</h2>
	<div layout="row" layout-align="space-between center">
		<a href="" ng-click="showHistory()" class="historyButton">
			Run Service
		</a>
	</div>
	<h3>Run History</h3>
	<md-content>
		<md-list>
			<div layout="row" class="listHeader">
				<md-button flex="20" ng-click="sorting('runDate')">
					Run Date 
					<ng-md-icon ng-if="(sort == 'runDate' && order)" icon="keyboard_arrow_down" size="24" style="fill: #000"></ng-md-icon>
					<ng-md-icon ng-if="(sort == 'runDate' && !order)" icon="keyboard_arrow_up" size="24" style="fill: #000"></ng-md-icon>
				</md-button>
				<md-button flex="20" ng-click="sorting('runTimeService')">
					Time Service
					<ng-md-icon ng-if="(sort == 'runTimeService' && order)" icon="keyboard_arrow_down" size="24" style="fill: #000"></ng-md-icon>
					<ng-md-icon ng-if="(sort == 'runTimeService' && !order)" icon="keyboard_arrow_up" size="24" style="fill: #000"></ng-md-icon>
				</md-button>
				<md-button flex="20" ng-click="sorting('runBy')">
					Run By 
					<ng-md-icon ng-if="(sort == 'runBy' && order)" icon="keyboard_arrow_down" size="24" style="fill: #000"></ng-md-icon>
					<ng-md-icon ng-if="(sort == 'runBy' && !order)" icon="keyboard_arrow_up" size="24" style="fill: #000"></ng-md-icon>
				</md-button>
				<md-button flex="20" ng-click="sorting('runTime')">
					Run Time 
					<ng-md-icon ng-if="(sort == 'runTime' && order)" icon="keyboard_arrow_down" size="24" style="fill: #000"></ng-md-icon>
					<ng-md-icon ng-if="(sort == 'runTime' && !order)" icon="keyboard_arrow_up" size="24" style="fill: #000"></ng-md-icon>
				</md-button>
				<md-button flex="20" ng-click="sorting('results')">
					Results 
					<ng-md-icon ng-if="(sort == 'results' && order)" icon="keyboard_arrow_down" size="24" style="fill: #000"></ng-md-icon>
					<ng-md-icon ng-if="(sort == 'results' && !order)" icon="keyboard_arrow_up" size="24" style="fill: #000"></ng-md-icon>
				</md-button>
			</div>
			<md-list-item ng-repeat="item in history | orderBy:sort:order" layout="row">
				<div flex="20">{{item.runDate}}</div>
				<div flex="20">{{item.runTimeService}}</div>
				<div flex="20"><a href="">{{item.runBy}}</a></div>
				<div flex="20">{{item.runTime}}s</div>
				<div flex="20" layout="row" layout-align="start center">
					<ng-md-icon icon="info" size="16" style="fill: #000"></ng-md-icon>
					{{item.results}}
				</div>
			</md-list-item>
		</md-list>
	</md-content>
</div>