<div class="page-header" layout-padding>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<div layout="column">
				<h1 class="name-project">
					<div sub-nav-menu-button current-page="1"></div>
					{{projectData.title}}
					<span class="small-text small-text--grey">Due in 20 days</span>
				</h1>
				<span ng-if="isPreview" class="project-manager">Submitted: {{projectData.projectManager}}</span>
			</div>      
		</div>
	</md-toolbar>
</div>
<div class="project-details-services" layout="column">
	<div>
		<a class="return" ng-href="{{'project.php#/' + projectData.id + '/services'}}">
			Return to Services
		</a>
	</div>
	<div layout="row" layout-align="space-between center">
		<div layout="column">
			<h2><a ng-href="{{'product.php#/'+ service.type + 's/' + service.id}}">{{service.title}}</a> <span>By {{service.owner}}</span></h2>
			<ui-widget-stars-static size="15" value="{{average_rating}}" text="({{average_rating}}) {{number_of_comments}} reviews"></ui-widget-stars-static>
		</div>
		<div class="buttons" layout layout-align="center center">
			<md-button class="md-raised" ng-href="{{'project.php#/' + projectData.id + '/run-service/' + item.id}}">
				Run
			</md-button>
			<md-button class="md-raised" ng-click="follow()">
				{{(followFlag) ? 'Unfollow' : 'Follow'}}
			</md-button>
			<md-button aria-label="reply" href="" class="md-icon-button reply header-icon">
				<ng-md-icon icon="reply" style="fill: #65AF3F;" size="25"></ng-md-icon>
			</md-button>
			<md-button aria-label="create" ng-href="{{'project.php#/' + projectData.id + '/edit-service'}}" class="md-icon-button header-icon">
				<ng-md-icon icon="create" style="fill: #65AF3F;" size="25"></ng-md-icon>
			</md-button>
			<md-button aria-label="delete" ng-click="delete()" class="md-icon-button header-icon">
				<ng-md-icon icon="delete" style="fill: red;" size="25"></ng-md-icon>
			</md-button>
		</div>
	</div>
	<div class="description">
		{{service.description}}
	</div>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="STATISTICS">
			<ui-widget-tabs-statistic data="statistics"></ui-widget-tabs-history>
		</md-tab>
		
		<md-tab label="HISTORY">
			<ui-widget-tabs-history data="history"></ui-widget-tabs-history>
		</md-tab>

		<md-tab label="TAGS">
			<md-content class="md-padding">
				<div layout="row" class="tabs-content" layout-wrap>
					<md-chips ng-repeat="tag in service.tags track by $index">
						<md-chip>
							{{tag}}
						</md-chip>
					</md-chips>
				</div>
			</md-content>
		</md-tab>

		<md-tab label="DOCUMENTS">
			<md-content class="md-padding">
				<ui-widget-documents-folder></ui-widget-documents-folder>
			</md-content>
		</md-tab>

		<md-tab label="Reviews">
			<div layout="row" layout-align="start center">
				<h4>{{number_of_comments}} reviews </h4>
				<ui-widget-stars-static size="15" value="{{average_rating}}" text="({{average_rating}})"></ui-widget-stars-static>
			</div>
			<div ng-repeat="review in service.reviews">
				<ui-widget-review review="review" userlogin="'UserLogin'" typereview="'reply_reviews'"></ui-widget-review>
        <md-divider></md-divider>
      </div>
		</md-tab>
	</md-tabs>
</div>