<main>
		<section class="container projects-head">
			<h2>Events</h2>
		</section>

		<section class="container content-padding">
			<div class="row content-row">
				<!-- inline style below needed to workaround calendar sizing on mobile -->
				<div class="col-md-6" style="min-height: 500px;">

								<!-- Desktop controls -->
								<!-- Nav tabs -->
								<ul class="nav nav-tabs event-tabs" role="tablist">
									<!-- <li class="hidden-xs tab-label">Events</li> -->
									<li role="presentation" class="active hidden-xs"><a data-target="#calendar" aria-controls="calendar" role="tab" data-toggle="tab">Calendar</a></li>
									<li role="presentation" class="hidden-xs"><a data-target="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Event List</a></li>



									<!-- Mobile controls -->
									<li role="presentation" class="dropdown xs-tab-control visible-xs">
										<a href="#" class="dropdown-toggle" id="myTabDrop1" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false"><span class="tab-section-label">Section</span> <span class="caret"></span></a>
										<ul class="dropdown-menu" aria-labelledby="myTabDrop1"
														id="myTabDrop1-contents">
											<li class=""><a href="#calendar" role="tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="false">Calendar</a></li>
											<li class="">
												<a href="#schedule" role="tab" data-toggle="tab" aria-controls="dropdown3" aria-expanded="false">Event List</a></li>
										</ul>

									</li>
								</ul>



								<!-- Tab panes -->
								<div class="tab-content">

									<div role="tabpanel" class="tab-pane fade in active" id="calendar">

										<tien-clndr class="clndr events" tien-clndr-object="clndr" tien-clndr-events="events" tien-clndr-options="options">
												<div class="clndr-controls">
														<div class="clndr-previous-button" ng-click="clndr.back()">
																&lsaquo;
														</div>
														<div class="month">
															{{month}}
														</div>
														<div class="clndr-next-button" ng-click="clndr.forward()">
															&rsaquo;
														</div>
												</div>
												<div class="clndr-grid">
														<div class="days-of-the-week">
															<div class="header-day" ng-repeat="day in daysOfTheWeek track by $index">
																{{day}}
															</div>
														</div>
														<div class="days">
															<div class="{{day.classes}}" ng-repeat="day in days" ng-click="dayClicked($event, day)">
																<div class="event-indicator" ng-show="day.events.length" ng-click="showEvents(day.events)">{{day.events.length}}</div>
																{{day.day}}
															</div>
														</div>
												</div>
										</tien-clndr>

									</div>
									<div role="tabpanel" class="tab-pane fade " id="schedule">

										<div class="event-list" ng-repeat="event in events track by $index| limitTo:3">

										<div class="event-block">
										<div class="row">
											<h5 style="outline: 0;"ng-click="eventClicked(event)" class="col-sm-9">{{event.name}}</h5><time datetime="2011-01-12" class="col-sm-3 text-right">{{event.date}}</time>
										</div>

											<!-- <p markdown-to-html="event.description"></p> -->
											<a ng-if="userData.isDmdiiAdmin" flex="10" href ng-click="deleteEvent($index, event.id)" class="delete-icon">delete <ng-md-icon icon="delete" style="fill: #999" size="16"></ng-md-icon></a>

										</div>


										</div>

									</div>
								</div>


				</div>

				<div class="col-md-6">
					<h4 class="col-label" style="margin-bottom: 20px;">Events Detail</h4>
					<div class="event-list" ng-repeat="event in dayEvents track by $index| limitTo:3">

					<div class="event-block">
					<div class="row">
						<h2 class="col-sm-9">{{event.name}}</h2><time datetime="2011-01-12" class="col-sm-3 text-right">{{event.date}}</time>
					</div>

						<p markdown-to-html="event.description"></p>
						<a ng-if="userData.isDmdiiAdmin" flex="10" href ng-click="deleteEvent($index, event.id)" class="delete-icon">delete <ng-md-icon icon="delete" style="fill: #999" size="16"></ng-md-icon></a>

					</div>


					</div>
				</div>

			</div>
		</section>

<!--
		<section class="container">
      <dmc-horizontal-menu tree-source="treeMenuModel"></dmc-horizontal-menu>

			<div class="row content-row">
				<div class="col-xs-4">
					<div class="form-group has-feedback">
						<form ng-submit="submit(searchModel)">
							<input ng-model="searchModel" type="text" class="form-control " placeholder="Search Projects">
						</form>
					</div>
				</div>
				<div class="col-xs-1" style="padding-left: 0px; margin-left: -10px;">
					<ng-md-icon ng-click="submit(searchModel)" icon="search" style="fill: #999" size="30"></ng-md-icon>
				</div>
				<div class="col-xs-4 col-xs-offset-3 ">

				<div class="dropdown">


						<div class="dropdown pull-right">
							<button class="btn btn-default dropdown-toggle" type="button" id="itemstoshowdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									{{showArray[sizeModule].name}}<span class="caret"></span>
									</button>
							<ul class="dropdown-menu" aria-labelledby="itemstoshowdropdown">
								<li ng-repeat="item in showArray track by $index">
									<a ng-click="selectItemDropDown($index)">{{item.name}}</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="projects-table">			<div class="table-responsive ">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Focus</th>
						<th>Thrust Area</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="project in projects.arr">
						<td>
							<a ng-href="{{'/dmdii-project-page.php#/'+project.id}}">{{project.projectTitle}}</a>
							<a ng-href="{{'member-page.php#/'+project.primeOrganization.id}}"><h6>{{project.primeOrganization.name}}</h6></a>
							<div ng-if="project.kind != 'dmdiiEvent'" class="sublabel">{{project.rootNumber | numberFixedLen:2}}-{{project.callNumber | numberFixedLen:2}}-{{project.projectNumber | numberFixedLen:2}}</div>
							<div ng-if="project.kind == 'dmdiiEvent'" class="sublabel">EVENT</div>
						</td>

						<td>{{project.projectStatus.name}}</td>
						<td>{{project.projectFocusArea.name}}</td>
						<td>{{project.projectThrust.name}}</td>
					</tr>

				</tbody>
			</table>
			</div>

						<div class="row">
							<div class="col-xs-6">
								<button id="prevPage" ng-if="hasPrev()" class="btn btn-next pull-right" ng-click="getPrev()">
										PREV
								</button>
							</div>

							<div class="col-xs-6">
								<button id="nextPage" ng-if="hasNext()" class="btn btn-next pull-left" ng-click="getNext()">
										NEXT
								</button>
							</div>
						</div>

			</div>
		</section>

	<recent-news news="news"></recent-news> -->

</main>
