<main>
		<section class="container projects-head">
			<h2>Events {{jb}}</h2>
		</section>


		<section class="container content-padding">
			<div class="row content-row">
				<!-- inline style below needed to workaround calendar sizing on mobile -->
				<div class="col-md-6" style="min-height: 500px; margin-bottom: 30px;">

								<!-- Desktop controls -->
								<!-- Nav tabs -->
								<ul class="nav nav-tabs event-tabs" role="tablist">
									<!-- <li class="hidden-xs tab-label">Events</li> -->
									<li role="presentation" class="active hidden-xs"><a data-target="#calendar" aria-controls="calendar" role="tab" data-toggle="tab">Calendar</a></li>
									<li role="presentation" class="hidden-xs"><a data-target="#event-list" aria-controls="event-list" role="tab" data-toggle="tab">Event List</a></li>



									<!-- Mobile controls -->
									<li role="presentation" class="dropdown xs-tab-control visible-xs">
										<a href="#" class="dropdown-toggle" id="myTabDrop1" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false"><span class="tab-section-label">Section</span> <span class="caret"></span></a>
										<ul class="dropdown-menu" aria-labelledby="myTabDrop1"
														id="myTabDrop1-contents">
											<li class=""><a href="#calendar" role="tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="false">Calendar</a></li>
											<li class="">
												<a href="#event-list" role="tab" data-toggle="tab" aria-controls="dropdown3" aria-expanded="false">Event List</a></li>
										</ul>

									</li>
								</ul>



								<!-- Tab panes -->
								<div class="tab-content">

									<div role="tabpanel" class="tab-pane fade in active" id="calendar">

										<tien-clndr class="clndr events" tien-clndr-object="clndr" tien-clndr-events="events" tien-clndr-options="options">
												<div class="clndr-controls">
														<div class="clndr-previous-button" ng-click="clndr.back()">
																&lsaquo;
														</div>
														<div class="month">
															{{month}} {{year}}
														</div>
														<div class="clndr-next-button" ng-click="clndr.forward()">
															&rsaquo;
														</div>
												</div>
												<div class="clndr-grid">
														<div class="days-of-the-week">
															<div class="header-day" ng-repeat="day in daysOfTheWeek track by $index">
																{{day}}
															</div>
														</div>
														<div class="days">
															<div class="{{day.classes}}" ng-repeat="day in days" ng-click="dayClicked($event, day)">
																<div class="event-indicator" ng-show="day.events.length" ng-click="showEvents(day.events)">{{day.events.length}}</div>
																{{day.day}}
															</div>
														</div>
												</div>
										</tien-clndr>

									</div>
									<div role="tabpanel" class="tab-pane fade " id="event-list">

										<div class="event-filter-tabs">
											<div class="row">
												<a ng-repeat="eventFilter in eventFilters track by $index" ng-click="selectEventListFilter($index)" href="" class="col-xs-4" ng-class="{selected: eventFilter.isSelected}">
													{{eventFilter.name}}
												</a>
											</div>
										</div>

										<div style="max-height: 500px; overflow: auto;" class="event-list">

										<div ng-repeat="event in events | filter: eventListFilter" class="event-block">
										<div class="row">
											<h5 style="outline: 0;" class="col-sm-9">
												<a ng-href="/dmdii-project-page.php#/event/{{event.id}}">{{event.name}}</a>
											</h5>
											<!-- previously using this func above to 'drill in' to summary view ng-click="eventClicked(event)"  -->
											<div class="column col-sm-3">
												<time datetime="2011-01-12">{{event.date}}</time>
												<!-- <a ui-sref="view_event" ng-click="selectEvent(event)"><h6>EVENT DETAILS</h6></a> -->
											</div>
										</div>

											<!-- <p markdown-to-html="event.description"></p> -->
											<a ng-if="userData.isDmdiiAdmin" flex="10" href ng-click="deleteEvent($index, event.id)" class="delete-icon">delete <ng-md-icon icon="delete" style="fill: #999" size="16"></ng-md-icon></a>

										</div>


										</div>

									</div>
								</div>


				</div>

				<div class="col-md-6">
					<h4 class="col-label" style="margin-bottom: 55px;">Event Summary</h4>
					<div class="event-list" ng-repeat="event in dayEvents">

					<div class="event-block">
					<div class="row">

							<a class="col-sm-10" ng-href="/dmdii-project-page.php#/event/{{event.id}}" ng-click="selectEvent(event)">
								<h2 style="outline: 0;">{{event.name}}</h2>
							</a>

							<a class="col-sm-2 view-event" ng-href="/dmdii-project-page.php#/event/{{event.id}}" ng-click="selectEvent(event)">
								<span>VIEW</span><ng-md-icon icon="event_note" size="18"></ng-md-icon>
							</a>


						</div>
						<div class="row">

						<div class="column col-sm-12 dates">
							<time>{{event.date}}</time>
							<span ng-if="event.date != event.endDate">
								<span> - </span>
								<time>{{event.endDate}}</time>
							</span>
							<!-- <a ng-href="/dmdii-project-page.php#/event/{{event.id}}" ng-click="selectEvent(event)"><h6>EVENT DETAILS</h6></a> -->
						</div>
					</div>



					<div class="row">
						<p class="col-sm-12" markdown-to-html="event.description"></p>
					</div>
					<div class="row fade-bottom">
					</div>

					</div>


					</div>
				</div>

			</div>
		</section>


</main>
