<main>
		<section class="container projects-head">
			<h2>Events</h2>
		</section>


		<section class="container content-padding">
			<div class="row content-row">
				<!-- inline style below needed to workaround calendar sizing on mobile -->
				<div class="col-md-6" style="min-height: 500px; margin-bottom: 30px;">

								<!-- Desktop controls -->
								<!-- Nav tabs -->
								<ul class="nav nav-tabs event-tabs" role="tablist">
									<!-- <li class="hidden-xs tab-label">Events</li> -->
									<li role="presentation" class="active hidden-xs"><a data-target="#calendar" aria-controls="calendar" role="tab" data-toggle="tab">Calendar</a></li>
									<li role="presentation" class="hidden-xs"><a data-target="#event-list" aria-controls="event-list" role="tab" data-toggle="tab">Event List</a></li>



									<!-- Mobile controls -->
									<li role="presentation" class="dropdown xs-tab-control visible-xs">
										<a href="#" class="dropdown-toggle" id="myTabDrop1" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false"><span class="tab-section-label">Section</span> <span class="caret"></span></a>
										<ul class="dropdown-menu" aria-labelledby="myTabDrop1"
														id="myTabDrop1-contents">
											<li class=""><a href="#calendar" role="tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="false">Calendar</a></li>
											<li class="">
												<a href="#event-list" role="tab" data-toggle="tab" aria-controls="dropdown3" aria-expanded="false">Event List</a></li>
										</ul>

									</li>
								</ul>



								<!-- Tab panes -->
								<div class="tab-content">

									<div role="tabpanel" class="tab-pane fade in active" id="calendar">

										<tien-clndr class="clndr events" tien-clndr-object="clndr" tien-clndr-events="events" tien-clndr-options="options">
												<div class="clndr-controls">
														<div class="clndr-previous-button" ng-click="clndr.back()">
																&lsaquo;
														</div>
														<div class="month">
															{{month}}
														</div>
														<div class="clndr-next-button" ng-click="clndr.forward()">
															&rsaquo;
														</div>
												</div>
												<div class="clndr-grid">
														<div class="days-of-the-week">
															<div class="header-day" ng-repeat="day in daysOfTheWeek track by $index">
																{{day}}
															</div>
														</div>
														<div class="days">
															<div class="{{day.classes}}" ng-repeat="day in days" ng-click="dayClicked($event, day)">
																<div class="event-indicator" ng-show="day.events.length" ng-click="showEvents(day.events)">{{day.events.length}}</div>
																{{day.day}}
															</div>
														</div>
												</div>
										</tien-clndr>

									</div>
									<div role="tabpanel" class="tab-pane fade " id="event-list" style="max-height: 500px; overflow-y: scroll;">

										<div class="event-list" ng-repeat="event in events">

										<div class="event-block">
										<div class="row">
											<h5 style="outline: 0;"ng-click="eventClicked(event)" class="col-sm-9">{{event.name}}</h5>
											<div class="column col-sm-3">
												<time datetime="2011-01-12">{{event.date}}</time>
												<!-- <a ui-sref="view_event" ng-click="selectEvent(event)"><h6>EVENT DETAILS</h6></a> -->
											</div>
										</div>

											<!-- <p markdown-to-html="event.description"></p> -->
											<a ng-if="userData.isDmdiiAdmin" flex="10" href ng-click="deleteEvent($index, event.id)" class="delete-icon">delete <ng-md-icon icon="delete" style="fill: #999" size="16"></ng-md-icon></a>

										</div>


										</div>

									</div>
								</div>


				</div>

				<div class="col-md-6">
					<h4 class="col-label" style="margin-bottom: 55px;">Events Detail</h4>
					<div class="event-list" ng-repeat="event in dayEvents">

					<div class="event-block">
					<div class="row">
						<a ng-href="/dmdii-project-page.php#/event/{{event.id}}" ng-click="selectEvent(event)"><h2 class="col-sm-9" style="outline: 0;">{{event.name}}</h2></a>

						<div class="column col-sm-3">
							<h3>Start</h3>
							<time>{{event.date}}</time>
							<h3>End</h3>
							<time>{{event.endDate}}</time>
							<a ng-href="/dmdii-project-page.php#/event/{{event.id}}" ng-click="selectEvent(event)"><h6>EVENT DETAILS</h6></a>
						</div>
					</div>

						<p markdown-to-html="event.description"></p>
						<a ng-if="userData.isDmdiiAdmin" flex="10" href ng-click="deleteEvent($index, event.id)" class="delete-icon">delete <ng-md-icon icon="delete" style="fill: #999" size="16"></ng-md-icon></a>

					</div>


					</div>
				</div>

			</div>
		</section>
	<!-- </div> -->

	<!-- <div ng-if="selectedEvent">

		<section class="container">
				<div class="row">
					<div class="col-xs-12">
						<a ng-click="selectEvent()">BACK TO EVENTS</a>
					</div>
				</div>
				<div class="row align-items-center">
					<h3 class="col-md-9">{{selectedEvent.name}}</h3>
					<time style="text-align: right;" class="col-md-3">{{selectedEvent.date}}</time>
				</div>

				<div class="row ">
						<div class="col-xs-12">
								<h4>Summary</h4>
								<div class="slim-margin" markdown-to-html="selectedEvent.description"></div>
						</div>
				</div>


				<ul class="nav nav-tabs" role="tablist">
						<li ng-show="selectedEvent.projectSchedule" role="presentation" class="hidden-xs active"><a data-target="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedule</a></li>
						<li ng-class="[{active: !selectedEvent.projectSchedule}]" ng-show="selectedEvent.documents" role="presentation" class="hidden-xs"><a data-target="#documents" aria-controls="documents" role="tab" data-toggle="tab">Docs &amp; Presentations</a></li>


						<li ng-show="selectedEvent.projectSchedule || selectedEvent.documents" role="presentation" class="dropdown xs-tab-control visible-xs">
								<a data-target="#" class="dropdown-toggle" id="myTabDrop1" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">
									<span class="tab-section-label">Section</span>
									<span class="caret"></span></a>
								<ul class="dropdown-menu"
										aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
										<li ng-show="selectedEvent.projectSchedule" class="">
												<a data-target="#schedule" role="tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="false">Schedule</a></li>
										<li ng-show="selectedEvent.documents" class=""class="">
												<a data-target="#documents" role="tab" data-toggle="tab" aria-controls="dropdown3" aria-expanded="false">Docs &amp; Presentations</a>
											</li>
								</ul>

						</li>
				</ul>


			</section>

			<section class="gray" ng-show="selectedEvent.projectSchedule || selectedEvent.documents">
					<div class="container">

							<div class="tab-content">
									<div ng-show="selectedEvent.projectSchedule" role="tabpanel" class="tab-pane fade in active" id="schedule">
										<tab-schedule project-schedule="selectedEvent.projectSchedule" user-data="userData"></tab-schedule>
									</div>
									<div ng-class="[{in: !selectedEvent.projectSchedule}, {active: !selectedEvent.projectSchedule}]" ng-show="selectedEvent.documents" role="tabpanel" class="tab-pane fade " id="documents">
										<tab-documents documents="selectedEvent.documents" user-data="userData" project="project"></tab-documents>
									</div>
							</div>
					</div>
			</section>

			</div> -->

</main>

<!-- Temporary template for events detail. This will change once the event object is normalized/consolidated -->
