<header class="under-header" ng-if="userData.isDmdiiAdmin">
	<div class="container">
		<div class="row hidden-xs">
			<div class="col-sm-6 pull-right text-right">
				<a href="edit-dmdii-project-page.php#/event/{{event.id}}/edit"><ng-md-icon icon="mode_edit" style="fill: #75bc52" size="16"></ng-md-icon> Edit Event</a>
				<a href ng-click="deleteEvent($event)"> <ng-md-icon icon="delete" style="fill: #75bc52" size="16"></ng-md-icon> Delete Event</a>
			</div>
		</div>
	</div>
</header>


<main>
	<section class="container">

		<div class="row">
			<a href="/dmdii-events.php#/dmdii_events"
			style="color: darkgrey; margin-left: 5px; font-size: 12px;">
				<ng-md-icon icon="keyboard_arrow_left" size="16" style="padding-left:0px;"></ng-md-icon>
				BACK TO EVENTS</a>
		</div>

		<div class="row">
			<div class="col-md-8 event-main">
				<h1>{{event.name}}</h1>
			</div>
			<div class="col-md-4">

						<h4>Dates</h4>
						<dl class="project-stats">
							<dt>Starts</dt>
							<dd><time>{{event.date}}</time></dd>
							<dt>Ends</dt>
							<dd><time>{{event.endDate}}</time></dd>
						</dl>

			</div>
		</div>

		<div class="project-summary-container">
			<div class="row ">
				<div class="col-xs-12">
					<h4>Summary</h4>
					<div class="slim-margin" markdown-to-html="event.description"></div>
					<h4 ng-show="event.principalPointOfContact.firstName" style="margin-top: 30px;">DMDII Contact</h4>
					<div ng-show="event.principalPointOfContact.firstName" class="slim-margin">
						<div>{{event.principalPointOfContact.firstName}}  {{event.principalPointOfContact.lastName}}</div>
						<div style="color: grey;">{{event.principalPointOfContact.email}}</div>
					</div>
				</div>
			</div>

		</div>


		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active hidden-xs"><a data-target="#contributors" aria-controls="contributors" role="tab" data-toggle="tab">Contributors</a></li>
				<li role="presentation" class="hidden-xs">
					<a data-target="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a>
				</li>

				<li role="presentation" class="dropdown xs-tab-control visible-xs">
						<a data-target="#" class="dropdown-toggle" id="myTabDrop1" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">
							<span class="tab-section-label">Section</span>
							<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
							<li class="">
								<a data-target="#contributors" role="tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="false">Contrubutors</a></li>
							<li class="">
								<a data-target="#documents" role="tab" data-toggle="tab" aria-controls="dropdown3" aria-expanded="false">Documents</a>
							</li>
						</ul>
				</li>
		</ul>


		</div>

		<div>
		</div>
	</section>

	<section class="gray">
			<div class="container">
					<!-- Tab panes -->
					<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="contributors">
								<tab-contributors project="event" user-data="userData"></tab-contributors>
							</div>
							<div role="tabpanel" class="tab-pane fade " id="documents">
								<tab-documents documents="documents" user-data="userData" project="event"></tab-documents>
							</div>
					</div>
			</div>
	</section>
</main>
