<header class="under-header" ng-if="userData.isDmdiiAdmin">
	<div class="container">
		<div class="row hidden-xs">
			<div class="col-sm-4">
				<a href="add-dmdii-project-doc.php#/{{project.id}}/projectUpdates">
					<ng-md-icon icon="add" style="fill: #75bc52" size="16"></ng-md-icon>
					</ng-md-icon>Add documents &amp; updates</a>
			</div>
			<div class="col-sm-6 pull-right text-right">
				<a href="edit-dmdii-project-page.php#/event/{{project.id}}/edit"><ng-md-icon icon="mode_edit" style="fill: #75bc52" size="16"></ng-md-icon> Edit Event</a>
				<a href ng-click="deleteProject($event)"> <ng-md-icon icon="delete" style="fill: #75bc52" size="16"></ng-md-icon> Delete Event</a>
			</div>
		</div>
		<div class="dropdown visible-xs">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project Options<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li>
					<a href="add-dmdii-project-doc.php#/{{project.id}}/projectUpdates">
						<ng-md-icon icon="add" style="fill: #75bc52" size="16"></ng-md-icon>Add documents &amp; updates</a>
					</a>
				</li>
				<li role="separator" class="divider"></li>
				<li>
					<a href="edit-dmdii-project-page.php#/{{project.id}}/edit">
						<ng-md-icon icon="mode_edit" style="fill: #75bc52" size="16"></ng-md-icon> Edit Project</a>
				</li>
				<!-- Delete doesn't currently match a defined function
                <li role="separator" class="divider"></li>
                <li><a href ng-click="deleteProject()"><ng-md-icon icon="delete" style="fill: #75bc52" size="16"></ng-md-icon> Delete Project </a></li> -->

			</ul>
		</div>
	</div>
</header>


<main>
	<section class="container">
		<div class="row">
			<div class="col-md-8 project-main">
				<h1>{{project.projectTitle}}</h1>
			</div>
			<div class="col-md-4">

						<h4>Dates</h4>
						<dl class="project-stats">
							<dt>Starts</dt>
							<dd><time>{{project.awardedDate}}</time></dd>
							<dt>Ends</dt>
							<dd><time>{{project.endDate}}</time></dd>
						</dl>

			</div>
		</div>

		<div class="project-summary-container">
			<div class="row ">
				<div class="col-xs-12">
					<h4>Summary</h4>
					<div class="slim-margin" markdown-to-html="project.projectSummary"></div>
					<h4 ng-show="project.principalPointOfContact.firstName" style="margin-top: 30px;">DMDII Contact</h4>
					<div ng-show="project.principalPointOfContact.firstName" class="slim-margin">
						<div>{{project.principalPointOfContact.firstName}}  {{project.principalPointOfContact.lastName}}</div>
						<div style="color: grey;">{{project.principalPointOfContact.email}}</div>
					</div>
				</div>
			</div>

		</div>


		<!-- Nav tabs -->
		<ul ng-show="documents.length || project.contributingCompanies.length" class="nav nav-tabs" role="tablist">
			<li ng-show="documents.length" role="presentation" class="active hidden-xs">
				<a data-target="#documents" aria-controls="documents" role="tab" data-toggle="tab">Docs &amp; Presentations</a>
			</li>
			<li ng-show="project.contributingCompanies.length" role="presentation" class="hidden-xs">
				<a data-target="#contributors" aria-controls="contributors" role="tab" data-toggle="tab">Contributors</a>
			</li>


			<li ng-show="documents.length || project.contributingCompanies.length" role="presentation" class="dropdown xs-tab-control visible-xs">
				<a data-target="#" class="dropdown-toggle" id="myTabDrop1" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">
					<span class="tab-section-label">Section</span>
					<span class="caret"></span></a>
				<ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
					<li ng-show="documents.length" class="">
						<a data-target="#documents" role="tab" data-toggle="tab" aria-controls="dropdown3" aria-expanded="false">Docs &amp; Presentations</a>
					</li>
					<li class="" ng-show="project.contributingCompanies.length">
						<a data-target="#contributors" role="tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="false">Contrubutors</a>
					</li>

				</ul>

			</li>
		</ul>


		</div>

		<div>
		</div>
	</section>

	<section ng-show="documents.length || project.contributingCompanies.length" class="gray">
		<div class="container">
			<!-- Tab panes -->
			<div class="tab-content">
				<div ng-show="documents.length" role="tabpanel" class="tab-pane fade in active" id="documents">
					<tab-documents documents="documents" user-data="userData" project="project"></tab-documents>
				</div>
				<div ng-show="project.contributingCompanies.length" role="tabpanel" class="tab-pane fade" id="contributors">
					<tab-contributors project="project" user-data="userData"></tab-contributors>
				</div>
			</div>
		</div>
	</section>
</main>