<div class="content-panel-header">
    <md-toolbar>
        <div class="md-toolbar-tools widget-toolbar-title">
            <h2>{{widgetTitle}}</h2>
            <span flex></span>
            <a ng-href="{{'/all.php#/discussions'+(widgetType ? '?type='+widgetType : '')}}"
               ng-click="previousPage.save($event)"
               class="link-button uppercase"
               style="padding-right: 10px;">
               View All ({{totalDiscussions}})
            </a>
            <img class="add_discussion_button" style="width:60px;" ng-click="createDiscussion()" src="images/icon_add_discussion.svg" title="Add new discussion">
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body">
    <md-content class="md-padding">
        <div class="discussions-list">
            <md-list>
                <md-list-item ng-repeat="item in discussions" class="md-3-line">
                    <div class="md-list-item-text">
                        <h3><a class="link-button font-size14" href="/individual-discussion.php#/{{item.id}}" ng-click="previousPage.save($event)" class="link-button">{{item.title}}</a></h3>
                        <div class="info">
                            <span><a href="/accounts.php#/{{item.last.accountId}}">{{item.last.full_name}}</a> {{item.isPosted ? 'posted' : 'replied'}} | {{item.last.created_at_format}}</span>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>
