<div class="content-panel-header">
    <md-toolbar>
        <div class="md-toolbar-tools widget-toolbar-title">
            <h2>{{widgetTitle}}</h2>
            <span flex></span>
            <md-button href="" target="_blank" md-no-ink class="view-all-button">View All </md-button>
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body">
    <md-content class="md-padding">
        <div class="discussions-follow-list">
            <md-list>
                <md-list-item ng-repeat="item in discussionsFollow" class="md-3-line">
                    <div class="md-list-item-text">
                        <h3>{{item.text}}</h3>
                        <div class="info">
                            <span>{{item.created_at|timeago}}</span>
                            <span>{{item.replies}} replies</span>
                        </div>
                    </div>
                    <div class="md-secondary md-list-item-inner user-info">
                        <span><a href="/">by {{item.full_name}}</a></span>
                        <a href="/">
                            <img ng-src="{{item.image}}" class="md-avatar" alt="{{item.full_name}}" />
                        </a>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>