<div class="content-panel-header">
    <md-toolbar>
        <div class="md-toolbar-tools widget-toolbar-title">
            <h2>{{widgetTitle}}</h2>
            <span flex></span>
            <md-button href="" target="_blank" md-no-ink class="view-all-button">View All ({{totalEvents}})</md-button>
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body">
    <md-content class="md-padding">
        <div class="events-list">
            <md-list>
                <md-list-item ng-repeat="item in events" layout-align="start start">
                    <div class="date-item" layout="column">
                        <span>{{item.date[0]}}</span>
                        <span>{{item.date[1]}}</span>
                    </div>
                    <div class="md-list-item-text" layout="column" flex>
                        <div class="title">{{item.title}}</div>
                        <div>{{item.startTime}} to {{item.endTime}}</div>
                        <div>{{item.address}}</div>
                    </div>
                    <div class="arrow-item" layout="column">
                        <ng-md-icon icon="keyboard_arrow_down" style="fill: #666" size="32"></ng-md-icon>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>