<div class="content-panel-header">
    <md-toolbar>
        <div class="md-toolbar-tools widget-toolbar-title">
            <h2>{{widgetTitle}}</h2>
            <span flex></span>
            <md-button href="" target="_blank" md-no-ink class="view-all-button">View All ({{totalEvents}})</md-button>
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body">
    <md-content class="md-padding">
        <div class="events-list">
            <md-list>
                <md-list-item ng-repeat="item in events" layout-align="start start" layout-wrap>
                    <div layout="row" flex="100" class="main-block" ng-click="showDescription(item)">
                        <div class="date-item" layout="column">
                            <div>
                                <span>{{item.date[0]}}</span>
                                <span>{{item.date[1]}}</span>
                            </div>
                        </div>
                        <div class="md-list-item-text" layout="column" flex>
                            <div class="title">{{item.title}}</div>
                            <div>{{item.startTime}} to {{item.endTime}}</div>
                            <div>{{item.address}}</div>
                        </div>
                        <div class="arrow-item" layout="column" layout-align="center center">
                            <ng-md-icon icon="keyboard_arrow_down" style="fill: #666" size="32" ng-show="!item.isShowDescription"></ng-md-icon>
                            <ng-md-icon icon="keyboard_arrow_up" style="fill: #666" size="32" ng-show="item.isShowDescription"></ng-md-icon>
                        </div>
                    </div>
                    <div layout="row" flex="100" ng-show="item.isShowDescription">
                        <p>{{item.description}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>