<section class="onboarding-landing">
  <div class="row landing-container">
    <!-- <div class="row margin-bottom-20">
      <h1>DMDII Membership Tier Descriptions</h1>
      <h4 class="text-center">The Digital Manufacturing and Design Innovation Institute is able to offer Industry based organizations membership at multiple tiers. See what the institue can offer to you below.</h4>
    </div> -->

    <div class="row welcome">
      <h2 class="col-xs-12">DMDII MEMBERSHIP</h2>
      <h1 class="col-xs-12">SUMMARY OF BENEFITS</h1>
      <h1 class="col-xs-4 small-underline"></h1>
      <p class="col-xs-12 lighter">The Digital Manufacturing and Design Innovation Institute is able to offer Industry based organizations membership at multiple tiers. See what the institue can offer to you below.</p>
    </div>

    <!-- <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Industry Membership"> -->
        <!-- <h3>
          All Industry Members Get access to:
        </h3> -->
        <!-- <h4>For All Members:</h4>
        <ul style=" list-style: none; padding-left: 0px; margin-bottom: 30px;">
          <li>Access to <strong>Members-Only networking database</strong></li>
          <li>Invitation to quarterly <strong>Members-Only Technology Showcases</strong>, including technology demonstrations and curated start-up showcases</li>
          <li>Development of and participation in <strong>Enterprise Projects</strong> – multi-party, government cost match projects</li>
          <li>Contract research & development using <strong>DMDII’s Manufacturing Lab</strong></li>
          <li>Access to a <strong>Standard Agreement</strong> to facilitate multi-party collaboration</li>
        </ul> -->



        <div class="row mem-tiers">
          <div class="col-md-12 column-container">
              <div class="row no-margin-row pricing-title-container all-tier-title-container">
                  <h2 class="column-header">All Members</h2>
              </div>
              <div class="row no-margin-row content-row no-pad-top">
                  <!-- <div class="text-center margin-bottom-20">
                      <ng-md-icon class="arrow-icon" icon="signal_cellular_4_bar" style="fill: #364141" size="35" ></ng-md-icon>
                  </div> -->
                  <ul style="list-style: none; margin-top: 15px;">
                    <li>Access to <strong>Members-Only networking database</strong></li>
                    <li>Invitation to quarterly <strong>Members-Only Technology Showcases</strong>, including technology demonstrations and curated start-up showcases</li>
                    <li>Development of and participation in <strong>Enterprise Projects</strong> – multi-party, government cost match projects</li>
                    <li>Contract research & development using <strong>DMDII’s Manufacturing Lab</strong></li>
                    <li>Access to a <strong>Standard Agreement</strong> to facilitate multi-party collaboration</li>
                  </ul>
              </div>
          </div>
        </div>


        <div class="row mem-tiers">
          <div class="col-md-4 column-container">
              <div class="row no-margin-row pricing-title-container tier1-title-container">
                  <h2 class="column-header">Tier 1</h2>
                  <h6 class="text-center sub-title">$400,000 Per Company/Year</h6>
              </div>
              <div class="row no-margin-row content-row no-pad-top">
                  <div class="text-center margin-bottom-20">
                      <ng-md-icon class="arrow-icon" icon="signal_cellular_4_bar" style="fill: #364141" size="35" ></ng-md-icon>
                  </div>
                  <h4 class="margin-left-10">
                      Members may be invited to:
                  </h4>
                  <ul>
                    <li>Showcase their technology in <strong>DMDII’s Manufacturing Lab</strong></li>
                  </ul>
                  <h4 class="margin-left-10">
                      Members also get access to:
                  </h4>
                  <ul>
                    <li>License and usage of <strong>Project IP</strong> on enterprise projects</li>
                    <li>Participation in design, optimization and operation of DMDII <strong>Future Factory Initiative</strong></li>
                    <li><strong>Guaranteed</strong> invitation to quarterly <strong>Workshops</strong> focused on specific digital manufacturing priority topics</li>
                  </ul>
                  <h4 class="margin-left-10">
                      UI LABS Facilty:
                  </h4>
                  <ul>
                    <li><strong>Facility usage</strong>, including executive, conference and individual rooms 8 day/year</li>
                  </ul>
                  <h4 class="margin-left-10">
                      Members get to lead:
                  </h4>
                  <ul>
                    <li>Develop and Participate in multi-party and member funded <strong>Partner Innovation Projects</strong></li>
                    <li><strong>Executive Committee</strong>, which is responsible for DMDII governance</li>
                    <li>A <strong>Technical Committee Seat</strong>, which is responsible for guiding the technical direction of DMDII including the strategic investment plan</li>
                  </ul>
              </div>
              <div class="row no-margin-row content-row">
                <a>
                    <button class="btn sign-up-button tier1-button">Contact Us</button>
                </a>
              </div>
          </div>
          <div class="col-md-4">
              <div class="row no-margin-row pricing-title-container tier2-title-container">
                  <h2 class="column-header">Tier 2</h2>
                  <h6 class="text-center sub-title">$200,000 Per Company/Year</h6>
              </div>
              <div class="row no-margin-row content-row no-pad-top">
                  <div class="text-center margin-bottom-20">
                      <ng-md-icon class="arrow-icon" icon="signal_cellular_4_bar" style="fill: #0797AE" size="35" ></ng-md-icon>
                  </div>
                  <h4 class="margin-left-10">
                      Members may be invited to:
                  </h4>
                  <ul>
                    <li>Showcase their technology in <strong>DMDII’s Manufacturing Lab</strong></li>
                  </ul>
                  <h4 class="margin-left-10">
                      Additionally members receive:
                  </h4>
                  <ul>
                    <li><strong>Executive Committee</strong> representation</li>
                  </ul>
                  <h4 class="margin-left-10">
                      Members also get access to:
                  </h4>
                  <ul>
                    <li>License and usage of <strong>Project IP</strong> on enterprise projects</li>
                    <li>Participation in design, optimization and operation of DMDII <strong>Future Factory Initiative</strong></li>
                    <li><strong>Guaranteed</strong> invitation to quarterly <strong>Workshops</strong> focused on specific digital manufacturing priority topics</li>
                  </ul>
                  <h4 class="margin-left-10">
                      UI LABS Facilty:
                  </h4>
                  <ul>
                    <li><strong>Facility usage</strong>, including executive, conference and individual rooms 8 day/year</li>
                  </ul>
                  <h4 class="margin-left-10">
                      Members get to lead:
                  </h4>
                  <ul>
                    <li>Develop and Participate in multi-party and member funded <strong>Partner Innovation Projects</strong></li>
                    <li>A <strong>Technical Committee Seat</strong>, which is responsible for guiding the technical direction of DMDII including the strategic investment plan</li>
                  </ul>
              </div>
              <div class="row no-margin-row content-row">
                  <a>
                      <button class="btn sign-up-button tier2-button">Contact Us</button>
                  </a>
              </div>
          </div>
          <div class="col-md-4">
              <div class="row no-margin-row pricing-title-container tier3-title-container">
                  <h2 class="column-header">Tier 3</h2>
                  <h6 class="text-center sub-title">$500 Per Company/Year</h6>
              </div>
              <div class="row no-margin-row content-row no-pad-top">
                  <div class="text-center margin-bottom-20">
                      <ng-md-icon class="arrow-icon" icon="signal_cellular_4_bar" style="fill: #75BC52" size="35" ></ng-md-icon>
                  </div>
                  <h4 class="margin-left-10">
                      Members may be invited to:
                  </h4>
                  <ul>
                    <li>Quarterly <strong>Workshops</strong> focused on specific digital manufacturing priority topics</li>
                    <li>Showcase their technology in <strong>DMDII’s Manufacturing Lab</strong></li>
                    <li>Develop and Participate in multi-party and member funded <strong>Partner Innovation Projects</strong></li>
                  </ul>
                  <h4 class="margin-left-10">
                      Additionally members receive:
                  </h4>
                  <ul>
                    <li><strong>Executive Committee</strong> representation</li>
                    <li><strong>Technical Committee</strong> representation</li>
                  </ul>
                  <h4 class="margin-left-10">
                      UI LABS Facilty:
                  </h4>
                  <ul>
                    <li><strong>Facility usage</strong>, including executive, conference and individual rooms for a low price</li>
                  </ul>
              </div>
              <div class="row no-margin-row content-row">
                <a href="/company-onboarding.php#/create">
                  <button class="btn sign-up-button tier3-button">Sign Up Now</button>
                </a>
              </div>
          </div>
        </div>
      <!-- </md-tab>
      <md-tab label="Academic/Non-Profit Membership">
      </md-tab>
      <md-tab label="State and Local or U.S. Government Membership">
      </md-tab>
    </md-tabs> -->

<!-- E-mail interest form: -->

<!-- <div class="col-lg-12 col-md-12">
  <h3>Request More Information</h3>

  <div class="row">
    <div class="col-lg-4 col-md-4">
      <label class="section">Legal Corporate/Organization Name *</label>
      <input name="orgName" ng-value="company.name" class="form-control" ng-model="company.name" type="text" required>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4">
      <label class="section">Membership Type and Interest</label>
      Add Radio Buttons to choose type and tier user is interested in
    </div>
  </div>

  <hr>

  <label class="section">Main Point of Contact</label>
  <div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="form-group" ng-class="{'has-error':companyGeneralForm.orgMainFName.$invalid && companyGeneralForm.orgMainFName.$touched}">
            <div class="sublabels">
              First Name *
            </div>
            <input name="orgMainFName" ng-value="company.main.fname" ng-model="company.main.fname" class="form-control" type="text" required>
            <p class="help-block">Required</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-3">
        <div class="form-group" ng-class="{'has-error':companyGeneralForm.orgMainLName.$invalid && companyGeneralForm.orgMainLName.$touched}">
            <div class="sublabels">
              Last Name *
            </div>
            <input name="orgMainLName" ng-value="company.main.lname" ng-model="company.main.lname" class="form-control" type="text" required>
            <p class="help-block">Required</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-3">
        <div class="form-group" ng-class="{'has-error':companyGeneralForm.orgMainPhone.$invalid && companyGeneralForm.orgMainPhone.$touched}">
            <div class="sublabels">
              Phone Number *
            </div>
            <input name="orgMainPhone" ng-value="company.main.phone" ng-model="company.main.phone" class="form-control" type="text" required>
            <p class="help-block">Required</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-3">
        <div class="form-group" ng-class="{'has-error':companyGeneralForm.orgMainEmail.$invalid && companyGeneralForm.orgMainEmail.$touched}">
            <div class="sublabels">
              Email *
            </div>
            <input name="orgMainEmail" ng-value="company.main.email" ng-model="company.main.email" class="form-control" type="email" required>
            <span class="help-block" ng-show="!companyGeneralForm.orgMainEmail.$touched">Required</span>
            <span class="help-block" ng-show="companyGeneralForm.orgMainEmail.$invalid && companyGeneralForm.orgMainEmail.$touched">Invaild Email Address</span>
        </div>
      </div>

    </div>

  </div>

  <div class="col-lg-4 col-md-4">
  </div>
  <div class="col-lg-4 col-md-4">
    <a>
      <button class="btn sign-up-button tier3-button">SEND</button>
    </a>
  </div>
  <div class="col-lg-4 col-md-4">
  </div> -->

</div>
  </div>
</section>
