<div class="content-panel-body">
    <md-content layout="row">
        <md-list class="left-menu-list">
            <md-list-item ng-repeat="item in menu" ng-class="{'selected' : item.selected == true}">
                <md-button ng-href="{{item.url}}" flex>
                    <div class="md-list-item-text" layout="column">
                        <div>{{item.title}}</div>
                    </div>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>