.margin-top-25 {
  margin-top: 25px;
}

.nav-row {
  margin-bottom: 0px;
}

.transform-title {
  color: $brand-accent;
  margin-top: 0px;
  border-bottom: none;
}

.help-title {
  margin-top: 0px;
  display: inline-block;
  border-bottom: solid $brand-accent 1px;
}

.nav-back {
  margin-left: 12px;
  margin-bottom: 0px;
  position: relative;
  top: 20px;
  left: 10px;
  z-index: 10;
  outline: 0;
}

.back-button-container {
  height: 0px;
  width: 0px;
}

.nav-back svg {
  background-color: $brand-accent;
  border-radius: 12px;
}

.top svg {
  transform: rotate(90deg);
}

.nav-home {
  margin-bottom: 0px;
  margin-right: 25px;
}

.nav-home svg {
  background-color: lightgrey;
  border-radius: 12px;
}

.transform-main {
  width: 80%;
  margin: 0px auto;
}

.transform-content {
  width: 80%;
  margin: 100px auto 0px auto;

}

.bottom-border {
  border-bottom: solid $brand-accent 1px;
}

.path-link {
  padding: 0px;
  margin-top: 30px;
  font-size: 1.5em;
  display: inline;
  margin-left: 15px;
}

.path-link a, .path-link a:hover, .path-link a:focus, .path-link a:active {
  text-decoration: none;
  color: inherit;
  display: inline;
}

.image-container {
  margin-right: 0px;
}

.bullet-image {
  margin-left: 20px;
  display: inline;
  float: left;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.main-section {
  margin-bottom: 100vh;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.transform-section {
  min-height: 90vh;
}

.margin-right-3 {
  margin-right: 3px;
}

.green-button {
  background-color: $brand-accent;
  color: white;
}

.border-bottom {
  border-bottom: solid $brand-accent 1px;
}

.border-right {
  border-right: solid $brand-accent 1px;
}

.media-column {
  min-height: 155px;
  margin-top: 23px;
  height: 90%
}

.col-md-12 h3.transform-title  {
  border-bottom: none;
  margin-top: 0px;
}

.col-md-12 h3.help-title  {
  margin-top: 0px;
}

.description-column {
  min-height: 155px;
  margin-top: 23px;
}

.bottom-button {
  position: absolute;
  bottom: 0;
  left: 15px;
}

.description-column h3 {
  margin-top: 0px;
}

.resource-center-group {
  border: 2px solid white;
  outline: 0;
  padding: 100px 0px;
  max-height: 100px;
  height: 100px;
  background: $brand-accent;
  font-size: 1.3em;
  font-weight: bolder;
  text-align: center;
  height: 100%;
  color: black;
  background-size: cover;
  transition: all .15s ease-out;
  &.sub-group {
    padding: 15px 0px;
    font-size: 1em;
  }
}

.hide-group {
  transition: all .15s ease-in;
  width: 0px;
  height: 0px;
  padding: 0px;
  overflow: hidden;
}

.resource-center-group.ng-hide-add {
  width: 0px;
  height: 0px;
  padding: 0px;
  overflow: hidden;
}

.category-description {
  padding: 20px 0px 30px;
  margin: 20px 0px;
  border-bottom: 1px solid lightgrey;
}

.cp-wrapper.ng-enter {
  animation-name: tile-enter;
  animation-duration: 0.3s;
}

@keyframes tile-enter {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}

#forsmms {
  margin-bottom: 100px;
}

.fade-area {
  opacity: 0.4;
}