.workspace-totals-row {
  .title {
    color: grey;
    font-size: .9em;
  }
  .info {
    font-size: 1.2em;
    font-weight: bold;
  }
  .col-sm-4 {
    padding: 0px;
  }
}

.workspace-divider {
  border-top: 1px solid lightgrey;
  margin: 15px 0px;
}