<md-dialog class="compare-widget" id="CompareDialog" aria-label="Compare Products">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="compare-title">Compare</h2>
                <md-button class="top-buttons"
                           ng-click="clearAll()">Remove All</md-button>
                <md-button class="top-buttons"
                           ng-hide="true"
                           ng-class="{'md-raised md-primary' : currentProductType == 'service'}"
                           ng-click="switchProductType('service')">Services ({{compareProducts.services.length}})</md-button>
                <md-button class="top-buttons"
                           ng-hide="true"
                           ng-class="{'md-raised md-primary' : currentProductType == 'component'}"
                           ng-click="switchProductType('component')">Components ({{compareProducts.components.length}})</md-button>
                <span flex></span>
                <md-button aria-label="Close" class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" style="fill: grey;" size="32"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="compare-list-products">
                <div layout="row" class="row services">
                    <div layout="column" class="column title">
                        <h4 ng-show="currentProductType == 'all'">Services & Components</h4>
                        <h4 ng-show="currentProductType == 'service'">Services </h4>
                        <h4 ng-show="currentProductType == 'component'">Components</h4>
                    </div>
                    <div layout="column" class="column"
                         ng-class="itemClass"
                         ng-show="currentProductType == 'all' || currentProductType == item.type"
                         ng-repeat="item in products.arr">
                        <div layout="row">
                            <md-button aria-label="Favorite"
                                       ng-click="addToFavorite(item)"
                                       class="md-icon-button"
                                       flex>
                                <ng-md-icon icon="{{ item.favorite ? 'favorite' : 'favorite_outline'}}"
                                            ng-class="!item.favorite ? 'not-favorite' : 'is-favorite'"
                                            size="23"></ng-md-icon>
                            </md-button>
                            <md-button aria-label="Remove" class="md-icon-button" ng-click="removeFromCompare(item.id,item.type)" flex>
                                <ng-md-icon icon="delete" style="fill: grey;" size="23"></ng-md-icon>
                            </md-button>
                        </div>
                        <div class="product-image"><img src="{{item.images[0].documentUrl}}" alt="{{item.title}}"></div>
                        <!-- <div class="product-card__header" layout="column"
                            > -->

                            <h2><a ng-href="{{'/component.php#/'+item.type+'s/'+item.id}}">{{item.title}}</a></h2>
                            <h3><a ng-href="{{'/company.php#/'+item.companyId+'/storefront?product=services'}}">{{item.ownerName}}</a></h3>
                        <!-- </div> -->
                        <div class="star-rating">
                            <div class="star-rating__buttons">
                                <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon icon="star" style="fill: #f28e1e;" size="14"></ng-md-icon></md-button>
                                <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon icon="star" style="fill: #f28e1e;" size="14"></ng-md-icon></md-button>
                                <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
                                <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
                                <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
                            </div>
                            <div class="star-rating__value">
                                <span class="small-text">(3.4)</span>
                            </div>
                        </div>
                        <div layout="row" class="adding-to-project" ng-show="item.addingToProject" layout-align="center center">
                            <md-button aria-label="Cancel" layout="column" href="" class="close" ng-click="cancelAddToProject(item)">
                                <ng-md-icon icon="close" size="17"></ng-md-icon>
                            </md-button>
                            <div layout="column" class="select-block" flex>
                                <md-select placeholder="Select Project" ng-model="item.projectModel" md-on-open="loadProjects()" style="width:100%">
                                    <md-option ng-repeat="p in projects" ng-value="{{p.id}}">{{p.title}}</md-option>
                                </md-select>
                            </div>
                            <md-button aria-label="Add"
                                       layout="column"
                                       href=""
                                       ng-disabled="!item.projectModel"
                                       class="md-raised add"
                                       ng-click="saveToProject(item.projectModel,item)">Add
                            </md-button>
                        </div>
                        <div class="block-buttons" layout="row">
                            <!-- buttons for add to project -->
                            <md-button aria-label="Back to Add"
                                       class="back-to-add"
                                       ng-click="backToAdd(item)"
                                       ng-show="!item.addingToProject && item.added">
                                <ng-md-icon icon="close" size="17"></ng-md-icon>
                            </md-button>

                            <md-button aria-label="Project Link"
                                       flex
                                       class="page-href white-button"
                                       ng-show="!item.addingToProject && item.added"
                                       href="{{item.lastProject.href}}">
                                Added to {{item.lastProject.title}}
                            </md-button>

                            <md-button aria-label="Add to Project"
                                       flex
                                       href="" class="white-button"
                                       ng-click="addToProject(item)"
                                       ng-hide="item.addingToProject || item.added">
                                Add to Project
                            </md-button>
                        </div>
                    </div>
                </div>
                <div layout="row" class="row compare-description">
                    <div layout="column" class="column title"><h4>Description</h4></div>
                    <div layout="column" class="column"
                         ng-class="itemClass"
                         ng-show="currentProductType == 'all' || currentProductType == item.type"
                         ng-repeat="item in products.arr">{{item.description}}</div>
                </div>
                <div layout="row" class="row specifications">
                    <div layout="column" class="column title">
                        <h4 ng-show="currentProductType == 'service'">Statistics</h4>
                        <h4 ng-show="currentProductType == 'component'">Specifications</h4>
                    </div>
                    <div layout="column" class="column"
                         ng-class="itemClass"
                         ng-show="currentProductType == 'all' || currentProductType == item.type"
                         ng-repeat="item in products.arr">
                        <div ng-if="currentProductType == 'component'">
                            <p>{{item.specificationsData.description}}</p>
                            <p><strong>Created:</strong> {{item.releaseDate|timeago}}</p>
                            <p><strong>Added:</strong> {{item.specificationsData.usageStats.added}} times by {{item.specificationsData.usageStats.members}} members</p>
                            <p><strong>Successful Runs:</strong> {{item.specificationsData.runStats.success}}</p>
                            <p><strong>Inputs:</strong> {{item.specificationsData.input}}</p>
                            <p><strong>Outputs:</strong> {{item.specificationsData.output}}</p>
                        </div>
                        <div ng-if="currentProductType == 'service'">
                            <p>{{item.specificationsData.description}}</p>
                            <p><strong>Successful Runs:</strong> {{item.specificationsData.runStats.success}}</p>
                            <p><strong>Incomplete Runs:</strong> {{item.specificationsData.runStats.fail}}</p>
                            <p><strong>Unavailable Runs:</strong> {{item.specificationsData.runStats.fail}}</p>
                            <p><strong>Runs by Users:</strong> 23</p>
                            <p><strong>Unique Users:</strong> 18</p>
                            <p><strong>Average Time (min):</strong> 14.4</p>
                        </div>
                    </div>
                </div>
                <div layout="row" class="row tags">
                    <div layout="column" class="column title"><h4>Tags</h4></div>
                    <div layout="column" class="column"
                         ng-class="itemClass"
                         ng-show="currentProductType == 'all' || currentProductType == item.type"
                         ng-repeat="item in products.arr">
                            <div>
                                <a class="tag" ng-href="{{ '/marketplace.php#/search?product=services&tag='+tag.name }}"
                                    ng-repeat="tag in item.tags track by $index"
                                    ng-click="searchByTag($event)">{{tag.name}}</a>
                            </div>
                        </div>
                </div>

            </div>
        </md-dialog-content>
    </form>
</md-dialog>
<div class="btn-box left-btn" ng-show="inLeftCount >= 1">
    <md-button aria-label="Left" class="md-raised md-primary" ng-click="scrollRight()">
        <ng-md-icon icon="keyboard_arrow_left" style="fill: #fff;" size="32"></ng-md-icon>
    </md-button>
</div>
<div class="btn-box right-btn" ng-hide="inLeftCount >= products.arr.length-3">
    <md-button aria-label="Right" class="md-raised md-primary" ng-click="scrollLeft()">
        <ng-md-icon icon="keyboard_arrow_right" style="fill: #fff;" size="32"></ng-md-icon>
    </md-button>
</div>
<script type="text/javascript">
    $("#CompareDialog").parents(".md-dialog-container").addClass("dmc-dialog-compare");
</script>
