<div class="container container-account" layout-padding layout="row">
    <div class="content-column left-content" layout="column" flex="20">
        <div class="content-panel" account-menu account-id="accountId" page="page"></div>
    </div>
    <div class="content-column right-content" layout="column" flex="80">
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content>
                    <div class="header-right-content" layout="row">
                        <div layout="column">
                            <h2 class="md-title">{{title}}</h2>
                        </div>
                        <span layout="column" flex></span>
                    </div>
                    <div class="inputs-container">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="{{notification.title}}" ng-repeat="(key,notification) in notifications">
                                <md-content class="md-padding">
                                    <div class="top-container" layout="row">
                                        <md-button class="md-raised disable-enable-button" ng-click="disableAll(key)">Deactivate All</md-button>
                                        <md-button class="md-raised disable-enable-button" ng-click="enableAll(key)">Select All</md-button>
                                    </div>
                                    <div layout="row" classs="body-container">
                                        <div layout="column" flex="50">
                                            <div class="block-notification">
                                                <h2>{{notification.data.general.title}}</h2>
                                                <md-switch ng-model="item.disabled" aria-label=""
                                                           ng-repeat="item in notification.data.general.data">
                                                    {{item.text}}
                                                </md-switch>
                                            </div>
                                            <div class="block-notification">
                                                <h2>{{notification.data.community.title}}</h2>
                                                <md-switch ng-model="item.disabled" aria-label=""
                                                           ng-repeat="item in notification.data.community.data">
                                                    {{item.text}}
                                                </md-switch>
                                            </div>
                                        </div>
                                        <div layout="column" flex="50">
                                            <div class="block-notification">
                                                <h2>{{notification.data.marketplace.title}}</h2>
                                                <md-switch ng-model="item.disabled" aria-label=""
                                                           ng-repeat="item in notification.data.marketplace.data">
                                                    {{item.text}}
                                                </md-switch>
                                            </div>
                                            <div class="block-notification">
                                                <h2>{{notification.data.projects.title}}</h2>
                                                <md-switch ng-model="item.disabled" aria-label=""
                                                           ng-repeat="item in notification.data.projects.data">
                                                    {{item.text}}
                                                </md-switch>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>