<div class="container container-account" layout="row" ng-if="accountData.id">
    <div class="content-column left-content margin-right12-5" layout="column" flex="20">
        <div class="content-panel" account-menu account-id="accountId" page="page"></div>
    </div>
    <div class="content-column right-content margin-left12-5" layout="column" flex>
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content>
                    <div class="header-right-content" layout="row">
                        <div layout="column">
                            <h2 class="md-title">{{title}}</h2>
                        </div>
                        <span layout="column" flex></span>
                        <md-button class="md-raised cancel-button" ng-click="cancelChanges()" ng-disabled="!changedValues">Cancel</md-button>
                        <md-button class="md-raised md-primary save-button" ng-click="saveChanges()" ng-disabled="!changedValues">Save</md-button>
                    </div>
                    <div class="inputs-container" layout="row">
                        <div layout="column" flex="50">
                            <h2 class="md-title title-block">Public information</h2>
                            <div layout="row">
                                <div layout="column" flex="20" ng-repeat="(key,item) in information.public">
                                    <md-checkbox ng-init="userBasics.privacy.public[key].enable = (userBasics.privacy.public[key].enable == true || userBasics.privacy.public[key].enable == 'true' ? true : false)"
                                                 ng-model="userBasics.privacy.public[key].enable"
                                                 aria-label="{{item.title}}"
                                                 ng-change="changedCheckbox('public',key,userBasics.privacy.public[key].enable)">{{item.title}}</md-checkbox>
                                </div>
                            </div>
                            <div layout="row" ng-repeat="(key,item) in information.public" ng-if="userBasics.privacy.public[key].enable">
                                <md-input-container class="md-icon-float information-item" layout="column" flex id="{{'edit_public_'+key}}">
                                    <label>{{item.title}}</label>
                                    <md-icon ng-class="{'location-gps' : key == 'location'}" ng-click="key == 'location' && getLocation('public')">
                                        <ng-md-icon icon="{{item.icon}}" size="26"></ng-md-icon>
                                    </md-icon>
                                    <input ng-if="key == 'phone'"
                                           ng-model="userBasics.privacy.public[key].value"
                                           ng-change="changedValue('public',key,userBasics.privacy.public[key].value)"
                                           phone-input
                                           maxlength="13">
                                    <input ng-if="key != 'phone'"
                                           ng-model="userBasics.privacy.public[key].value"
                                           ng-change="changedValue('public',key,userBasics.privacy.public[key].value)">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="column" flex=50>
                            <h2 class="md-title title-block">Private information</h2>
                            <div layout="row">
                                <div layout="column" flex="20" ng-repeat="(key,item) in information.private">
                                    <md-checkbox ng-init="userBasics.privacy.private[key].enable = (userBasics.privacy.private[key].enable == true || userBasics.privacy.private[key].enable == 'true' ? true : false)"
                                                 ng-model="userBasics.privacy.private[key].enable"
                                                 aria-label="{{item.title}}"
                                                 ng-change="changedCheckbox('private',key,userBasics.privacy.private[key].enable)">{{item.title}}</md-checkbox>
                                </div>
                            </div>
                            <div layout="row" ng-repeat="(key,item) in information.private" ng-if="userBasics.privacy.private[key].enable">
                                <md-input-container class="md-icon-float information-item" layout="column" flex id="{{'edit_private_'+key}}">
                                    <label>{{item.title}}</label>
                                    <md-icon ng-class="{'location-gps' : key == 'location'}" ng-click="key == 'location' && getLocation('private')">
                                        <ng-md-icon icon="{{item.icon}}" class="location" size="26"></ng-md-icon>
                                    </md-icon>
                                    <input ng-if="key == 'phone'"
                                           ng-model="userBasics.privacy.private[key].value"
                                           ng-change="changedValue('private',key,userBasics.privacy.private[key].value)"
                                           phone-input
                                           maxlength="13">
                                    <input ng-if="key != 'phone'"
                                           ng-model="userBasics.privacy.private[key].value"
                                           ng-change="changedValue('private',key,userBasics.privacy.private[key].value)">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <!--<md-divider ></md-divider>-->
                    <!--<div class="inputs-container blocked-users" layout="row">-->
                        <!--<div layout="column" flex="50">-->
                            <!--<h2 class="md-title title-block">Blocked Users</h2>-->
                            <!--<div layout="row">-->
                                <!--<div class="blocked-user" ng-repeat="user in blockedUser">-->
                                    <!--<a ng-href="/user?id={{user.id}}">{{user.fullName}}</a>-->
                                    <!--<md-button class="md-icon-button" ng-click="deleteBlockedUser(user.id)" aria-label="Delete Blocked User">-->
                                        <!--<ng-md-icon icon="clear" ng-style="{'fill' : '#444'}" size="26"></ng-md-icon>-->
                                    <!--</md-button>-->
                                <!--</div>-->
                                <!--<div class="empty-blocked-list" ng-show="blockedUser.length == 0">List is empty</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </md-content>
            </div>
        </div>
    </div>
</div>