<div class="container container-account" layout-padding layout="row">
    <div class="content-column left-content" layout="column" flex="20">
        <div class="content-panel" account-menu account-id="accountId" page="page"></div>
    </div>
    <div class="content-column right-content" layout="column" flex="80">
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content>
                    <div class="header-right-content" layout="row">
                        <div layout="column">
                            <h2 class="md-title">{{title}}</h2>
                        </div>
                        <span layout="column" flex></span>
                    </div>
                    <div class="inputs-container picture-block" layout="row" layout-align="start center">
                        <div>
                            <img ng-src="{{profile.featureImage.large}}" alt=""/>
                        </div>
                        <div ng-show="!isChangingPicture">
                            <md-button ng-click="changePicture()">Change Picture</md-button>
                        </div>
                        <div ng-show="isChangingPicture">
                            <div class="flow-box"
                                 flow-init
                                 flow-drag-enter="pictureDragEnter($flow)"
                                 flow-drag-leave="pictureDragLeave($flow)"
                                 flow-file-success="$file.msg = $message"
                                 flow-file-added="addedNewFile($file, $event, $flow )"
                                 layout="row" layout-align="start center">
                                <div class="alert" flow-drop flow-drop-enabled="true">
                                    <div class="inner-box" layout="row" layout-align="center center">
                                        <div ng-if="$flow.files.length > 0" class="uploaded-picture" flex="90">
                                            <img flow-img="$flow.files[0]" />
                                            <md-button ng-click="removePicture($flow)" class="md-fab md-mini remove-picture" aria-label="Remove picture">
                                                <ng-md-icon icon="close" size="21"></ng-md-icon>
                                            </md-button>
                                        </div>
                                        <div flow-btn class="text" flex="80" ng-if="$flow.files.length == 0">
                                            Drag And Drop your picture here
                                            <br>
                                            or
                                            <br>
                                            <strong>Click here</strong>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <md-button ng-click="cancelChangePicture($flow)">Cancel</md-button>
                                    <md-button ng-disabled="$flow.files.length == 0" ng-click="uploadFile($flow)">Save</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inputs-container" layout="row" layout-align="start center">
                        <md-input-container layout="column" flex="50">
                            <label>Display Name</label>
                            <input ng-blur="blurDisplayName()" ng-model="profile.displayName" ng-change="changeValue()">
                        </md-input-container>
                        <md-input-container layout="column" class="with-icon title-input-left" flex="50">
                            <label>Location</label>
                            <md-icon class="location-gps" ng-click="getLocation()">
                                <ng-md-icon icon="gps_fixed" size="26" class="location"></ng-md-icon>
                            </md-icon>
                            <input ng-model="profile.location" type="text" ng-change="changeValue()">
                        </md-input-container>
                    </div>
                    <div class="inputs-container" layout="row" layout-align="start center">
                        <md-input-container layout="column" class="with-icon title-input-left" ng-init="profile.company = 'Digital Manufacturing Commons'" flex="50">
                            <label>Company</label>
                            <md-icon class="location-gps">
                                <ng-md-icon icon="dnd_forwardslash" size="26"></ng-md-icon>
                            </md-icon>
                            <input ng-model="profile.company" ng-disabled="true" type="text">
                        </md-input-container>
                        <md-input-container layout="column" flex="50">
                            <label>Job Title</label>
                            <input ng-model="profile.jobTitle" ng-change="changeValue()">
                        </md-input-container>
                    </div>
                    <div class="inputs-container" layout="row" layout-align="start center">
                        <md-input-container flex>
                            <label>Description</label>
                            <textarea ng-model="profile.description" columns="1" ng-change="changeValue()"></textarea>
                        </md-input-container>
                    </div>
                    <div class="inputs-container add-skills-container" layout="row" layout-align="start end">
                        <md-input-container>
                            <label>Skills</label>
                            <input ng-model="newSkill" ng-keypress="keyPress($event)">
                        </md-input-container>
                        <md-button class="md-raised md-primary add-skill" ng-click="addSkill(newSkill)">ADD</md-button>
                    </div>
                    <div class="inputs-container list-skills-container" layout="row" layout-align="start start">
                        <div class="skill" ng-repeat="skill in profile.skills">
                            <span>{{skill.name}}</span>
                            <md-button class="md-icon-button" ng-click="deleteSkill(skill.id)" aria-label="Delete Skill">
                                <ng-md-icon icon="clear" ng-style="{'fill' : '#444'}" size="15"></ng-md-icon>
                            </md-button>
                        </div>
                        <div class="empty-skills-list" ng-show="profile.skills.length == 0">List is empty</div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>