<div class="container container-account" layout-padding layout="row">
    <div class="content-column left-content" layout="column" flex="20">
        <div class="content-panel" account-menu account-id="accountId" page="page"></div>
    </div>
    <div class="content-column right-content" layout="column" flex="80">
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content>
                    <div class="header-right-content" layout="row">
                        <div layout="column">
                            <h2 class="md-title">{{title}}</h2>
                        </div>
                        <span layout="column" flex></span>
                    </div>
                    <div class="inputs-container" layout="row">

                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>