<div class="container container-account" layout-padding layout="row">
    <div class="content-column left-content" layout="column" flex="20">
        <div class="content-panel" account-menu account-id="accountId" page="page"></div>
    </div>
    <div class="content-column right-content" layout="column" flex="80">
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content>
                    <div class="header-right-content servers" layout="row" layout-align="start center">
                        <div layout="column">
                            <h2 class="md-title">{{title}}</h2>
                        </div>
                        <span layout="column" flex></span>
                        <div class="header-right-content servers" layout="row" layout-align="start center" ng-show="isAddingServer">
                            <md-input-container>
                                <label>Server Alias</label>
                                <input id="createServerAlias" ng-model="newServer.name">
                            </md-input-container>
                            <md-input-container>
                                <label>Server Host/IP</label>
                                <input ng-model="newServer.ip" ng-change="changeIP('new')">
                            </md-input-container>
                            <ng-md-icon ng-show="isCorrectNewIP" class="correct-ip" icon="done" size="25" aria-label="Correct IP"></ng-md-icon>
                            <md-button class="md-raised md-primary save-server" ng-click="saveNewServer()">Save</md-button>
                        </div>
                        <div class="header-right-content servers" layout="row" layout-align="start center" ng-show="isEditingServer">
                            <md-input-container>
                                <label>Server Alias</label>
                                <input id="editServerAlias" ng-model="editingServer.name" ng-change="changeName()">
                            </md-input-container>
                            <md-input-container>
                                <label>Server Host/IP</label>
                                <input ng-model="editingServer.ip" ng-change="changeIP('changed')">
                            </md-input-container>
                            <ng-md-icon ng-show="isCorrectChangedIP" class="correct-ip" icon="done" size="25" aria-label="Correct IP"></ng-md-icon>
                            <md-button class="md-raised md-primary save-server" ng-disabled="!changedValues" ng-click="saveChanges()">
                                Save
                            </md-button>
                        </div>

                        <md-button class="md-raised add-server" ng-click="addServer()" ng-show="!isAddingServer && !isEditingServer">
                            <ng-md-icon icon="add_circle_outline" fill="#333" size="21" aria-label="Add Server"></ng-md-icon>
                            Add Server
                        </md-button>
                        <md-button class="md-raised close-add-server" ng-click="cancelAdding()" ng-show="isAddingServer || isEditingServer">
                            <ng-md-icon icon="cancel" fill="#333" size="21" aria-label="Close Adding"></ng-md-icon>
                            Cancel
                        </md-button>
                    </div>
                    <div class="inputs-container servers-container" layout="row">
                        <md-content class="md-padding" flex>
                        <md-data-table-container>
                            <table md-data-table class="servers-table">
                                <thead md-order="name" md-trigger="onOrderChange">
                                <tr>
                                    <th class="edit-column" name="Edit"></th>
                                    <th name="Server Alias" order-by="name"></th>
                                    <th name="Server URL" order-by="ip"></th>
                                    <th name="Status" order-by="status"></th>
                                    <th class="delete-column" name="Remove"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in servers">
                                        <td width="50px">
                                            <md-button class="md-icon-button" aria-label="Edit"
                                                       ng-click="editServer(item)">
                                                <ng-md-icon icon="edit" size="21" style="fill:#666" aria-label="Edit Server"></ng-md-icon>
                                            </md-button>
                                        </td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.ip}}</td>
                                        <td class="status" ng-class="{'status-online' : item.status == 'online'}">
                                            <ng-md-icon icon="lens" size="10" aria-label="Status"></ng-md-icon>
                                            {{item.status}}
                                        </td>
                                        <td width="50px">
                                            <md-button class="md-icon-button" aria-label="Delete" ng-click="deleteServer(item)">
                                                <ng-md-icon icon="delete" size="21" style="fill:#666" aria-label="Delete Server"></ng-md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                    <tr ng-if="servers.length == 0">
                                        <td colspan="5" class="empty">No servers</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-data-table-container>
                        </md-content>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>