<div class="container container-view-all" layout="row">
    <div layout="column" flex>
        <div class="return-block" ng-if="previousPage">
            <a ng-href="/community.php#/home">Back to the Community</a>
        </div>
        <h2 class="page-title">DMC ANNOUNCEMENTS</h2>
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content>
                    <div layout="row" flex layout-align="start end" class="search-content">
                        <md-input-container class="filterBox">
                            <md-select placeholder="Announcements" ng-model="typeModel" ng-change="changedType(typeModel)">
                                <md-option ng-repeat="item in types" value="{{item.tag}}">{{item.name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <form ng-submit="submit(searchModel)" class="view-all-search-field global-search-form" flex>
                            <div layout="column">
                                <div layout="row">
                                    <div layout="column" flex>
                                        <md-input-container md-no-float>
                                            <md-icon>
                                                <ng-md-icon icon="search"></ng-md-icon>
                                            </md-icon>
                                            <input type="text" placeholder="Start typing ..." ng-model="searchModel">
                                        </md-input-container>
                                    </div>
                                    <div layout="column">
                                        <md-input-container>
                                            <md-button type="submit" class="search-button">Search</md-button>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="announcements-list">
                        <md-data-table-container>
                            <table md-data-table>
                                <thead md-order="sort" md-trigger="onOrderChange">
                                <tr>
                                    <th name="Announcements" order-by="text" class="title"></th>
                                    <th name="Replies" order-by="replies"></th>
                                    <th name="Created by" order-by="createdBy"></th>
                                    <th name="Latest Post" order-by="latestPost"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in announcements">
                                    <td>
                                		<p>{{item.text}}</p>
                                    </td>
                                    <td>{{item.replies}} replies</td>
                                    <td>
                                        {{item['full_name']}} at<br>
                                        {{item['created_at']}}
                                    </td>
                                    <td ng-if="item['latest-post']">
                                        {{item['latest-post']['created-by']}} updated<br>
                                        {{item['latest-post']['created-at']}}
                                    </td>
                                    <td ng-if="!item['latest-post']">
                                        No latest post
                                    </td>
                                </tr>
                                <tr ng-if="announcements.length == 0">
                                    <td class="empty" colspan="4">No announcements</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-data-table-container>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>