<div class="container container-view-all" layout="row" ng-if="!projectData.id">
    Project not found!
</div>
<div class="container container-view-all" layout="row" ng-if="projectData.id">
    <div layout="column" flex>
        <div class="return-block" ng-if="previousPage">
            <a ng-href="{{previousPage.url}}">{{previousPage.title}}</a>
        </div>
        <h2 class="page-title">All tasks for {{projectData.title}}</h2>
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content>
                    <div layout="row" flex layout-align="start end" class="search-content">
                        <md-input-container class="filterBox">
                            <md-select placeholder="Task" ng-model="typeModel" ng-change="changedType(typeModel)">
                                <md-option ng-repeat="item in types" value="{{item.tag}}">{{item.name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <form ng-submit="submit(searchModel)" class="view-all-search-field global-search-form" flex>
                            <div layout="column">
                                <div layout="row">
                                    <div layout="column" flex>
                                        <md-input-container md-no-float>
                                            <md-icon>
                                                <ng-md-icon icon="search"></ng-md-icon>
                                            </md-icon>
                                            <input type="text" placeholder="Search Task" ng-model="searchModel">
                                        </md-input-container>
                                    </div>
                                    <div layout="column">
                                        <md-input-container>
                                            <md-button type="submit" class="search-button">Search</md-button>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tasks-list">
                        <md-data-table-container>
                            <table md-data-table>
                                <thead md-order="sort" md-trigger="onOrderChange">
                                <tr>
                                    <th name="Task" order-by="title" class="title"></th>
                                    <th name="Project" order-by="project"></th>
                                    <th name="Due Date" order-by="dueDate"></th>
                                    <th name="Priority" order-by="priority"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in tasks">
                                    <td><a ng-click="editTask($event,item)" class="link-button">{{item.title}}</a></td>
                                    <td>
                                        <a class="link-button" href="/project.php#/{{item.project.id}}">{{item.project.title}}</a>
                                    </td>
                                    <td>
                                        <span ng-bind-html="item.formatedDueDate[1]" class="label" ng-class="item.formatedDueDate[0] == 'date' ? 'label--date' : (item.formatedDueDate[0] == 'tomorrow' ? 'label--tomorrow' : (item.formatedDueDate[0] == 'today' || item.formatedDueDate[0] == 'after' ? 'label--warn' : 'label--date'))"></span>
                                    </td>
                                    <td>{{item.priorityName}}</td>
                                </tr>
                                <tr ng-if="tasks.length == 0">
                                    <td class="empty" colspan="4">No tasks</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-data-table-container>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>