<div class="container container-view-all" layout-padding layout="row">
    <div layout="column" flex>
        <div class="return-block">
            <a href="/dashboard.php" >Return to Dashboard</a>
        </div>
        <h2 class="page-title">All My Tasks</h2>
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content layout-padding>
                    <div layout="row" flex layout-align="start end" class="search-content">
                        <md-input-container class="filterBox">
                            <md-select placeholder="Task" ng-model="typeModel" ng-change="changedType(typeModel)">
                                <md-option ng-repeat="item in types" value="{{item.tag}}">{{item.name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <form ng-submit="submit(searchModel)" class="view-all-search-field global-search-form" flex>
                            <div layout="column">
                                <div layout="row">
                                    <div layout="column" flex>
                                        <md-input-container md-no-float>
                                            <md-icon>
                                                <ng-md-icon icon="search"></ng-md-icon>
                                            </md-icon>
                                            <input type="text" placeholder="Search Task" ng-model="searchModel">
                                        </md-input-container>
                                    </div>
                                    <div layout="column">
                                        <md-input-container>
                                            <md-button type="submit" class="search-button">Search</md-button>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tasks-list">
                        <md-data-table-container>
                            <table md-data-table>
                                <thead md-order="sort" md-trigger="onOrderChange">
                                <tr>
                                    <th name="Task" order-by="title" class="title"></th>
                                    <th name="Assigned To" order-by="assignee"></th>
                                    <th name="Due Date" order-by="dueDate"></th>
                                    <th name="Priority" order-by="priority"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in tasks">
                                    <td>{{item.title}}</td>
                                    <td>{{item.assignee}}</td>
                                    <td>
                                        <span ng-bind-html="item.dueDate[1]" class="label" ng-class="item.dueDate[0] == 'date' ? 'label--date' : (item.dueDate[0] == 'tomorrow' ? 'label--tomorrow' : (item.dueDate[0] == 'today' || item.dueDate[0] == 'after' ? 'label--warn' : 'label--date'))"></span>
                                    </td>
                                    <td>{{item.priority}}</td>
                                </tr>
                                <tr ng-if="tasks.length == 0">
                                    <td class="empty" colspan="4">No tasks</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-data-table-container>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>