<div class="container container-view-all" layout="row">
    <div layout="column" flex>
        <div class="return-block" ng-if="previousPage">
            <a ng-href="{{previousPage.url}}">{{previousPage.title}}</a>
        </div>
        <div class="animate-switch-container" ng-switch on="typeModel">
            <h2 class="animate-switch page-title" ng-switch-when="following">View All Discussions you Follow</h2>
            <h2 class="animate-switch page-title" ng-switch-when="follow-people">View All Discussions from People you Follow</h2>
            <h2 class="animate-switch page-title" ng-switch-when="popular">View All Popular Discussions</h2>
            <h2 class="animate-switch page-title" ng-switch-default>View All discussions</h2>
        </div>
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content>
                    <div layout="row" flex layout-align="start end" class="search-content">
                        <md-input-container class="filterBox">
                            <md-select placeholder="Discussions" ng-model="typeModel" ng-change="changedType(typeModel)">
                                <md-option ng-repeat="item in types" value="{{item.tag}}">{{item.name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <form ng-submit="submit(searchModel)" class="view-all-search-field global-search-form" flex>
                            <div layout="column">
                                <div layout="row">
                                    <div layout="column" flex>
                                        <md-input-container md-no-float>
                                            <md-icon>
                                                <ng-md-icon icon="search"></ng-md-icon>
                                            </md-icon>
                                            <input type="text" placeholder="Search Discussion" ng-model="searchModel">
                                        </md-input-container>
                                    </div>
                                    <div layout="column">
                                        <md-input-container>
                                            <md-button type="submit" class="search-button">Search</md-button>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="discussions-list">
                        <md-data-table-container>
                            <table md-data-table>
                                <thead md-order="sort" md-trigger="onOrderChange">
                                <tr>
                                    <th name="Discussion" order-by="text" class="title"></th>
                                    <th name="Replies" order-by="replies"></th>
                                    <th name="Created by" order-by="createdBy"></th>
                                    <th name="Latest Post" order-by="latestPost"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in discussions">
                                    <td>
                                        <a class="link-button font-size14" ng-href="{{'individual-discussion.php#/'+item.id}}">{{item.title}}</a>
                                    </td>
                                    <td>{{item.replies}} replies</td>
                                    <td>
                                        <a href="/account.php#/{{item.accountId}}">{{item['created_by']}}</a> at<br>
                                        {{item['created_at_format']}}
                                    </td>
                                    <td>
                                        <a href="/account.php#/{{item.last.accountId}}">{{item['last']['full_name']}}</a> updated<br>
                                        {{item['last']['created_at_format']}}
                                    </td>
                                </tr>
                                <tr ng-if="discussions.length == 0">
                                    <td class="empty" colspan="4">No discussions</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-data-table-container>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>