<div layout="column" flex="100">
    <div layout="row">
        <div layout="column" class="top10 bottom20" flex="33">
            <md-autocomplete
                md-selected-item="selectedItem"
                md-search-text="searchText"
                md-items="item in querySearch(searchText)"
                md-item-text="item.projectTitle"
                md-min-length="0"
                md-floating-label="Project Name">
                <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.projectTitle}}</span>
                </md-item-template>
                <md-not-found>
                    No projects matching "{{searchText}}" were found.
                </md-not-found>
            </md-autocomplete>
            <div class="error" ng-show="noProjectSelected">
                <p>You <b>must</b> select a project</p>
            </div>
        </div>
    </div>

    <div layout="row">
		<div layout="column" flex="33">
	        <md-input-container>
	            <label>Title</label>
	            <input ng-model="news.news_title" ng-required="true"/>
	        </md-input-container>
			<div ng-show="noTitle">
				<p class="slim-margin error">You <b>must</b> enter a title</p>
			</div>
		</div>
    </div>

    <div layout="row">
		<div layout="column" flex="50">
	        <md-input-container>
	            <label>Content</label>
	            <textarea type="text" ng-model="news.news_content" ng-required="true"/>
	        </md-input-container>
			<div ng-show="noContent">
				<p class="slim-margin error">You <b>must</b> enter some content</p>
			</div>
		</div>
    </div>

    <div layout="row" layout-align="end start">
        <md-button class="md-raised cancel-button" ng-click="clear()">Clear</md-button>
        <md-button class="md-raised md-primary save-button" ng-click="save()">Save</md-button>
    </div>
</div>
