<div layout="column" flex="100">
    <div layout="row">
        <md-input-container>
            <label>Title</label>
            <input ng-model="news.news_title" ng-required="true"/>
        </md-input-container>

        <md-input-container>
            <label>Project (optional)</label>
            <md-select ng-model="news.project_id">
                <md-option ng-repeat="project in projects track by $index" ng-value="project">{{project.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container flex="50">
            <label>Content</label>
            <textarea type="text" ng-model="news.new_content" ng-required="true"/>
        </md-input-container>
    </div>
</div>
