<div layout="column">

    <div layout="row" class="slim-margin">
        <div layout="column" class="top10 bottom20" flex="33">
            <md-autocomplete
                md-selected-item="selectedItem"
                md-search-text="searchText"
                md-items="item in querySearch(searchText)"
                md-item-text="item.projectTitle"
                md-min-length="0"
                md-floating-label="Project Name">
                <md-item-template>
                  <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.projectTitle}}</span>
                </md-item-template>
                <md-not-found>
                  No projects matching "{{searchText}}" were found.
                </md-not-found>
            </md-autocomplete>
            <div class="error" ng-show="noProjectSelected">
                <p>You <b>must</b> select a project</p>
            </div>
        </div>
    </div>

    <div layout="row" class="top10">
        <div class="content-column upload-documents" layout="column">
            <div class="content-panel"
                source="doc"
                ui-widget-upload-documents
                widget-type="'row'"
                auto-upload="false"
                widget-title="'Upload Project Financials'"
                allow-tagging="true"
                single-file="true">
            </div>
        </div>
    </div>
    <div class="slim-margin error" ng-show="noDocSelected">
        <p>You <b>must</b> select a document</p>
    </div>

    <div layout="row" layout-align="end start">
        <md-button class="md-raised cancel-button" ng-click="clear()">Clear</md-button>
        <md-button class="md-raised md-primary save-button" ng-click="save()">Save</md-button>
    </div>
</div>
