<workspace-header class="workspace-header" ng-init="currentPage='6'"></workspace-header>
<div class="container container-view-all all-project-discussions">
    <div class="content-panel-body">
        <md-content>
          <div layout="row" flex layout-align="end center" class="search-content" style="padding-bottom: 20px;">
            <a ng-if="projectId > 0" ng-click="newDiscussion($event)"
               class="link-button uppercase edit-button margin-left20">
                <ng-md-icon icon="add" size="18"></ng-md-icon>Add Discussion
            </a>
          </div>
            <div layout="row" flex layout-align="start end" class="search-content">
                <md-input-container class="filterBox">
                    <md-select placeholder="Discussions" ng-model="typeModel" ng-change="changedType(typeModel)">
                        <md-option ng-repeat="item in types" value="{{item.tag}}">{{item.name}}</md-option>
                    </md-select>
                </md-input-container>
                <form ng-submit="submit(searchModel)" class="view-all-search-field global-search-form" flex>
                    <div layout="column">
                        <div layout="row">
                            <div layout="column" flex>
                                <md-input-container md-no-float>
                                    <md-icon>
                                        <ng-md-icon icon="search"></ng-md-icon>
                                    </md-icon>
                                    <input type="text" placeholder="Search Discussion" ng-model="searchModel">
                                </md-input-container>
                            </div>
                            <div layout="column">
                                <md-input-container>
                                    <md-button type="submit" class="search-button">Search</md-button>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="discussions-list">
                <md-data-table-container>
                    <table md-data-table>
                        <thead md-order="sort" md-trigger="onOrderChange">
                        <tr>
                            <th name="Discussion" order-by="text" class="title"></th>
                            <th name="Replies" order-by="replies"></th>
                            <th name="Created by" order-by="createdBy"></th>
                            <th name="Latest Post" order-by="latestPost"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in discussions">
                            <td>
                                <a ng-href="/individual-discussion.php#/{{item.id}}" ng-click="previousPage.save($event)" class="link-button">{{item.title}}</a>
                            </td>
                            <td>{{item.replies}} replies</td>
                            <td>
                                {{item['created_by']}} at<br>
                                {{item['created_at_format']}}
                            </td>
                            <td>
                                {{item['last']['full_name']}} {{ item.isPosted ? 'posted' : 'replied' }}<br>
                                {{item['last']['created_at_format']}}
                            </td>
                        </tr>
                        <tr ng-if="discussions.length == 0">
                            <td class="empty" colspan="4">No discussions</td>
                        </tr>
                        </tbody>
                    </table>
                </md-data-table-container>
            </div>
        </md-content>
    </div>
</div>