@import "variables";
@import "helpers";

html {
  font-size: 100%;
  background-color: $body_grey;
}

body {
  font-size: $body_font_size;
  font-family: $body_font_family;
  color: map-get($colors, primary);
  min-height: 100%;
  background-color: $body_grey;
}

img {
  width: 100%;
  height: auto;
}

$padding: 40px;
div[ui-view] {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: (1280px)-($padding*2);
  margin: 0 auto;
  padding: 34px $padding $padding $padding;
}

.border-radius-2{
  @include borderRadius(2px);
}

.add-button-square{
  min-width: 0;
  width: 18px;
  min-height: 0;
  height: 18px;
  line-height: 10px;
  background-color: #c7c7c7;
  margin: 0 0 0 10px;
  svg{
    margin-left: -6px;
  }
}

.error {
    color: red;
}
.pull-left{
    text-align: left !important;
}
.pull-right{
    text-align: right !important;
}

.delete-btn {
    color: red;
}
.table-row{
	padding-top: 15px;
	padding-bottom: 15px;
    text-align: center;
}

.description{
    padding-right: 30px;
}

.table-head{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

#prevPage,
#nextPage{
    margin: 0;
    @include borderRadius(3px 3px 3px 3px);
    background-color: #64B045;
    color: #fff;
    height: 46px;
}

.rich {
    font-size: 16px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
}
.overflowVis {
    overflow: visible;
}
.pad-left-10{
    padding-left: 10px;
}
.pad20{
    padding-left: 20px;
}

.no-pad-bottom{
    padding-bottom: 0px;
}

.bottom20{
    margin-bottom: 20px;
}

.font14{
    font-size: 14px;
}
.font15 {
    font-size: 15px;
}
.top20{
    margin-top: 20px;
}

.top10{
    margin-top: 10px;
}

.bottom5{
    margin-bottom: 5px;
}

.bottom28{
    margin-bottom: 28px;
}

.width-25{
    width: 25%;
}

.slim-margin{
    margin: 10px;
}

.slim-side-margin{
    margin-left: 10px;
    margin-right: 10px;
}

.no-bottom{
    margin-bottom: 0px;
}

.no-top{
    margin-top: 0px;
}

.profile-logo{
  position: relative;
  img{
    width: 150px;
  }
  .remove-logo{
    position: absolute;
    top: 8px;
    right: 8px;
    svg{
      margin-top: -3px;
    }
  }
}
md-content{
  padding: 15px;
  @include borderRadius(2px);
  md-content{
    padding: 0;
  }
}

md-list{
  padding: 0;
  md-list-item.md-no-proxy, md-list-item .md-no-style{
    padding: 0;
    min-height: 0;
  }
}

.md-open-menu-container.md-active {
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
