<md-dialog flex="30" aria-label="View" class="shareProduct">
	<md-dialog-content class="component">
		<div layout="row" layout-align="space-between center">
            <h4>Share Service</h4>
            <span flex></span>
  		    <md-button class="md-icon-button" ng-click="cancel()">
                <ng-md-icon icon="close" style="fill: grey;" size="25" aria-label="Close dialog"></ng-md-icon>
            </md-button>
        </div>
		<md-content style="padding:0 0 8px">
            <div layout="row" flex="100">
                <md-autocomplete  flex="100"
                        md-selected-item="users.selectedItem"
                        md-search-text-change="users.searchTextChange(users.searchText)"
                        md-search-text="users.searchText"
                        md-selected-item-change="users.selectedItemChange(item)"
                        md-items="item in users.querySearch(users.searchText)"
                        md-item-text="item.display"
                        md-min-length="0"
                        placeholder="Member">
                    <md-item-template>
                        <span md-highlight-text="users.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        No users matching "{{users.searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </div>
            <div layout="row" ng-if="users.selectedItem">
                <share-members-card share="shareService" card-source="users.selectedItem.profile"></share-members-card>
            </div>
        </md-content>
  </md-dialog-content>
</md-dialog>