<md-dialog flex="30" aria-label="View" class="shareProduct">
	<md-dialog-content class="component">
		<div layout="row" layout-align="space-between center">
            <h4>Share the product</h4>
            <span flex></span>
  		    <md-button href="" class="md-icon-button" ng-click="cancel()">
                <ng-md-icon icon="close" style="fill: grey;" size="25" aria-label="Close dialog"></ng-md-icon>
            </md-button>
        </div>
		<md-content>
            <div layout="row">
                <md-list class="md-2-line">
                    <md-list-item ng-repeat="person in people">
                        <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
                        <h3 flex>{{ person.name }}</h3>
                        <md-button aria-label="Share" class="md-icon-button">
                            <ng-md-icon icon="share" style="fill: grey;" size="25"></ng-md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>
  </md-dialog-content>
</md-dialog>