<div class="page-header" layout-padding>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div layout="column">
          <h1 class="name-project">
            <img src="images/project-header-thumb.png"
                 ng-click="vm.showMenu($event)"
                 alt="" />
            {{vm.projectData.title}}
            <span class="small-text small-text--grey">Due in 20 days</span>
          </h1>
        </div>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button class="md-raised md-primary white-label"><ng-md-icon icon="mode_edit" style="fill: #fff" size="18"></ng-md-icon> Edit</md-button>

        <md-menu>
            <md-button class="md-raised md-primary white-label" ng-click="$mdOpenMenu($event)"><ng-md-icon icon="share" style="fill: #fff" size="18"></ng-md-icon> Share</md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button>Team</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button>Challenge</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
      </div>
    </md-toolbar>
  </div>
  <div class="container" layout="row" layout-margin layout-fill layout-padding>
    <!-- Left Content Column -->

    <div class="content-column" layout="column" flex="70">
      <!-- Overview -->
      <div class="content-panel">
        <div class="content-panel-header">
         <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Overview</h2>
              <span flex></span>
              <md-button href="/" md-no-ink>View All</md-button>
            </div>
          </md-toolbar>
        </div>
        <div class="content-panel-body">
          <md-content class="md-padding" layout="row" layout-padding>
            <div flex="25">
              <img ng-src="{{vm.projectData.featureImage.thumbnail}}">
            </div>
            <div flex="75">
              <p>{{vm.projectData.description}}</p>
            </div>
          </md-content>
        </div>
      </div>
      <!-- Tasks -->
      <div class="content-panel" ui-widget-tasks project-id="vm.currentProjectId" columns="['title','priority']" widget-title="'MY TASKS'"></div>
      <!-- Discussion -->
      <div class="content-panel" ui-widget-discussions project-id="vm.currentProjectId" widget-title="'MEMBERS I AM FOLLOWING'"></div>
    </div>
    <!-- Right Content Column -->
    <div class="content-column" layout="column" flex>
      <!-- Running Services -->
      <div class="content-panel" ui-widget-services project-id="vm.currentProjectId" widget-title="'RUNNING SERVICES'" columns="['name','status']"></div>
    </div>
  </div>
