<md-dialog class="dmc-project-subnav-dialog" >

  <div layout="row"  layout-wrap>
    <div flex="33">
      <md-button ui-sref="project.home"
                 class="dmc-project-subnav-dialog-btn">
        <ng-md-icon icon="home"
                    style="fill: white"
                    size="120">
        </ng-md-icon>
        <div class="dmc-project-subnav-dialog-btn__caption">
          Project Home
        </div>
      </md-button>
    </div>

    <div flex="33">
      <md-button ui-sref="project.workspace"
                 class="dmc-project-subnav-dialog-btn">
        <ng-md-icon icon="view_quilt"
                    style="fill: white"
                    size="120">
        </ng-md-icon>
        <div class="dmc-project-subnav-dialog-btn__caption">
          Workspace
        </div>
      </md-button>
    </div>

    <div flex="33">
      <md-button ui-sref="project.documents"
                 class="dmc-project-subnav-dialog-btn">
        <ng-md-icon icon="my_library_books"
                    style="fill: white"
                    size="120">
        </ng-md-icon>
        <div class="dmc-project-subnav-dialog-btn__caption">
          Documents
        </div>
      </md-button>
    </div>

    <div flex="33">
      <md-button ui-sref="project.tasks"
                 class="dmc-project-subnav-dialog-btn">
        <ng-md-icon icon="list"
                    style="fill: white"
                    size="120">
        </ng-md-icon>
        <div class="dmc-project-subnav-dialog-btn__caption">
          Tasks
        </div>
      </md-button>
    </div>

    <div flex="33">
      <md-button ui-sref="project.team"
                 class="dmc-project-subnav-dialog-btn">
        <ng-md-icon icon="people"
                    style="fill: white"
                    size="120">
        </ng-md-icon>
        <div class="dmc-project-subnav-dialog-btn__caption">
          Team
        </div>
      </md-button>
    </div>

    <div flex="33">
      <md-button ui-sref="project.discussions"
                 class="dmc-project-subnav-dialog-btn">
        <ng-md-icon icon="forum"
                    style="fill: white"
                    size="120">
        </ng-md-icon>
        <div class="dmc-project-subnav-dialog-btn__caption">
          Discussions
        </div>
      </md-button>
    </div>
  </div> <!-- layout -->
</md-dialog>
