<div class="page-header">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div layout="row" layout-align="start center" flex>
                <!-- <md-input-container class="filterBox">
                    <label>Filter</label>
                    <md-select ng-model="searchTypeModel" ng-change="selectItemDropDown(searchTypeModel)">
                        <md-option ng-repeat="p in searchTypes" value="{{p.tag}}">{{p.name}}</md-option>
                    </md-select>
                </md-input-container>
                <div class="search" flex="60">
                    <form ng-submit="submit()" class="dmc-search global-search-form">
                        <div layout="column">
                            <div layout="row">
                                <div layout="column" flex>
                                    <md-input-container md-no-float>
                                        <md-icon>
                                            <ng-md-icon icon="search"></ng-md-icon>
                                        </md-icon>
                                        <input type="text" placeholder="Search Community" ng-model="searchModel">
                                    </md-input-container>
                                </div>
                                <div layout="column">
                                    <md-input-container>
                                        <md-button type="submit" class="search-button">Search</md-button>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </form> -->
                </div>
                <span flex></span>
                <md-button class="md-raised dmc-button" ng-click="createDiscussion()">
                    <span>Add New Discussion</span>
                    <ng-md-icon icon="add" size="22"></ng-md-icon>
                </md-button>
                <!--<md-input-container layout="row" layout-wrap layout-align="start center" class="top-10">-->
                    <!---->
                    <!--&lt;!&ndash;<a class="following-btn link-button uppercase margin-left20">Following (15)</a>&ndash;&gt;-->
                    <!--<md-button md-no-ink class="contacts-btn link-button" href="" style="display:none">-->
                        <!--<ng-md-icon icon="account_circle" style="fill: #333" size="18"></ng-md-icon>-->
                        <!--Contacts-->
                    <!--</md-button>-->
                <!--</md-input-container>-->
            </div>
        </div>
    </md-toolbar>
</div>
<div class="container community-container" >

    <div layout="row" >
        <!-- Left Content Column -->
        <div class="content-column" layout="column" flex="60">
            <!-- Discussions you follow -->
            <!-- <div class="content-panel project discussions-you-follow margin-right12-5 margin-top-25" community-discussions widget-type="'following'" widget-title="'Discussions you follow'"></div>
            <!-- Discussions from people you follow -->
<!--            <div class="content-panel project discussions-you-follow margin-right12-5 margin-top-25" community-discussions widget-type="'follow-people'" widget-title="'Discussions from people you follow'"></div> -->
            <!-- Popular discussions -->
            <div class="content-panel project discussions-you-follow margin-right12-5 margin-top-25" community-discussions widget-type="'popular'" widget-title="'Popular discussions'"></div>
        </div>
        <!-- Right Content Column -->
        <div class="content-column" layout="column" flex>
            <!-- DMC Announcements-->
            <!-- <div class="content-panel project dmc-announcements-content-panel margin-left12-5 margin-top-25" dmc-announcements widget-title="'DMC Announcements'"></div> -->

            <!-- DMC Events-->
            <div class="content-panel project dmc-events-content-panel margin-left12-5 margin-top-25" dmc-events widget-title="'Events'"></div>
        </div>
    </div>
</div>
