<md-dialog flex="80" aria-label="Token" class="token">
	<md-content layout="column">
		<div layout="row" flex="100" class="header">
			<div layout="column">
				<h2>Token</h2>
			</div>
		</div>

		<h3>{{token}}</h3>

		<div layout="row top20" layout-align="space-between center" class="button-aria">
			<!-- <md-button class="dmc-button md-raised" ng-click="emailToken()">
				Email
			</md-button> -->
		</div>
		<div layout="row top20" layout-align="space-between center" class="button-aria">
			<md-button class="dmc-button md-raised" ng-click="cancel()">
				Close
			</md-button>
		</div>
	</md-content>
</md-dialog>
