<md-dialog class="create-task" aria-label="Create Task">
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Adding New Task</h2>
                <span flex></span>
                <md-button class="md-icon-button btn-close" ng-click="cancel()">
                    <ng-md-icon icon="close" fill="#fff" size="32" aria-label="Close dialog"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="block message-error" layout="row" ng-if="message.error" layout-padding>
                <ng-md-icon icon="sms_failed" style="fill: #B53A3A" size="32" layout-align="center center"></ng-md-icon>
                <div layout layout-align="center center">
                    <md-subheader hide-sm>Task not created</md-subheader>
                    <md-subheader hide-gt-sm>Task not created</md-subheader>
                </div>
            </div>
            <md-input-container flex>
                <label>Description</label>
                <textarea ng-model="description" columns="1"></textarea>
            </md-input-container>
            <div class="block" layout="row" layout-align="space-between end">
                <md-input-container flex="45">
                    <label>Assigned To</label>
                    <md-select ng-model="assignedTo">
                        <md-option ng-value="user.name" ng-repeat="user in users">{{user.name}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex="45">
                    <label>Priority</label>
                    <md-select ng-model="priorityModel">
                        <md-option ng-repeat="p in priorities" value="{{p.id}}">{{p.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="block dueDate" layout="row">
                <label class="dueDate-label" ng-show="dueDate">Due Date</label>
                <md-datepicker  flex="50" class="dueDatePicker" ng-model="dueDate" md-placeholder="Due Date">
                </md-datepicker>
            </div>
            <div class="block" layout="row">
                <span flex></span>
                <md-button class="md-raised md-primary" ng-click="createTask()" ng-disabled="!dueDate || !priorityModel || !assignedTo || !description">Create</md-button>
            </div>
            <div class="block" layout="row" ng-if="isCreation">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>