<main>
    <section class="container">
        <div class="container">
            <h1>Workspaces</h1>
        </div>

        <div class="button-container" layout="row" flex="100">
            <uib-accordion  class="align-left" close-others="oneAtATime">
                <div uib-accordion-group class="panel-default filter-accordion" is-open="status.open">
                    <uib-accordion-heading>
                        Filter <ng-md-icon ng-if="!status.open" class="pull-right filter-icon" icon="keyboard_arrow_right" style="fill: #666" size="30"></ng-md-icon>
                        <ng-md-icon ng-if="status.open" class="pull-right filter-icon" icon="keyboard_arrow_down" style="fill: #666" size="30"></ng-md-icon>
                    </uib-accordion-heading>
                    <div class="row">
                        <div class="col-lg-6" ng-class="filters.public ? 'active-filter' : ''" ng-click="setFilter('public')">Public</div>
                        <div class="col-lg-6" ng-click="setFilter('clear')">Clear</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" ng-class="filters.private ? 'active-filter' : ''" ng-click="setFilter('private')">Private</div>
                    </div>
                </div>
            </uib-accordion>

            <!-- fill up the space between left and right area -->
            <div class="col-lg-2 sort">
                <md-select placeholder="Sort" class="sort-select" ng-model="sortModel" ng-change="selectItemDropDown('sort')" md-container-class="margin-dropdown">
                    <md-option ng-click="updateSort()" ng-repeat="sort in sortList track by $index" ng-value="$index">{{sort.name}}</md-option>
                </md-select>
            </div>

            <md-button class=" add-button align-right" md-no-ink
                       href="/add-project.php">
                      Add Workspace <ng-md-icon icon="add" size="22"></ng-md-icon>
            </md-button>
        </div>

        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="My Workspaces" md-on-select="toggleProjectsFlag('myProjectsFlag')">
                    <div class="container my-projects-container" layout="row" flex="100">
                        <div class="content-panel" layout="column" flex="100"
                             id="myProjectsList"
                             ui-widget-projects
                             search-text="searchText"
                             widget-format="'my-projects'"
                             widget-title="null"
                             sort-projects="sortProjects"
                             widget-show-all-blocks="true"
                             get-projects-flag="myProjectsFlag"
                             filters="filters"
                             limit="10"></div>
                    </div>
                </md-tab>
                <md-tab label="All Workspaces" md-on-select="toggleProjectsFlag('allProjectsFlag')">
                    <div class="container my-projects-container" layout="row" flex="100">
                        <div class="content-panel" layout="column" flex="100"
                             id="allProjectsList"
                             ui-widget-projects
                             search-text="searchText"
                             widget-format="'all-projects'"
                             widget-title="null"
                             sort-projects="sortProjects"
                             widget-show-all-blocks="true"
                             get-projects-flag="allProjectsFlag"
                             filters="filters"
                             limit="10"></div>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </section>
</main>