<div class="container partner-projects" layout="row" >
    <div class="content-column" layout="column" flex='20'>
        <dmc-tree-menu tree-source="treeMenuModel"></dmc-tree-menu>
        <dmc-products-filter state-name="partner_projects_search'" ng-if="isSearch"></dmc-products-filter>
    </div>
        <!-- Left Content Column -->
    <div class="members" layout="column" flex>
        <md-content class="partner-projects-search" layout="row" layout-align="left center">

            <form ng-submit="submit(searchModel)" class="dmc-search global-search-form" flex="60">
                <div layout="column">
                    <div layout="row">
                        <div layout="column" flex>
                            <md-input-container md-no-float>
                                <md-icon>
                                  <ng-md-icon icon="search"></ng-md-icon>
                                </md-icon>
                                <input type="text" placeholder="Search Partner Projects" ng-model="searchModel">
                            </md-input-container>
                        </div>
                        <div layout="column">
                            <md-input-container>
                                <md-button type="submit" class="search-button">Search</md-button>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </form>
        </md-content>

        <!-- <span flex></span> -->
        <md-content layout="column">

            <md-progress-linear md-mode="indeterminate" ng-show="projectsLoading"></md-progress-linear>

            <div>
                <div class="table-head" layout="row" flex>
                    <div class="pull-left" flex="60" ng-click="sort('name')">
                        Name
                        <ng-md-icon icon="arrow_drop_down" size="24" ng-show="column === 'name' && !reverse" ng-class="{'member-portal': membersOnly}"></ng-md-icon>
                        <ng-md-icon icon="arrow_drop_up" size="24" ng-show="column === 'name' && reverse" ng-class="{'member-portal': membersOnly}"></ng-md-icon>
                    </div>
                    <div flex="25" ng-click="sort('status')">
                        Status
                        <ng-md-icon icon="arrow_drop_down" size="24" ng-show="column === 'status' && !reverse" ng-class="{'member-portal': membersOnly}"></ng-md-icon>
                        <ng-md-icon icon="arrow_drop_up" size="24" ng-show="column === 'status' && reverse" ng-class="{'member-portal': membersOnly}"></ng-md-icon>
                    </div>
                </div>
                <div class="table-body" layout="column" flex>
                    <div class="table-row" layout="row" layout-align="start center" flex ng-repeat="project in projects.arr | orderBy:column:reverse">
                        <div class="pull-left" flex="60">
                            <h3><a ng-href="{{'/partner-project-page.php#/'+project.id}}">{{project.projectTitle}}</a></h3>
                            <p class="description">{{project.projectSummary}}</p>
                        </div>
                        <div flex="25">
                            {{project.dmdiiProjectStatus.statusName}}
                        </div>
                    </div>
                </div>
            </div>

            <div layout="row" layout-align="center center">
                <md-input-container>
                    <md-button id="prevPage" flex ng-disabled="!hasPrev()">
                        <ng-md-icon icon="chevron_left" size="20" ng-class="{'member-portal': membersOnly}"></ng-md-icon>
                        PREV
                    </md-button>
                </md-input-container>
                <md-input-container>
                    <md-button id="nextPage" flex>
                        NEXT
                        <ng-md-icon icon="chevron_right" size="20" ng-disabled="!hasNext()" ng-class="{'member-portal': membersOnly}"></ng-md-icon>
                    </md-button>
                </md-input-container>
            </div>
        </md-content>
    </div>
</div>
