<div class="container container-dashboard" layout-padding>
    <div class="content-column" layout="row" style="display:none" ng-if="isMobile == null">
        <div class="content-panel content-panel-dashboard" layout="column" flex="49">
            <div class="content-panel-header">
                <md-toolbar>
                    <div class="md-toolbar-tools widget-toolbar-title">
                        <h2>MARKET PLACE STATS</h2>
                        <span flex></span>
                        <md-button href="/" md-no-ink class="view-all-button">View statistics</md-button>
                    </div>
                </md-toolbar>
            </div>
            <div class="content-panel-body">
                <md-content class="md-padding">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Overview">
                            <md-content class="md-padding">
                                <img ng-src="/images/top-products.jpg" alt=""/>
                            </md-content>
                        </md-tab>
                        <md-tab label="Views">
                            <md-content class="md-padding">
                                <img ng-src="/images/top-products.jpg" alt=""/>
                            </md-content>
                        </md-tab>
                        <md-tab label="Added">
                            <md-content class="md-padding">
                                <img ng-src="/images/top-products.jpg" alt=""/>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
        <div layout="column" class="space"></div>
        <div class="content-panel content-panel-dashboard" layout="column" flex="49">
            <div class="content-panel-header">
                <md-toolbar>
                    <div class="md-toolbar-tools widget-toolbar-title">
                        <h2>MY CONNECTIONS</h2>
                        <span flex></span>
                        <md-button href="/" md-no-ink class="view-all-button">View connections</md-button>
                    </div>
                </md-toolbar>
            </div>
            <div class="content-panel-body">
                <md-content class="md-padding">
                    <img ng-src="/images/my-connections.jpg" alt=""/>
                </md-content>
            </div>
        </div>
    </div>

    <div class="content-column" layout="row">
        <div class="content-panel content-panel-dashboard" layout="column" flex="49" ui-widget-services columns="['name','project','start','status']" widget-style="'full'" widget-title="'SERVICES'" start-at-offset="14"></div>
        <div layout="column" class="space"></div>
        <div class="content-panel content-panel-dashboard" layout="column" flex="49" ui-widget-tasks columns="['title','project','dueDate','priority']" widget-title="'MY TASKS'"></div>
    </div>

    <div class="content-column" layout="row">
        <div class="content-panel content-panel-dashboard" layout="column" flex="49" ui-widget-projects widget-title="'RECENT PROJECTS'"></div>
        <div layout="column" class="space"></div>
        <div class="content-panel content-panel-dashboard" layout="column" flex="49">
            <div class="content-panel-header">
                <md-toolbar>
                    <div class="md-toolbar-tools widget-toolbar-title">
                        <h2>FOLLOWING</h2>
                        <span flex></span>
                        <md-button href="/" md-no-ink class="view-all-button">View All</md-button>
                    </div>
                </md-toolbar>
            </div>
            <div class="content-panel-body">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3><a class="member-text" href="/">Run services on clutch plates and pressure plates components</a></h3>
                                <h4>9 minutes</h4>
                            </div>
                            <div class="md-secondary md-list-item-inner user-info">
                                <a class="member-name" href="/">Janet Perkins</a>
                                <a href="/"><img alt="Janet Perkins" class="md-avatar" src="images/avatar-fpo.jpg"></a>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <h3><a class="member-text" href="/">Run services on clutch plates and pressure plates components</a></h3>
                                <h4>9 minutes</h4>
                            </div>
                            <div class="md-secondary md-list-item-inner user-info">
                                <a class="member-name" href="/">Janet Perkins</a>
                                <a href="/"><img alt="Janet Perkins" class="md-avatar" src="images/avatar-fpo.jpg"></a>
                            </div>
                        </md-list-item>

                    </md-list>
                </md-content>
            </div>
        </div>
    </div>
</div>