<div layout="row" layout-align="center center" layout-padding class="unauthorized-text" layout-wrap>
    <div layout="column">
  	    <h3>Oops! You must be a member of a company to view this content. Join your company to have access to this content.</h3>
    </div>
</div>
<div layout="row" layout-align="center center" layout-padding class="unauthorized-company" layout-wrap>
    <md-input-container flex class="center-input input-joined" ng-if="isJoin">
        <input value="Your request to join {{isJoin.companyName}} is pending" ng-disabled="true"/>
    </md-input-container>
    <md-input-container flex class="right-input" ng-if="!isJoin">
        <md-select ng-model="selectedCompany" ng-change="changedCompany(selectedCompany)">
            <md-option value="{{c.id}}" ng-repeat="c in companies">{{c.name}}</md-option>
        </md-select>
    </md-input-container>
    <md-button class="dmc-button md-raised md-primary"
               ng-if="!isJoin"
               ng-click="join()"
               ng-disabled="!selectedCompany">Join</md-button>
    <md-button class="dmc-button md-raised md-primary"
               ng-if="isJoin"
               ng-click="cancelJoin()">Cancel Request</md-button>
</div>
<div layout="row" layout-align="center center" layout-padding class="unauthorized-description" layout-wrap>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
<md-progress-linear md-mode="indeterminate" ng-if="isLoading"></md-progress-linear>
