<div class="container">
    <!-- Left Content Column -->
    <div layout="row" layout-fill layout-padding layout-align="space-between start">
        <div class="content-column" layout="column" flex="50">
            <div class="content-panel">
                <div class="content-panel-header">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>WORKSPACE DETAILS</h2>
                        </div>
                    </md-toolbar>
                </div>
                <div class="content-panel-body">
                    <md-content class="md-padding">
                        <form name="form">
                            <h3>Title <span style="color:red; font-weight:normal"> *</span></h3>

                            <md-input-container flex>
                                <!-- <label>Title</label> -->
                                <label>Name of the workspace</label>
                                  <input ng-model="projectDetails.title"
                                         ng-change="changed('title')"
                                         ng-init="projectDetails.title_old = projectDetails.title" required>
                            </md-input-container>

                            <h3>Description <span style="color:red; font-weight:normal"> *</span></h3>
                            <md-input-container flex>
                                <!-- <label>Overview</label> -->
                                <!-- <textarea name="overview"
                                          class="overviewTextArea"
                                          ng-change="changed('description')"
                                          ng-init="projectDetails.description_old = projectDetails.description"
                                          ng-model="projectDetails.description" columns="1" required></textarea> -->

                                <div style="color: grey;"
                                  layout="column"
                      						ui-widget-rich-text
                      						field-name="overview"
                      						is-required="false"
                      						model="projectDetails.description"
                      						limit="3000"
                      						is-saved="isSaved"
                      						is-valid="isValid">
                      					</div>
                            </md-input-container>

                            <div layout="row" layout-align="start center">
                              <h3>Type<span style="color:red; font-weight:normal"> *</span></h3>
                              <div layout="column" layout-align="start end">
                                <md-tooltip md-direction="top">Public workspace is visible to everyone and allows anyone to join your workspace without your approval. Private workspaces, on the other hand aren't visible to everybody, only to people who are invited by the owner </md-tooltip>
                                <md-icon>
                                  <ng-md-icon icon="info" size="20" style="padding-left:5px" size="20"></ng-md-icon>
                                </md-icon>
                              </div>
                            </div>




                            <div layout='row' layout-align="start center">
                              <md-input-container>

                                <!-- <md-select ng-model="projectDetails.type"
                                           ng-change="changed('type')"
                                           ng-disabled="isUpdate"
                                           ng-init="projectDetails.type_old = projectDetails.type"
                                           class="type-select" aria-label="Types" required>
                                    <md-option value="public">Public</md-option>
                                    <md-option value="private">Private</md-option>
                                </md-select> -->
                                <md-radio-group ng-model="projectDetails.type"
                                ng-change="changed('type')"
                                ng-disabled="isUpdate"
                                ng-init="projectDetails.type_old = projectDetails.type"
                                class="type-select" aria-label="Types" required>
                                  <md-radio-button value="public">
                                    Public
                                  </md-radio-button>
                                  <md-radio-button value="private">
                                    Private
                                  </md-radio-button>
                                </md-radio-group>
                              </md-input-container>
                              <md-button ng-disabled="!(projectDetails.type=='public' || projectDetails.type=='private')" class="md-raised md-primary" ng-click="addMembersWp()">Add Members</md-button>
                                                            <!-- <md-button ng-disabled="!(projectDetails.type=='public' || projectDetails.type=='private')" class="md-raised md-primary" ng-click="goToTab(2, projectDetails)">Add Members</md-button> -->
                          </div>



                             <h3 ng-if="projectDetails.type == 'public'">Approval Options</h3>
                            <md-input-container ng-if="projectDetails.type == 'public'">
                                <!-- <label>Approval Options</label> -->
                                <md-select ng-model="projectDetails.approvalOption"
                                           ng-change="changed('approvalOption')"
                                           ng-disabled="isUpdate"
                                           ng-init="projectDetails.approvalOption = !projectDetails.approvalOption ? 'all' : projectDetails.approvalOption; projectDetails.approvalOption_old = projectDetails.approvalOption"
                                           class="type-select" aria-label="Approval Options" required>
                                    <md-option value="all">All members can join</md-option>
                                    <md-option value="admin">Members require approval by admin</md-option>
                                </md-select>
                            </md-input-container>
                            <!-- </div> -->

                            <div layout="row" layout-align="start center">
                              <h3>Due Date</h3>
                              <div layout="column" layout-align="start end">
                                <md-tooltip md-direction="top">If you're creating this workspace for a project, 'Due Date' is the date the project is due </md-tooltip>
                                <md-icon>
                                  <ng-md-icon icon="info" size="20" style="padding-left:5px"></ng-md-icon>
                                </md-icon>
                              </div>
                            </div>

                            <div layout='row' layout-align="start center">
                                <md-input-container>
                                  <span class="dueDate-label" ng-show="projectDetails.dueDate || projectDetails.dueDateFocused">Due Date</span>
                                  <md-datepicker class="dueDatePicker"
                                                 ng-change="changed('dueDate')"
                                                 ng-init="projectDetails.dueDate_old = projectDetails.dueDate"
                                                 ng-model="projectDetails.dueDate"
                                                 aria-label="Due Date"
                                                 md-placeholder="Select Date"></md-datepicker>
                                </md-input-container>
                              </div>




                        </form>
                    </md-content>


                    <md-content class="md-padding">
                      <div layout="row" layout-align="start center">
                        <h3>ENTER TAGS</h3>
                        <div layout="column" layout-align="start end">
                          <md-tooltip md-direction="top">Keywords that identify the workspace during search</md-tooltip>
                          <md-icon>
                            <ng-md-icon icon="info" size="20" style="padding-left:5px"></ng-md-icon>
                          </md-icon>
                        </div>
                      </div>
                        <div layout="column">
                            <form ng-submit="addTag(newTag)" class="add-tags-form" layout="row" layout-align="start center">
                                <md-input-container>
                                    <label>Ex: Supply chain, app execution</label>
                                    <input ng-model="newTag">
                                </md-input-container>
                                <md-button ng-disabled="!newTag" class="md-raised md-primary">Add</md-button>
                            </form>
                            <div layout="row" class="project-tags-list" layout-wrap>
                                <div class="tag" ng-repeat="tag in projectDetails.tags track by $index" ng-if="!tag.deleted">
                                    <div>
                                        <span>{{tag.name}}</span>
                                        <md-button md-no-ink class="md-icon-button"
                                                   ng-click="deleteTag($index,tag)"
                                                   aria-label="Delete Tag">
                                            <ng-md-icon icon="clear" ng-style="{'fill' : '#444'}" size="15"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </div>
            </div>
        </div>
        <!-- Right Content Column -->
        <!-- <div class="content-column upload-documents" layout="column" flex="50">
            <div class="content-panel"
                 source="documents"
                 ui-widget-upload-documents
                 widget-type="'row'"
                 auto-upload="false"
                 allow-tagging="true"
                 access-level="accessLevels"
                 widget-title="'UPLOAD DOCUMENTS'"></div>
        </div> -->

        <!-- <div layout="row" layout-align="start center">
          <h3>ENTER TAGS</h3>
          <div layout="column" layout-align="start end">
            <md-tooltip md-direction="top">Keywords that identify the workspace during search</md-tooltip>
            <md-icon>
              <ng-md-icon icon="info" size="20" style="padding-left:5px"></ng-md-icon>
            </md-icon>
          </div>
        </div> -->

        <div class="content-column upload-documents" layout="column" flex="50">
            <div class="content-panel"
                 source="documents"
                 ui-widget-upload-documents
                 widget-type="'row'"
                 auto-upload="false"
                 allow-tagging="true"
                 access-level="accessLevels"
                 widget-title="'UPLOAD DOCUMENTS'"></div>
        </div>


    </div>
    <div layout="row" class="btn-next-block" layout-padding layout-align="end center">
        <!-- Cancel edit project -->
        <md-button class="md-raised"
                   ng-if="isUpdate"
                   ng-click="cancelEdit()">
            Cancel
        </md-button>
        <!-- Back to projects -->
        <md-button class="md-raised"
                   ng-if="!isUpdate"
                   ng-href="all-projects.php">Cancel</md-button>
        <!-- Go to next tab -->
        <md-button class="md-raised md-primary" ng-disabled="!form.$valid" ng-click="submitProjectDetails(invitees)">Create</md-button>
        <!-- <md-button class="md-raised md-primary" ng-disabled="!form.$valid" ng-click="goToTab(2, projectDetails)">Create</md-button> -->
    </div>
</div>
