<div class="company-card">
    <div layout="row" class="top-buttons" layout-align="space-between center">
        <a class="location" style="visibility: hidden">
            <ng-md-icon icon="location_city" aria-label="Company Page" size="18"></ng-md-icon>
        </a>
        <a ng-if="userData.accountId != cardSource.accountId"
           ng-click="followCompany()"
           class="follow-company link-button">{{ cardSource.follow ? 'Unfollow' : 'Follow'}}</a>
        <a ng-click="showCompany(cardSource.id, $event)">
            <ng-md-icon icon="info_outline" title="Company Page" aria-label="Company Page" size="18"></ng-md-icon>
        </a>
    </div>
    <div class="member-card__image">
        <img ng-src="{{cardSource.logoImage ? cardSource.logoImage : 'images/icon-company-lg.svg'}}" alt="{{cardSource.name}}">
    </div>
    <div class="member-card__header" layout="column" layout-padding layout-margin>
        <h3 class="member-name"><a href="/company-profile.php#/profile/{{cardSource.id}}">{{cardSource.name}}</a></h3>
        <h4 class="industry" ng-if="cardSource.industry">{{cardSource.industry}}</h4>
    </div>
    <div class="member-card__content" layout="row" layout-padding flex>
        <div class="member-card__content__column" flex="28" layout="column">
            <div class="star-rating">
                <div class="star-rating__buttons">
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="14" ></ng-md-icon></md-button>
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="14"></ng-md-icon></md-button>
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
                </div>
                <div class="star-rating__value">
                    <span class="small-text">(2,2)</span>
                </div>
            </div>
            <div class="member-card__details">
                <p class="description">{{cardSource.description}}</p>
            </div>
        </div>
    </div>
</div>
