<div class="document-info" layout="column">
  <div>DOCUMENT DETAILS</div>
	<!-- <div class="header" layout="row" layout-align="center center">
		<h3>{{cardSource.position}}
	</div>
	<div layout layout-align="center center">
		<div flex="50">
			<img ng-src="{{cardSource.avatar}}">
		</div>
	</div>
	<div layout="column" class="info">
		<h3>{{cardSource.display_name}}</h3>
		<h4>{{cardSource.jobTitle}}</h4>
		<div layout layout-align="start center" class="contact">
			<ng-md-icon icon="phone" style="fill: grey;" size="25"></ng-md-icon>
			<h4>{{cardSource.phone}}</h4>
		</div>
		<div layout layout-align="start center" class="contact">
			<ng-md-icon icon="email" style="fill: grey;" size="25"></ng-md-icon>
			<h4>{{cardSource.email}}</h4>
		</div>
	</div> -->
</div>
