.apps {
    width: 200px;
    border: 1px solid green;
    padding: 10px;
    margin: 25px;
}
.videosacademia {
    width: 150px;
    border: 1px solid green;
    padding: 10px;
    margin: 25px;
}
.videosacademia video {
  width:100%;
}

h4{
  font-weight: normal;
}


.edx video{
  width:100%;
}
