.apps {
    width: 200px;
    border: 1px solid green;
    padding: 10px;
    margin: 25px;
}
.videosacademia {
    width: 150px;
    height:200px;
    border: 1px solid green;
    padding: 10px;
    margin: 25px;
}

h4{
  font-weight: normal;
}
