.carousel-padding{
  padding-top: 16px;
}

.ng-carousel{
  height: 0;
  .image-item {
    width: 84px;
    height: 84px;
    overflow: hidden;
    display: inline-block;
    margin: 0 2.5px;
    cursor: pointer;
    img {
      height: 100px !important;
      width: auto !important;
      opacity: 0.7;
    }
    .selected{
      opacity: 0.3;
    }
    .delete{
      color: white;
      position: absolute;
      margin: 0;
      min-width: 30px;
      min-height: 30px;
      height: 30px;
      width: 30px;
      line-height: 30px;
      z-index: 1;
    }
  }
  .image-item:hover{
    img{
      opacity: 1;
    }
  }
  .slide-buttons{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-block;
      width: auto;
      li{
        width: auto;
        float: left;
        button{
          width: 30px;
          ng-md-icon {
            fill: #999;
          }
        }
        button:hover{
          ng-md-icon {
            fill: #333;
          }
        }
      }
      .selected{
        button{
          ng-md-icon {
            fill: #64B045;
          }
        }
      }
    }
  }
  .carousel-arrow-left{
    width: 36px;
    top: 60px;
    bottom: 112px;
    &.image-button{
      top: 10px;
    }
    button.demo-nav{
      left:0;
    }
  }
  .carousel-arrow-right{
    width: 36px;
    top: 60px;
    bottom: 112px;
    &.image-button{
      top: 10px;
    }
    button.demo-nav{
      right: 0;
    }
  }
  button.demo-nav {
    font-size: 16px;
    border: none;
    background: transparent;
    padding: 5px 0;
    color: #64B045;
    min-width: 36px;
    width: 36px;
    top: 50%;
    position: absolute;
    margin: -50% 0 0 0;
    ng-md-icon{
      fill:#64B045;
      margin-left: -11px;
    }
  }
  button.demo-nav:hover {
    background: #64B045;
    ng-md-icon{
      fill:#fff;
    }
  }
  slidecontainer{
    slide{
       font-size: 12px;
      .slide-item{
        display: inline-block;
        .product-card{
          width: 100%;
        }
      }
      .slide-item:first-child{
        .one-item{
          margin: 0 8px 0 36px;
        }
      }
      .slide-item:last-child{
        .one-item{
          margin: 0 36px 0 8px;
        }
      }
    }
  }
}