.compare-widget{
  .adding-to-project{
    width: 100%;
    margin: 6px;
    background-color: #909090;
    @include borderRadius(3px);

    .close{
      width: 36px;
      min-width: 36px;
      height: 36px;
      min-height: 36px;
      line-height: 36px;
    }
    .close:hover{
      background-color: #777;
    }
    .add{
      width: 36px;
      min-width: 36px;
      height: 36px;
      min-height: 36px;
      line-height: 36px;
    }
    ng-md-icon{
      fill: #fff;
    }
    md-input-container{
      padding: 0;
    }
    md-select,
    md-select:not([disabled]):focus {
      @include borderRadius(3px);
      margin: 6px 0;
      background-color: #fff;
      md-select-value{
        font-size: 13px;
        padding: 3px 8px 6px 8px;
        border: none;
      }
    }
  }
  .block-buttons{
    .md-button{
      color: #fff;
      text-transform: none;
      margin: 0;
    }
    .white-button{
      background-color: #909090;
      &:hover{
        background-color: #555;
      }
    }
    .back-to-add{
      min-width: 20px;
      fill: #fff;
      background-color: #909090;
      margin: 0;
      width: 34px;
      &:hover{
        background-color: #555;
      }
    }
    .page-href{
      margin: 0px 0 0px 2px;
      &:hover{
        text-decoration: underline;
      }
      span{
        overflow: hidden;
        max-width: 98%;
        display: block;
        text-overflow: ellipsis;
      }
    }
  }
  .top-buttons.md-button.md-default-theme{
    min-height: 0;
    line-height: 34px;
    min-width: 50px;
    text-transform: none;
  }
  .md-raised.md-primary.top-buttons.md-button.md-default-theme{
    text-decoration: none;
  }
  .compare-title{
    margin-right: 21px;
  }
  form:first-child{
    background-color: #efeced;
    md-toolbar{
      background-color: #efeced;
      color: #333;
      button{
        ng-md-icon{
          fill: #999;
        }
      }
      button:hover{
        ng-md-icon{
          fill: #333;
        }
      }
    }
    md-dialog-content{
      overflow-y: hidden;
      overflow-x: hidden;
      padding: 0 24px 24px 24px;
      max-width: 918px;
    }
    .compare-list-products{
      .row{
        .column{
          padding: 13px;
          background-color: #fff;
          max-width: 200px;
          min-width: 200px;
          margin: 0 2px;
          vertical-align: top;
          border-bottom: 1px solid #efeced;
        }
        .width-100{
          max-width: 300px;
          min-width: none;
          width: 100%;
        }
        .width-50{
          max-width: 300px;
          min-width: none;
          width: 50%;
        }
        .width-33{
          max-width: 300px;
          min-width: none;
          width: 33%;
        }
        .title{
          max-width: 120px;
          min-width: 120px;
          z-index: 2;
          h4{
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
          }
        }
      }
      .services{
        .column{
          padding: 0 13px 13px 13px;
          @include borderRadius(3px 3px 0 0);
          .product-image{
            text-align: center;
            img{
              width: 70%;
            }
          }
          h2,h3{
            color: #62b056;
            margin: 2px 0;
            font-size: 13px;
            a{
              color: #62b056;
              text-decoration: none;
              &:hover{
                text-decoration: underline;
              }
            }
          }
          h2{
            text-transform: uppercase;
          }
          .star-rating{
            &__buttons{
              .md-icon-button{
                margin: 0;
              }
            }
          }
          button.md-primary{
            background-color: #666666;
            text-transform: none;
          }
          button.md-added{
            background-color: #65AF3F;
            ng-md-icon{
              fill: #fff;
              margin-right: 8px;
            }
          }
          button.md-add{
            background-color: inherit;
          }
          .adding-to-project{
            margin: 0;
            .md-button{
              height: 30px;
              span {
                text-transform: none;
              }
            }
            .close{
              width: 34px;
              min-width: 36px;
            }
          }
        }
        .title{
          padding: 13px;
        }
      }
      .specifications{
        .column{
          @include borderRadius(0 0 3px 3px);
          p{
            margin: 0 0 5px 0;
          }
        }
      }
    }
  }
}

.dmc-dialog-compare{
  overflow-y:scroll;
  display: block;
  text-align: center;
  .compare-widget{
    display: inline-block;
    text-align: left;
    max-height: none;
    margin: 50px 0;
    min-width: 966px;
  }
}


.btn-box{
  position: absolute;
  top: 50%;
  bottom: 50%;
  z-index: 3;
  margin-top: -25px;
  button{
    width: 45px;
    min-width: 45px;
    height: 120px;
    margin: 0;
    opacity: 0.34;
    @include borderRadius(0);
  }
  button:hover{
    opacity: 1;
  }
}
.right-btn{
  right: 4px;
  text-align: right;
}
.left-btn{
  left: 150px;
}
