.company-profile {

	md-divider{
		margin: 16px 0;
	}

	.flow-box{
		margin: 0;
	}
	.company-profile-header {

		padding-left: 16px;
		h2 {
			font-size: 21px;
			margin: auto 0;
			font-weight: normal;
			text-transform: capitalize;

			span {
				margin-left: 5px;
				font-size: 14px;
			}
		}
		h3{
			font-size: 14px;
			margin: 10px 0px 0;
			font-weight: normal;
			text-transform: capitalize;
			a {
				color: inherit;
				text-decoration: none;
			}
		}
		a{
			text-decoration: none;
			color: inherit;
			font-size: 14px;
			margin-left: 16px;
			text-transform: uppercase;
			&:hover{
				text-decoration: underline;
			}
		}
		.header-icon{
			width: auto;
			min-width: 25px;
			height: 25px;
			color: grey;
		}
		.add{
			text-transform: initial;
			margin-bottom: 0;
			margin-top: 0;
			height: 47px;
		}
		.save{
			// &:hover{
			//   color: white;
			//   background-color: #65AF3F;
			// }
			text-transform: initial;
			// color: white;
			// background-color: #65AF3F;
			margin-bottom: 0;
			margin-top: 0;
			height: 47px;
		}
		.cancel{
			text-transform: initial;
			margin-bottom: 0;
			margin-top: 0;
			height: 47px;
		}
		.invite{
			md-select{
				margin: 0;
			}
			.md-button{
				margin-top: 0;
				margin-bottom: 0;
			}
			.cancelProject,
			.addProject{
				min-width: 36px;
			}
			.addProject{
				text-transform: none;
			}
		}
	}

	&-image{
		width: 100%;
		height: auto;
	}

	&-description{
		padding-bottom: 16px;
	}

	&-list{
		padding: 0;
		.md-subheader-inner{
			padding: 0;
		}
		md-list-item{
			padding: 8px 0px;
			min-height: 30px;
			ng-md-icon{
				padding-right: 16px; 
			}

			h2{
				font-size: 14px;
				font-weight: normal;
				margin: 0;
				a{
					color: black;
				}
			}
			h3{
				font-size: 11px;
				font-weight: normal;
				margin: 0;
			}
		}
	}

	.vertikal-divider{
		border-left: 1px solid rgba(0,0,0,0.12);
		margin: 0 16px;
	}
	
	.viewAll{
		font-size: 14px;
		color: #000;
		text-decoration: none;
		cursor: pointer;
		text-transform: uppercase;
		&:hover{
			text-decoration: underline;
		}
	}
		.padding-contact-card{
			padding: 8px;
		}
	.md-button.viewAll{
    margin-right: 0;
		&:hover{
			text-decoration: none;
		}
	}
	md-subheader{
		.viewAll{
			margin-left: 16px;
		}
	}
	.text-row{
		margin-top: 16px;
		h2{
			margin: 0;
		}
	}

	.images-carousel{
		.arrow-right,
		.arrow-left{
			width: 36px;
			.md-button{
				min-width: 0;
				line-height: 62px;
				width: 36px;
				margin: 0;
				ng-md-icon{
					margin-left: -17px;
				}
			}
		}
		h2{
			font-weight: normal;	
		}
	}

	.contat-tab{
		margin: 16px 0;
		h2{
			text-transform: uppercase;
			margin: 8px 0;
			font-weight: normal;
		}
		h3{
			font-weight: normal;
		}
		h4{
			font-size: 14px;
			font-weight: normal;
		}
		.vertical-divider{
			border-right: 1px solid #999;
		}
		.contact{
			padding: 0 32px;
			h3,h4{
				margin: 8px 0;
			}
		}
	}


	.company-members{
		margin-top: 24px;
		h3{
			margin: 0;
			font-size: 20px;
			font-weight: normal;
		}
		h4{
			margin: 0 0 0 8px;
		}
		a{
			color: inherit;
		}
		md-divider{
			margin: 8px 0;
		}
		.padding-card{
			padding: 8px;
		}
	}




	.add-skills-form{
		.md-primary.md-default-theme.md-button{
			min-height: 36px;
			height: 36px;
			line-height: 36px;
			min-width: 0;
			margin-bottom: 15px;
			margin-left: 10px;
		}
	}
	.tabs-content{
		p,
		.add-specification{
			margin: 3px 0;
			color: black;
		}
		md-chips .md-chips{
			box-shadow: none;
			.md-chip{
				border-radius: 0px;
				cursor: pointer;
				&:hover{
					text-decoration: underline;
				}
			}
			.skills-chip{
				padding-right: 32px;
				.md-icon-button{
					position: absolute;
					right: 0;
					top: 0;
					min-height: 32px;
					height: 32px;
					line-height: 32px;
					min-width: 32px;
					width: 32px;
					margin: 0;
				}
			}
		}
	}


	.reviews-rating{
		div:focus{
			outline: none;
		};
		p{
			cursor: default;
		}
	}
}