.company{
  &-content{
    .md-fab{
      background-color: #fff;
      &:not([disabled]):hover {
        background-color: #ddd;
      }
    }
    md-tabs.editable-featured {
      md-content{
        padding: 8px 0;
      }
      .product-card {
        width: 47%;
        margin: 5px;
      }
    }

    .title-input-edit{
      padding-bottom: 0;
    }
    .list-items{
      padding-top: 16px;
    }
    .one-item{
      position: relative;
      padding: 0 8px 15px 8px;
      .product-card{
        width: 100%;
      }
    }
    .company-buttons.md-button.md-default-theme {
      line-height: 36px;
      min-height: 0;
      text-decoration: underline;
      text-transform: none;
      &:hover{
        text-decoration: none;
      }
    }
    .company-buttons.md-button.md-raised.md-default-theme {
      text-decoration: none;
    }
    .md-button.md-default-theme.company-edit{
      text-transform: none;
      min-height: 0;
      line-height: 37px;
      height: 35px;
    }
    .company-edit-picture{
      right: 0;
      top: 0;
      position: absolute;
    }
    .md-icon-button.message-button {
      ng-md-icon {
        fill: #585858;
      }
      &:hover{
        ng-md-icon {
          fill: #64B045;
        }
      }
    }
  }
  &-image{
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &-title{
    .md-title{
      margin-bottom: 0;
      margin-top: 0;
    }
    p{
      font-size: 14px;
      margin-top: 0;
    }
    .read-more{
      color: #333;
      text-decoration: underline;
      cursor: pointer;
      &:hover{
        text-decoration: none;
        color: rgb(0,200,83);
      }
    }
  }
  &-search{
    .company-search-field{
      padding: 0 13px;
    }
    md-input-container{
      padding-bottom: 0;
    }
  }
  &-storefront-title{
    .md-title{
      margin-top: 0;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
}