.contact-us{
  &-top{
    background-color: #d9d9d9;
    font-size: 18px;
    color: #333;
    padding: 25px 0;
    h3{
      font-size: 19px;
      font-weight: 100;
      margin: 0;
    }
  }
  &-content{
    padding-top: 21px;
    h4{
      width: 100%;
      display: block;
      font-size: 18px;
      font-weight: 100;
      text-transform: uppercase;
      text-align: center;
    }
    .get-in-touch{
      padding: 0px 55px;
      border-left: 1px solid #aaa;
      .contact-block{
        margin-bottom: 34px;
        &:last-child{
          margin-bottom: 0;
        }
        ng-md-icon{
          fill: #444;
        }
        a,span{
          margin-left: 13px;
          font-size: 17px;
          color: #444;
        }
        a{
          color: #333;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}