.project{
    font-size: 16px;
}
h5.project-subtitle{
    padding-left: 8px;
    color: #666;
    font-weight: 600;
}

.project-documents a:nth-child(n+3){
    padding-top: 15px;
}

.project-updates{
    border: 2px;
    border-style: solid;
    text-align: center;
}
