.projects-list{
  margin-top: 21px;
  th{
    min-width: 100px;
  }
  td{
    text-transform: none !important;
    &:first-child a{
      font-size: 16px;
    }
  }
  .title{
    width: 50%;
  }
  .title-project{
    cursor: pointer;
  }
  .project-lead{
      color: #5e5e5e;
  }
}
.progress > span{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAIAAACgHXkXAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AYVDSkqpTImQQAAACRJREFUGNNjPPl/5a4z6x49ecGACuRkJNxMgpgY8IJR6aEmDQA4KgiRDUMXowAAAABJRU5ErkJggg==');
}

.timeline-event{
    background: #5e5e5e;
}
.timeline-event span{
    border-color: #5e5e5e transparent transparent transparent;
}
.timeline-event-box{
  cursor: default;
  &-content{
    overflow-wrap: break-word;
    h3{
      margin: 0px;
      padding-bottom: 10px;
      color: map-get($colors, secondary);
      font-size: 16px;
    }
    h4{
      margin: 0px;
      padding-bottom: 5px;
    }
  }
}
.timeline-month{
  text-align: center;
}