.documents{
  md-list{
    padding: 10px 16px;
    md-list-item{
      position: relative;
      padding: 5px 0;
      p{
        font-size: 13px;
      }
      .md-button{
        span {
          font-size: 13px;
          text-transform: none;
        }
      }
      .view{
        width: 50px;
        min-width: 50px;
        height: 36px;
        line-height: 36px;
      }
    }
  }
}
.documents-product{
  md-list{
    padding: 0;
    md-list-item{
      &:focus{
        outline:none;
      }
      position: relative;
      padding: 5px 16px;
      p{
        font-size: 13px;
      }
      .md-button{
        span {
          font-size: 13px;
          text-transform: none;
        }
      }
      .folderButton{
        margin: 0;
        height: 56px;
        min-height: 56px;
        text-align: left;
        width: 100%;
      }
      .view{
        width: 50px;
        min-width: 50px;
        height: 36px;
        line-height: 36px;
      }
    }
  }
}

.documents-folder{
  md-data-table-container{
    margin-top: 8px;
  }
  .header{
    padding: 0px 13px;
    .folder-title,
    .root{
      outline: none;
      font-size: 17px;
      cursor: pointer;
      ng-md-icon{
        fill: gray;
        svg{
          margin-top: -16px;
          position: absolute;
        }
      }
      span{
        white-space: nowrap;
        padding: 5px 0;
      }
    }
    .current-folder{
      font-weight: bold;
      color: #333;
      ng-md-icon{
        fill: #333;
      }
    }
    .folder-title{
      span{
        padding-left: 31px;
      }
    }
  }

  .file {
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .folder{
   cursor: pointer;
  }
  td{
    div{
      ng-md-icon{
        margin-right: 13px;
      }
    }
  }

}