.footer {
  background: map-get($colors, primary);
  color: white;
  text-align: center;
  position: relative;
  .copyright{
    text-align: left;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    p {
      padding-top: 9px;
    }
  }
  .copyright-home{
    width: 100%;
    display: block;
    padding-top: 0px;
    text-align: center;
  }
  .footer-menu{
    display: inline-block;
    position: relative;
    margin-bottom: 13px;
    ul{
      list-style: none;
      padding: 0;
      li{
        float: left;
        width: auto;
        padding: 0 8px;
        border-left: 1px solid #999;
        .md-button{
          text-transform: none;
          margin: 0;
          padding: 0 13px;
          color: #999;
          min-height: 0;
          line-height: 21px;
        }
        .md-button:hover{
          color: #eee;
        }
      }
      li:first-child{
        border-left: none;
      }
    }
  }
}
