//.container.index-container{
//  margin-top: -99px;
//  padding: 109px 8px 138px 8px;
//  margin-bottom: -128px;
//}
.home-feature {
  text-align: center;
  margin: 13px 10px;
  padding: 13px;
  min-width: 233px;
  @include borderRadius(3px);
  color:#333;
  text-decoration: none;
  &:hover{
    background-color: #DDD;
  }
  img{
    margin-bottom: 40px;
    width: 167px;
    background: #75BC52;
    @include borderRadius(3px);
  }
  h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
}