.individual-discussion{
	padding: 8px;
    .edit-btn.md-icon-button,
    .delete-btn.md-icon-button{
      width: 21px;
      margin-right: 0;
      margin-left: 13px;
    }
    .delete-tag-btn.md-icon-button{
      height: 30px;
      line-height: 28px;
      min-height: 0;
      min-width: 0;
      width: 23px;
      margin-right: 3px;
      margin-left: 0;
    }
    .save-editing-comment,
    .cancel-edit-comment{
      margin-right: 0;
      margin-left: 13px;
      text-transform: none;
    }
    .tag-chip{
      padding-right: 0;
    }
    .create-tag-box{
      md-input-container{
        padding-bottom: 8px;
      }
      button{
        margin-bottom: 0;
      }
    }
    .edit-text-box md-input-container{
      padding-bottom: 0;
    }
	.return{
		padding: 8px 0 24px;
	}
	a{
		color: inherit;
	}
	h2{
		font-weight: normal;
	}
	.padding{
		padding: 16px;
	}
	.left-column{
		//border: 1px solid #999;
		margin-right: 16px;
		background-color: #fff;
		.header{
			padding: 0 16px;
		}
		.message{
			padding: 16px;
		}
		.comment{
			padding: 16px;
			border-bottom: 1px solid #999;
            background-color: #d0d0d0;
            &.isOwner{
              background-color: #fff;
            }
			.comment-header{
				height: 65px;
				img{
					height: 100%;
					width: auto;
					margin-right: 16px;
				}
				h3{
					font-weight: normal;
					a{
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
			.text{
				padding: 16px 0;
			}
			.comment-footer{
				p {
					margin: 0;
				}
				.md-button{
					margin: 0;
					width: auto;
					min-width: 20px;
					height: 20px;
					min-height: 20px;
					line-height: 20px;
					text-transform: none;
				}
			}
		}
		.reply{
			padding-left: 36px;
			.comment-header{
				height: 65px;
				img{
					height: 100%;
					width: auto;
					margin-right: 16px;
				}
				h3{
					font-weight: normal;
					a{
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
			.text{
				padding: 16px 0;
			}
			.comment-footer{
				p {
					margin: 0;
				}
				.md-button{
					margin: 0;
					width: auto;
					min-width: 20px;
					height: 20px;
					min-height: 20px;
					line-height: 20px;
					text-transform: none;
				}
			}
		}

		form[name=CommentForm]{
			padding: 15px;;
            background-color: #d0d0d0;
		}
	}
	.right-column{
		margin-left: 16px;
		.related{
			background-color: #fff;
			h2{
				padding: 0 16px;
				font-weight: normal;
			}
			h3{
				font-weight: normal;
			}
			md-list{
				md-list-item{
					a{
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
					height: 36px;
					min-height: 36px;
					line-height: 36px;
				}
			}
		}
		.tags{
			//for version 1
			//margin-top: 32px;
			padding: 0 8px 16px;
			background-color: #fff;
            & .edit-title-tags{
              margin-bottom: 0;
            }
			h2{
				font-weight: normal;
			}
			md-chips .md-chips{
			box-shadow: none;
				md-chip{
					border-radius: 0px;
					cursor: pointer;
					&:hover{
						text-decoration: underline;
					}
				}
				.tags-chip{
					padding-right: 32px;
					.md-icon-button{
						position: absolute;
						right: 0;
						top: 0;
						min-height: 32px;
						height: 32px;
						line-height: 32px;
						min-width: 32px;
						width: 32px;
						margin: 0;
					}
				}
			}
		}
	}

}

.compose-discussion{
	padding: 16px;
	.left-column{
		border: 1px solid grey;
		margin-right: 16px;
		.header{
			border-bottom: 1px solid grey;
			padding: 0 8px;
			text-align: center;
		}
		.message{
			padding: 8px;
		}
	}
	.right-column{
		border: 1px solid grey;
		padding: 8px;
		.add-tags-form{
			.md-button{
				height: 36px;
				line-height: 36px;
				min-height: 36px;
				min-width: 0;
				width: 64px;
			}
		}
    md-chips .md-chips{
      box-shadow: none;
      md-chip{
        border-radius: 0px;
        a{
          text-decoration: none;
          color: inherit;
        }
      }
      .tags-chip{
        padding-right: 32px;
        .md-icon-button{
          position: absolute;
          right: 0;
          top: 0;
          min-height: 32px;
          height: 32px;
          line-height: 32px;
          min-width: 32px;
          width: 32px;
          margin: 0;
        }
      }
    }
	}
}