.label {
  font-size: 10px;
  font-weight: bold;
  color: white;
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  background: map-get($colors, #fff);
  &--warn {
    background: map-get($colors, label_warn_bg);
  }
  &--today {
    background: map-get($colors, brown);
  }
  &--date {
    background: map-get($colors, #fff);
    color: #333;
    font-size: 13px;
    font-weight: 100;
    padding: 5px 0;
  }
  &--tomorrow{
    background: map-get($colors, yellow );
    color: #362d00;
  }
}