$topHeader: #0A0B0C;
$topHeaderIcon: #FFF;
$countMessageBackground: #65AF3F;
$countMessageText: #FFF;
$HeaderButtonText: #FFF;
$bottomHeader: #363636;
$navigation: #FFF;
$navigationArrow: #65AF3F;
$navigationActive: #65AF3F;

.space-header{
  position: relative;
  width: 100%;
  height: 110px;
}

.message-container{
  md-menu-item{ 
    height: auto;
    a{
      line-height: 1.5;
      max-width: 200px;
      white-space: normal;
    }
  }
}

.main-header{
  top: 0;
  z-index: 25;
  position: fixed;
  width: 100%;

  .header-padding{
    padding: 0 30px;
  }
  md-menu{
    margin: 0;
    padding: 0;
  }

  .top-header {
    background-color: $topHeader;
    height: 55px;
    .logo{
      min-width: 191px;
    }
    .info-button{
      .md-button{
        min-height: 55px;
        height: 55px;
        min-width: 55px;
        width: 55px;
        margin: 0 10px;
        padding: 0;

        .count-message{
          color: $countMessageText;
          font-weight: bold;
          font-size: 10px;
          background-color: $countMessageBackground;
          border-radius: 50%;
          height: 15px;
          width: 15px;
          line-height: 16px;
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }

      ng-md-icon{
        fill: $topHeaderIcon;
      }
    }

    .user-button{
      min-height: 55px;
      height: 55px;
      line-height: 55px;
      margin: 0 0 0 20px;
      padding: 0;
      text-transform: none;
      color: $HeaderButtonText;
      ng-md-icon{
        fill: $topHeaderIcon;
      }

    }
  }

  .bottom-header {
    height: 55px;
    background-color: $bottomHeader;
    .navigation{
      .md-button{
        text-transform: initial;
        font-size: 18px;
        font-weight: 100;
        color: $navigation;
        height: 44px;
        min-height: 44px;
        line-height: 44px;
        margin: 0;
        &.active-page{
          color: $navigationActive;
        }

        ng-md-icon {
          margin: -4px -13px 0;
          fill: $navigationArrow;
          svg {
            vertical-align: middle;
          }
        }
      }
      .item{
        margin: 0 16px;
        &:first-child{
          margin-left: 0px;
        }
        &:last-child{
          margin-right: 0px;
        }
      }
    }

    .search{
      ng-md-icon {
        margin-right: 16px;
        svg {
          vertical-align: middle;
        }
      }
      md-input-container{
        padding: 0;
        width: 270px;
        md-icon{
          left: 40px;
          top: 5px;
          color: #B3B3B3;
          ng-md-icon {
            margin-right: -26px;
            z-index: 2;
            svg {
              vertical-align: middle;
            }
          }
        }
        &:not(.md-input-invalid).md-input-focused md-icon{
          color: #fff;
        }
        input{
          background-color: #5E5E5E;
          @include borderRadius(3px);
          padding-left: 30px;
          font-size: 15px;
          color: #fff;
        }
      }
    }
  }
}

.header-menu-content.md-default-theme{
  a.md-button {
    line-height: 3.2;
  }
}