.member{
    font-size: 16px;
}

h5.member-subtitle{
   color: #65af3f;
   font-weight: normal;
   margin-top: -15px;
   padding-left: 25px;
}

p.member-header{
  color: black;
  font-size: 30px;
  font-weight: lighter;
  text-transform: uppercase;
}

.company-logo{
  height: auto;
  margin-left: 20px;
  width: 80%;
}

.member-description{
  margin-top: 10px;
}

.member-contacts{
  margin-top: 45px;
}

.member-contacts h2{
  color: #65af3f;
   font-weight: 400;

   text-transform: uppercase;
}


.contact{
  margin-bottom: 50px;
  margin-left: 25px;
}

.member-project{
  background-color: #fafafa;
   border-radius: 3px;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
   margin: 15px;
   padding: 15px;
}
