.my-projects-container{
  padding: 8px 24px 24px 24px;
}
.md-toolbar-tools.my-projects-title{
  padding: 0;
  .btn-add-project{
  	line-height: 0;
    span{
      padding: 0;
    }
  }
}
.margin-dropdown{
  margin-top: 46px;
  margin-left: 16px;
}