.my-projects-container{
  .content-panel{
    padding: 0;
  }
  .rp-panel__tab-content md-content{
    padding: 0;
    max-width: 30%;
  }
  .tags,
  .overview{
    h3{
      margin: 0 0 8px 0;
      font-size: 16px;
    }
    p{
      padding: 0;
      font-size: 15px;
      margin: 0;
    }
  }
  .tags{
    margin-left: 25px;
    max-width: 35%;
  }
  .accept,
  .decline,
  .join,
  .request-to-join{
    margin-left: 10px;
    margin-right: 5px;
    ng-md-icon{
      margin-right: 8px;
    }
  }
}
.md-toolbar-tools.my-projects-title{
  padding: 0;
  .btn-add-project{
  	line-height: 0;
    span{
      padding: 0;
    }
  }
  .add-project-button{
    font-size: 15px !important;
  }
}
.margin-dropdown{
  margin-top: 46px;
}