.my-projects-container{
  .content-panel{
    padding: 0;
  }
  .rp-panel__tab-content md-content{
    padding: 0;
    max-width: 30%;
  }
}
.md-toolbar-tools.my-projects-title{
  padding: 0;
  .btn-add-project{
  	line-height: 0;
    span{
      padding: 0;
    }
  }
  .add-project-button{
    font-size: 15px !important;
  }
}
.margin-dropdown{
  margin-top: 46px;
}