.profile {
  md-divider{
    margin: 16px 0;
  }

  .flow-box{
    margin: 0;
  }
  .image-profile-box{
    position: relative;
    .remove-picture{
      top: 3px;
      right: 3px;
      position: absolute;
    }
  }
  .profile-header {

    padding-left: 16px;
    h2 {
      font-size: 21px;
      margin: auto 0;
      font-weight: normal;
      text-transform: capitalize;

      span {
        margin-left: 5px;
        font-size: 14px;
      }
    }
    h3{
      font-size: 14px;
      margin: 10px 0px 0;
      font-weight: normal;
      text-transform: capitalize;
      a {
        color: inherit;
      }
    }
    .header-icon{
      width: auto;
      min-width: 25px;
    }
    .add{
      text-transform: initial;
      margin-bottom: 0;
      margin-top: 0;
      height: 47px;
    }
    .save{
      // &:hover{
      //   color: white;
      //   background-color: #65AF3F;
      // }
      text-transform: initial;
      // color: white;
      // background-color: #65AF3F;
      margin-bottom: 0;
      margin-top: 0;
      height: 47px;
    }
    .cancel{
      text-transform: initial;
      margin-bottom: 0;
      margin-top: 0;
      height: 47px;
    }
    .link-to-project{
      margin-left: 8px;
      width: 326px;
    }
    .invite{
      md-select{
        margin: 0;
        width: 270px;
      }
      .md-button{
        margin-top: 0;
        margin-bottom: 0;
      }
      .cancelProject,
      .addProject{
        min-width: 36px;
      }
      .addProject{
        text-transform: none;
      }
    }
    .cancelProject{
      min-width: 36px;
    }
  }

  &-image{
    width: 100%;
    height: auto;
  }

  &-description{
    padding-bottom: 16px;
  }

  &-list{
    padding: 0;
    .md-subheader-inner{
      padding: 0;
    }
    md-list-item{
      padding: 8px 0px;
      min-height: 30px;
      ng-md-icon{
        padding-right: 16px; 
      }

      h2{
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        a{
          color: black;
        }
      }
      h3{
        font-size: 11px;
        font-weight: normal;
        margin: 0;
      }
    }
  }

  .vertikal-divider{
    border-left: 1px solid rgba(0,0,0,0.12);
    margin: 0 16px;
  }
  
  .md-button.viewAll{
    font-size: 11px;
    color: grey;
    line-height: 36px;
    margin: 0;
  }






  .add-skills-form{
    .md-primary.md-default-theme.md-button{
      min-height: 36px;
      height: 36px;
      line-height: 36px;
      min-width: 0;
      margin-bottom: 15px;
      margin-left: 10px;
    }
  }
  .tabs-content{
    &.contact{
      padding: 8px 0;
      cursor: default;
      md-input-container{
        padding-bottom: 0;
        border-bottom: none;
        .md-input[disabled]{
          background-image: none;
        }
        input {
          padding: 0;
          color: #333;
        }
      }
      md-icon{
        margin-right: 15px;
      }
      label{
        color: #363636;
      }
      .title{
        font-size: 16px;
        margin-top: 5px;
        color: #363636;
      }
    }
    p,
    .add-specification{
      margin: 3px 0;
      color: black;
    }
    md-chips .md-chips{
      box-shadow: none;
      .md-chip{
        border-radius: 0px;
      }
      .skills-chip{
        padding-right: 32px;
        .md-icon-button{
          position: absolute;
          right: 0;
          top: 0;
          min-height: 32px;
          height: 32px;
          line-height: 32px;
          min-width: 32px;
          width: 32px;
          margin: 0;
        }
      }
    }
  }
  .reviews-rating{
    div:focus{
      outline: none;
    };
    .active-star{
      md-progress-linear {
        .md-container{
          background-color: #CCC;
          .md-bar2{
            background-color: #999;
          }
        }
      }
    }
    p{
      cursor: default;
    }
  }
}