.project-description{
  margin: 0;
  font-size: 14px;
}
.project-title{
  background-color: none;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 100;
  color: #363636;
  .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70%;
  }
  .due-date-project{
    margin-left: 15px;
    margin-bottom: 3px;
  }
  &.preview-page{
    margin: 0 0 3px 0;
  }
}

.preview-header{
  
    font-size: 24px;
}

.edit-button,
.invite-button{
  ng-md-icon {
    margin-right: 8px;
    svg {
      margin-bottom: -6px !important;
    }
  }
}
.edit-button{
  ng-md-icon {
    svg {
      margin-bottom: -3px !important;
    }
  }
}


.delete-project{
//  margin: 5px 0;
}

.all-project-members{
  .one-member{
    background-color: #fff;
    margin: 0 8px 8px 0;
    @include boxShadow(0px 3px 1px -2px rgba(0, 0, 0, 0.14),
            0px 2px 2px 0px rgba(0, 0, 0, 0.098),
            0px 1px 5px 0px rgba(0, 0, 0, 0.084));
    padding: 13px;
    .delete,
    .add{
      cursor: pointer;
      md-tooltip{
        font-size: 14px;
      }
      ng-md-icon{
        fill: #999;
        &:hover{
          fill: #333;
        }
      }
    }
    .avatar{
      margin-right: 13px;
      img{
        width: 50px;
      }
    }
    .company-name{
      font-size: 13px;
    }
    .name{
      margin-bottom: 8px;
      margin-top: 7px;
      h4{
        margin: 0;
        font-size: 16px;
        span{
          font-weight: 100;
          font-size: 12px;
          padding-left: 13px;
        }
      }
    }
  }
}

.project-title-edit{
  .project-title{
    margin-bottom: 0;
  }
}
.edit-project{
  .content-panel-header{
    md-toolbar{
      .md-toolbar-tools{
        padding: 0;
        height: 31px;
        button{
          margin-right: -16px;
        }
      }
    }
  }
}

.correct-ip{
  position: absolute;
  bottom: 26px;
  margin-left: -43px;
  fill: #4CAF50;
  right: -5px;
  input{
    padding-right: 28px;
  }
}

.project-tags-list{
  .tag{
    background-color: #eee;
    color: #363636;
    @include borderRadius(2px);
    margin: 0 8px 8px 0;
    font-size: 16px;
    padding-left: 10px;
    .md-button.md-icon-button{
      min-height: 0;
      width: 25px;
      height: 32px;
      line-height: 32px;
      min-width: 0;
    }
    &.without-delete{
      padding: 8px 10px;
      margin: 2px 4px 2px 0;
    }
  }
}

.dueDate-label{
  position: absolute;
  top: 7px;
  left: 3px;
  font-size: 12px;
  color: #ADADAD;
}