.product {
  padding: 16px 36px;
  .product-header {
    margin-bottom: 15px;
    h2 {
      font-size: 21px;
      margin: auto 0;
      font-weight: normal;
      text-transform: capitalize;

      span {
        margin-left: 5px;
        font-size: 11px;
      }
    }
    .header-icon{
      width: auto;
      min-width: 25px;
    }
    .add{
      text-transform: initial;
      margin-bottom: 0;
      margin-top: 0;
      height: 47px;
    }
    .save{
      &:hover{
        color: white;
        background-color: #65AF3F;
      }
      text-transform: initial;
      color: white;
      background-color: #65AF3F;
      margin-bottom: 0;
      margin-top: 0;
      height: 47px;
    }
    .cancel{
      text-transform: initial;
      margin-bottom: 0;
      margin-top: 0;
      height: 47px;
    }
  }

  .product-image{
    text-align: center;
    width: 425px;
    img{
      width: 100%;
      height: auto;
    }
    .main-image{
      padding-bottom: 16px;
    }
  }
  .product-image-modal{
    width:auto;
    padding-right: 16px 
  }

  .product-description{
    margin-top: 15px;
  }

  .tabs-content{
    p,
    .add-specification{
      margin: 3px 0;
      color: black;
    }
    md-chips .md-chips{
      box-shadow: none;
    }
    .included{
      padding: 8px;
      .product-card{
        width: 100%;
        padding-bottom: 16px
      }
    }
  }
  .md-button.viewAll{
    font-size: 11px;
    color: #65AF3F;
    line-height: 36px;
    margin: 0;
  }
}

.reviews{
  margin: 15px 0;
  .reviews-rating{
    .reviews-rating-header{
      padding: 0;
      h2{
        text-transform: uppercase;
        font-size: 21px;
        margin-right: 10px;
        font-weight: normal;
      }
      .md-button{
        color: #64B045;
      }
    }
    md-progress-linear {
      margin: auto 0 !important;
      height: 15px !important;
    }
    md-progress-linear > .md-container{
      height: 15px !important;
    }
    md-progress-linear > .md-container> .md-bar2 {
      height: 15px !important;
    }
    div {
      p{
        padding: 15px 0;
      }
      p:first-child {
        margin: 0 10px 0 0;
      }
      p:last-child{
        margin: 0 0 0 10px;
      }
    }
  }
}

  .new-review{
    padding: 10px;
    border: 1px solid #65AF3F;
    h2{
      font-size: 16px;
      margin: 0;
      font-weight: normal;
      color: #65AF3F;
    }
  }

.one-review-panel {
  margin-top: 15px;
  .md-toolbar-tools {
    background-color: transparent;
    height: auto;
  }
  h2 {
    font-size: 21px;
    margin: auto 5px;
    font-weight: normal;

    span {
      font-size: 11px;
    }
  }
  .new-review{
    md-select-value{
      height: 30px;
      span{
        font-size: 16px
      }
    }
  }
  span{
    font-size: 13px;
  }
  .one-review-footer {
    margin-top: 15px;
    a {
      text-decoration: none;
      color: #65AF3F;
    }
    .md-button{
      margin: 0;
      width: auto;
      height: auto;
    }
  }
}

.similar_product{
  h2{
    text-transform: uppercase;
    font-size: 21px;
    margin-right: 10px;
    font-weight: normal;
  }
}