.project-services{
  &-top{
    margin-bottom: 30px;
  }
  h2{
    font-weight: normal;
    margin: 0;
  }
  .register{
    font-size: 14px;
    text-transform: none;
  }

  md-list{
    font-size: 10px;
    h2{
      margin: 0;
    }
    a{
      text-decoration: none;
      color: rgba(0,0,0,0.87);
    }
    md-list-item{
      padding: 0 16px;
    }
    .header-list{
      padding: 16px 16px;
    }
    .editDelete{
      height: 36px;
      min-height: 36px;
      line-height: 36px;
      min-width: 36px;
      width: 36px;
      margin: 0;
    }
    .run{
      height: 36px;
      min-height: 36px;
      line-height: 36px;
      min-width: none;
      margin: 0;
    }
    md-divider{
      bottom: auto;
    }
    .row{
      width: 10%;
      margin-right: 16px;
      text-transform: capitalize;
      &.status{
        padding-right: 16px;
      }
    }
    .row-button{
      width: 8%;
    }
    .row-long{
      width: 20%;
      margin-right: 16px;
    }
  }
}

.project-upload-services{
  h2{
    text-transform: uppercase;
    font-weight: normal;
  }
  .content{
    background-color: #fff;
    padding: 15px;

    .view-interface{
      h2 {
        margin: 8px 0;
      }
      h3{
        margin: 8px;
        font-size: 17px;
      }
      md-content{
        height: 350px;
      }
      md-list-item{
        height: 36px;
        min-height: 36px;
        padding: 0 8px;
        &.selected{
          background-color: #65AF3F;
        }
        .md-list-item-inner{
          min-height: 36px;
        }
      }
    }

    .page1{
      .preview{
        height: 100%;
        padding-left: 16px;
      }
      md-content{
        margin-bottom: 0px;
        padding: 0px;
        border: 1px solid #ddd;
      }
      .interface{
        .loading-liner{
          height: 5px;
          width: 100%;
        }
        .folder-title,
        .main-title{
          outline: none;
          margin: 13px 0 3px 0;
          font-size: 14px;
          color: gray;
          cursor: pointer;
          ng-md-icon{
            fill: gray;
          }
          span{
            margin-top: -2px;
          }
          &:hover{
            text-decoration: underline;
          }
        }
        .main-title{
          font-size: 19px;
          color: #333;
          margin-left: 8px;
          span{
            margin-top: 0px;
          }
        }
        .current-folder{
          color: #333;
          cursor: default;
          ng-md-icon{
            fill: #333;
          }
          &:hover{
            text-decoration: none;
          }
        }
        .folder-title{

        }
        ul{
          list-style: none;
          margin: 0;
          padding-left: 0;
          li{
            cursor: pointer;
            outline: none;
            .name {
              padding: 7px 8px;
              font-size: 14px;
              border-top: 1px solid #ddd;
              ng-md-icon{
                margin-right: 8px;
              }
              &:hover {
                background-color: #f6f6f6;
              }
            }
            &:first-child{
              .name{
                border-top: none;
              }
            }
            &.selected{
              .name:hover,
              .name {
                background-color: #64B045;
              }
            }
          }
        }
      }
      md-input-container{
        div{
          visibility: hidden;
        }
        &.md-input-invalid{
          div{
            visibility: visible;
          }
        }
      }
    }
    h2{
      margin: 0 0 8px 0;
      text-transform: none;
      font-weight: normal;
    }
    .add{
      height: 36px;
      min-height: 36px;
      line-height: 36px;
      min-width: 70px;
      text-transform: none;
      margin-right: 0;
    }
    .add-server{
      margin-right: 0;
      height: 36px;
      min-height: 36px;
      line-height: 36px;
      min-width: 70px;
    }
  }

  .page2{
    .add-tags-form{
      .md-button{
        min-height: 36px;
        height: 36px;
        line-height: 36px;
      }
    }

    md-chips .md-chips{
      box-shadow: none;
      .tags-chip{
        padding-right: 32px;
        border-radius: 0;
        .md-icon-button{
          position: absolute;
          right: 0;
          top: 0;
          min-height: 32px;
          height: 32px;
          line-height: 32px;
          min-width: 32px;
          width: 32px;
          margin: 0;
        }
      }
    }
  }
}

.project-run-services{
  background-color: #fff;
  padding: 15px;
  h2{
    margin: 0;
    font-weight: normal;
    a{
      color: inherit;
      text-decoration: none;
    }
  }
  .md-button{
    background-color: white
  }
  .historyButton{
    margin: 0;
    color: inherit;
  }
  h3{
    margin: 0;
    font-weight: normal;
  }

  .outputs,
  .inputs{
    padding-right: 8px;
    h2{
      font-weight: normal;
    }

    md-content{
      height: 350px;
      border: 1px solid #b6b6b6;
      md-list{
        md-list-item{
          height: 54px;
          min-height: 54px;
          .md-list-item-inner{
            min-height: 54px;
          }
          .left{
            md-input-container{
              padding: 0;
              font-size: 14px;
            }
          }
          .right {
            cursor: ns-resize;
            font-size: 13px;
          }
        }
      }
    }
  }
  .outputs{
    padding-left: 8px;
    h2{
      height: 40px;
      line-height: 40px;
      font-weight: normal;
      margin-right: 10px;
    }
    .output{
      cursor: ns-resize;
    }
    md-content{
      height: 350px;
      border: 1px solid #b6b6b6;
      h2{
        height: inherit;
        line-height: inherit;
        color: rgba(0,0,0,0.54);
        font-size: 14px;
        margin-bottom: 3px;
      }
      h4{
        color: #b6b6b6;
        margin: 0;
      }
      h3{
        span{
          font-size: 14px;
        }
      }

    }
  }
}

.project-history-services{
  background-color: #fff;
  h2{
    margin: 0;
  }
  md-data-table-container{
    a{
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  md-content{
    height: 450px;
    border: 1px solid #b6b6b6;
    md-list{
      padding: 0;
      .listHeader{
        padding: 0 16px;
        .md-button{
          margin: 0;
          text-transform: none;
          font-weight: bold;
          text-align: left;
          ng-md-icon{
            transition: transform 0.25s;

            svg{
            }
          }
        }
        a.href-result:hover{
          text-decoration: underline;
        }
      }
      md-list-item{
        height: 36px;
        min-height: 36px;
        .md-list-item-inner{
          min-height: 36px;
        }
        a{
          text-decoration: none;
          color: inherit;
        }
        a.href-result:hover{
          text-decoration: underline;
        }
        ng-md-icon{
          margin-right: 4px;
        }
        div{
          padding: 0 6px;
        }

      }
    }
  }
}

.project-details-services{
  background-color: #fff;
  @include borderRadius(2px);
  padding: 15px;
  h2 {
    font-size: 21px;
    margin: 0;
    font-weight: normal;
    text-transform: capitalize;
    span {
      margin-left: 5px;
      font-size: 11px;
      a:hover{
        text-decoration:underline;
      }
    }
    a{
      text-decoration: none;
      color: rgba(0,0,0,0.87);
    }
  }
  .header{
    .stars{
      padding-top: 16px;
    }
  }
  h4{
    margin: 0;
  }
  md-chips .md-chips{
    box-shadow: none;
    .md-chip{
      border-radius: 0px;
      a{
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .return{
    margin: 0 0 16px;
    color: inherit;
  }
  .buttons{
    .md-icon-button{
      min-width: 0;
      width: 32px;
      min-height: 36px;
      line-height: 36px;
      height: 36px;
    }
    .reply{
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
    .md-button{
      margin-top: 0;
      margin-bottom: 0;
    }
    .follow{
      margin-right: 6px;
    }
  }
  .md-button.viewAll{
    font-size: 11px;
    color: #65AF3F;
    line-height: 36px;
    margin: 0;
  }
  .description{
    padding: 16px 0 36px;
  }
}

.modal-result{
  padding: 16px;

  overflow: hidden;
  h3{
    margin: 0;
  }
  .md-button.md-raised{
    margin: 24px 0;
  }
  .preview{
    height: 100%;
    h2 {
      margin: 8px;
    }
    md-content{
      height: 350px;
    }
    md-list-item{
      height: 36px;
      min-height: 36px;
      &.selected{
        background-color: #65AF3F;
      }
      .md-list-item-inner{
        min-height: 36px;
      }
    }
  }
}
