.project-description{
  margin: 0;
  font-size: 14px;
}
.project-title{
  background-color: none;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 100;
  color: #363636;
  .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70%;
  }
  .due-date-project{
    margin-left: 15px;
    margin-bottom: 3px;
  }
}

.preview-header{
  
    font-size: 24px;
}

.invite-button{
  ng-md-icon {
    margin-right: 8px;
    svg {
      margin-bottom: -4px;
    }
  }
}


.delete-project{
//  margin: 5px 0;
}

.all-project-members{
  .one-member{
    background-color: #fff;
    margin: 0 8px 8px 0;
    @include boxShadow(0px 3px 1px -2px rgba(0, 0, 0, 0.14),
            0px 2px 2px 0px rgba(0, 0, 0, 0.098),
            0px 1px 5px 0px rgba(0, 0, 0, 0.084));
    padding: 13px;
    .delete,
    .add{
      cursor: pointer;
      md-tooltip{
        font-size: 14px;
      }
      ng-md-icon{
        fill: #999;
        &:hover{
          fill: #333;
        }
      }
    }
    .avatar{
      margin-right: 13px;
      img{
        width: 50px;
      }
    }
    .company-name{
      font-size: 13px;
    }
    .name{
      margin-bottom: 8px;
      margin-top: 7px;
      h4{
        margin: 0;
        font-size: 16px;
        span{
          font-weight: 100;
          font-size: 12px;
          padding-left: 13px;
        }
      }
    }
  }
}

.project-title-edit{
  .project-title{
    margin-bottom: 0;
  }
}
.edit-project{
  .content-panel-header{
    md-toolbar{
      .md-toolbar-tools{
        padding: 0;
        height: 31px;
        button{
          margin-right: -16px;
        }
      }
    }
  }
}