.profile {
  padding: 8px;

  md-divider{
    margin: 16px 0;
  }
  &-padding{
    padding: 16px;
  }
  &-header {

    padding-left: 16px;
    h2 {
      font-size: 21px;
      margin: auto 0;
      font-weight: normal;
      text-transform: capitalize;

      span {
        margin-left: 5px;
        font-size: 14px;
      }
    }
    h3{
      font-size: 14px;
      margin: 10px 0px 0;
      font-weight: normal;
      text-transform: capitalize;
    }
    .header-icon{
      width: auto;
      min-width: 25px;
    }
    .add{
      text-transform: initial;
      margin-bottom: 0;
      margin-top: 0;
      height: 47px;
    }
  }

  &-image{
    width: auto;
    height: auto;
  }

  &-description{
    padding-bottom: 16px;
  }

  &-list{
    padding: 0;
    .md-subheader-inner{
      padding: 0;
    }
    md-list-item{
      padding: 8px 0px;
      min-height: 30px;
      ng-md-icon{
        padding-right: 16px; 
      }

      h2{
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        a{
          color: black;
        }
      }
      h3{
        font-size: 11px;
        font-weight: normal;
        margin: 0;
      }
    }
  }

  .vertikal-divider{
    border-left: 1px solid rgba(0,0,0,0.12);
    margin: 0 16px;
  }
  
  .md-button.viewAll{
    font-size: 11px;
    color: #65AF3F;
    line-height: 36px;
    margin: 0;
  }






  .product-image-modal{
    width:auto;
    padding-right: 16px 
  }

  .product-description{
    margin-top: 15px;
  }

  .tabs-content{
    p,
    .add-specification{
      margin: 3px 0;
      color: black;
    }
    md-chips .md-chips{
      box-shadow: none;
    }
    .included{
      padding: 8px;
      .product-card{
        width: 100%;
        padding-bottom: 16px
      }
    }
  }
}