.content-panel-marketplace {
  .show-filter-input-container{
    margin-right: 30px;
  }
  margin: 0;
  &:first-child {
    padding-top: 0;
  }
  .content-panel-header {
    md-toolbar {
      background: none;
      min-height: 50px;
      .md-toolbar-tools {
        height: 50px;
      }
    }
    h2 {
      font-weight: normal;
      color: black;
      font-size: 23px;
    }
  }
  .content-panel-body {
    background-color: #FFF;
  }
}
.products-card{
  md-progress-linear{
    margin: 0px 0 21px 0 !important;
  }
  md-toolbar{
    .md-toolbar-tools{
      padding: 0 8px;
      h2{
        font-size: 21px !important;
      }
    }
  }
  .one-item{
    position: relative;
    padding: 0 8px 15px 8px;
    .product-card{
      width: 100%;
    }
  }
  .name-card{
    color: #000;
    padding: 0;
    font-weight: 100;
    font-size: 17px;
    text-transform: uppercase;
  }
  .content-panel-footer{
    text-align: center;
  }
  .total-items{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    color: #888;
    padding-bottom: 16px;
  }
  .text-center{
    text-align: center;
  }
}

dir-pagination-controls{
  ul{
    list-style-type: none;
    padding: 0;
    li{
      display: inline-block;
      margin: 0 4px;
      line-height: 34px;
      a{
        font-size: 17px;
        outline: none;
        text-decoration: none;
        width: 33px;
        height: 33px;
        color: #333;
        @include borderRadius(17px);
        text-align: center;
        float: left;
      }
      a:hover{
        background-color: #ddd;
      }
    }
    li:last-child,li:first-child{
      line-height: 31px;
      a {
        font-weight: bold;
        color: #999;
        font-size: 23px;
      }
    }
    .active{
      a,a:hover{
        background-color: #65AF3F;
        color: #fff;
        cursor: default;
      }
    }
  }
}