.publish-service{
  &-title{
    text-transform: uppercase;
    font-size: 19px;
  }
  &-marketplace {
    margin-top: 10px;
    .service{
      &-name{
        md-input-container{
          padding: 0 0 10px 0;
          min-width: 200px;
        }
      }
      &-description{
        md-input-container{
          padding-bottom: 0;
        }
      }
      &-tags,
      &-specifications{
        margin-top: 15px;
        .one-specification{
          margin: 5px 0;
        }
        h3{
          margin-top: 0;
        }
        md-input-container{
          padding-bottom: 0;
        }
      }
      &-tags{
        .tag{
          display: inline-block;
          white-space: nowrap;
          margin-right: 8px;
          background-color: #ddd;
          padding-left: 13px;
          padding-right: 3px;
          @include borderRadius(3px);
          .md-button.md-icon-button{
            margin: 0;
            height: 0;
            width: 30px;
            line-height: 36px;
          }
          span{
            color:#333;
            font-size: 15px;
          }
        }
      }
      &-authors{
        .one-author{
          background-color: #fff;
          display: inline-block;
          vertical-align: top;
          width: 400px;
          min-width: 400px;
          max-width: 400px;
          position: relative;
          margin: 0 8px 8px 0;
          @include boxShadow(0px 3px 1px -2px rgba(0, 0, 0, 0.14),
                  0px 2px 2px 0px rgba(0, 0, 0, 0.098),
                  0px 1px 5px 0px rgba(0, 0, 0, 0.084));
          padding: 13px 55px 13px 13px;
          .delete-author{
            position: absolute;
            right: 0;
            top: 0px;
            cursor: pointer;
            margin: 0;
            md-tooltip{
              font-size: 14px;
            }
            ng-md-icon{
              fill: #999;
              &:hover{
                fill: #333;
              }
            }
          }
          .avatar{
            margin-right: 13px;
            img{
              width: 50px;
            }
          }
          .company-name{
            font-size: 13px;
          }
          .name{
            margin-bottom: 8px;
            margin-top: 7px;
            h4{
              margin: 0;
              font-size: 16px;
              span{
                font-weight: 100;
                font-size: 12px;
                padding-left: 13px;
              }
            }
          }
        }
      }
    }
    .md-button.md-default-theme.md-raised{
      &.add-tag,
      &.delete-specification,
      &.add-specification {
        margin: 0 0 0 13px;
      }
      &.delete-specification{
        min-width: 0;
      }
    }
    md-divider{
      margin: 21px 0px;
    }
  }
}
