.question-toast{
  padding: 0;
  background-color: #607D8B;
  .question{
    padding-left: 15px;
    padding-right: 8px;
  }
  .md-button{
    text-transform: none;
    min-width: 45px;
    background-color: #536C79;
    color: #fff;
  }
}