.release_bug{
      background: red none repeat scroll 0 0;
      color: white;
      padding: 5px;
}
.release_content{
      background: green none repeat scroll 0 0;
      color: white;
      padding: 5px;
}
.release_feature{
      background: purple none repeat scroll 0 0;
      color: white;
      padding: 5px;
}
.margin5px{
      margin: 5px;
}
