.review-widget {
  margin-top: 15px;
  .md-toolbar-tools {
    background-color: transparent;
    height: auto;
  }
  h2 {
    font-size: 21px;
    margin: auto 5px;
    font-weight: normal;

    span {
      font-size: 11px;
    }
  }
  span{
    font-size: 13px;
  }
  &-footer {
    margin-top: 15px;
    a {
      &:first-child{
        margin-right: 5px;
      }
      &:last-child{
        margin: 0 5px;
      }
      text-decoration: none;
      color: #65AF3F;
    }
    p {
      margin: 0;
    }
    .md-button{
      margin: 0;
      width: auto;
      min-width: 20px;
      height: 20px;
      min-height: 20px;
      line-height: 20px;
      text-transform: none;
    }
  }
  .show-reply{
    margin-left: 50px;
    .md-toolbar-tools{
      margin-top: 15px;
    }
  }
}

.new-review{
  padding: 10px;
  border: 1px solid #65AF3F;
  h2{
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    color: #65AF3F;
  }
  md-select-value{
    height: 30px;
    span{
      font-size: 16px
    }
  }
}
