.running-services-list {
  .services-time-info {
    display: block;
    font-size: 10px;
    padding-top: 2px;
    color: map-get($colors, text_grey);
  }
  .service-progress-info {
    display: block;
    padding-top: 10px;
    font-size: 10px;
    color: map-get($colors, text_grey);
  }
  .empty{
    border-top: none;
  }
  a{
    color: #333;
    text-decoration: none;
    width: 100%;
    span,em{
      font-style: normal;
      display: block;
      width: 100%;
    }
  }
  table tbody {
    tr:first-child td:first-child{
      padding-right: 5px;
    }
  }
  .md-button{
    min-width: 60px;
    margin: 0;
    width: auto;
  }
}

.services-item-progress{
  md-progress-linear.md-default-theme{
    min-width: 55px !important;
  }
}
md-list md-list-item.md-2-line .item-text-service{
  padding-right: 90px;
  h3{
    width: 100%;
  }
}
.service-list-item{
  min-height: 0;
  height: 45px;
  .md-secondary-container,
  .md-secondary,
  .md-list-item-inner .md-secondary-container,
  .md-list-item-inner .md-secondary {
    right: 0;
    width: 80px;
    min-height: 46px;
    top: 50%;
    margin-top: -19px;
    .service-progress-info{
      position: absolute;
      white-space: nowrap;
      width: 80px;
      right: 0;
      bottom: -3px;
    }
  }
  .title, .release-date{
    font-size: 14px;
  }
  .service-progress{
    &-info{
      margin-top: 5px;
    }
  }
}

.service-title{
  color: #333;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}