.stars-button{
  //display: inline-block;
  .md-button{
    padding: 0 2px;
    margin: 0;
    width: auto;
    height: auto;
    min-height:0;
    line-height: normal;
  }
}

.stars-value{
  display: inline-block;
  span {
    font-size: 12px;
    vertical-align: middle;
  }
}