.tree-menu {
    position: fixed;
    top: 125px;

  h1 {
    font-size: 14px;
    padding-left: 28px;
    margin-top: 0;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: map-get($colors, primary);
    display: block;
    padding: 5px;
    ng-md-icon {
      svg {
        vertical-align: middle;
      }
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 23px;
      a{
        cursor: pointer;
      }
      &.item-has-child {
        padding-left: 3px;
        a {
          padding-left: 0;
          ng-md-icon {
            padding-right: 0;
          }
        }
      }
    }
    li{
      a:hover{
        text-decoration: underline;
      }
    }
    ul {
      display: none;
      padding-left: 20px;
    }
    li{
      .selected{
        color: map-get($colors, link_color);
      }
    }
    .opened{
      ul{
        display: block;
      }
    }
  }
}

.horizontal-menu{
  margin: 0px 25px 20px 0px;
  .menu-title{
    border-right: 4px solid green;
    padding-right: 12px;
    margin-right: -1px;
  }
  .title{
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .category-column{
    border-left: 1px solid lightgrey;
    padding: 0px 10px;
    .category{
      padding: 0px 2px;
    }
    .category::before{
      content: "-";
    }
  }
  .selected{
    color: map-get($colors, secondary);
  }
}

.search-filter{
  md-content{
    padding: 0px 15px;
  }
}
