
.dropzone{
  border:2px dashed #ccc;
  @include borderRadius(5px);
  .dz-message{
    div{
      span{
        display: block;
      }
    }
  }
  .dz-remove-item{
    position: absolute;
    right: -8px;
    top: -8px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    @include borderRadius(15px);
    z-index: 11;
  }
}
.upload-documents{
  .md-button{
    min-height: 36px;
    height: 36px;
    line-height: 36px;
  }
  .md-button.save{
    &:hover{
      color: white;
      background-color: #65AF3F;
    }
    color: white;
    background-color: #65AF3F;
    margin-bottom: 0;
    margin-top: 0;
  }
}