
.dropzone{
  border:2px dashed #ccc;
  @include borderRadius(5px);
  .dz-message{
    div{
      span{
        display: block;
      }
    }
  }
  .dz-remove-item{
    position: absolute;
    right: -8px;
    top: -8px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    @include borderRadius(15px);
    z-index: 11;
  }
  .dz-preview .dz-error-message{
    top: 6px;
    width: 88px;
    left: 129px;
    padding: 8px;
    &:after{
      top: 45px;
      left: -6px;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-right: 6px solid #be2626;
      border-bottom: 6px solid transparent;
      border-left: none;
    }
  }
}
.upload-documents{
  md-list-item{
    border-bottom: 1px solid #ddd;
    p{
      padding: 8px 0;
    }
    &:last-child{
      border-bottom: none;
    }
  }
  .md-button{
    min-height: 36px;
    height: 36px;
    line-height: 36px;
  }
  .md-button.save{
    &:hover{
      color: white;
      background-color: #65AF3F;
    }
    color: white;
    background-color: #65AF3F;
    margin-bottom: 0;
    margin-top: 0;
  }
  md-input-container{
    padding: 0;
  }
}

.upload-list .doc-attr-group{
  margin-bottom: 15px;
  margin-left: 15px;
}

.upload-list{
  margin: 10px 0px 10px 0px;
  padding-bottom: 10px;
  border-color: grey;
  border-style: solid;
  border-width: 0px 0px 2px 0px;

}
