.item_vpe {
    margin: 20px 0px;
    background: #d9d9d9;
    padding: 10px;
    max-width: 500px;
  }

.title_vpe{
  font-size: 1.2em;
}


.help_vpe {
    padding:5px;
    color: black;
    font-weight: lighter;
    font-size: 1.1em;
    font-style:italic;
}

.unit_vpe{
  padding:5px;
}

.input_vpe{
  margin-top:10px;
  margin-bottom:10px;
}

.isActive {
  padding:5px 40px;
}

.vpc {
  width: 50%;
}

.vpc-padding {
  padding: 5px 40px;
}

.my-vpc-item {
  width: 95%;
}

.update-vpc-button {
  max-width: 100px;
}

.float-right {
  margin-left: auto;
}

.edit-company-profile .md-button.md-default-theme.delete-vpc-button {
  line-height: 10px;
  height: 20px;
}
