.tabs-history{
	.history-list{
		padding: 0;
		.header{
			.viewAll{
				margin-left: 16px;
				font-size: 14px;
				text-decoration: underline;
			}
		}

		md-list-item{
			padding: 8px 0px;
			min-height: 30px;
			ng-md-icon{
				padding-right: 16px; 
			}


			h2{
				font-size: 14px;
				font-weight: normal;
				margin: 0;
				a{
					color: black;
				}
			}
			h3{
				font-size: 11px;
				font-weight: normal;
				margin: 0;
			}
		}
	}

	.vertikal-divider{
		border-left: 1px solid rgba(0,0,0,0.12);
		margin: 0 16px;
	}
}

.tabs-statistic{
	margin-bottom: 15px;
	h2{
		margin-top: 24px;
	}
	.rate{
		height: 100%;
		padding-top: 36px;
		position: relative;
		h3{
			font-size: 16px;
			border: 1px solid #000;
			margin: 0;
			padding: 16px 16px 4px;
		}
		h4{
			position: absolute;
			left: 100%;
			visibility: hidden;
		}
		.cell1{
			border: 1px solid #000;
			border-top: none;
			height: 61px;
			background-color: #65AF3F;
			&:hover{
				h4{
					visibility: visible;
				}
			}
		}
		.cell2{
			border: 1px solid #000;
			border-top: none;
			height: 25px;
			background-color: yellow;
			&:hover{
				h4{
					visibility: visible;
				}
			}
		}
		.cell3{
			border: 1px solid #000;
			border-top: none;
			height: 25px;
			background-color: red;
			&:hover{
				h4{
					visibility: visible;
				}
			}
		}
	}

	.section{
		padding-top: 36px;
		h3{
			font-size: 16px;
			border: 1px solid #000;
			border-bottom: none;
			margin: 0;
			padding: 16px 16px 4px;
		}
		h4{
			font-size: 14px;
			margin: 4px 0;
			font-weight: normal;
		}
		h5{
			font-size: 18px;
			margin: 0;
		}
		.cell1{
			border: 1px solid #000;
			border-top: none;
			padding: 36px 16px 0;
		}
		.cell2{
			border: 1px solid #000;
			border-top: none;
			padding: 0px 16px;
		}
		.cell3{
			border: 1px solid #000;
			border-top: none;
			padding: 0px 16px;
		}
	}
}