//.image-box{
    .image-box{
      position: relative;
      padding: 0 16px;
      .img {
        overflow: hidden;
        width: 100%;
        height: auto;
        img {
          width: 100%;
        }
      }
      button{
        position: absolute;
        right: 16px;
        margin: 0;
        top: 3px;
        min-width: 0;
        ng-md-icon {
          fill: #555;
          background-color: rgba(255, 255, 255, 0.8);
          @include borderRadius(50%);
          height: 32px;
        }
        &:hover{
          ng-md-icon {
            fill: #C32E2E;
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
 // }