<div class="notifications" layout="column">
	<div layout="row" layout-align="space-between center">
		<h2>My Notifications <a href="/account.php#/1/notifications"><md-icon style="width:20px;height:20px;"
                                                                              md-svg-src="images/icon_project.svg"  ></md-icon></a></h2>
		<md-button ng-if="filterFlag" class="md-raised dmc-button" ng-click="reset()">View All</md-button>
	</div>
<md-content class="md-padding">
	<div layout="row" layout-align="space-between start">
		<div flex="30" class="section" ng-repeat="item in notifications track by $index" >
			<div class="cell1" layout layout-align="center center">
				<h2 ng-click="filtered('month', item.events, item.name)">{{item.name}}</h2>
			</div>
			<div class="cell2" layout="row" layout-align="space-between center">
				<h3 ng-click="filtered('today', item.events, item.name)">Today</h3>
				<h4>{{item.today}}</h4>
			</div>
			<div class="cell3" layout="row" layout-align="space-between center">
				<h3 ng-click="filtered('week', item.events, item.name)">This Week</h3>
				<h4>{{item.week}}</h4>
			</div>
			<div class="cell4" layout="row" layout-align="space-between center">
				<h3 ng-click="filtered('month', item.events, item.name)">This Month</h3>
				<h4>{{item.month}}</h4>
			</div>
		</div>
	</div>

	<div class="block" ng-if="version1 && !user && !filterFlag">
		<h2>Evaluate Project Submissions</h2>
		<div layout="row" layout-align="center center" class="first">
			<div flex="15">
				<img src="/uploads/company/picture/1/20160107065859000000.png">
			</div>
			<h4 flex>The Demo Project has closed. <a href="">Evaluate 56 submissions.</a></h4>
			<h4>2 hours ago</h4>
		</div>
	</div>

	<div class="block" ng-if="version1 && user && !filterFlag">
		<h2>Project invitations</h2>
		<div layout="row" layout-align="center center" class="first">
			<div flex="15">
				<img src="/uploads/company/picture/1/20160107065859000000.png">
			</div>
			<h4>John Smith has invited you to join <a href="">The Demo Project.</a></h4>
			<span flex></span>
			<md-button class="md-raised">
			Decline
			</md-button>
			<md-button class="md-raised">
			Accept
			</md-button>
			<span flex></span>
			<h4>2 hours ago</h4>
		</div>
	</div>

	<div class="block" >
		<div layout="row" layout-align="space-between center">
			<h2>{{typeNotifications}}</h2>
		</div>
		<md-list>
			<md-list-item ng-repeat="item in notificationsData | filter: filterBy">
				<div flex="100" layout="row" layout-align="center center" >
					<div flex="10">
						<img ng-src="{{item.image}}">
					</div>
					<h4 flex><a href="{{getItemDetails(item).link}}">{{getItemDetails(item).title}}</a></h4>
					<h4>{{item.date}}</h4>
				</div>
			<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
	</div>
</md-content>
</div>