<md-dialog class="dmc-project-sub-nav-dialog" >
    <md-dialog-content>
      <md-button ng-repeat="p in pages"
                 ui-sref="{{p.state}}"
                 class="dmc-project-sub-nav-dialog-btn"
                 ng-class="{'selected' : p.id === currentPage}">
        <ng-md-icon icon="{{p.icon}}"
                    style="fill: white"
                    ng-show="p.location != 'folder'"
                    size="120">
        </ng-md-icon>
        <div class="folder-icon"
             style="mask-image: url(images/{{p.icon}}.svg) center / contain no-repeat;
             -webkit-mask: url(images/{{p.icon}}.svg) center / contain no-repeat;"
             ng-show="p.location == 'folder'"></div>
        <div class="dmc-project-subnav-dialog-btn__caption">
          {{p.title}}
        </div>
      </md-button>
    </md-dialog-content>
</md-dialog>
