<div class="container project-box" ng-show="project" layout="row">
	<!--project-->
	<div class="content-column" flex='100'>
		<!--project-->
		<md-content class="project">
			<!--project header-->
			<div class="project-header">
				<div layout="row" layout-align="start center">
					<h1>{{project.projectTitle}}</h1>
					<h5 class="project-subtitle">{{project.dmdiiProjectStatus.statusName}}</h5>
				</div>
				<md-divider></md-divider>
				<span flex></span>
			</div>
			<div layout="row">
				<div flex="70">
					<!--project description-->
					<div class="project-overview">
						<h2>Overview</h2>
						<p class="slim-margin">{{project.projectSummary}}</p>
					</div>

					<md-divider></md-divider>

					<div class="project-updates">
						<h2>Project Updates</h2>
						<div layout="column" ng-repeat="update in project.updates">
							<span class="slim-margin">{{update.date}}</span>
								<h3 class="slim-margin">{{update.title}}</h3>
								<p class="slim-margin">{{update.description}}</p>
						</div>
					</div>

					<div layout="column" class="project-documents">
						<h2>Documents</h2>
						<a class="slim-margin" ng-repeat="doc in project.documents">{{doc.name}}</a>
					</div>
				</div>

				<div layout="row" flex="30" layout-align="end start">
					<div class="project-contributors">
						<h2 class="slim-side-margin">Project Contributors</h2>
						<div layout="column" ng-repeat="member in project.contributingCompanies">
							<h3 class="slim-margin no-bottom"><a ng-href="{{'/member-page.php#/'+member.companyId}}">{{member.name}}</a></h3>
							<span class="slim-margin">{{member.role}}</span>
						</div>
					</div>
				</div>
			</div>
		</md-content>
	</div>
</div>
