swagger: '2.0'
info:
  version: 1.0.0
  title: DMC Interface Definition
  description: |
    **REST service interface definitions for DMC**
host: dmc.com
basePath: /
schemes:
  - http
  - https
consumes:
  - application/json
  - text/xml
produces:
  - application/json
  - text/html
paths:
  /user:
    get:
      tags:
        - account
      description: Get currently logged in user details
      responses:
        '200':
          description: Sends the project with projectID
          schema:
            $ref: '#/definitions/UserDetails'
  '/accounts/{accountID}':
    get:
      tags:
        - account
      description: Get account information by account id
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
      responses:
        '200':
          description: Sends the account with accountID
          schema:
            $ref: '#/definitions/UserAccount'
    put:
      tags:
      - account
      description: Update account information by account id
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
        - name: account
          in: body
          schema:
            $ref: '#/definitions/UserAccount'
      responses:
        200:
          description: returns updated User Account
          schema:
            $ref: '#/definitions/UserAccount'
  '/accounts/{accountID}/account_servers':
    get:
      tags:
        - account
      description: Get servers by account id
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
      responses:
        '200':
          description: Sends the servers by account id
          schema:
            type: array
            items:
              $ref: '#/definitions/UserAccountServer'
  '/accounts/{accountID}/account-notification-settings':
    get:
      tags:
        - account
      description: Get account notification settings by accound id
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
      responses:
        '200':
          description: Sends account notification settings by account id
          schema:
            type: array
            items:
              $ref: '#/definitions/AccountNotificationSetting'
  '/account-notification-settings/{notificationSettingID}':
    get:
      tags:
        - account
      description: Get account notification setting by id
      parameters:
        - name: notificationSettingID
          in: path
          type: string
          description: ID of the account notification
          required: true
      responses:
        '200':
          description: Sends the notification information
          schema:
            $ref: '#/definitions/AccountNotificationSetting'
    put:
      tags:
      - account
      description: Update account notification by id
      parameters:
        - name: notificationSettingID
          in: path
          type: string
          description: ID of the account notification
          required: true
        - name: userNotificationSetting
          in: body
          schema:
            $ref: '#/definitions/AccountNotificationSetting'
      responses:
        200:
          description: returns updated account notification information
          schema:
            $ref: '#/definitions/AccountNotificationSetting'
  '/account-notification-categories':
    get:
      tags:
        - account
      description: Get categories and labels for Account Notification tab
      responses:
        '200':
          description: send an array of notification categories
          schema:
            type: array
            items:
              $ref: '#/definitions/AccountNotificationCategory'
  '/account_servers':
    post:
      tags:
        - account
      description: Create a new account server
      parameters:
        - in: body
          name: AccountServer
          description: server object to be created
          required: false
          schema:
            $ref: '#/definitions/UserAccountServer'
      responses:
        '201':
          description: new server added
          schema:
            $ref: '#/definitions/UserAccountServer'
  '/account_servers/{serverID}':
    get:
      tags:
        - account
      description: Get server by server id
      parameters:
        - name: serverID
          in: path
          type: string
          description: ID of the server
          required: true
      responses:
        '200':
          description: Sends the server information
          schema:
            $ref: '#/definitions/UserAccountServer'
    put:
      tags:
      - account
      description: Update server information by server id
      parameters:
        - name: serverID
          in: path
          type: string
          description: ID of the server
          required: true
        - name: server
          in: body
          schema:
            $ref: '#/definitions/UserAccountServer'
      responses:
        200:
          description: returns updated server information
          schema:
            $ref: '#/definitions/UserAccountServer'
    delete:
      tags:
        - account
      description: Delete a server by id
      parameters:
        - in: path
          name: serverID
          description: ID of server to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
  '/accounts/{accountID}/following_companies':
    get:
      tags:
        - account
      description: Get favorite storefronts
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
      responses:
        '200':
          description: return favorite storefronts
          schema:
            type: array
            items:
              $ref: '#/definitions/FollowingCompany'
  '/accounts/{accountID}/favorite_products':
    get:
      tags:
        - account
      description: Get all favorite services
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
        - name: _expand
          in: query
          type: array
          description: Get all favorite services and/or components
          items:
            type: string
          collectionFormat: multi
          required: true
          enum:
            - service
            - component
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
        - name: _title
          in: query
          description: Search by service/component title
          type: string
          required: false
        - name: _type
          in: query
          description: Filter by service/component type
          type: string
          required: false
          collectionFormat: multi
          enum:
            - analytical
            - solid
            - data
        - name: _authors
          in: query
          description: Filter by author
          type: array
          items:
            type: integer
          required: false
        - name: _ratings
          in: query
          description: Filter by rating
          type: array
          items:
            type: string
          required: false
        - name: _favorites
          in: query
          description: Filter by favorite items
          type: string
          required: false
        - name: _dates
          in: query
          description: Filter by date (7d - 7 days old, 1m - 1 month old, 1y - 1 year old)
          type: array
          items:
            type: string
          required: false
          collectionFormat: multi
          enum:
            - 7d
            - 1m
            - 1y
      responses:
        '200':
          description: Return favorite services/companies. One response object has service and serviceId or component and componentId.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                accountId:
                  type: integer
                serviceId:
                  type: integer
                componentId:
                  type: integer
                service:
                  $ref: '#/definitions/Service'
                component:
                  $ref: '#/definitions/Component'
  /projects:
    get:
      tags:
        - project
      description: Get all user projects
      responses:
        '200':
          description: return array of projects
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
    post:
      tags:
        - project
      description: Post a new project to store in the database
      operationId: postProject
      parameters:
        - in: body
          name: body
          description: Project object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/Project'
      responses:
        '405':
          description: Invalide input
  '/projects/{projectID}':
    get:
      tags:
        - project
        - project.php
      summary: Get project information by project id
      description: Get information about a project...
      operationId: findProjectByID
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
      responses:
        '200':
          description: Sends the project with projectID
          schema:
            $ref: '#/definitions/Project'
  '/projects/{projectID}/documents':
    get:
      tags:
        - project
        - document
      description: Get all documents in a project
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
      responses:
        '200':
          description: return all project documents
          schema:
            type: array
            items:
              $ref: '#/definitions/ProjectDocument'
  '/projects/{projectID}/following_discussions':
    get:
      tags:
        - project
        - discussion
      description: Get all project discussions being followed
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
      responses:
        '200':
          description: return all project discussions being followed
          schema:
            type: array
            items:
              $ref: '#/definitions/Discussion'
  /tasks/create:
    post:
      tags:
        - task
      summary: Post a new task
      description: Post a new task to store in the database
      operationId: postTask
      parameters:
        - in: body
          name: body
          description: Task object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/Task'
      responses:
        '405':
          description: Invalide input
  '/tasks/{taskID}':
    get:
      tags:
        - task
      summary: Get task information by task id
      description: Get information about a task...
      operationId: findTaskByID
      parameters:
        - name: taskID
          in: path
          type: string
          description: ID of the task
          required: true
      responses:
        '200':
          description: send the task with taskID
          schema:
            $ref: '#/definitions/Task'
  /services:
    post:
      tags:
        - service
      summary: Post a new service
      description: Post a new service to store in the database
      operationId: postService
      parameters:
        - in: body
          name: body
          description: Service object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/Service'
      responses:
        '405':
          description: Invalide input
  '/services/{serviceID}':
    get:
      tags:
        - service
        - marketplace
      summary: Get information for a service
      description: Get information about a service...
      operationId: findServiceByID
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: send the service with serviceID
          schema:
            $ref: '#/definitions/Service'
    put:
      tags:
      - service
      description: Update information for service by ID
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - name: service
          in: body
          schema:
            $ref: '#/definitions/Service'
      responses:
        200:
          description: returns updated service
          schema:
            $ref: '#/definitions/Service'
    patch:
      tags:
        - service
        - marketplace
      description: Update information for service by ID
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - name: service
          in: body
          schema:
            $ref: '#/definitions/Service'
      responses:
        200:
          description: returns updated service
          schema:
            $ref: '#/definitions/Service'
  '/services/{serviceID}/service_history':
    get:
      tags:
        - service
        - history
        - marketplace
      description: Get service history by service id
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - name: period
          in: query
          description: Filter by period
          type: string
          required: false
        - name: section
          in: query
          description: Filter by section
          type: string
          required: false
      responses:
        '200':
          description: return service history
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceHistory'
  '/services/{serviceID}/service-documents':
    get:
      tags:
        - service
        - document
        - marketplace
      description: Get all documents in a service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: return all service documents
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceDocument'
  '/services/{serviceID}/service_authors':
    get:
      tags:
        - service
        - marketplace
      description: Get all authors for a service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: return all authors for a service
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceAuthor'
  '/services/{serviceID}/services_statistic':
    get:
      tags:
        - service
        - marketplace
      description: Get all statistics for a service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: return all statistics for a service
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceStats'
  '/services/{serviceID}/service_tags':
    get:
      tags:
        - service
        - marketplace
      description: Get all tags for a service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: return all tags for a service
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceTag'
  '/service_tags':
    post:
      tags:
        - service
        - marketplace
      description: Create a new service tag
      parameters:
        - in: body
          name: ServiceTag
          description: Service tag to be created
          required: false
          schema:
            $ref: '#/definitions/ServiceTag'
      responses:
        '201':
          description: New service tag
          schema:
            $ref: '#/definitions/ServiceTag'
    get:
      tags:
        - service
        - marketplace
      description: Get latest service tag
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return latest service tag
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceTag'
  '/service_tags/{serviceTagID}':
    delete:
      tags:
        - service
      description: Delete a service tag
      parameters:
        - in: path
          name: serviceTagID
          description: ID of service tag
          required: true
          type: string
      responses:
        '204':
          description: OK
  '/service/{serviceID}/specifications':
    post:
      tags:
        - service
        - specification
      operationId: postServiceSpecification
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - in: body
          name: body
          description: body of specification
          required: true
          schema:
            $ref: '#/definitions/ServiceSpecification'
      responses:
        '200':
          description: post specification for service
  /components:
    post:
      tags:
        - component
      summary: Post a new component
      description: Post a new component to store in the database
      operationId: postComponent
      parameters:
        - in: body
          name: body
          description: Component object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/Component'
      responses:
        '405':
          description: Invalide input
  '/components/{componentID}':
    get:
      tags:
        - component
      summary: Get information for a component
      description: Get specification for a component based on componentID
      operationId: getComponentByServiceID
      parameters:
        - name: componentID
          in: path
          type: string
          description: ID of the component
          required: true
      responses:
        '200':
          description: send the component with componentID
          schema:
            $ref: '#/definitions/Component'
  '/popular_discussions':
    get:
      tags:
        - discussion
      description: Get popular discussions
      responses:
        '200':
          description: return popular discussions
          schema:
            type: array
            items:
              $ref: '#/definitions/Discussion'
  '/follow_people_discussions':
    get:
      tags:
        - discussion
      description: Get discussion of people being followed
      responses:
        '200':
          description: return discussions of people being
          schema:
            type: array
            items:
              $ref: '#/definitions/Discussion'
  '/following_discussions':
    get:
      tags:
        - discussion
        - dashboard.php
      description: Get discussion being followed
      responses:
        '200':
          description: return discussons being followed
          schema:
            type: array
            items:
              $ref: '#/definitions/Discussion'
  '/discussions':
    get:
      tags:
        - discussion
      description: Get all user relalted discussion
      responses:
        '200':
          description: return all user relalted discussion
          schema:
            type: array
            items:
              $ref: '#/definitions/Discussion'
  /discussions/create:
    post:
      tags:
        - discussion
      summary: Post a new discussion
      description: Post a new discussion to store in the database
      operationId: postDiscussion
      parameters:
        - in: body
          name: body
          description: Discussion object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/Discussion'
      responses:
        '405':
          description: Invalide input
  '/discussions/{discussionID}':
    get:
      tags:
        - discussion
      description: Get discussion based on discussionID
      operationId: getDiscussionByDiscussionID
      parameters:
        - name: discussionID
          in: path
          type: string
          description: ID of the discussion
          required: true
      responses:
        '200':
          description: send the discussion with discussionID
          schema:
            $ref: '#/definitions/Discussion'
  '/profiles/{profileID}':
    get:
      tags:
        - profile
      summary: Get information for a member profile
      description: Get profile based on profileID
      parameters:
        - name: profileID
          in: path
          type: string
          description: ID of the profile
          required: true
      responses:
        '200':
          description: send the profile with profileID
          schema:
            $ref: '#/definitions/Profile'
  '/profiles/{profileID}/profile_reviews':
    get:
      tags:
        - profile
      summary: Get reviews for a member profile
      description: Get profile reviews based on profileID
      parameters:
        - name: profileID
          in: path
          type: string
          description: ID of the profile
          required: true
      responses:
        '200':
          description: send the reviews with profileID
          schema:
            type: array
            items:
              $ref: '#/definitions/ProfileReview'
  '/companies/{companyID}':
    get:
      tags:
        - company
      summary: Get information for a company profile
      description: Get profile based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the company profile with companyID
          schema:
            $ref: '#/definitions/Company'
    patch:
      tags:
        - company
      description: Update information for company profile by ID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: company
          in: body
          schema:
            $ref: '#/definitions/Company'
      responses:
        200:
          description: returns updated company profile
          schema:
            $ref: '#/definitions/Company'
  '/companies/{companyID}/company_images':
    get:
      tags:
        - company
      summary: Get company profile images
      description: Get company profile images based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile images with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyImage'
  '/company_images/{imageID}':
    put:
      tags:
      - company
      description: Update company image by ID
      parameters:
        - name: imageID
          in: path
          type: string
          description: ID of the company image
          required: true
        - name: image
          in: body
          schema:
            $ref: '#/definitions/CompanyImage'
      responses:
        200:
          description: returns updated company image
          schema:
            $ref: '#/definitions/CompanyImage'
  '/companies/{companyID}/company_videos':
    get:
      tags:
        - company
      summary: Get company profile videos
      description: Get company profile videos based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile videos with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyVideo'
  '/companies/{companyID}/company_skills':
    get:
      tags:
        - company
      summary: Get company profile skill
      description: Get company profile skill based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile skill with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanySkill'
  '/companies/{companyID}/company_key_contacts':
    get:
      tags:
        - company
      summary: Get company profile contacts
      description: Get company profile contacts based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile contacts with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyKeyContact'
  '/companies/{companyID}/company_skill_images':
    get:
      tags:
        - company
      summary: Get company profile skill images
      description: Get company profile skill images based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile skill images with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanySkillImage'
  '/company_skill_images/{imageID}':
    put:
      tags:
      - company
      description: Update company skill image by ID
      parameters:
        - name: imageID
          in: path
          type: string
          description: ID of the company skill image
          required: true
        - name: image
          in: body
          schema:
            $ref: '#/definitions/CompanySkillImage'
      responses:
        200:
          description: returns updated company skill image
          schema:
            $ref: '#/definitions/CompanySkillImage'
  '/companies/{companyID}/company_reviews':
    get:
      tags:
        - company
      summary: Get reviews for a company
      description: Get company reviews based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the reviews with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyReview'
  '/companies/{companyID}/company_services':
    get:
      tags:
        - company
        - service
      description: Get company services based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
        - name: title_like
          in: query
          description: Search by service title
          type: string
          required: false
        - name: serviceType
          in: query
          description: Filter by service type (for service)
          type: string
          required: false
          collectionFormat: multi
          enum:
            - analytical
            - solid
            - data
        - name: _authors
          in: query
          description: Filter by author
          type: array
          items:
            type: integer
          required: false
        - name: _ratings
          in: query
          description: Filter by rating
          type: array
          items:
            type: string
          required: false
        - name: _favorites
          in: query
          description: Filter by favorite items
          type: string
          required: false
        - name: _dates
          in: query
          description: Filter by date (7d - 7 days old, 1m - 1 month old, 1y - 1 year old)
          type: array
          items:
            type: string
          required: false
          collectionFormat: multi
          enum:
            - 7d
            - 1m
            - 1y
      responses:
        '200':
          description: send the services with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/companies/{companyID}/company_components':
    get:
      tags:
        - company
        - component
      description: Get company components based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
        - name: title_like
          in: query
          description: Search by service title
          type: string
          required: false
        - name: serviceType
          in: query
          description: Filter by service type (for service)
          type: string
          required: false
          collectionFormat: multi
          enum:
            - analytical
            - solid
            - data
        - name: _authors
          in: query
          description: Filter by author
          type: array
          items:
            type: integer
          required: false
        - name: _ratings
          in: query
          description: Filter by rating
          type: array
          items:
            type: string
          required: false
        - name: _favorites
          in: query
          description: Filter by favorite items
          type: string
          required: false
        - name: _dates
          in: query
          description: Filter by date (7d - 7 days old, 1m - 1 month old, 1y - 1 year old)
          type: array
          items:
            type: string
          required: false
          collectionFormat: multi
          enum:
            - 7d
            - 1m
            - 1y
      responses:
        '200':
          description: send the components with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/Component'
  '/companies/{companyID}/company_featured':
    get:
      tags:
        - company
      summary: Get featured products for a company
      description: Get company featured products based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: _order
          in: query
          description: Order by DESC
          type: string
          collectionFormat: multi
          required: true
          enum:
            - DESC
        - name: _sort
          in: query
          description: Sort by position
          type: string
          required: true
          collectionFormat: multi
          enum:
            - position
        - name: _expand
          in: query
          description: Select all featured services and/or components
          type: array
          items:
            type: string
          collectionFormat: multi
          enum:
            - service
            - component
          required: true
      responses:
        '200':
          description: send an object with featured products based on companyID
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              services:
                type: array
                items:
                  $ref: '#/definitions/ServiceFeatured'
              components:
                type: array
                items:
                  $ref: '#/definitions/ComponentFeatured'
  '/companies/{companyID}/new':
    get:
      tags:
        - company
      description: Get new company services
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: _order
          in: query
          description: Order by DESC
          type: string
          collectionFormat: multi
          required: true
          enum:
            - DESC
        - name: _sort
          in: query
          description: Sort by id
          type: string
          required: true
        - name: _limit
          in: query
          description: Limit services
          type: string
          required: true
      responses:
        '200':
          description: send an object with new services based on companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/company_skills':
    post:
      tags:
        - company
      summary: Post a new company skill
      description: Post a new company skill
      parameters:
        - in: body
          name: CompanySkill
          description: skill object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/CompanySkill'
      responses:
        '201':
          description: new skill added to the database
          schema:
            $ref: '#/definitions/CompanySkill'
  '/company_skills/{skillID}':
    delete:
      tags:
        - company
      description: Delete a skill by id
      parameters:
        - in: path
          name: skillID
          description: ID of skill to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
  '/company_videos':
    post:
      tags:
        - company
      summary: Post a new company video
      description: Post a new company video
      parameters:
        - in: body
          name: body
          description: Video object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/CompanyVideo'
      responses:
        '201':
          description: new video added to the database
          schema:
            $ref: '#/definitions/CompanyVideo'
  '/company_videos/{videoID}':
    delete:
      tags:
        - company
      description: Delete a video by id
      parameters:
        - in: path
          name: videoID
          description: ID of video to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
    put:
      tags:
      - company
      description: Update company videos by ID
      parameters:
        - name: videoID
          in: path
          type: string
          description: ID of the company video
          required: true
        - name: video
          in: body
          schema:
            $ref: '#/definitions/CompanyVideo'
      responses:
        200:
          description: returns updated company video
          schema:
            $ref: '#/definitions/CompanyVideo'
  '/company_key_contacts':
    post:
      tags:
        - company
      summary: Post a new company contact
      description: Post a new company contact
      parameters:
        - in: body
          name: body
          description: contact object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/CompanyKeyContact'
      responses:
        '201':
          description: new contact added to the database
          schema:
            $ref: '#/definitions/CompanyKeyContact'
  '/company_key_contacts/{contactID}':
    delete:
      tags:
        - company
      description: Delete a contact by id
      parameters:
        - in: path
          name: contactID
          description: ID of contact to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
    put:
      tags:
      - company
      description: Update company contact by ID
      parameters:
        - name: contactID
          in: path
          type: string
          description: ID of the company contact
          required: true
        - name: contact
          in: body
          schema:
            $ref: '#/definitions/CompanyKeyContact'
      responses:
        200:
          description: returns updated company contact
          schema:
            $ref: '#/definitions/CompanyKeyContact'
  '/company/follow':
    post:
      tags:
        - company
      description: Follow company
      parameters:
        - name: accountId
          type: integer
          description: User account id
          in: query
          required: true
        - name: companyId
          type: integer
          description: Company id
          in: query
          required: true
      responses:
        '201':
          description: New followed company
          schema:
            type: object
            properties:
              id:
                type: integer
              accountId:
                type: integer
              companyId:
                type: integer
  '/company/unfollow/{followed_companiId}':
    delete:
      tags:
        - company
      description: Unfollow company
      parameters:
        - in: path
          name: followed_companiId
          type: integer
          description: Followed company id
          required: true
      responses:
        '200':
          description: OK
  '/company_featured/{company_featuredId}/position':
    patch:
      tags:
        - company
      description: Update featured position
      parameters:
        - in: path
          name: company_featuredId
          type: integer
          description: Company id
          required: true
        - in: query
          name: position
          type: integer
          description: new company featured position
          required: true
      responses:
        '202':
          description: Updated featured company
          schema:
            type: object
            properties:
              id:
                type: integer
              companyId:
                type: integer
              position:
                type: integer
              serviceId:
                type: integer
  '/company_featured/add':
    post:
      tags:
        - company
      description: Added new featured company
      parameters:
        - in: query
          name: companyId
          type: integer
          description: Company id
          required: true
        - in: query
          name: position
          type: integer
          description: Featured position
          required: true
        - in: query
          name: serviceId
          type: integer
          description: Service id
          required: true
      responses:
        '201':
          description: New featured company
          schema:
            type: object
            properties:
              id:
                type: integer
              companyId:
                type: integer
              position:
                type: integer
              serviceId:
                type: integer
  '/company_featured/{company_featuredId}':
    delete:
      tags:
        - company
      description: Delete featured company
      parameters:
        - in: path
          name: company_featuredId
          type: integer
          description: Featured company id
          required: true
      responses:
        '200':
          description: OK
  '/market/popular_services':
    get:
      tags:
        - service
        - marketplace
      description: Get popular services in marketplace
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return popular services in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/market/new_services':
    get:
      tags:
        - service
        - marketplace
      description: Get latest services in marketplace
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return latest services in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/market/services':
    get:
      tags:
        - service
        - marketplace
      description: Get all services in marketplace
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
        - name: title_like
          in: query
          description: Search by service title
          type: string
          required: false
        - name: serviceType
          in: query
          description: Filter by service type (for service)
          type: string
          required: false
          collectionFormat: multi
          enum:
            - analytical
            - solid
            - data
        - name: _authors
          in: query
          description: Filter by author
          type: array
          items:
            type: integer
          required: false
        - name: _ratings
          in: query
          description: Filter by rating
          type: array
          items:
            type: string
          required: false
        - name: _favorites
          in: query
          description: Filter by favorite items
          type: string
          required: false
        - name: _dates
          in: query
          description: Filter by date (7d - 7 days old, 1m - 1 month old, 1y - 1 year old)
          type: array
          items:
            type: string
          required: false
          collectionFormat: multi
          enum:
            - 7d
            - 1m
            - 1y
      responses:
        '200':
          description: return all services in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/market/components':
    get:
      tags:
        - service
        - marketplace
      description: Get all components in marketplace
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
        - name: title_like
          in: query
          description: Search by service title
          type: string
          required: false
        - name: serviceType
          in: query
          description: Filter by service type (for service)
          type: string
          required: false
          collectionFormat: multi
          enum:
            - analytical
            - solid
            - data
        - name: _authors
          in: query
          description: Filter by author
          type: array
          items:
            type: integer
          required: false
        - name: _ratings
          in: query
          description: Filter by rating
          type: array
          items:
            type: string
          required: false
        - name: _favorites
          in: query
          description: Filter by favorite items
          type: string
          required: false
        - name: _dates
          in: query
          description: Filter by date (7d - 7 days old, 1m - 1 month old, 1y - 1 year old)
          type: array
          items:
            type: string
          required: false
          collectionFormat: multi
          enum:
            - 7d
            - 1m
            - 1y
      responses:
        '200':
          description: return all components in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/Component'
  '/product/{serviceID}/product_reviews':
    get:
      tags:
        - service
        - marketplace
      description: Get all reviews service in marketplace
      parameters:
        - name: serviceID
          in: path
          type: integer
          description: service id in marketplace
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (date, like, rating)
          type: string
          required: false
        - name: rating
          in: query
          description: Sort by rating
          type: integer
          required: false
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
        - name: status
          in: query
          description: Sort by verified user
          type: boolean
          required: false
      responses:
        '200':
          description: return reviews service in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductReview'
      tags:
        - service
        - marketplace
      description: Get latest review service in marketplace
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return latest review service in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductReview'
  '/product_reviews':
    get:
    post:
      tags:
        - service
        - marketplace
      description: Added new review or reply service in marketplace
      parameters:
        - in: body
          name: body
          description: Review object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/ProductReview'
      responses:
        '201':
          description: return reviews service in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductReview'
  '/service_authors/{autorhId}':
    delete:
      tags:
        - service
        - marketplace
      description: Remove  with service author
      parameters:
        - in: path
          name: autorhId
          type: integer
          required: true
      responses:
        '200':
          description: OK
  '/follow-company-services':
    get:
      tags:
        - service
        - marketplace
      description: Get all services from favorite storefronts
      parameters:
        - name: companyId
          in: query
          description: Array of favorite companies id
          type: array
          items:
            type: integer
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return all services from favorite storefronts
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/favorite_products/{favorite_productId}':
    delete:
      tags:
        - service
        - account
      description: Delete service from favorites
      parameters:
        - name: favorite_productId
          in: path
          description: Favorite product id
          type: integer
          required: true
      responses:
        '200':
          description: OK
  '/favorite_products':
    post:
      tags:
        - service
        - account
      description: Add service to favorites
      parameters:
        - name: accountId
          in: query
          description: Account id
          type: integer
          required: true
        - name: serviceId
          in: query
          description: Service id
          type: integer
          required: true
      responses:
        '201':
          description: New favorite service
          schema:
            type: object
            properties:
              id:
                type: integer
              accountId:
                type: integer
              serviceId:
                type: integer
  '/notifications':
    get:
      tags:
        - notification
      description: Get all notifications for the user
      parameters:
        - name: period
          in: query
          description: value filters result by period
          type: string
          collectionFormat: multi
          required: false
          enum:
            - today
            - week
            - month
        - name: type
          in: query
          description: value filters result by type
          type: string
          required: false
          enum:
            - projects
            - services
            - task
            - contact
            - review
      responses:
        '200':
          description: return all notifications
          schema:
            type: array
            items:
              $ref: '#/definitions/UserNotification'
  '/notifications-statistic':
    get:
      tags:
        - notification
      description: Get all notification statistics for the user
      responses:
        '200':
          description: return all notification statistics
          schema:
            type: array
            items:
              $ref: '#/definitions/UserNotificationStat'
  '/announcements':
    get:
      tags:
        - community
      description: Get all community announcements
      responses:
        '200':
          description: return all community announcements
          schema:
            type: array
            items:
              $ref: '#/definitions/CommunityAnnouncemnt'
  '/events':
    get:
      tags:
        - community
      description: Get all community events
      responses:
        '200':
          description: return all community events
          schema:
            type: array
            items:
              $ref: '#/definitions/CommunityEvent'
  '/individual-discussion':
    get:
      tags:
        - discussion
        - community
      description: Get all community individual discussions
      responses:
        '200':
          description: return all community individual discussions
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/individual-discussion/{individualDiscussionID}/individual-discussion-comments':
    get:
      tags:
        - discussion
        - community
      description: Get all individual discussions comments
      parameters:
        - in: path
          name: individualDiscussionID
          description: ID of individual discussions
          required: true
          type: string
      responses:
        '200':
          description: return all all individual discussions comments
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussionComment'
  '/individual-discussion-comments':
    post:
      tags:
        - discussion
        - community
      description: Create a new individual discussions comment
      parameters:
        - in: body
          name: DiscussionComment
          description: Individual discussions comment to be created
          required: false
          schema:
            $ref: '#/definitions/IndividualDiscussionComment'
      responses:
        '201':
          description: New individual discussion comment
          schema:
            $ref: '#/definitions/IndividualDiscussionComment'
  '/individual-discussion-comments/{commentID}':
    delete:
      tags:
        - discussion
        - community
      description: Delete a individual discussions comment
      parameters:
        - in: path
          name: commentID
          description: ID of individual discussions comment
          required: true
          type: string
      responses:
        '200':
          description: OK
    put:
      tags:
        - discussion
        - community
      description: Update a individual discussions comment
      parameters:
        - name: commentID
          in: path
          type: string
          description: ID of the comment
          required: true
        - name: comment
          in: body
          schema:
            $ref: '#/definitions/IndividualDiscussionComment'
      responses:
        200:
          description: returns updated individual discussions comment
          schema:
            $ref: '#/definitions/IndividualDiscussionComment'
  '/individual-discussion/{individualDiscussionID}/individual-discussion-tags':
    get:
      tags:
        - discussion
        - community
      description: Get all individual discussions tags
      parameters:
        - in: path
          name: individualDiscussionID
          description: ID of individual discussions
          required: true
          type: string
      responses:
        '200':
          description: return all all individual discussions tags
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussionTag'
  '/individual-discussion-tags':
    post:
      tags:
        - discussion
        - community
      description: Create a new individual discussions tag
      parameters:
        - in: body
          name: DiscussionTag
          description: Individual discussions tag to be created
          required: false
          schema:
            $ref: '#/definitions/IndividualDiscussionTag'
      responses:
        '201':
          description: New individual discussion tag
          schema:
            $ref: '#/definitions/IndividualDiscussionTag'
  '/individual-discussion-tags/{disscusionTagID}':
    delete:
      tags:
        - discussion
        - community
      description: Delete a individual discussions tag
      parameters:
        - in: path
          name: disscusionTagID
          description: ID of individual discussions tag
          required: true
          type: string
      responses:
        '200':
          description: OK
definitions:
  FeatureImage:
    type: object
    properties:
      thumbnail:
        type: string
      large:
        type: string
  Tasks:
    type: object
    properties:
      totalItems:
        type: integer
      link:
        type: string
        description: it contains /projects/{projectID}/tasks, URL that returns JSON data of all project tasks.
  Discussions:
    type: object
    properties:
      totalItems:
        type: integer
      link:
        type: string
        description: it contains /projects/{projectID}/discussions, URL that returns JSON data for project specific blog discussion and live stream (e.g. anytime a service is ran, any new discussion, new services added, etc.)
  Services:
    type: object
    properties:
      totalItems:
        type: integer
      link:
        type: string
        description: it contains /project/{projectID}/services, URL that returns JSON data of all services in a project.
  Components:
    type: object
    properties:
      totalItems:
        type: integer
      link:
        type: string
        description: it contains /project/{projectID}/components, URL that returns JSON data of all components of the project.
  Project:
    type: object
    properties:
      id:
        type: string
      title:
        type: string
      projectManager:
        type: string
      featureImage:
        $ref: '#/definitions/FeatureImage'
      images:
        type: string
      description:
        type: string
      tasks:
        $ref: '#/definitions/Tasks'
      discussions:
        $ref: '#/definitions/Discussions'
      services:
        $ref: '#/definitions/Services'
      components:
        $ref: '#/definitions/Components'
  SimplifiedProject:
    type: object
    properties:
      id:
        type: string
      title:
        type: string
  Task:
    type: object
    properties:
      id:
        type: string
      title:
        type: string
      project:
        $ref: '#/definitions/SimplifiedProject'
      assignee:
        type: string
      reporter:
        type: string
      dueDate:
        type: string
        format: date-time
      priority:
        type: string
        format: date-time
  CurrentStatus:
    type: object
    properties:
      percentCompleted:
        type: number
      startDate:
        type: string
        format: date
      startTime:
        type: string
        format: time
      project:
        $ref: '#/definitions/SimplifiedProject'
  Service:
    type: object
    properties:
      id:
        type: string
      title:
        type: string
      description:
        type: string
      owner:
        type: string
      releaseDate:
        type: string
        format: date-time
      serviceType:
        type: string
      tags:
        type: array
        items:
          type: string
      specifications:
        type: string
      featureImage:
        $ref: '#/definitions/FeatureImage'
      currentStatus:
        $ref: '#/definitions/CurrentStatus'
      projectId:
        type: string
      from:
        type: string
  ServiceFeatured:
    type: object
    properties:
      id:
        type: string
      companyId:
        type: string
      position:
        type: integer
      serviceId:
        type: string
      service:
        type: object
        properties:
          id:
            type: string
          title:
            type: string
          description:
            type: string
          owner:
            type: string
          releaseDate:
            type: string
            format: date-time
          serviceType:
            type: string
          tags:
            type: array
            items:
              type: string
          specifications:
            type: string
          featureImage:
            $ref: '#/definitions/FeatureImage'
          currentStatus:
            $ref: '#/definitions/CurrentStatus'
          projectId:
            type: string
          from:
            type: string
          type:
            type: string
          favorite:
            type: boolean
          featureId:
            type: string
          position:
            type: integer
          inFeatured:
            type: boolean
  RunStats:
    type: object
    properties:
      success:
        type: number
      fail:
        type: number
  UsageStats:
    type: object
    properties:
      added:
        type: number
      members:
        type: number
  ServiceSpecification:
    type: object
    properties:
      id:
        type: string
      serviceId:
        type: string
      description:
        type: string
      input:
        type: number
      output:
        type: number
      usageStats:
        $ref: '#/definitions/UsageStats'
      runStats:
        $ref: '#/definitions/RunStats'
  Component:
    type: object
    properties:
      id:
        type: string
      title:
        type: string
      description:
        type: string
      owner:
        type: string
      releaseDate:
        type: string
        format: date-time
      tags:
        type: array
        items:
          type: string
      featureImage:
        $ref: '#/definitions/FeatureImage'
      services:
        type: array
        items:
          $ref: '#/definitions/Service'
      projectId:
        type: string
      type:
        type: string
  ComponentFeatured:
    type: object
    properties:
      id:
        type: string
      companyId:
        type: string
      position:
        type: integer
      serviceId:
        type: string
      component:
        type: object
        properties:
          id:
            type: string
          title:
            type: string
          description:
            type: string
          owner:
            type: string
          releaseDate:
            type: string
            format: date-time
          tags:
            type: array
            items:
              type: string
          featureImage:
            $ref: '#/definitions/FeatureImage'
          services:
            type: array
            items:
              $ref: '#/definitions/Service'
          projectId:
            type: string
          type:
            type: string
          favorite:
            type: boolean
          featureId:
            type: string
          position:
            type: integer
          inFeatured:
            type: boolean
  Discussion:
    type: object
    properties:
      id:
        type: string
      text:
        type: string
      full_name:
        type: string
      create_at:
        type: string
        format: date-time
      avatar:
        type: string
      projectID:
        type: string
  Profile:
    type: object
    properties:
      id:
        type: string
      displayName:
        type: string
      company:
        type: string
      jobTitle:
        type: string
      phone:
        type: string
      email:
        type: string
      location:
        type: string
      image:
        type: string
      description:
        type: string
      skills:
        type: array
        items:
          type: string
  ProfileReview:
    type: object
    properties:
      id:
        type: string
      profileId:
        type: string
      name:
        type: string
      reply:
        type: boolean
      reviewId:
        type: string
      status:
        type: boolean
      date:
        type: string
      rating:
        type: integer
      userRatingReview:
        type: object
      like:
        type: integer
      dislike:
        type: integer
      comment:
        type: string
  ProductReview:
    type: object
    properties:
      id:
        type: string
      productId:
        type: string
      productType:
        type: string
        enum:
          - services
          - components
      reply:
        type: boolean
      reviewId:
        type: string
      name:
        type: string
      status:
        type: boolean
      date:
        type: string
        format: date
      rating:
        type: integer
      userRatingReview:
        type: object
      like:
        type: integer
      dislike:
        type: integer
      comment:
        type: string
  Company:
    type: object
    properties:
      id:
        type: string
      accountId:
        type: string
      name:
        type: string
      location:
        type: string
      description:
        type: string
      division:
        type: string
      industry:
        type: string
      NAICSCode:
        type: string
      RDFocus:
        type: string
      customers:
        type: string
      awardsReceived:
        type: string
      technicalExpertise:
        type: string
      toolsSoftwareEquipmentMachines:
        type: string
      postCollaborations:
        type: string
      collaborationInterests:
        type: string
      pastProjects:
        type: string
      upcomingProjectInterests:
        type: string
      address:
        type: string
      city:
        type: string
      state:
        type: integer
      zipCode:
        type: string
      twitter:
        type: string
      linkedIn:
        type: string
      website:
        type: string
      methodCommunication:
        type: string
      email:
        type: string
      phone:
        type: string
      categoryTier:
        type: integer
      dateJoined:
        type: string
      reasonJoining:
        type: string
      featureImage:
        $ref: "#/definitions/FeatureImage"
      logoImage:
        type: string
      follow:
        type: boolean
      favoritesCount:
        type: integer
      isOwner:
        type: boolean
      owner:
        type: object
  CompanyReview:
    type: object
    properties:
      id:
        type: string
      companyId:
        type: string
      name:
        type: string
      reply:
        type: boolean
      reviewId:
        type: string
      status:
        type: boolean
      date:
        type: string
      rating:
        type: integer
      userRatingReview:
        type: object
      like:
        type: integer
      dislike:
        type: integer
      comment:
        type: string
  CompanyImage:
    type: object
    properties:
      id:
        type: string
      companyId:
        type: string
      url:
        type: string
      title:
        type: string
  CompanyVideo:
    type: object
    properties:
      id:
        type: string
      companyId:
        type: string
      title:
        type: string
      link:
        type: string
  CompanySkillImage:
    type: object
    properties:
      id:
        type: string
      companyId:
        type: string
      url:
        type: string
      title:
        type: string
  CompanySkill:
    type: object
    properties:
      id:
        type: string
      companyId:
        type: string
      name:
        type: string
  CompanyKeyContact:
    type: object
    properties:
      id:
        type: string
      companyId:
        type: string
      type:
        type: integer
      name:
        type: string
      phoneNumber:
        type: string
      title:
        type: string
      email:
        type: string
  ProjectDocument:
    type: object
    properties:
      id:
        type: string
      title:
        type: string
      projectId:
        type: string
      modifed:
        type: string
        format: dateTime
      size:
        type: string
      owner:
        type: string
      file:
        type: string
  ServiceAuthor:
    type: object
    properties:
      id:
        type: string
      serviceId:
        type: string
      display_name:
        type: string
      jobTitle:
        type: string
      follow:
        type: boolean
      avatar:
        type: string
      company:
        type: string
  ServiceStatsItem:
    type: object
    properties:
      today:
        type: number
      week:
        type: number
      all:
        type: number
  ServiceStats:
    type: object
    properties:
      id:
        type: string
      serviceId:
        type: string
      success_rate:
        $ref: '#/definitions/ServiceStatsItem'
      successful_runs:
        $ref: '#/definitions/ServiceStatsItem'
      incomplete_runs:
        $ref: '#/definitions/ServiceStatsItem'
      unavailable_runs:
        $ref: '#/definitions/ServiceStatsItem'
      runs_by_users:
        $ref: '#/definitions/ServiceStatsItem'
      unique_users:
        $ref: '#/definitions/ServiceStatsItem'
      average_time:
        $ref: '#/definitions/ServiceStatsItem'
  ServiceTag:
    type: object
    properties:
      id:
        type: string
      serviceId:
        type: string
      name:
        type: string
  ServiceDocument:
    type: object
    properties:
      id:
        type: string
      serviceId:
        type: string
      service-documentId:
        type: string
      owner:
        type: string
      title:
        type: string
      modifed:
        type: string
        format: dateTime
      size:
        type: string
      file:
        type: string
  NotificationsListItem:
    type: object
    properties:
      event:
        type: string
      created_at:
        type: string
        format: dateTime
      title:
        type: string
      link:
        type: string
  RunningServicesListItem:
    type: object
    properties:
      title:
        type: string
      serviceId:
        type: string
      projectId:
        type: string
      currentStatus:
        $ref: '#/definitions/CurrentStatus'
  MessagesListItem:
    type: object
    properties:
      user_name:
        type: string
      image:
        type: string
      text:
        type: string
      created_at:
        type: string
      title:
        type: string
      link:
        type: string
  UserDetails:
    type: object
    properties:
      displayName:
        type: string
      accountId:
        type: string
      profileId:
        type: string
      companyId:
        type: string
      role:
        type: string
      notifications:
        type: object
        properties:
          total:
            type: integer
          items:
            type: array
            items:
              $ref: '#/definitions/NotificationsListItem'
      runningServices:
        type: object
        properties:
          total:
            type: integer
          items:
            type: array
            items:
              $ref: '#/definitions/RunningServicesListItem'

      messages:
        type: object
        properties:
          total:
            type: integer
          items:
            type: array
            items:
              $ref: '#/definitions/MessagesListItem'
  UserAccountPrivacy:
    type: object
    properties:
      email:
        $ref: '#/definitions/UserAccountPrivacyItem'
      phone:
        $ref: '#/definitions/UserAccountPrivacyItem'
      location:
        $ref: '#/definitions/UserAccountPrivacyItem'
  UserAccountPrivacyItem:
    type: object
    properties:
      enable:
        type: boolean
      value:
        type: string
  UserAccount:
    type: object
    properties:
      id:
        type: string
      companyId:
        type: string
      profileId:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      displayName:
        type: string
      email:
        type: string
      deactivated:
        type: boolean
      location:
        type: string
      timezone:
        type: string
      privacy:
        type: object
        properties:
          public:
            $ref: '#/definitions/UserAccountPrivacy'
          private:
            $ref: '#/definitions/UserAccountPrivacy'
  UserAccountServer:
    type: object
    properties:
      id:
        type: string
      accountId:
        type: string
      name:
        type: string
      ip:
        type: string
      status:
        type: string
  AccountNotificationCategoryItem:
    type: object
    properties:
      id:
        type: string
      account-notification-categoryId:
        type: string
      title:
        type: string
  AccountNotificationCategory:
    type: object
    properties:
      id:
        type: string
      title:
        type: string
      position:
        type: number
      account-notification-category-items:
        type: array
        items:
          $ref: '#/definitions/AccountNotificationCategoryItem'
  AccountNotificationSetting:
    type: object
    properties:
      id:
        type: string
      accountId:
        type: string
      section:
        type: string
        enum:
          - 'website'
          - 'email'
      account-notification-category-itemId:
        type: string
      selected:
        type: boolean
  UserNotification:
    type: object
    properties:
      id:
        type: string
      image:
        type: string
      link:
        type: string
      period:
        type: string
        enum:
          - today
          - week
          - month
      type:
        type: string
        enum:
          - projects
          - services
          - task
          - contact
          - review
      date:
        type: string
        format: dateTime
      title:
        type: string
      linkTitle:
        type: string
  UserNotificationStat:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      type:
        type: string
        enum:
          - projects
          - services
          - task
          - contact
          - review
      today:
        type: number
      week:
        type: number
      month:
        type: number
  CommunityAnnouncemntComment:
    type: object
    properties:
      id:
        type: string
      accountId:
        type: string
      announcementId:
        type: string
      text:
        type: string
      created_at:
        type: string
        format: dateTime
  CommunityAnnouncemnt:
    type: object
    properties:
      id:
        type: string
      text:
        type: string
      created_at:
        type: string
        format: dateTime
      announcement_comments:
        type: array
        items:
          $ref: '#/definitions/CommunityAnnouncemntComment'
  CommunityEvent:
    type: object
    properties:
      id:
        type: string
      title:
        type: string
      date:
        type: string
        format: dateTime
      startTime:
        type: string
        format: dateTime
      endTime:
        type: string
        format: dateTime
      address:
        type: string
      description:
        type: string
  IndividualDiscussionComment:
    type: object
    properties:
      id:
        type: string
      individual-discussionId:
        type: string
      accountId:
        type: string
      full_name:
        type: string
      avatar:
        type: string
      text:
        type: string
      created_at:
        type: string
        format: dateTime
      userRatingReview:
        type: object
      like:
        type: number
      dislike:
        type: number
  IndividualDiscussion:
    type: object
    properties:
      id:
        type: string
      title:
        type: string
      comments:
        type: object
        properties:
          totalItems:
            type: number
          link:
            type: string
  IndividualDiscussionTag:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      individual-discussionId:
        type: string
  FollowingCompany:
    type: object
    properties:
      id:
        type: string
      accountId:
        type: string
      companyId:
        type: string
  ServiceHistory:
    type: object
    properties:
      id:
        type: string
      serviceId:
        type: string
      title:
        type: string
      date:
        type: string
        format: dateTime
      user:
        type: string
      link:
        type: string
      section:
        type: string
        enum:
          - project
          - marketplace
      period:
        type: string
        enum:
          - today
          - week