swagger: '2.0'
info:
  version: 1.0.0
  title: DMC Interface Definition
  description: |
    **REST service interface definitions for DMC**
host: dmc.com
basePath: /
schemes:
  - http
  - https
consumes:
  - application/json
  - text/xml
produces:
  - application/json
  - text/html
paths:
  /user:
    get:
      tags:
        - account
      description: Get currently logged in user details.  If user does not exist, create account.
      responses:
        '200':
          description: Sends the project with projectID
          schema:
            $ref: '#/definitions/UserDetails'
    patch:
      tags:
      - account
      - onboarding
      description: Update currently logged in user details
      parameters:
        - name: UserDetails
          in: body
          schema:
            $ref: '#/definitions/UserDetails'
      responses:
        200:
          description: returns updated User Details
          schema:
            $ref: '#/definitions/UserDetails'
  /user-basic-information:
    post:
      tags:
        - account
        - onboarding
      description: Set initial basic information for User after first login
      parameters:
        - in: body
          name: UserBasicInformation
          description: Basic information required after first login.
          required: false
          schema:
            $ref: '#/definitions/UserBasicInformation'
      responses:
        '201':
          description: updated user object
          schema:
            $ref: '#/definitions/UserBasicInformation'
  '/accounts/{accountID}':
    get:
      tags:
        - account
      description: Get account information by account id
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
      responses:
        '200':
          description: Sends the account with accountID
          schema:
            $ref: '#/definitions/UserAccount'
    patch:
      tags:
      - account
      description: Update account information by account id
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
        - name: account
          in: body
          schema:
            $ref: '#/definitions/UserAccount'
      responses:
        200:
          description: returns updated User Account
          schema:
            $ref: '#/definitions/UserAccount'
  '/accounts/{accountID}/account_servers':
    get:
      tags:
        - account
      description: Get servers by account id
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
      responses:
        '200':
          description: Sends the servers by account id
          schema:
            type: array
            items:
              $ref: '#/definitions/UserAccountServer'
  '/accounts/{accountID}/account-notification-settings':
    get:
      tags:
        - account
      description: Get account notification settings by accound id
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: Sends account notification settings by account id
          schema:
            type: array
            items:
              $ref: '#/definitions/AccountNotificationSetting'
  '/account-notification-settings/{notificationSettingID}':
    get:
      tags:
        - account
      description: Get account notification setting by id
      parameters:
        - name: notificationSettingID
          in: path
          type: string
          description: ID of the account notification
          required: true
      responses:
        '200':
          description: Sends the notification information
          schema:
            $ref: '#/definitions/AccountNotificationSetting'
    patch:
      tags:
        - account
      description: Update account notification by id
      parameters:
        - name: notificationSettingID
          in: path
          type: string
          description: ID of the account notification
          required: true
        - name: userNotificationSetting
          in: body
          schema:
            $ref: '#/definitions/AccountNotificationSetting'
      responses:
        200:
          description: returns updated account notification information
          schema:
            $ref: '#/definitions/AccountNotificationSetting'
  '/account-notification-categories':
    get:
      tags:
        - account
      description: Get categories and labels for Account Notification tab
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: send an array of notification categories
          schema:
            type: array
            items:
              $ref: '#/definitions/AccountNotificationCategory'
  '/account_servers':
    post:
      tags:
        - account
      description: Create a new account server
      parameters:
        - in: body
          name: AccountServer
          description: server object to be created
          required: false
          schema:
            $ref: '#/definitions/UserAccountServer'
      responses:
        '201':
          description: new server added
          schema:
            $ref: '#/definitions/UserAccountServer'
  '/account_servers/{serverID}':
    get:
      tags:
        - account
      description: Get server by server id
      parameters:
        - name: serverID
          in: path
          type: string
          description: ID of the server
          required: true
      responses:
        '200':
          description: Sends the server information
          schema:
            $ref: '#/definitions/UserAccountServer'
    patch:
      tags:
        - account
      description: Update server information by server id
      parameters:
        - name: serverID
          in: path
          type: string
          description: ID of the server
          required: true
        - name: server
          in: body
          schema:
            $ref: '#/definitions/UserAccountServer'
      responses:
        200:
          description: returns updated server information
          schema:
            $ref: '#/definitions/UserAccountServer'
    delete:
      tags:
        - account
      description: Delete a server by id
      parameters:
        - in: path
          name: serverID
          description: ID of server to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
  '/accounts/{accountID}/following_companies':
    get:
      tags:
        - account
      description: Get favorite storefronts
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return favorite storefronts
          schema:
            type: array
            items:
              $ref: '#/definitions/FollowingCompany'
  '/accounts/{accountID}/favorite_products':
    get:
      tags:
        - account
      description: Get all favorite services
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: Return favorite services
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                accountId:
                  type: string
                serviceId:
                  type: string
  '/projects_tags':
    post:
      tags:
        - project
      description: Add new project tag
      parameters:
        - in: body
          name: body
          description: Project tag object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/PostProjectTag'
      responses:
        '200':
          description: return added project tag
          schema:
            $ref: '#/definitions/GetProjectTag'
  '/projects_tags/{projectTagid}':
    delete:
      tags:
        - project
      description: Delete Project Tag
      parameters:
        - name: projectTagid
          in: path
          type: string
          description: ID of the Project Tag
          required: true
      responses:
        '200':
          description: Ok
  '/projects/{projectID}/projects_members':
    get:
      tags:
        - project
      description: Get all project members
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
      responses:
        '200':
          description: return array of project members
          schema:
            type: array
            items:
              $ref: '#/definitions/ProjectMember'
  '/projects/{projectID}/projects_tags':
    get:
      tags:
        - project
      description: Get all project tags
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
      responses:
        '200':
          description: return array of project tags
          schema:
            type: array
            items:
              $ref: '#/definitions/GetProjectTag'
  /projects:
    get:
      tags:
        - project
      description: Get all user projects
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return array of projects
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
  /projects/create:
    post:
      tags:
        - project
      description: Post a new project to store in the database
      operationId: postProject
      parameters:
        - in: body
          name: body
          description: Project object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/Project'
      responses:
        '201':
          description: New project
          schema:
            $ref: '#/definitions/Project'
  '/projects/{projectID}':
    get:
      tags:
        - project
        - project.php
      summary: Get project information by project id
      description: Get information about a project...
      operationId: findProjectByID
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
      responses:
        '200':
          description: Sends the project with projectID
          schema:
            $ref: '#/definitions/Project'
  '/projects/{projectID}/documents':
    get:
      tags:
        - project
        - document
      description: Get all documents in a project
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
      responses:
        '200':
          description: return all project documents
          schema:
            type: array
            items:
              $ref: '#/definitions/ProjectDocument'
  '/projects/{projectID}/following_discussions':
    get:
      tags:
        - project
        - discussion
      description: Get all project discussions being followed
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return all project discussions being followed
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/projects/{projectID}/all-discussions':
    get:
      tags:
        - project
        - discussion
      description: Get all project discussion threads
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return project discussion threads
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/all-discussions':
    get:
      tags:
        - project
        - discussion
      description: Get all user discussion threads
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return user discussion threads
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/projects_members':
    get:
      tags:
        - project
        - add member
      description: Get members
      parameters:
        - in: query
          name: projectId
          description: project id
          required: false
          type: string
        - in: query
          name: profileId
          description: profile id
          required: false
          type: string
        - in: query
          name: accept
          description: accepted inivation
          required: false
          type: boolean
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return members
          schema:
            type: array
            items:
              $ref: '#/definitions/ProjectMember'
    post:
      tags:
        - project
        - add member
      description: Create a new member
      parameters:
        - in: body
          name: Member
          description: Member to be created
          required: false
          schema:
            $ref: '#/definitions/ProjectMember'
      responses:
        '201':
          description: New member
          schema:
            $ref: '#/definitions/ProjectMember'
  '/projects_members/{memberId}':
    get:
      tags:
        - project
        - add member
      description: Get member by id
      parameters:
        - in: path
          name: memberId
          description: member id
          required: true
          type: string
      responses:
        '200':
          description: return member
          schema:
            $ref: '#/definitions/ProjectMember'
  '/projects/{projectId}/accept/{memberId}':
    patch:
      tags:
        - project
        - add member
      description: Accept member inivitation
      parameters:
        - in: path
          name: memberId
          type: string
          description: Project member id
          required: true
        - in: path
          name: projectId
          type: string
          description: Project id
          required: true
        - in: body
          name: Member
          schema:
            $ref: '#/definitions/ProjectMember'
      responses:
        '200':
          description: Return updated member
          schema:
            $ref: '#/definitions/ProjectMember'
  '/projects/{projectId}/reject/{memberId}':
    delete:
      tags:
        - project
        - add member
      description: Decline member inivitation
      parameters:
        - in: path
          name: memberId
          type: string
          description: member id
          required: true
        - in: path
          name: projectId
          type: string
          description: Project id
          required: true
      responses:
        '200':
          description: Ok
  /tasks/create:
    post:
      tags:
        - task
      summary: Post a new task
      description: Post a new task to store in the database
      operationId: postTask
      parameters:
        - in: body
          name: body
          description: Task object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/Task'
      responses:
        '405':
          description: Invalide input
  '/tasks':
    get:
      tags:
        - task
      summary: Get tasks
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
        - name: title_like
          in: query
          description: Select by title name
          type: string
          required: false
      responses:
        '200':
          description: send the task with taskID
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'
  '/tasks/{taskID}':
    get:
      tags:
        - task
      summary: Get task information by task id
      description: Get information about a task...
      operationId: findTaskByID
      parameters:
        - name: taskID
          in: path
          type: string
          description: ID of the task
          required: true
        - name: projectId
          in: query
          type: string
          description: id of project
          required: false
      responses:
        '200':
          description: send the task with taskID
          schema:
            $ref: '#/definitions/Task'
    delete:
      tags:
        - task
      description: Delete task
      parameters:
        - name: taskID
          in: path
          type: string
          description: ID of the task
          required: true
      responses:
        '200':
          description: Ok
  '/dome-interfaces':
    post:
      tags:
        - service
      description: Post a new dome interface
      parameters:
        - in: body
          name: body
          description: Dome interface object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/PostUpdateDomeInterface'
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: Return dome inerface object with id
          schema:
            $ref: '#/definitions/GetDomeInterface'
        '405':
          description: Invalide input
  '/dome-interfaces/{domeInterfaceId}':
    delete:
      tags:
        - service
      description: Get service dome interface
      parameters:
        - in: path
          name: domeInterfaceId
          required: true
          description: Dome interfaceId id
          type: number
      responses:
        '200':
          description: Ok
    patch:
      tags:
        - service
      description: Update dome interface
      parameters:
        - in: path
          name: domeInterfaceId
          required: true
          description: Dome interfaceId id
          type: number
        - in: body
          name: Dome interface
          description: Dome interface object for updated in database
          required: false
          schema:
            $ref: '#/definitions/PostUpdateDomeInterface'
      responses:
        '200':
          description: Return updated dome inerface object
          schema:
            $ref: '#/definitions/GetDomeInterface'
    get:
      tags:
        - service
      description: Get dome interface
      parameters:
        - in: path
          name: domeInterfaceId
          required: true
          description: Dome interfaceId id
          type: number
      responses:
        '200':
          description: Return dome inerface object
          schema:
            $ref: '#/definitions/GetDomeInterface'
  '/services/{serviceId}/dome-interfaces':
    get:
      tags:
        - service
      description: Get service dome interface
      parameters:
        - in: path
          name: serviceId
          required: true
          description: Service id
          type: number
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: Return service dome inerface object
          schema:
            $ref: '#/definitions/GetDomeInterface'
  '/service_runs':
    post:
      tags:
        - service
      summary: Post a new run service
      description: Post a new run service
      parameters:
        - in: body
          name: body
          description: Service run object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/PostServiceRun'
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: Return run service object with id
          schema:
            $ref: '#/definitions/GetServiceRun'
  '/service_runs/{id}':
    get:
      tags:
        - service
      summary: Get a run service
      description: Get a run service
      parameters:
        - name: id
          in: path
          type: string
          description: ID of the run service
          required: true
      responses:
        '200':
          description: Return run service object with id
          schema:
            $ref: '#/definitions/GetServiceRun'
    patch:
      tags:
        - service
      summary: Update run service
      description: Update run service
      parameters:
        - name: id
          in: path
          type: string
          description: ID of the run service
          required: true
        - name: body
          in: body
          description: Data for update run service
          required: true
          schema:
            $ref: '#/definitions/UpdateServiceRun'
      responses:
        '200':
          description: Return updated run service object
          schema:
            $ref: '#/definitions/GetServiceRun'
    delete:
      tags:
        - service
      summary: Delete run service
      description: Delete run service
      parameters:
        - name: id
          in: path
          type: string
          description: ID of the run service
          required: true
      responses:
        '204':
          description: OK
  '/services':
    post:
      tags:
        - service
      summary: Post a new service
      description: Post a new service to store in the database
      operationId: postService
      parameters:
        - in: body
          name: body
          description: Service object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/Service'
      responses:
        '405':
          description: Invalide input
    get:
      tags:
        - service
        - marketplace
      description: get all services
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: send all services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/services/{serviceID}':
    get:
      tags:
        - service
        - marketplace
      summary: Get information for a service
      description: Get information about a service...
      operationId: findServiceByID
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: send the service with serviceID
          schema:
            $ref: '#/definitions/Service'
    patch:
      tags:
        - service
        - marketplace
      description: Update information for service by ID
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - name: service
          in: body
          schema:
            $ref: '#/definitions/Service'
      responses:
        200:
          description: returns updated service
          schema:
            $ref: '#/definitions/Service'
  '/services/{serviceID}/service_history':
    get:
      tags:
        - service
        - history
        - marketplace
      description: Get service history by service id
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - name: period
          in: query
          description: Filter by period
          type: string
          required: false
        - name: section
          in: query
          description: Filter by section
          type: string
          required: false
      responses:
        '200':
          description: return service history
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceHistory'
  '/projects/{projectID}/project-documents':
    get:
      tags:
        - project
        - document
      description: Get all documents in a project
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return all project documents
          schema:
            type: array
            items:
              $ref: '#/definitions/ProjectDocument'
  '/services/{serviceID}/service-documents':
    get:
      tags:
        - service
        - document
        - marketplace
      description: Get all documents in a service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return all service documents
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceDocument'
  '/services/{serviceID}/service_authors':
    get:
      tags:
        - service
        - marketplace
      description: Get all authors for a service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: return all authors for a service
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceAuthor'
  '/services/{serviceID}/services_statistic':
    get:
      tags:
        - service
        - marketplace
      description: Get all statistics for a service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: return all statistics for a service
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceStats'
  '/services/{serviceID}/service_tags':
    get:
      tags:
        - service
        - marketplace
      description: Get all tags for a service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return all tags for a service
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceTag'
  '/service_tags':
    post:
      tags:
        - service
        - marketplace
      description: Create a new service tag
      parameters:
        - in: body
          name: ServiceTag
          description: Service tag to be created
          required: false
          schema:
            $ref: '#/definitions/ServiceTag'
      responses:
        '201':
          description: New service tag
          schema:
            $ref: '#/definitions/ServiceTag'
    get:
      tags:
        - service
        - marketplace
      description: Get latest service tag
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return latest service tag
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceTag'
  '/service_tags/{serviceTagID}':
    delete:
      tags:
        - service
        - marketplace
      description: Delete a service tag
      parameters:
        - in: path
          name: serviceTagID
          description: ID of service tag
          required: true
          type: string
      responses:
        '204':
          description: OK
  '/service/{serviceID}/specifications':
    post:
      tags:
        - service
        - specification
      operationId: postServiceSpecification
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - in: body
          name: body
          description: body of specification
          required: true
          schema:
            $ref: '#/definitions/ServiceSpecifications'
      responses:
        '200':
          description: post specification for service
  '/services/{serviceID}/specifications':
    get:
      tags:
        - service
        - specification
        - marketplace
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: send specification for service
          schema:
            $ref: '#/definitions/ServiceSpecifications'
  '/specifications/{specificationId}':
    patch:
      tags:
        - service
        - specifications
        - marketplace
      parameters:
        - name: specificationId
          in: path
          type: string
          description: ID of the specifications
          required: true
        - in: body
          name: body
          description: body of specification
          required: true
          schema:
            $ref: '#/definitions/ServiceSpecifications'
      responses:
        200:
          description: returns updated specifications
          schema:
            $ref: '#/definitions/ServiceSpecifications'
  '/services/{serviceID}/service_images':
    get:
      tags:
        - service
        - marketplace
      description: get images for service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: send images for service
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceImages'
  '/service_images/{imageId}':
    delete:
      tags:
        - service
        - marketplace
      description: remove image
      parameters:
        - name: imageId
          in: path
          type: string
          description: Id of the image
          required: true
      responses:
        '204':
          description: Ok
  '/service_images':
    post:
      tags:
        - service
        - marketplace
      description: Create a new service image
      parameters:
        - in: body
          name: ServiceImage
          description: Service image to be created
          required: false
          schema:
            $ref: '#/definitions/ServiceImages'
      responses:
        '201':
          description: New service image
          schema:
            $ref: '#/definitions/ServiceImages'
    get:
      tags:
        - service
        - marketplace
      description: Get latest service tag
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return latest service tag
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceTag'
  /components:
    post:
      tags:
        - component
      summary: Post a new component
      description: Post a new component to store in the database
      operationId: postComponent
      parameters:
        - in: body
          name: body
          description: Component object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/Component'
      responses:
        '405':
          description: Invalide input
  '/components/{componentID}':
    get:
      tags:
        - component
      summary: Get information for a component
      description: Get specification for a component based on componentID
      operationId: getComponentByServiceID
      parameters:
        - name: componentID
          in: path
          type: string
          description: ID of the component
          required: true
      responses:
        '200':
          description: send the component with componentID
          schema:
            $ref: '#/definitions/Component'
  '/popular_discussions':
    get:
      tags:
        - discussion
      description: Get popular discussions
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return popular discussions
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/follow_people_discussions':
    get:
      tags:
        - discussion
      description: Get discussion of people being followed
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return discussions of people being
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/following_discussions':
    get:
      tags:
        - discussion
        - dashboard.php
      description: Get discussion being followed
      responses:
        '200':
          description: return discussons being followed
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/follow_discussions':
    patch:
      tags:
        - discussion
      description: Update follow discussion
      parameters:
        - in: body
          name: body
          description: Follow Discussion object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/FollowingIndividualDiscussion'
      responses:
        200:
          description: Returns updated Follow Discussion
          schema:
            $ref: '#/definitions/FollowingIndividualDiscussion'
  '/follow_discussions/{followID}':
    delete:
      tags:
        - discussion
      description: remove follow discussion (Unfollow discussion)
      parameters:
        - in: path
          name: followID
          description: Follow Discussion ID
          required: true
          type: string
      responses:
        '200':
          description: OK
  '/accounts/{accountID}/follow_discussions':
    get:
      tags:
        - discussion
      description: Get follow discussion
      parameters:
        - in: path
          name: accountID
          description: account ID
          required: true
          type: string
        - in: query
          name: individual-discussionId
          description: discussion Id
          required: true
          type: string
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        200:
          description: Returns Follow Discussion
          schema:
            type: array
            items:
              $ref: '#/definitions/FollowingIndividualDiscussion'
  /discussions/create:
    post:
      tags:
        - discussion
      summary: Post a new discussion
      description: Post a new discussion to store in the database
      operationId: postDiscussion
      parameters:
        - in: body
          name: body
          description: Discussion object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/IndividualDiscussion'
      responses:
        '405':
          description: Invalide input
  '/profiles':
    post:
      tags:
        - profile
      description: Create a new user profile
      parameters:
        - in: body
          name: Profile
          description: Profile to be created
          required: false
          schema:
            $ref: '#/definitions/Profile'
      responses:
        '201':
          description: New user profile created
          schema:
            $ref: '#/definitions/Profile'
    get:
      tags:
        - profile
      description: Get all user profiles
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: send all user profiles
          schema:
            type: array
            items:
              $ref: '#/definitions/Profile'
  '/profiles/{profileID}':
    get:
      tags:
        - profile
      description: Get profile based on profileID
      parameters:
        - name: profileID
          in: path
          type: string
          description: ID of the profile
          required: true
      responses:
        '200':
          description: send the profile with profileID
          schema:
            $ref: '#/definitions/Profile'
    patch:
      tags:
        - profile
      description: Update information for profile by ID
      parameters:
        - name: profileID
          in: path
          type: string
          description: ID of the profile
          required: true
        - name: profile
          in: body
          schema:
            $ref: '#/definitions/Profile'
      responses:
        200:
          description: returns updated profile
          schema:
            $ref: '#/definitions/Profile'
    delete:
      tags:
        - profile
      description: Delete a profile by id
      parameters:
        - in: path
          name: profileID
          description: ID of profile to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
  '/profiles/{profileID}/profile_history':
    get:
      tags:
        - profile
      description: Get the user activities history by profile ID
      parameters:
        - name: profileID
          in: path
          type: string
          description: ID of the profile
          required: true
        - name: section
          in: query
          type: string
          enum:
            - mutual
            - public
          description: filter result by section
          required: false
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
      responses:
        '200':
          description: send user activities history
          schema:
            type: array
            items:
              $ref: '#/definitions/ProfileHistory'
  '/profiles/{profileID}/profile_reviews':
    get:
      tags:
        - profile
      summary: Get reviews for a member profile
      description: Get profile reviews based on profileID
      parameters:
        - name: profileID
          in: path
          type: string
          description: ID of the profile
          required: true
        - in: query
          name: reviewId
          description: Id review profile
          required: true
          type: string
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (date, like, rating)
          type: string
          required: false
        - name: rating
          in: query
          description: Sort by rating
          type: integer
          required: false
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
        - name: status
          in: query
          description: Sort by verified user
          type: boolean
          required: false
      responses:
        '200':
          description: send the reviews with profileID
          schema:
            type: array
            items:
              $ref: '#/definitions/ProfileReview'
  '/profile_reviews':
    post:
      tags:
        - profile
      description: Added new review or reply profile
      parameters:
        - in: body
          name: body
          description: Review object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/ProfileReview'
      responses:
        '201':
          description: return reviews profile
          schema:
            $ref: '#/definitions/ProfileReview'
  '/profile_reviews/{reviewId}':
    get:
      tags:
        - profile
      description: Get profile review by id
      parameters:
        - name: reviewId
          in: path
          type: string
          description: ID of the review
          required: true
      responses:
        '200':
          description: send the review by id
          schema:
            $ref: '#/definitions/ProfileReview'
    patch:
      tags:
        - profile
      description: Update profile review
      parameters:
        - name: reviewId
          in: path
          type: string
          description: ID of the review
          required: true
        - name: Review
          in: body
          schema:
            $ref: '#/definitions/ProfileReview'
      responses:
        200:
          description: returns updated profile review
          schema:
            $ref: '#/definitions/ProfileReview'
  '/profile_reviews_helpful':
    get:
      tags:
        - profile
      description: Get profile review helpful
      parameters:
        - in: query
          name: reviewId
          description: Id iprofile review
          required: true
          type: string
        - in: query
          name: accountId
          description: Id account
          required: true
          type: string
      responses:
        '200':
          description: return profile review helpful
          schema:
            type: array
            items:
              $ref: '#/definitions/ProfileReviewHelpful'
    post:
      tags:
        - profile
      description: Create profile review helpful
      parameters:
        - in: body
          name: ProfileReviewHelpful
          description: profile review helpful
          required: false
          schema:
            $ref: '#/definitions/ProfileReviewHelpful'
      responses:
        '201':
          description: New profile review helpful
          schema:
            $ref: '#/definitions/ProfileReviewHelpful'
  '/profile_reviews_flagged':
    get:
      tags:
        - profile
      description: Get profile review flagged
      parameters:
        - in: query
          name: reviewId
          description: Id iprofile review
          required: true
          type: string
        - in: query
          name: accountId
          description: Id account
          required: true
          type: string
      responses:
        '200':
          description: return profile review flagged
          schema:
            type: array
            items:
              $ref: '#/definitions/ProfileReviewFlagged'
    post:
      tags:
        - profile
      description: Create profile review flagged
      parameters:
        - in: body
          name: ProfileReviewFlagged
          description: profile review flagged
          required: false
          schema:
            $ref: '#/definitions/ProfileReviewFlagged'
      responses:
        '201':
          description: New profile review flagged
          schema:
            $ref: '#/definitions/ProfileReviewFlagged'
  '/profile_reviews_helpful/{helpfulID}':
    patch:
      tags:
        - profile
      description: Update profile review helpful
      parameters:
        - name: helpfulID
          in: path
          type: string
          description: ID of the helpful
          required: true
        - name: helpful
          in: body
          schema:
            $ref: '#/definitions/ProfileReviewHelpful'
      responses:
        200:
          description: returns updated profile review helpful
          schema:
            $ref: '#/definitions/ProfileReviewHelpful'
  '/companies':
    get:
      tags:
        - onboarding
        - company
      description: Get all Companies
      responses:
        '200':
          description: Send all Companies
          schema:
            type: array
            items:
              $ref: '#/definitions/Company'
  '/companies/{companyID}':
    get:
      tags:
        - company
      summary: Get information for a company profile
      description: Get profile based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the company profile with companyID
          schema:
            $ref: '#/definitions/Company'
    patch:
      tags:
        - company
      description: Update information for company profile by ID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: company
          in: body
          schema:
            $ref: '#/definitions/Company'
      responses:
        200:
          description: returns updated company profile
          schema:
            $ref: '#/definitions/Company'
  '/companies/{companyID}/company_images':
    get:
      tags:
        - company
      summary: Get company profile images
      description: Get company profile images based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile images with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyImage'
  '/companies/{companyID}/company_members':
    get:
      tags:
        - company
      description: Get company members based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send members in a company
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyMember'
  '/companies/{companyID}/company_history':
    get:
      tags:
        - company
      description: Get company history based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send history for a company
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyHistory'
  '/company_images/{imageID}':
    patch:
      tags:
        - company
      description: Update company image by ID
      parameters:
        - name: imageID
          in: path
          type: string
          description: ID of the company image
          required: true
        - name: image
          in: body
          schema:
            $ref: '#/definitions/CompanyImage'
      responses:
        200:
          description: returns updated company image
          schema:
            $ref: '#/definitions/CompanyImage'
  '/companies/{companyID}/company_videos':
    get:
      tags:
        - company
      summary: Get company profile videos
      description: Get company profile videos based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile videos with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyVideo'
  '/companies/{companyID}/company_skills':
    get:
      tags:
        - company
      summary: Get company profile skill
      description: Get company profile skill based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile skill with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanySkill'
  '/companies/{companyID}/company_key_contacts':
    get:
      tags:
        - company
      summary: Get company profile contacts
      description: Get company profile contacts based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile contacts with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyKeyContact'
  '/companies/{companyID}/company_skill_images':
    get:
      tags:
        - company
      summary: Get company profile skill images
      description: Get company profile skill images based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile skill images with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanySkillImage'
  '/company_skill_images/{imageID}':
    patch:
      tags:
        - company
      description: Update company skill image by ID
      parameters:
        - name: imageID
          in: path
          type: string
          description: ID of the company skill image
          required: true
        - name: image
          in: body
          schema:
            $ref: '#/definitions/CompanySkillImage'
      responses:
        200:
          description: returns updated company skill image
          schema:
            $ref: '#/definitions/CompanySkillImage'
  '/companies/{companyID}/company_reviews':
    get:
      tags:
        - company
      summary: Get reviews for a company
      description: Get company reviews based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - in: query
          name: reviewId
          description: Id review company
          required: true
          type: string
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (date, like, rating)
          type: string
          required: false
        - name: rating
          in: query
          description: Sort by rating
          type: integer
          required: false
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
        - name: status
          in: query
          description: Sort by verified user
          type: boolean
          required: false
      responses:
        '200':
          description: send the reviews with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyReview'
  '/company_reviews':
    post:
      tags:
        - company
      description: Added new review or reply company
      parameters:
        - in: body
          name: body
          description: Review object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/CompanyReview'
      responses:
        '201':
          description: return reviews company
          schema:
            $ref: '#/definitions/CompanyReview'
  '/company_reviews_helpful':
    get:
      tags:
        - company
      description: Get company review helpful
      parameters:
        - in: query
          name: reviewId
          description: Id company review
          required: true
          type: string
        - in: query
          name: accountId
          description: Id account
          required: true
          type: string
      responses:
        '200':
          description: return company review helpful
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyReviewHelpful'
    post:
      tags:
        - company
      description: Create company review helpful
      parameters:
        - in: body
          name: CompanyReviewHelpful
          description: company review helpful
          required: false
          schema:
            $ref: '#/definitions/CompanyReviewHelpful'
      responses:
        '201':
          description: New company review helpful
          schema:
            $ref: '#/definitions/CompanyReviewHelpful'
  '/company_reviews_helpful/{helpfulID}':
    patch:
      tags:
        - company
      description: Update company review helpful
      parameters:
        - name: helpfulID
          in: path
          type: string
          description: ID of the helpful
          required: true
        - name: helpful
          in: body
          schema:
            $ref: '#/definitions/CompanyReviewHelpful'
      responses:
        200:
          description: returns updated company review helpful
          schema:
            $ref: '#/definitions/CompanyReviewHelpful'
  '/company_reviews_flagged':
    get:
      tags:
        - company
      description: Get company review flagged
      parameters:
        - in: query
          name: reviewId
          description: Id company review
          required: true
          type: string
        - in: query
          name: accountId
          description: Id account
          required: true
          type: string
      responses:
        '200':
          description: return company review flagged
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyReviewFlagged'
    post:
      tags:
        - company
      description: Create company review flagged
      parameters:
        - in: body
          name: CompanyReviewFlagged
          description: company review flagged
          required: false
          schema:
            $ref: '#/definitions/CompanyReviewFlagged'
      responses:
        '201':
          description: New company review helpful
          schema:
            $ref: '#/definitions/CompanyReviewFlagged'
  '/companies/{companyID}/company_services':
    get:
      tags:
        - company
        - service
      description: Get company services based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
        - name: title_like
          in: query
          description: Search by service title
          type: string
          required: false
        - name: serviceType
          in: query
          description: Filter by service type (for service)
          type: string
          required: false
          collectionFormat: multi
          enum:
            - analytical
            - solid
            - data
        - name: _authors
          in: query
          description: Filter by author
          type: array
          items:
            type: integer
          required: false
        - name: _ratings
          in: query
          description: Filter by rating
          type: array
          items:
            type: string
          required: false
        - name: _favorites
          in: query
          description: Filter by favorite items
          type: string
          required: false
        - name: _dates
          in: query
          description: Filter by date (7d - 7 days old, 1m - 1 month old, 1y - 1 year old)
          type: array
          items:
            type: string
          required: false
          collectionFormat: multi
          enum:
            - 7d
            - 1m
            - 1y
      responses:
        '200':
          description: send the services with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/companies/{companyID}/company_components':
    get:
      tags:
        - company
        - component
      description: Get company components based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
        - name: title_like
          in: query
          description: Search by service title
          type: string
          required: false
        - name: serviceType
          in: query
          description: Filter by service type (for service)
          type: string
          required: false
          collectionFormat: multi
          enum:
            - analytical
            - solid
            - data
        - name: _authors
          in: query
          description: Filter by author
          type: array
          items:
            type: integer
          required: false
        - name: _ratings
          in: query
          description: Filter by rating
          type: array
          items:
            type: string
          required: false
        - name: _favorites
          in: query
          description: Filter by favorite items
          type: string
          required: false
        - name: _dates
          in: query
          description: Filter by date (7d - 7 days old, 1m - 1 month old, 1y - 1 year old)
          type: array
          items:
            type: string
          required: false
          collectionFormat: multi
          enum:
            - 7d
            - 1m
            - 1y
      responses:
        '200':
          description: send the components with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/Component'
  '/companies/{companyID}/company_featured':
    get:
      tags:
        - company
      summary: Get featured products for a company
      description: Get company featured products based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: _order
          in: query
          description: Order by DESC
          type: string
          collectionFormat: multi
          required: true
          enum:
            - DESC
        - name: _sort
          in: query
          description: Sort by position
          type: string
          required: true
          collectionFormat: multi
          enum:
            - position
          required: true
      responses:
        '200':
          description: send an object with featured products based on companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceFeatured'
  '/companies/{companyID}/new':
    get:
      tags:
        - company
      description: Get new company services
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: _order
          in: query
          description: Order by DESC
          type: string
          collectionFormat: multi
          required: true
          enum:
            - DESC
        - name: _sort
          in: query
          description: Sort by id
          type: string
          required: true
        - name: _limit
          in: query
          description: Limit services
          type: string
          required: true
      responses:
        '200':
          description: send an object with new services based on companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/company_skills':
    post:
      tags:
        - company
      summary: Post a new company skill
      description: Post a new company skill
      parameters:
        - in: body
          name: CompanySkill
          description: skill object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/CompanySkill'
      responses:
        '201':
          description: new skill added to the database
          schema:
            $ref: '#/definitions/CompanySkill'
  '/company_skills/{skillID}':
    delete:
      tags:
        - company
      description: Delete a skill by id
      parameters:
        - in: path
          name: skillID
          description: ID of skill to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
  '/company_videos':
    post:
      tags:
        - company
      summary: Post a new company video
      description: Post a new company video
      parameters:
        - in: body
          name: body
          description: Video object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/CompanyVideo'
      responses:
        '201':
          description: new video added to the database
          schema:
            $ref: '#/definitions/CompanyVideo'
  '/company_videos/{videoID}':
    delete:
      tags:
        - company
      description: Delete a video by id
      parameters:
        - in: path
          name: videoID
          description: ID of video to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
    patch:
      tags:
        - company
      description: Update company videos by ID
      parameters:
        - name: videoID
          in: path
          type: string
          description: ID of the company video
          required: true
        - name: video
          in: body
          schema:
            $ref: '#/definitions/CompanyVideo'
      responses:
        200:
          description: returns updated company video
          schema:
            $ref: '#/definitions/CompanyVideo'
  '/company_key_contacts':
    post:
      tags:
        - company
      summary: Post a new company contact
      description: Post a new company contact
      parameters:
        - in: body
          name: body
          description: contact object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/CompanyKeyContact'
      responses:
        '201':
          description: new contact added to the database
          schema:
            $ref: '#/definitions/CompanyKeyContact'
  '/company_key_contacts/{contactID}':
    delete:
      tags:
        - company
      description: Delete a contact by id
      parameters:
        - in: path
          name: contactID
          description: ID of contact to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
    patch:
      tags:
        - company
      description: Update company contact by ID
      parameters:
        - name: contactID
          in: path
          type: string
          description: ID of the company contact
          required: true
        - name: contact
          in: body
          schema:
            $ref: '#/definitions/CompanyKeyContact'
      responses:
        200:
          description: returns updated company contact
          schema:
            $ref: '#/definitions/CompanyKeyContact'
  '/company/follow':
    post:
      tags:
        - company
      description: Follow company
      parameters:
        - name: accountId
          type: integer
          description: User account id
          in: query
          required: true
        - name: companyId
          type: integer
          description: Company id
          in: query
          required: true
      responses:
        '201':
          description: New followed company
          schema:
            type: object
            properties:
              id:
                type: integer
              accountId:
                type: integer
              companyId:
                type: integer
  '/company/unfollow/{followed_companiId}':
    delete:
      tags:
        - company
      description: Unfollow company
      parameters:
        - in: path
          name: followed_companiId
          type: integer
          description: Followed company id
          required: true
      responses:
        '200':
          description: OK
  '/company_featured/{company_featuredId}/position':
    patch:
      tags:
        - company
      description: Update featured position
      parameters:
        - in: path
          name: company_featuredId
          type: integer
          description: Company id
          required: true
        - in: query
          name: position
          type: integer
          description: new company featured position
          required: true
      responses:
        '202':
          description: Updated featured company
          schema:
            type: object
            properties:
              id:
                type: integer
              companyId:
                type: integer
              position:
                type: integer
              serviceId:
                type: integer
  '/company_featured/add':
    post:
      tags:
        - company
      description: Added new featured company
      parameters:
        - in: query
          name: companyId
          type: integer
          description: Company id
          required: true
        - in: query
          name: position
          type: integer
          description: Featured position
          required: true
        - in: query
          name: serviceId
          type: integer
          description: Service id
          required: true
      responses:
        '201':
          description: New featured company
          schema:
            type: object
            properties:
              id:
                type: integer
              companyId:
                type: integer
              position:
                type: integer
              serviceId:
                type: integer
  '/company_featured/{company_featuredId}':
    delete:
      tags:
        - company
      description: Delete featured company
      parameters:
        - in: path
          name: company_featuredId
          type: integer
          description: Featured company id
          required: true
      responses:
        '200':
          description: OK
  '/market/popular_services':
    get:
      tags:
        - service
        - marketplace
      description: Get popular services in marketplace
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return popular services in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/market/new_services':
    get:
      tags:
        - service
        - marketplace
      description: Get latest services in marketplace
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return latest services in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/market/services':
    get:
      tags:
        - service
        - marketplace
      description: Get all services in marketplace
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
        - name: title_like
          in: query
          description: Search by service title
          type: string
          required: false
        - name: serviceType
          in: query
          description: Filter by service type (for service)
          type: string
          required: false
          collectionFormat: multi
          enum:
            - analytical
            - solid
            - data
        - name: _authors
          in: query
          description: Filter by author
          type: array
          items:
            type: integer
          required: false
        - name: _ratings
          in: query
          description: Filter by rating
          type: array
          items:
            type: string
          required: false
        - name: _favorites
          in: query
          description: Filter by favorite items
          type: string
          required: false
        - name: _dates
          in: query
          description: Filter by date (7d - 7 days old, 1m - 1 month old, 1y - 1 year old)
          type: array
          items:
            type: string
          required: false
          collectionFormat: multi
          enum:
            - 7d
            - 1m
            - 1y
      responses:
        '200':
          description: return all services in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/market/components':
    get:
      tags:
        - service
        - marketplace
      description: Get all components in marketplace
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
        - name: title_like
          in: query
          description: Search by service title
          type: string
          required: false
        - name: serviceType
          in: query
          description: Filter by service type (for service)
          type: string
          required: false
          collectionFormat: multi
          enum:
            - analytical
            - solid
            - data
        - name: _authors
          in: query
          description: Filter by author
          type: array
          items:
            type: integer
          required: false
        - name: _ratings
          in: query
          description: Filter by rating
          type: array
          items:
            type: string
          required: false
        - name: _favorites
          in: query
          description: Filter by favorite items
          type: string
          required: false
        - name: _dates
          in: query
          description: Filter by date (7d - 7 days old, 1m - 1 month old, 1y - 1 year old)
          type: array
          items:
            type: string
          required: false
          collectionFormat: multi
          enum:
            - 7d
            - 1m
            - 1y
      responses:
        '200':
          description: return all components in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/Component'
  '/product/{service_Id}/product_reviews':
    get:
      tags:
        - service
        - marketplace
      description: Get all reviews service in marketplace
      parameters:
        - in: path
          name: service_Id
          type: string
          description: Service id in marketplace
          required: true
        - in: query
          name: reviewId
          description: Id review service
          required: true
          type: string
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (date, like, rating)
          type: string
          required: false
        - name: rating
          in: query
          description: Sort by rating
          type: integer
          required: false
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
        - name: status
          in: query
          description: Sort by verified user
          type: boolean
          required: false
      responses:
        '200':
          description: return reviews service in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductReview'
  '/product_reviews':
    get:
      tags:
        - service
        - marketplace
      description: Get latest review service in marketplace
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return latest review service in marketplace
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductReview'
    post:
      tags:
        - service
        - marketplace
      description: Added new review or reply service in marketplace
      parameters:
        - in: body
          name: body
          description: Review object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/ProductReview'
      responses:
        '201':
          description: return reviews service in marketplace
          schema:
            $ref: '#/definitions/ProductReview'
  '/product_reviews/{reviewId}':
    patch:
      tags:
        - service
        - marketplace
      description: Update service review
      parameters:
        - name: reviewId
          in: path
          type: string
          description: ID of the review
          required: true
        - name: review
          in: body
          schema:
            $ref: '#/definitions/ProductReview'
      responses:
        200:
          description: returns updated service review
          schema:
            $ref: '#/definitions/ProductReview'
  '/product_reviews_helpful':
    get:
      tags:
        - service
        - marketplace
      description: Get service review helpful
      parameters:
        - in: query
          name: reviewId
          description: Id service review
          required: true
          type: string
        - in: query
          name: accountId
          description: Id account
          required: true
          type: string
      responses:
        '200':
          description: return service review helpful
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductReviewHelpful'
    post:
      tags:
        - service
        - marketplace
      description: Create service review helpful
      parameters:
        - in: body
          name: ServiceReviewHelpful
          description: service review helpful
          required: false
          schema:
            $ref: '#/definitions/ProductReviewHelpful'
      responses:
        '201':
          description: New service review helpful
          schema:
            $ref: '#/definitions/ProductReviewHelpful'
  '/product_reviews_helpful/{helpfulID}':
    patch:
      tags:
        - service
        - marketplace
      description: Update service review helpful
      parameters:
        - name: helpfulID
          in: path
          type: string
          description: ID of the helpful
          required: true
        - name: helpful
          in: body
          schema:
            $ref: '#/definitions/ProfileReviewHelpful'
      responses:
        200:
          description: returns updated service review helpful
          schema:
            $ref: '#/definitions/ProductReviewHelpful'
  '/product_reviews_flagged':
    get:
      tags:
        - service
        - marketplace
      description: Get service review flagged
      parameters:
        - in: query
          name: reviewId
          description: Id service review
          required: true
          type: string
        - in: query
          name: accountId
          description: Id account
          required: true
          type: string
      responses:
        '200':
          description: return service review flagged
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductReviewFlagged'
    post:
      tags:
        - service
        - marketplace
      description: Create service review flagged
      parameters:
        - in: body
          name: ServiceReviewHelpful
          description: service review flagged
          required: false
          schema:
            $ref: '#/definitions/ProductReviewFlagged'
      responses:
        '201':
          description: New service review flagged
          schema:
            $ref: '#/definitions/ProductReviewFlagged'
  '/service_authors/{autorhId}':
    delete:
      tags:
        - service
        - marketplace
      description: Remove  with service author
      parameters:
        - in: path
          name: autorhId
          type: integer
          required: true
      responses:
        '200':
          description: OK
  '/service_authors':
    post:
      tags:
        - service
        - marketplace
      description: Add new service author
      parameters:
        - in: body
          name: author
          required: true
          schema:
            $ref: '#/definitions/ServiceAuthor'
      responses:
        '201':
          description: return new service author
          schema:
            $ref: '#/definitions/ServiceAuthor'
  '/array_specifications':
    get:
      tags:
        - service
        - marketplace
      description: Get array of specifications for services
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return array of specifications for services
          schema:
            type: array
            items:
              $ref: '#/definitions/ArraySpecifications'
    post:
      tags:
        - service
        - marketplace
      description: Add elements to array of specifications for services
      parameters:
        - in: body
          name: body
          description: array of specifications object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/ArraySpecifications'
      responses:
        '200':
          description: return array of specifications for services
          schema:
            type: array
            items:
              $ref: '#/definitions/ArraySpecifications'
  '/follow-company-services':
    get:
      tags:
        - service
        - marketplace
      description: Get all services from favorite storefronts
      parameters:
        - name: companyId
          in: query
          description: Array of favorite companies id
          type: array
          items:
            type: integer
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return all services from favorite storefronts
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/favorite_products/{favorite_productId}':
    delete:
      tags:
        - service
        - account
        - marketplace
      description: Delete service from favorites
      parameters:
        - name: favorite_productId
          in: path
          description: Favorite product id
          type: integer
          required: true
      responses:
        '200':
          description: OK
  '/favorite_products':
    post:
      tags:
        - service
        - account
        - marketplace
      description: Add service to favorites
      parameters:
        - name: accountId
          in: query
          description: Account id
          type: integer
          required: true
        - name: serviceId
          in: query
          description: Service id
          type: integer
          required: true
      responses:
        '201':
          description: New favorite service
          schema:
            type: object
            properties:
              id:
                type: integer
              accountId:
                type: integer
              serviceId:
                type: integer
  '/services/{serviceId}/input-positions':
    get:
      tags:
        - service
      description: Get service inputs positions
      parameters:
        - name: serviceId
          in: path
          description: service id
          type: number
          required: true
      responses:
        '200':
          description: return service inputs positions
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceInputsPositions'
  '/input-positions/{positionInputId}':
    patch:
      tags:
        - service
      description: Update service inputs positions
      parameters:
        - name: positionInputId
          in: path
          description: inputs position id
          type: number
          required: true
        - name: positions
          in: body
          description: Array of positions
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceInputPosition'
      responses:
        200:
          description: returns updated input positions
          schema:
            $ref: '#/definitions/ServiceInputsPositions'
    delete:
      tags:
        - service
      description: Delete service inputs positions
      parameters:
        - name: positionInputId
          in: path
          description: inputs position id
          type: number
          required: true
      responses:
        '200':
          description: OK
  '/input-positions':
    post:
      tags:
        - service
      description: Add new inputs positions
      parameters:
        - name: Inputs positions
          in: body
          description: Inputs positions
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/PostServiceInputPosition'
      responses:
        '201':
          description: Return new inputs positions
          schema:
            $ref: '#/definitions/ServiceInputsPositions'
  '/notifications-user':
    get:
      tags:
        - notification
      description: Get all notifications for user
      parameters:
        - name: period
          in: query
          description: value filters result by period
          type: string
          collectionFormat: multi
          required: false
          enum:
            - today
            - week
            - month
        - name: event
          in: query
          description: value filters result by notification event
          type: string
          required: false
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return all notifications
          schema:
            type: array
            items:
              $ref: '#/definitions/UserNotification'
  '/notifications-user-statistic':
    get:
      tags:
        - notification
      description: Get all notification statistics for User
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return all notification statistics
          schema:
            type: array
            items:
              $ref: '#/definitions/UserNotificationStat'
[...]
