swagger: '2.0'
info:
  version: 1.0.0
  title: DMC Interface Definition
  description: |
    **REST service interface definitions for DMC**
host: dmc.com
basePath: /
schemes:
  - http
  - https
consumes:
  - application/json
  - text/xml
produces:
  - application/json
  - text/html
paths:
  /user:
    get:
      tags:
        - account
        - live
        - has tests
      description: Get currently logged in user details.  If user does not exist, create account.
      responses:
        '200':
          description: Sends the project with projectID
          schema:
            $ref: '#/definitions/UserDetails'
    patch:
      tags:
      - account
      - onboarding
      - live
      - has tests
      description: Update currently logged in user details
      parameters:
        - name: UserDetails
          in: body
          schema:
            $ref: '#/definitions/UserDetails'
      responses:
        200:
          description: returns updated User Details
          schema:
            $ref: '#/definitions/UserDetails'
  /user-basic-information:
    post:
      tags:
        - account
        - onboarding
        - live
        - has tests
      description: Set initial basic information for User after first login
      parameters:
        - in: body
          name: UserBasicInformation
          description: Basic information required after first login.
          required: false
          schema:
            $ref: '#/definitions/UserBasicInformation'
      responses:
        '201':
          description: updated user object
          schema:
            $ref: '#/definitions/UserBasicInformation'
  '/mark-read-notifications':
    patch:
      tags:
        - notification
      description: Mark read for all user notifications
      parameters:
        - name: UserDetails
          in: body
          schema:
            $ref: '#/definitions/UserDetails'
          required: true
      responses:
        200:
          description: returns updated User Details
          schema:
            $ref: '#/definitions/UserDetails'
  '/clear-notification/{id}':
    patch:
      tags:
        - notification
      description: Clear notification from dropdown in header
      parameters:
        - name: id
          in: path
          type: string
          description: ID notification
          required: true
        - name: UserDetails
          in: body
          schema:
            $ref: '#/definitions/UserDetails'
          required: true
      responses:
        200:
          description: returns updated User Details
          schema:
            $ref: '#/definitions/UserDetails'

  '/accounts/{accountID}':
    get:
      tags:
        - account
        - live
        - has tests
      description: Get account information by account id
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
      responses:
        '200':
          description: Sends the account with accountID
          schema:
            $ref: '#/definitions/UserAccount'
    patch:
      tags:
        - account
        - live
        - has tests
      description: Update account information by account id
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
        - name: account
          in: body
          schema:
            $ref: '#/definitions/UserAccount'
      responses:
        200:
          description: returns updated User Account
          schema:
            $ref: '#/definitions/UserAccount'
  '/accounts/{accountID}/account_servers':
    get:
      tags:
        - account
        - not implemented
      description: Get servers by account id
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
      responses:
        '200':
          description: Sends the servers by account id
          schema:
            type: array
            items:
              $ref: '#/definitions/UserAccountServer'
  '/accounts/{accountID}/account-notification-settings':
    get:
      tags:
        - account
        - not implemented
      description: Get account notification settings by accound id
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: Sends account notification settings by account id
          schema:
            type: array
            items:
              $ref: '#/definitions/AccountNotificationSetting'
  '/account-notification-settings/{notificationSettingID}':
    get:
      tags:
        - account
        - not implemented
      description: Get account notification setting by id
      parameters:
        - name: notificationSettingID
          in: path
          type: string
          description: ID of the account notification
          required: true
      responses:
        '200':
          description: Sends the notification information
          schema:
            $ref: '#/definitions/AccountNotificationSetting'
    patch:
      tags:
        - account
        - not implemented
      description: Update account notification by id
      parameters:
        - name: notificationSettingID
          in: path
          type: string
          description: ID of the account notification
          required: true
        - name: userNotificationSetting
          in: body
          schema:
            $ref: '#/definitions/AccountNotificationSetting'
      responses:
        200:
          description: returns updated account notification information
          schema:
            $ref: '#/definitions/AccountNotificationSetting'
  '/account-notification-categories':
    get:
      tags:
        - account
        - not implemented
      description: Get categories and labels for Account Notification tab
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: send an array of notification categories
          schema:
            type: array
            items:
              $ref: '#/definitions/AccountNotificationCategory'
  '/account_servers':
    post:
      tags:
        - account
        - live
        - has tests
      description: Create a new account server
      parameters:
        - in: body
          name: AccountServer
          description: server object to be created
          required: false
          schema:
            $ref: '#/definitions/UserAccountServer'
      responses:
        '201':
          description: new server added
          schema:
            $ref: '#/definitions/UserAccountServer'
        '422':
          description: Server URL is invalid
        '500':
          description: Unknown REST Server Error
        '502':
          description: DOME not running on specified server
        '504':
          description: Specified server is unreachable

  '/account_servers/{serverID}':
    get:
      tags:
        - account
        - live
        - has tests
      description: Get server by server id
      parameters:
        - name: serverID
          in: path
          type: string
          description: ID of the server
          required: true
      responses:
        '200':
          description: Sends the server information
          schema:
            $ref: '#/definitions/UserAccountServer'
        '401':
          description: User does not have credentials to view this server
        '422':
          description: Server URL is not valid
        '502':
          description: DOME not running on specified server
        '504':
          description: Specified server is unreachable

    patch:
      tags:
        - account
        - live
        - has tests
      description: Update server information by server id
      parameters:
        - name: serverID
          in: path
          type: string
          description: ID of the server
          required: true
        - name: server
          in: body
          schema:
            $ref: '#/definitions/UserAccountServer'
      responses:
        200:
          description: returns updated server information
          schema:
            $ref: '#/definitions/UserAccountServer'
        401:
          description: User is not permitted to edit this server
        422:
          description: Provided URL is invalid
        500:
          description: Unknown server error
        502:
          description: DOME not running on specified server
        504:
          description: Specified server specified is unreachable
    delete:
      tags:
        - account
        - live
        - has tests
      description: Delete a server by id
      parameters:
        - in: path
          name: serverID
          description: ID of server to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
  '/accounts/{accountID}/following_companies':
    get:
      tags:
        - account
        - not implemented
      description: Get favorite storefronts
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return favorite storefronts
          schema:
            type: array
            items:
              $ref: '#/definitions/FollowingCompany'
  '/accounts/{accountID}/favorite_products':
    get:
      tags:
        - account
        - not implemented
      description: Get all favorite services
      parameters:
        - name: accountID
          in: path
          type: string
          description: ID of the account
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: Return favorite services
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                accountId:
                  type: string
                serviceId:
                  type: string
  '/projects_tags':
    post:
      tags:
        - project
        - not implemented
      description: Add new project tag
      parameters:
        - in: body
          name: body
          description: Project tag object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/PostProjectTag'
      responses:
        '200':
          description: return added project tag
          schema:
            $ref: '#/definitions/GetProjectTag'
  '/projects_tags/{projectTagid}':
    delete:
      tags:
        - project
        - not implemented
      description: Delete Project Tag
      parameters:
        - name: projectTagid
          in: path
          type: string
          description: ID of the Project Tag
          required: true
      responses:
        '200':
          description: Ok
  '/projects/{projectID}/projects_members':
    get:
      tags:
        - project
        - not implemented
      description: Get all project members
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
      responses:
        '200':
          description: return array of project members
          schema:
            type: array
            items:
              $ref: '#/definitions/ProjectMember'
  '/project/{projectId}/invite/{projectMemberId}':
    patch:
      tags:
        - project
      description: Re Invite user to the project from team project page (from removed tab)
      parameters:
        - name: projectId
          in: path
          type: string
          description: ID of the project
          required: true
        - name: projectMemberId
          in: path
          type: string
          description: ID of the project member
          required: true
        - in: body
          name: Member
          description: Member to be updated
          required: false
          schema:
            $ref: '#/definitions/ProjectMember'
      responses:
        '200':
          description: return project member
          schema:
            $ref: '#/definitions/ProjectMember'
  '/projects/{projectID}/projects_tags':
    get:
      tags:
        - project
        - not implemented
      description: Get all project tags
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
      responses:
        '200':
          description: return array of project tags
          schema:
            type: array
            items:
              $ref: '#/definitions/GetProjectTag'
  '/projects/all':
    get:
      tags:
        - project
      description: Get all projects
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
        - name: title_like
          in: query
          description: Filter by title
          type: string
          required: false
      responses:
        '200':
          description: return array of projects
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
  '/projects':
    get:
      tags:
        - project
        - live
        - has tests
      description: Get all user projects
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
        - name: title_like
          in: query
          description: Filter by title
          type: string
      responses:
        '200':
          description: return array of projects
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
  /projects/create:
    post:
      tags:
        - project
        - live
        - has tests
      description: Post a new project to store in the database
      operationId: postProject
      parameters:
        - in: body
          name: body
          description: Project object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/Project'
      responses:
        '201':
          description: New project
          schema:
            $ref: '#/definitions/Project'
  '/projects/{projectID}':
    get:
      tags:
        - project
        - project.php
        - live
        - has tests
      summary: Get project information by project id
      description: Get information about a project...
      operationId: findProjectByID
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
      responses:
        '200':
          description: Sends the project with projectID
          schema:
            $ref: '#/definitions/Project'
  '/projects/{projectID}/following_discussions':
    get:
      tags:
        - project
        - discussion
        - not implemented
      description: Get all project discussions being followed
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return all project discussions being followed
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/projects/{projectID}/all-discussions':
    get:
      tags:
        - project
        - discussion
        - not implemented
      description: Get all project discussion threads
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return project discussion threads
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/projects/{projectID}/individual-discussion':
    get:
      tags:
        - project
        - discussion
        - live
        - has tests
      description: Get all project individual discussions
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return all individual discussions with projectId
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/all-discussions':
    get:
      tags:
        - project
        - discussion
        - live
        - has tests
      description: Get all user discussion threads
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return user discussion threads
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/projects_members':
    get:
      tags:
        - project
        - add member
        - not implemented
      description: Get members
      parameters:
        - in: query
          name: projectId
          description: project id
          required: false
          type: string
        - in: query
          name: profileId
          description: profile id
          required: false
          type: string
        - in: query
          name: accept
          description: accepted inivation
          required: false
          type: boolean
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return members
          schema:
            type: array
            items:
              $ref: '#/definitions/ProjectMember'
    post:
      tags:
        - project
        - add member
        - not implemented
      description: Create a new member
      parameters:
        - in: body
          name: Member
          description: Member to be created
          required: false
          schema:
            $ref: '#/definitions/ProjectMember'
      responses:
        '201':
          description: New member
          schema:
            $ref: '#/definitions/ProjectMember'
  '/projects_members/{memberId}':
    get:
      tags:
        - project
        - add member
        - not implemented
      description: Get member by id
      parameters:
        - in: path
          name: memberId
          description: member id
          required: true
          type: string
      responses:
        '200':
          description: return member
          schema:
            $ref: '#/definitions/ProjectMember'
  '/projects/{projectId}/accept/{memberId}':
    patch:
      tags:
        - project
        - add member
        - not implemented
      description: Accept member inivitation
      parameters:
        - in: path
          name: memberId
          type: string
          description: Project member id
          required: true
        - in: path
          name: projectId
          type: string
          description: Project id
          required: true
        - in: body
          name: Member
          schema:
            $ref: '#/definitions/ProjectMember'
      responses:
        '200':
          description: Return updated member
          schema:
            $ref: '#/definitions/ProjectMember'
  '/projects/{projectId}/reject/{memberId}':
    delete:
      tags:
        - project
        - add member
        - not implemented
      description: Decline member inivitation
      parameters:
        - in: path
          name: memberId
          type: string
          description: member id
          required: true
        - in: path
          name: projectId
          type: string
          description: Project id
          required: true
      responses:
        '200':
          description: Ok
  /tasks/create:
    post:
      tags:
        - task
        - live
        - has tests
      summary: Post a new task
      description: Post a new task to store in the database
      operationId: postTask
      parameters:
        - in: body
          name: body
          description: Task object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/TaskToCreate'
      responses:
        '200':
          description: return created task
          schema:
            $ref: '#/definitions/Task'
        '405':
          description: Invalid input
  '/tasks':
    get:
      tags:
        - task
        - live
        - has tests
      summary: Get tasks
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
        - name: title_like
          in: query
          description: Select by title name
          type: string
          required: false
      responses:
        '200':
          description: send the task with taskID
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'
  '/tasks/{taskID}':
    patch:
      tags:
        - task
        - not implemented
      description: Update task
      parameters:
        - name: taskID
          in: path
          type: string
          description: ID of the task
          required: true
        - in: body
          name: body
          description: Task body
          required: false
          schema:
            $ref: '#/definitions/Task'
      responses:
        '200':
          description: return updated task
          schema:
            $ref: '#/definitions/Task'
    get:
      tags:
        - task
        - live
        - has tests
      summary: Get task information by task id
      description: Get information about a task...
      operationId: findTaskByID
      parameters:
        - name: taskID
          in: path
          type: string
          description: ID of the task
          required: true
        - name: projectId
          in: query
          type: string
          description: id of project
          required: false
      responses:
        '200':
          description: send the task with taskID
          schema:
            $ref: '#/definitions/Task'
    delete:
      tags:
        - task
        - live
        - has tests
      description: Delete task
      parameters:
        - name: taskID
          in: path
          type: string
          description: ID of the task
          required: true
      responses:
        '200':
          description: Ok
  '/compare_services':
    post:
      tags:
        - service
      description: Post a new compare service
      parameters:
        - in: body
          name: body
          description: Compare service object
          required: false
          schema:
            $ref: '#/definitions/PostCompareService'
      responses:
        '200':
          description: Return created compare service
          schema:
            $ref: '#/definitions/GetCompareService'
        '405':
          description: Invalid input
  '/compare_services/{id}':
    delete:
      tags:
        - service
      description: Delete service from compare
      parameters:
        - in: path
          name: id
          description: Id compared service
          required: true
          type: string
      responses:
        '200':
          description: Ok
        '405':
          description: Invalid input
  '/profiles/{profileId}/compare_services':
    get:
      tags:
        - service
        - profile
      description: Get all user compared services
      parameters:
        - in: path
          name: profileId
          description: profileId
          required: true
          type: string
      responses:
        '200':
          description: Return array of compared services
          schema:
            type: array
            items:
              $ref: '#/definitions/GetCompareService'
        '405':
          description: Invalid input
  '/dome-interfaces':
    post:
      tags:
        - service
        - not implemented
      description: Post a new dome interface
      parameters:
        - in: body
          name: body
          description: Dome interface object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/PostUpdateDomeInterface'
      responses:
        '200':
          description: Return dome inerface object with id
          schema:
            $ref: '#/definitions/GetDomeInterface'
        '405':
          description: Invalid input
  '/dome-interfaces/{domeInterfaceId}':
    delete:
      tags:
        - service
        - not implemented
      description: Get service dome interface
      parameters:
        - in: path
          name: domeInterfaceId
          required: true
          description: Dome interfaceId id
          type: number
      responses:
        '200':
          description: Ok
    patch:
      tags:
        - service
        - not implemented
      description: Update dome interface
      parameters:
        - in: path
          name: domeInterfaceId
          required: true
          description: Dome interfaceId id
          type: number
        - in: body
          name: Dome interface
          description: Dome interface object for updated in database
          required: false
          schema:
            $ref: '#/definitions/PostUpdateDomeInterface'
      responses:
        '200':
          description: Return updated dome inerface object
          schema:
            $ref: '#/definitions/GetDomeInterface'
    get:
      tags:
        - service
        - not implemented
      description: Get dome interface
      parameters:
        - in: path
          name: domeInterfaceId
          required: true
          description: Dome interfaceId id
          type: number
      responses:
        '200':
          description: Return dome inerface object
          schema:
            $ref: '#/definitions/GetDomeInterface'
  '/getChildren':
    get:
      tags:
        - service
        - not implemented
      description: Get children from Dome API
      parameters:
        - in: query
          name: domeServer
          description: Address of Dome server
          required: true
          type: string
        - in: query
          name: dateModified
          description: Date Dome model was modified (if type is model)
          required: false
          type: string
        - in: query
          name: description
          description: Description of Dome model (if type is model)
          required: false
          type: string
        - in: query
          name: modelId
          description: Id of Dome model (if type is model)
          required: false
          type: string
        - in: query
          name: name
          description: Dome object name (if type is model or folder)
          required: false
          type: string
        - in: query
          name: path
          description: Path of Dome object (if type is model or folder)
          required: false
          type: array
          items:
            type: number
        - in: query
          name: type
          description: Type of Dome object -- Either "" "folder" or "model"
          required: false
          type: string
        - in: query
          name: version
          description: Version of Dome model (if type is model)
          required: false
          type: string
      responses:
        '200':
          description: Return the JSON object that was sent by the Dome API, object attribute is null if not needed (needed attributes depend on if type is folder, model, or neither)
          schema:
            $ref: '#/definitions/DomeResponseEntity'
  '/getModel':
    get:
      tags:
        - service
        - not implemented
      description: Get model from Dome API
      parameters:
        - in: query
          name: domeServer
          description: Address of Dome server
          required: true
          type: string
        - in: query
          name: interfaceId
          description: Id of Dome interface
          required: true
          type: string
        - in: query
          name: modelId
          description: Id of Dome model (if type is interface)
          required: false
          type: string
        - in: query
          name: projectId
          description: Id of Dome project (if type is project)
          required: false
          type: string
        - in: query
          name: name
          description: Name of Dome model
          required: true
          type: string
        - in: query
          name: path
          description: Path of Dome object
          required: true
          type: array
          items:
            type: number
        - in: query
          name: type
          description: Type of Dome object -- Either "interface" or "project"
          required: true
          type: string
        - in: query
          name: version
          description: Version of Dome model
          required: true
          type: string
      responses:
        '200':
          description: Return the JSON object that was sent by the Dome API, object attribute is null if not needed (needed attributes depend on if type was interface or project)
          schema:
            $ref: '#/definitions/DomeModelResponse'
  '/services/{serviceId}/dome-interfaces':
    get:
      tags:
        - service
        - not implemented
      description: Get service dome interface
      parameters:
        - in: path
          name: serviceId
          required: true
          description: Service id
          type: number
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: Return service dome interface objects
          schema:
            type: array
            items:
                $ref: '#/definitions/GetDomeInterface'
  '/service_runs':
    post:
      tags:
        - service
        - not implemented
      summary: Post a new run service
      description: Post a new run service
      parameters:
        - in: body
          name: body
          description: Service run object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/PostServiceRun'
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: Return run service object with id
          schema:
            $ref: '#/definitions/GetServiceRun'
  '/service_runs/{id}':
    get:
      tags:
        - service
        - not implemented
      summary: Get a run service
      description: Get a run service
      parameters:
        - name: id
          in: path
          type: string
          description: ID of the run service
          required: true
      responses:
        '200':
          description: Return run service object with id
          schema:
            $ref: '#/definitions/GetServiceRun'
    patch:
      tags:
        - service
        - not implemented
      summary: Update run service
      description: Update run service
      parameters:
        - name: id
          in: path
          type: string
          description: ID of the run service
          required: true
        - name: body
          in: body
          description: Data for update run service
          required: true
          schema:
            $ref: '#/definitions/UpdateServiceRun'
      responses:
        '200':
          description: Return updated run service object
          schema:
            $ref: '#/definitions/GetServiceRun'
    delete:
      tags:
        - service
        - not implemented
      summary: Delete run service
      description: Delete run service
      parameters:
        - name: id
          in: path
          type: string
          description: ID of the run service
          required: true
      responses:
        '204':
          description: OK
  '/services':
    post:
      tags:
        - service
        - not implemented
      summary: Post a new service
      description: Post a new service to store in the database
      operationId: postService
      parameters:
        - in: body
          name: body
          description: Service object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/Service'
      responses:
        '405':
          description: Invalid input
    get:
      tags:
        - service
        - marketplace
        - live
        - has tests
      description: get all services
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: send all services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/services/{serviceID}':
    get:
      tags:
        - service
        - marketplace
        - live
        - has tests
      summary: Get information for a service
      description: Get information about a service...
      operationId: findServiceByID
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: send the service with serviceID
          schema:
            $ref: '#/definitions/Service'
    patch:
      tags:
        - service
        - marketplace
        - not implemented
      description: Update information for service by ID
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - name: service
          in: body
          schema:
            $ref: '#/definitions/Service'
      responses:
        200:
          description: returns updated service
          schema:
            $ref: '#/definitions/Service'
  '/services/{serviceID}/service_history':
    get:
      tags:
        - service
        - history
        - marketplace
        - not implemented
      description: Get service history by service id
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - name: period
          in: query
          description: Filter by period
          type: string
          required: false
        - name: section
          in: query
          description: Filter by section
          type: string
          required: false
      responses:
        '200':
          description: return service history
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceHistory'
  '/projects/{projectID}/project_documents':
    get:
      tags:
        - project
        - document
        - not implemented
      description: Get all documents in a project
      parameters:
        - name: projectID
          in: path
          type: string
          description: ID of the project
          required: true
        - name: project-documentId
          in: query
          type: string
          description: Parent document Id (default 0)
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return all project documents
          schema:
            type: array
            items:
              $ref: '#/definitions/ProjectDocument'
  '/project_documents/{id}':
    patch:
      tags:
        - project
        - document
      description: Update document
      parameters:
        - name: id
          in: path
          type: string
          description: ID document
          required: true
        - in: body
          name: body
          description: body of project document
          required: true
          schema:
            $ref: '#/definitions/DocumentBody'
      responses:
        '200':
          description: return updated document
          schema:
            $ref: '#/definitions/ProjectDocument'
    delete:
      tags:
        - project
        - document
      description: Delete project document by id
      parameters:
        - name: id
          in: path
          type: string
          description: ID document
          required: true
      responses:
        '200':
          description: Ok
  '/services/{serviceID}/service_documents':
    get:
      tags:
        - service
        - document
        - marketplace
        - not implemented
      description: Get all documents in a service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - name: service-documentId
          in: query
          type: string
          description: Parent document Id (default 0)
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return all service documents
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceDocument'
  '/service_documents/{id}':
    patch:
      tags:
        - service
        - marketplace
        - document
      description: Update document
      parameters:
        - name: id
          in: path
          type: string
          description: ID document
          required: true
        - in: body
          name: body
          description: body of service document
          required: true
          schema:
            $ref: '#/definitions/DocumentBody'
      responses:
        '200':
          description: return updated document
          schema:
            $ref: '#/definitions/ServiceDocument'
    delete:
      tags:
        - service
        - document
        - marketplace
      description: Delete service document by id
      parameters:
        - name: id
          in: path
          type: string
          description: ID document
          required: true
      responses:
        '200':
          description: Ok
  '/projects_join_requests':
    get:
      tags:
        - project
        - profile
      description: Return all join requests of projects
      parameters:
        - in: query
          name: projectId
          description: Project id
          required: false
          type: array
          items:
            type: string
        - in: query
          name: profileId
          description: Profile Id
          required: false
          type: array
          items:
            type: string
      responses:
        '200':
          description: Return all join requests of projects
          schema:
            type: array
            items:
              $ref: '#/definitions/GetProjectJoinRequest'
    post:
      tags:
        - project
        - profile
      description: Add new join requests of project
      parameters:
        - in: body
          name: body
          description: body of join request
          required: true
          schema:
            $ref: '#/definitions/PostProjectJoinRequest'
      responses:
        '200':
          description: return created request
          schema:
            $ref: '#/definitions/GetProjectJoinRequest'
  '/projects/{projectId}/projects_join_requests':
    get:
      tags:
        - project
        - profile
      description: Return all join requests of project
      parameters:
        - in: path
          name: projectId
          description: Project id
          required: true
          type: string
        - in: query
          name: profileId
          description: Profile Id
          required: false
          type: array
          items:
            type: string
      responses:
        '200':
          description: Return all join requests of project
          schema:
            type: array
            items:
              $ref: '#/definitions/GetProjectJoinRequest'
  '/profiles/{profileId}/projects_join_requests':
    get:
      tags:
        - project
        - profile
      description: Return all project join requests of user
      parameters:
        - in: path
          name: profileId
          description: Profile id
          required: true
          type: string
        - in: query
          name: projectId
          description: Project Id
          required: false
          type: array
          items:
            type: string
      responses:
        '200':
          description: Return all project join requests of user
          schema:
            type: array
            items:
              $ref: '#/definitions/GetProjectJoinRequest'
  '/projects_join_requests/{id}':
    delete:
      tags:
        - project
        - profile
      description: delete join request
      parameters:
        - in: path
          name: id
          description: request id
          required: true
          type: string
      responses:
        '200':
          description: Ok
  '/company_contact_methods':
    post:
      tags:
        - company
      description: Add new company contact method
      parameters:
        - in: body
          name: body
          description: body of contact method
          required: true
          schema:
            $ref: '#/definitions/PostCompanyContactMethod'
      responses:
        '200':
          description: return contact method
          schema:
            $ref: '#/definitions/GetCompanyContactMethod'
  '/company_contact_methods/{id}':
    delete:
      tags:
        - company
      description: Add new company contact method
      parameters:
        - in: path
          name: id
          description: Company contact methods id
          type: string
          required: true
      responses:
        '200':
          description: Ok
    patch:
      tags:
        - company
      description: Update company contact method
      parameters:
        - in: path
          name: id
          description: Company contact methods id
          type: string
          required: true
        - in: body
          name: body
          description: body of contact method
          required: true
          schema:
            $ref: '#/definitions/PostCompanyContactMethod'
      responses:
        '200':
          description: return contact method
          schema:
            $ref: '#/definitions/GetCompanyContactMethod'
  '/companies/{companyId}/company_contact_methods':
    get:
      tags:
        - company
      description: Get contact methods of company
      parameters:
        - in: path
          name: companyId
          description: Company id
          type: string
          required: true
      responses:
        '200':
          description: return contact method
          schema:
            type: array
            items:
              $ref: '#/definitions/GetCompanyContactMethod'
  '/removed_company_members':
    post:
      tags:
        - company
      description: Add new removed company member
      parameters:
        - in: body
          name: body
          description: body of removed company member
          required: true
          schema:
            $ref: '#/definitions/PostRemovedCompanyMember'
      responses:
        '200':
          description: return removed member
          schema:
            $ref: '#/definitions/GetRemovedCompanyMember'
  '/removed_company_members/{id}':
    delete:
      tags:
        - company
      description: Remove removed company member
      parameters:
        - in: path
          name: id
          description: removed company member id
          type: string
          required: true
      responses:
        '200':
          description: Ok
    patch:
      tags:
        - company
      description: Update removed company member
      parameters:
        - in: path
          name: id
          description: Removed company member id
          type: string
          required: true
        - in: body
          name: body
          description: body of removed company member
          required: true
          schema:
            $ref: '#/definitions/PostRemovedCompanyMember'
      responses:
        '200':
          description: return contact method
          schema:
            $ref: '#/definitions/GetRemovedCompanyMember'
  '/companies/{companyId}/removed_company_members':
    get:
      tags:
        - company
      description: Get removed company members
      parameters:
        - in: path
          name: companyId
          description: Company id
          type: string
          required: true
      responses:
        '200':
          description: return contact method
          schema:
            type: array
            items:
              $ref: '#/definitions/GetCompanyContactMethod'
  '/suggest_join_companies':
    post:
      tags:
        - company
      description: Suggest user company joins DMDII
      parameters:
        - in: body
          name: body
          description: body of suggest join company
          required: true
          schema:
            $ref: '#/definitions/PostSuggestCompany'
      responses:
        '200':
          description: return new join
          schema:
            $ref: '#/definitions/GetSuggestCompany'
  '/suggest_join_companies/{id}':
    delete:
      tags:
        - company
      description: Cancel suggest company join DMDII
      parameters:
        - in: path
          name: id
          description: suggest company join id
          type: string
          required: true
      responses:
        '200':
          description: OK
  '/companies/{companyId}/suggest_join_companies':
    get:
      tags:
        - company
      description: Get company suggest join DMDII
      parameters:
        - in: path
          name: companyId
          description: Company id
          type: string
          required: true
      responses:
        '200':
          description: return new join
          schema:
            type: array
            items:
              $ref: '#/definitions/GetSuggestCompany'
  '/companies_join_requests':
      get:
        tags:
          - company
          - profile
        description: Return all join requests of companies
        parameters:
          - in: query
            name: companyId
            description: Company id
            required: false
            type: array
            items:
              type: string
          - in: query
            name: profileId
            description: Profile Id
            required: false
            type: array
            items:
              type: string
        responses:
          '200':
            description: Return all join requests of companies
            schema:
              type: array
              items:
                $ref: '#/definitions/GetCompanyJoinRequest'
      post:
        tags:
          - company
          - profile
        description: Add new join requests of company
        parameters:
          - in: body
            name: body
            description: body of join request
            required: true
            schema:
              $ref: '#/definitions/PostCompanyJoinRequest'
        responses:
          '200':
            description: return created request
            schema:
              $ref: '#/definitions/GetCompanyJoinRequest'
  '/companies/{companyId}/companies_join_requests':
      get:
        tags:
          - company
          - profile
        description: Return all join requests of company
        parameters:
          - in: path
            name: companyId
            description: Company id
            required: true
            type: string
          - in: query
            name: profileId
            description: Profile Id
            required: false
            type: array
            items:
              type: string
        responses:
          '200':
            description: Return all join requests of company
            schema:
              type: array
              items:
                $ref: '#/definitions/GetCompanyJoinRequest'
  '/profiles/{profileId}/companies_join_requests':
      get:
        tags:
          - company
          - profile
        description: Return all company join requests of user
        parameters:
          - in: path
            name: profileId
            description: Profile id
            required: true
            type: string
          - in: query
            name: compnayId
            description: Compnay Id
            required: false
            type: array
            items:
              type: string
        responses:
          '200':
            description: Return all compnay join requests of user
            schema:
              type: array
              items:
                $ref: '#/definitions/GetCompanyJoinRequest'
  '/companies_join_requests/{id}':
      delete:
        tags:
          - company
          - profile
        description: delete join request
        parameters:
          - in: path
            name: id
            description: request id
            required: true
            type: string
        responses:
          '200':
            description: Ok
  '/services/{serviceID}/service_authors':
    get:
      tags:
        - service
        - marketplace
        - not implemented
      description: Get all authors for a service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: return all authors for a service
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceAuthor'
  '/services/{serviceID}/services_statistic':
    get:
      tags:
        - service
        - marketplace
        - not implemented
      description: Get all statistics for a service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: return all statistics for a service
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceStats'
  '/services/{serviceID}/service_tags':
    get:
      tags:
        - service
        - marketplace
        - not implemented
      description: Get all tags for a service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return all tags for a service
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceTag'
  '/service_tags':
    post:
      tags:
        - service
        - marketplace
        - not implemented
      description: Create a new service tag
      parameters:
        - in: body
          name: ServiceTag
          description: Service tag to be created
          required: false
          schema:
            $ref: '#/definitions/ServiceTag'
      responses:
        '201':
          description: New service tag
          schema:
            $ref: '#/definitions/ServiceTag'
    get:
      tags:
        - service
        - marketplace
        - not implemented
      description: Get latest service tag
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return latest service tag
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceTag'
  '/service_tags/{serviceTagID}':
    delete:
      tags:
        - service
        - marketplace
        - not implemented
      description: Delete a service tag
      parameters:
        - in: path
          name: serviceTagID
          description: ID of service tag
          required: true
          type: string
      responses:
        '204':
          description: OK
  '/service/{serviceID}/specifications':
    post:
      tags:
        - service
        - specification
        - not implemented
      operationId: postServiceSpecification
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
        - in: body
          name: body
          description: body of specification
          required: true
          schema:
            $ref: '#/definitions/ServiceSpecifications'
      responses:
        '200':
          description: post specification for service
  '/services/{serviceID}/specifications':
    get:
      tags:
        - service
        - specification
        - marketplace
        - live
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: send specification for service
          schema:
            $ref: '#/definitions/ServiceSpecifications'
  '/specifications/{specificationId}':
    patch:
      tags:
        - service
        - specifications
        - marketplace
        - not implemented
      parameters:
        - name: specificationId
          in: path
          type: string
          description: ID of the specifications
          required: true
        - in: body
          name: body
          description: body of specification
          required: true
          schema:
            $ref: '#/definitions/ServiceSpecifications'
      responses:
        200:
          description: returns updated specifications
          schema:
            $ref: '#/definitions/ServiceSpecifications'
  '/services/{serviceID}/service_images':
    get:
      tags:
        - service
        - marketplace
        - not implemented
      description: get images for service
      parameters:
        - name: serviceID
          in: path
          type: string
          description: ID of the service
          required: true
      responses:
        '200':
          description: send images for service
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceImages'
  '/service_images/{imageId}':
    delete:
      tags:
        - service
        - marketplace
        - not implemented
      description: remove image
      parameters:
        - name: imageId
          in: path
          type: string
          description: Id of the image
          required: true
      responses:
        '204':
          description: Ok
  '/service_images':
    post:
      tags:
        - service
        - marketplace
        - not implemented
      description: Create a new service image
      parameters:
        - in: body
          name: ServiceImage
          description: Service image to be created
          required: false
          schema:
            $ref: '#/definitions/ServiceImages'
      responses:
        '201':
          description: New service image
          schema:
            $ref: '#/definitions/ServiceImages'
    get:
      tags:
        - service
        - marketplace
        - not implemented
      description: Get latest service tag
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
      responses:
        '200':
          description: return latest service tag
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceTag'
  /components:
    post:
      tags:
        - component
        - not implemented
      summary: Post a new component
      description: Post a new component to store in the database
      operationId: postComponent
      parameters:
        - in: body
          name: body
          description: Component object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/Component'
      responses:
        '405':
          description: Invalid input
  '/components/{componentID}':
    get:
      tags:
        - component
        - live
        - has tests
      summary: Get information for a component
      description: Get specification for a component based on componentID
      operationId: getComponentByServiceID
      parameters:
        - name: componentID
          in: path
          type: string
          description: ID of the component
          required: true
      responses:
        '200':
          description: send the component with componentID
          schema:
            $ref: '#/definitions/Component'
  '/popular_discussions':
    get:
      tags:
        - discussion
        - not implemented
      description: Get popular discussions
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return popular discussions
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/follow_people_discussions':
    get:
      tags:
        - discussion
        - not implemented
      description: Get discussion of people being followed
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        '200':
          description: return discussions of people being
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/following_discussions':
    get:
      tags:
        - discussion
        - dashboard.php
        - not implemented
      description: Get discussion being followed
      responses:
        '200':
          description: return discussons being followed
          schema:
            type: array
            items:
              $ref: '#/definitions/IndividualDiscussion'
  '/follow_discussions':
    patch:
      tags:
        - discussion
        - not implemented
      description: Update follow discussion
      parameters:
        - in: body
          name: body
          description: Follow Discussion object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/FollowingIndividualDiscussion'
      responses:
        200:
          description: Returns updated Follow Discussion
          schema:
            $ref: '#/definitions/FollowingIndividualDiscussion'
  '/follow_discussions/{followID}':
    delete:
      tags:
        - discussion
        - not implemented
      description: remove follow discussion (Unfollow discussion)
      parameters:
        - in: path
          name: followID
          description: Follow Discussion ID
          required: true
          type: string
      responses:
        '200':
          description: OK
  '/accounts/{accountID}/follow_discussions':
    get:
      tags:
        - discussion
        - not implemented
      description: Get follow discussion
      parameters:
        - in: path
          name: accountID
          description: account ID
          required: true
          type: string
        - in: query
          name: individual-discussionId
          description: discussion Id
          required: true
          type: string
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
      responses:
        200:
          description: Returns Follow Discussion
          schema:
            type: array
            items:
              $ref: '#/definitions/FollowingIndividualDiscussion'
  /discussions/create:
    post:
      tags:
        - discussion
        - live
        - has tests
      summary: Post a new discussion
      description: Post a new discussion to store in the database
      operationId: postDiscussion
      parameters:
        - in: body
          name: body
          description: Discussion object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/IndividualDiscussion'
      responses:
        '405':
          description: Invalid input
  '/profiles':
    post:
      tags:
        - profile
        - live
        - has tests
      description: Create a new user profile
      parameters:
        - in: body
          name: Profile
          description: Profile to be created
          required: false
          schema:
            $ref: '#/definitions/Profile'
      responses:
        '201':
          description: New user profile created
          schema:
            $ref: '#/definitions/Profile'
    get:
      tags:
        - profile
        - not implemented
      description: Get all user profiles
      parameters:
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter
          type: string
          required: false
        - name: id
          in: query
          description: Select by profile id
          type: array
          items:
            type: string
          required: false
      responses:
        '200':
          description: send all user profiles
          schema:
            type: array
            items:
              $ref: '#/definitions/Profile'
  '/profiles/{profileID}':
    get:
      tags:
        - profile
        - live
        - has tests
      description: Get profile based on profileID
      parameters:
        - name: profileID
          in: path
          type: string
          description: ID of the profile
          required: true
      responses:
        '200':
          description: send the profile with profileID
          schema:
            $ref: '#/definitions/Profile'
    patch:
      tags:
        - profile
        - live
        - has tests
      description: Update information for profile by ID
      parameters:
        - name: profileID
          in: path
          type: string
          description: ID of the profile
          required: true
        - name: profile
          in: body
          schema:
            $ref: '#/definitions/Profile'
      responses:
        200:
          description: returns updated profile
          schema:
            $ref: '#/definitions/Profile'
    delete:
      tags:
        - profile
        - live
        - has tests
      description: Delete a profile by id
      parameters:
        - in: path
          name: profileID
          description: ID of profile to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
  '/profiles/{profileID}/profile_history':
    get:
      tags:
        - profile
        - not implemented
      description: Get the user activities history by profile ID
      parameters:
        - name: profileID
          in: path
          type: string
          description: ID of the profile
          required: true
        - name: section
          in: query
          type: string
          enum:
            - mutual
            - public
          description: filter result by section
          required: false
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
      responses:
        '200':
          description: send user activities history
          schema:
            type: array
            items:
              $ref: '#/definitions/ProfileHistory'
  '/profiles/{profileID}/profile_reviews':
    get:
      tags:
        - profile
        - not implemented
      summary: Get reviews for a member profile
      description: Get profile reviews based on profileID
      parameters:
        - name: profileID
          in: path
          type: string
          description: ID of the profile
          required: true
        - in: query
          name: reviewId
          description: Id review profile
          required: true
          type: string
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (date, like, rating)
          type: string
          required: false
        - name: rating
          in: query
          description: Sort by rating
          type: integer
          required: false
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
        - name: status
          in: query
          description: Sort by verified user
          type: boolean
          required: false
      responses:
        '200':
          description: send the reviews with profileID
          schema:
            type: array
            items:
              $ref: '#/definitions/ProfileReview'
  '/profile_reviews':
    post:
      tags:
        - profile
        - not implemented
      description: Added new review or reply profile
      parameters:
        - in: body
          name: body
          description: Review object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/ProfileReview'
      responses:
        '201':
          description: return reviews profile
          schema:
            $ref: '#/definitions/ProfileReview'
  '/profile_reviews/{reviewId}':
    get:
      tags:
        - profile
        - not implemented
      description: Get profile review by id
      parameters:
        - name: reviewId
          in: path
          type: string
          description: ID of the review
          required: true
      responses:
        '200':
          description: send the review by id
          schema:
            $ref: '#/definitions/ProfileReview'
    patch:
      tags:
        - profile
        - not implemented
      description: Update profile review
      parameters:
        - name: reviewId
          in: path
          type: string
          description: ID of the review
          required: true
        - name: Review
          in: body
          schema:
            $ref: '#/definitions/ProfileReview'
      responses:
        200:
          description: returns updated profile review
          schema:
            $ref: '#/definitions/ProfileReview'
  '/profile_reviews_helpful':
    get:
      tags:
        - profile
        - not implemented
      description: Get profile review helpful
      parameters:
        - in: query
          name: reviewId
          description: Id iprofile review
          required: true
          type: string
        - in: query
          name: accountId
          description: Id account
          required: true
          type: string
      responses:
        '200':
          description: return profile review helpful
          schema:
            type: array
            items:
              $ref: '#/definitions/ProfileReviewHelpful'
    post:
      tags:
        - profile
        - not implemented
      description: Create profile review helpful
      parameters:
        - in: body
          name: ProfileReviewHelpful
          description: profile review helpful
          required: false
          schema:
            $ref: '#/definitions/ProfileReviewHelpful'
      responses:
        '201':
          description: New profile review helpful
          schema:
            $ref: '#/definitions/ProfileReviewHelpful'
  '/profile_reviews_flagged':
    get:
      tags:
        - profile
        - not implemented
      description: Get profile review flagged
      parameters:
        - in: query
          name: reviewId
          description: Id iprofile review
          required: true
          type: string
        - in: query
          name: accountId
          description: Id account
          required: true
          type: string
      responses:
        '200':
          description: return profile review flagged
          schema:
            type: array
            items:
              $ref: '#/definitions/ProfileReviewFlagged'
    post:
      tags:
        - profile
        - not implemented
      description: Create profile review flagged
      parameters:
        - in: body
          name: ProfileReviewFlagged
          description: profile review flagged
          required: false
          schema:
            $ref: '#/definitions/ProfileReviewFlagged'
      responses:
        '201':
          description: New profile review flagged
          schema:
            $ref: '#/definitions/ProfileReviewFlagged'
  '/profile_reviews_helpful/{helpfulID}':
    patch:
      tags:
        - profile
        - not implemented
      description: Update profile review helpful
      parameters:
        - name: helpfulID
          in: path
          type: string
          description: ID of the helpful
          required: true
        - name: helpful
          in: body
          schema:
            $ref: '#/definitions/ProfileReviewHelpful'
      responses:
        200:
          description: returns updated profile review helpful
          schema:
            $ref: '#/definitions/ProfileReviewHelpful'
  '/companies':
    get:
      tags:
        - onboarding
        - company
        - live
        - has tests
      description: Get all Companies
      responses:
        '200':
          description: Send all Companies
          schema:
            type: array
            items:
              $ref: '#/definitions/Company'
  '/companies/{companyID}':
    get:
      tags:
        - company
        - live
        - has tests
      summary: Get information for a company profile
      description: Get profile based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the company profile with companyID
          schema:
            $ref: '#/definitions/Company'
    patch:
      tags:
        - company
        - not implemented
      description: Update information for company profile by ID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: company
          in: body
          schema:
            $ref: '#/definitions/Company'
      responses:
        200:
          description: returns updated company profile
          schema:
            $ref: '#/definitions/Company'
  '/companies/{companyID}/company_images':
    get:
      tags:
        - company
        - not implemented
      summary: Get company profile images
      description: Get company profile images based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile images with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyImage'
  '/companies/{companyID}/company_members':
    get:
      tags:
        - company
        - not implemented
      description: Get company members based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send members in a company
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyMember'
  '/companies/{companyID}/company_history':
    get:
      tags:
        - company
        - not implemented
      description: Get company history based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send history for a company
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyHistory'
  '/company_images/{imageID}':
    patch:
      tags:
        - company
        - not implemented
      description: Update company image by ID
      parameters:
        - name: imageID
          in: path
          type: string
          description: ID of the company image
          required: true
        - name: image
          in: body
          schema:
            $ref: '#/definitions/CompanyImage'
      responses:
        200:
          description: returns updated company image
          schema:
            $ref: '#/definitions/CompanyImage'
  '/companies/{companyID}/company_videos':
    get:
      tags:
        - company
        - not implemented
      summary: Get company profile videos
      description: Get company profile videos based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile videos with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyVideo'
  '/companies/{companyID}/company_skills':
    get:
      tags:
        - company
        - not implemented
      summary: Get company profile skill
      description: Get company profile skill based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile skill with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanySkill'
  '/companies/{companyID}/company_key_contacts':
    get:
      tags:
        - company
        - not implemented
      summary: Get company profile contacts
      description: Get company profile contacts based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile contacts with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyKeyContact'
  '/companies/{companyID}/company_skill_images':
    get:
      tags:
        - company
        - not implemented
      summary: Get company profile skill images
      description: Get company profile skill images based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
      responses:
        '200':
          description: send the profile skill images with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanySkillImage'
  '/company_skill_images/{imageID}':
    patch:
      tags:
        - company
        - not implemented
      description: Update company skill image by ID
      parameters:
        - name: imageID
          in: path
          type: string
          description: ID of the company skill image
          required: true
        - name: image
          in: body
          schema:
            $ref: '#/definitions/CompanySkillImage'
      responses:
        200:
          description: returns updated company skill image
          schema:
            $ref: '#/definitions/CompanySkillImage'
  '/companies/{companyID}/company_reviews':
    get:
      tags:
        - company
        - not implemented
      summary: Get reviews for a company
      description: Get company reviews based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - in: query
          name: reviewId
          description: Id review company
          required: true
          type: string
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _sort
          in: query
          description: Sort by some parameter (date, like, rating)
          type: string
          required: false
        - name: rating
          in: query
          description: Sort by rating
          type: integer
          required: false
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
        - name: status
          in: query
          description: Sort by verified user
          type: boolean
          required: false
      responses:
        '200':
          description: send the reviews with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyReview'
  '/company_reviews':
    post:
      tags:
        - company
        - not implemented
      description: Added new review or reply company
      parameters:
        - in: body
          name: body
          description: Review object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/CompanyReview'
      responses:
        '201':
          description: return reviews company
          schema:
            $ref: '#/definitions/CompanyReview'
  '/company_reviews_helpful':
    get:
      tags:
        - company
        - not implemented
      description: Get company review helpful
      parameters:
        - in: query
          name: reviewId
          description: Id company review
          required: true
          type: string
        - in: query
          name: accountId
          description: Id account
          required: true
          type: string
      responses:
        '200':
          description: return company review helpful
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyReviewHelpful'
    post:
      tags:
        - company
        - not implemented
      description: Create company review helpful
      parameters:
        - in: body
          name: CompanyReviewHelpful
          description: company review helpful
          required: false
          schema:
            $ref: '#/definitions/CompanyReviewHelpful'
      responses:
        '201':
          description: New company review helpful
          schema:
            $ref: '#/definitions/CompanyReviewHelpful'
  '/company_reviews_helpful/{helpfulID}':
    patch:
      tags:
        - company
        - not implemented
      description: Update company review helpful
      parameters:
        - name: helpfulID
          in: path
          type: string
          description: ID of the helpful
          required: true
        - name: helpful
          in: body
          schema:
            $ref: '#/definitions/CompanyReviewHelpful'
      responses:
        200:
          description: returns updated company review helpful
          schema:
            $ref: '#/definitions/CompanyReviewHelpful'
  '/company_reviews_flagged':
    get:
      tags:
        - company
        - not implemented
      description: Get company review flagged
      parameters:
        - in: query
          name: reviewId
          description: Id company review
          required: true
          type: string
        - in: query
          name: accountId
          description: Id account
          required: true
          type: string
      responses:
        '200':
          description: return company review flagged
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyReviewFlagged'
    post:
      tags:
        - company
        - not implemented
      description: Create company review flagged
      parameters:
        - in: body
          name: CompanyReviewFlagged
          description: company review flagged
          required: false
          schema:
            $ref: '#/definitions/CompanyReviewFlagged'
      responses:
        '201':
          description: New company review helpful
          schema:
            $ref: '#/definitions/CompanyReviewFlagged'
  '/companies/{companyID}/company_services':
    get:
      tags:
        - company
        - service
        - not implemented
      description: Get company services based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
        - name: title_like
          in: query
          description: Search by service title
          type: string
          required: false
        - name: serviceType
          in: query
          description: Filter by service type (for service)
          type: string
          required: false
          collectionFormat: multi
          enum:
            - analytical
            - solid
            - data
        - name: _authors
          in: query
          description: Filter by author
          type: array
          items:
            type: integer
          required: false
        - name: _ratings
          in: query
          description: Filter by rating
          type: array
          items:
            type: string
          required: false
        - name: _favorites
          in: query
          description: Filter by favorite items
          type: string
          required: false
        - name: _dates
          in: query
          description: Filter by date (7d - 7 days old, 1m - 1 month old, 1y - 1 year old)
          type: array
          items:
            type: string
          required: false
          collectionFormat: multi
          enum:
            - 7d
            - 1m
            - 1y
      responses:
        '200':
          description: send the services with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/companies/{companyID}/company_components':
    get:
      tags:
        - company
        - component
        - not implemented
      description: Get company components based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: _limit
          in: query
          description: Limit items
          type: integer
          required: false
        - name: _order
          in: query
          description: Order by ASC or DESC
          type: string
          collectionFormat: multi
          required: false
          enum:
            - ASC
            - DESC
        - name: _start
          in: query
          description: Offset
          type: integer
          required: false
        - name: _sort
          in: query
          description: Sort by some parameter (id, title, etc.)
          type: string
          required: false
        - name: title_like
          in: query
          description: Search by service title
          type: string
          required: false
        - name: serviceType
          in: query
          description: Filter by service type (for service)
          type: string
          required: false
          collectionFormat: multi
          enum:
            - analytical
            - solid
            - data
        - name: _authors
          in: query
          description: Filter by author
          type: array
          items:
            type: integer
          required: false
        - name: _ratings
          in: query
          description: Filter by rating
          type: array
          items:
            type: string
          required: false
        - name: _favorites
          in: query
          description: Filter by favorite items
          type: string
          required: false
        - name: _dates
          in: query
          description: Filter by date (7d - 7 days old, 1m - 1 month old, 1y - 1 year old)
          type: array
          items:
            type: string
          required: false
          collectionFormat: multi
          enum:
            - 7d
            - 1m
            - 1y
      responses:
        '200':
          description: send the components with companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/Component'
  '/companies/{companyID}/company_featured':
    get:
      tags:
        - company
        - not implemented
      summary: Get featured products for a company
      description: Get company featured products based on companyID
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: _order
          in: query
          description: Order by DESC
          type: string
          collectionFormat: multi
          required: true
          enum:
            - DESC
        - name: _sort
          in: query
          description: Sort by position
          type: string
          required: true
          collectionFormat: multi
          enum:
            - position
      responses:
        '200':
          description: send an object with featured products based on companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceFeatured'
  '/companies/{companyID}/new':
    get:
      tags:
        - company
        - not implemented
      description: Get new company services
      parameters:
        - name: companyID
          in: path
          type: string
          description: ID of the company
          required: true
        - name: _order
          in: query
          description: Order by DESC
          type: string
          collectionFormat: multi
          required: true
          enum:
            - DESC
        - name: _sort
          in: query
          description: Sort by id
          type: string
          required: true
        - name: _limit
          in: query
          description: Limit services
          type: string
          required: true
      responses:
        '200':
          description: send an object with new services based on companyID
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  '/company_skills':
    post:
      tags:
        - company
        - not implemented
      summary: Post a new company skill
      description: Post a new company skill
      parameters:
        - in: body
          name: CompanySkill
          description: skill object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/CompanySkill'
      responses:
        '201':
          description: new skill added to the database
          schema:
            $ref: '#/definitions/CompanySkill'
  '/company_skills/{skillID}':
    delete:
      tags:
        - company
        - not implemented
      description: Delete a skill by id
      parameters:
        - in: path
          name: skillID
          description: ID of skill to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
  '/company_videos':
    post:
      tags:
        - company
        - not implemented
      summary: Post a new company video
      description: Post a new company video
      parameters:
        - in: body
          name: body
          description: Video object to be added to the database
          required: false
          schema:
            $ref: '#/definitions/CompanyVideo'
      responses:
        '201':
          description: new video added to the database
          schema:
            $ref: '#/definitions/CompanyVideo'
  '/company_videos/{videoID}':
    delete:
      tags:
        - company
        - not implemented
      description: Delete a video by id
      parameters:
        - in: path
          name: videoID
          description: ID of video to be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
    patch:
      tags:
        - company
        - not implemented
      description: Update company videos by ID
      parameters:
        - name: videoID
          in: path
          type: string
          description: ID of the company video
          required: true
        - name: video
          in: body
          schema:
[...]
