<div ng-if="!not_found" class="company-profile">
	<md-content class="company-profile-padding">
		<div layout="row">
			<div flex="20" layout="column">
				<img class="company-profile-image" ng-show="!isChangingPicture" ng-src="{{company.featureImage.large}}">
				
				<div layout="column" ng-show="isChangingPicture">
					<div class="flow-box"
						 flow-init
						 flow-drag-enter="pictureDragEnter($flow)"
						 flow-drag-leave="pictureDragLeave($flow)"
						 flow-file-success="$file.msg = $message"
						 flow-file-added="addedNewFile($file, $event, $flow )"
						 layout="column">
						<!-- <div> -->
						<div layout class="alert" flow-drop flow-drop-enabled="true">
							<div flow-btn class="inner-box" layout="row" layout-align="center center">
								<div ng-if="$flow.files.length > 0" class="uploaded-picture" flex="50">
									<img flow-img="$flow.files[0]" />
								</div>
								<div class="text" flex="50">Drag And Drop your picture here</div>
							</div>
						</div>
						<!-- </div> -->
						<md-button ng-click="cancelChangePicture($flow)">Cancel</md-button>
					</div>
				</div>

				<md-button flex="100" ng-if="editFlag" ng-show="!isChangingPicture" class="md-raised" ng-click="changePicture()">
					<ng-md-icon icon="camera_alt" style="fill: #65AF3F;" size="25"></ng-md-icon>
					Change Photo
				</md-button>

			</div>
			<div ng-if="!editFlag" flex="80" layout="column" class="company-profile-header">
				<div layout="row" layout-align="center center">
					<div layout="column">
						<h2>{{company.name}}</h2>
						<h3>Aerospace Industry</h3>
						<h3>{{company.location}}</h3>
					</div>

					<span flex></span>

					<md-button aria-label="location_city" href="" class="md-icon-button">
						<md-icon md-svg-src="images/icon_add_company.svg" class="header-icon" aria-label="company"></md-icon>
						<!-- <ng-md-icon icon="location_city" style="fill: grey;" size="25"></ng-md-icon> -->
					</md-button>
					<md-button aria-label="email" href="" class="md-icon-button">
						<ng-md-icon icon="email" style="fill: grey;" size="25"></ng-md-icon>
					</md-button>
				</div>
					<span flex></span>
				<div layout="row" layout-align="center center">
					<ui-widget-stars-static size="15" ng-click="goToReview()" value="{{average_rating}}" text="({{average_rating}})"></ui-widget-stars-static>
					<a ng-href="company.php#/1/storefront/services">View Storefront</a>
					<span flex></span>
					<div layout="row">
						<md-button class="md-raised" ng-click="follow()">
							{{(followFlag) ? 'Unfollow' : 'Follow'}}
						</md-button>
					</div>
				</div>
			</div>
			<div ng-if="editFlag" class="company-profile-header" flex="80" layout="row">
				<div flex="50" layout="column">
					<div layout="row">
						<md-input-container flex="50">
							<label>Display Name</label>
							<input ng-model="profile.displayName">
						</md-input-container>
						<md-input-container flex="50">
							<label>Job Title</label>
							<input ng-model="profile.jobTitle">
						</md-input-container>
					</div>
					<md-input-container>
						<label>Company</label>
						<input ng-model="profile.company" disabled>
					</md-input-container>
					
					<md-input-container class="md-icon-float title-input-left">
						<label>Location</label>
						<md-icon class="location-gps" ng-click="getLocation()">
							<ng-md-icon icon="gps_fixed" size="26" class="location"></ng-md-icon>
						</md-icon>
						<input ng-model="profile.location" type="text">
					</md-input-container>
					<md-autocomplete
							md-no-cache="true"
							md-selected-item="selectedItem"
							md-search-text-change="searchTextChange(searchText)"
							md-search-text="searchText"
							md-selected-item-change="selectedItemChange(item)"
							md-items="item in querySearch(searchText)"
							md-item-text="item.display"
							md-min-length="0"
							placeholder="What is your time zone?">
						<md-item-template>
							<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
						</md-item-template>
						<md-not-found>
							No matches found for "{{searchText}}".
						</md-not-found>
					</md-autocomplete>
				</div>
				<div flex="50" layout="row" layout-align="end start">
					<md-button ng-click="cancelEdit()" class="md-raised cancel">Cancel</md-button>
					<md-button ng-click="saveEdit()" class="md-raised save md-primary">Save</md-button>
				</div>
			</div>
		</div>
		<md-divider></md-divider>
		<div ng-if="!editFlag" class="company-profile-description">
			{{(showflag) ? company.descriptionSmall : company.description}} <a ng-click="showMore()" ng-if="showflag" href="">Read More</a>
		</div>
		<div ng-if="editFlag" class="company-profile-description">
			<md-input-container>
				<label>Description</label>
				<textarea ng-model="profile.description" columns="1" maxlength="3000" md-maxlength="3000"></textarea>
			</md-input-container>
		</div>

		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab ng-if="!editFlag" label="History">
				<md-content class="md-padding" layout="row">
					<md-list flex class="company-profile-list">
						<md-subheader class="md-no-sticky">
							Public
							<a class="viewAll">View all</a>
						</md-subheader>
						<md-list-item>
							<ng-md-icon icon="done_all" style="fill: grey;" size="25"></ng-md-icon>
							<h2>First Name completed <a href="">The First Project</a></h2>
							<span flex></span>
							<h3>June 30</h3>
						</md-list-item>
						<md-list-item>
							<ng-md-icon icon="done_all" style="fill: grey;" size="25"></ng-md-icon>
							<h2>First Name completed <a href="">The Project</a></h2>
							<span flex></span>
							<h3>May 29</h3>
						</md-list-item>
						<md-list-item>
							<ng-md-icon icon="done_all" style="fill: grey;" size="25"></ng-md-icon>
							<h2>First Name completed <a href="">The First Project</a></h2>
							<span flex></span>
							<h3>June 30</h3>
						</md-list-item>
					</md-list>

					<span class="vertikal-divider"></span>

					<md-list flex class="company-profile-list">
						<md-subheader class="md-no-sticky">
							Mutual
							<a class="viewAll">View all</a>
						</md-subheader>
						<md-list-item>
							<ng-md-icon icon="person" style="fill: grey;" size="25"></ng-md-icon>
							<h2>You added First Name as a contact</h2>
							<span flex></span>
							<h3>June 30</h3>
						</md-list-item>
						<md-list-item>
							<ng-md-icon icon="create" style="fill: grey;" size="25"></ng-md-icon>
							<h2>You rated First Name's <a href="">Product Name.</a><a href="">View your review.</a></h2>
							<span flex></span>
							<h3>May 01</h3>
						</md-list-item>
						<md-list-item>
							<ng-md-icon icon="supervisor_account" style="fill: grey;" size="25"></ng-md-icon>
							<h2>You worked with First Name on <a href="">The First Project.</a></h2>
							<span flex></span>
							<h3>March 30</h3>
						</md-list-item>
					</md-list>
				</md-content>
			</md-tab>

			<md-tab label="Skills">
				<md-content class="md-padding">
					<div layout="row" ng-if="!editFlag" class="tabs-content" layout-wrap>
						<md-chips ng-repeat="skill in company.skills track by $index">
							<md-chip>
								{{skill}}
							</md-chip>
						</md-chips>
					</div>
					<div layout="column" ng-if="editFlag">
						<form ng-submit="addSkill(inputSkill)" class="add-skills-form" layout="row" layout-align="start center">
							<md-input-container>
								<label>Enter skill</label>
								<input ng-model="inputSkill">
							</md-input-container>
							<md-button ng-disabled="!inputSkill" class="md-raised md-primary add-skill">Add</md-button>
						</form>
						<div layout="row" class="tabs-content" layout-wrap>
							<md-chips ng-repeat="skill in profile.skills track by $index">
								<md-chip class="skills-chip">
									{{skill}}
									<md-button aria-label="close" ng-click="deleteSkill($index)" class="md-icon-button">
										<ng-md-icon icon="close" style="fill: #000;" size="15"></ng-md-icon>
									</md-button>
								</md-chip>
							</md-chips>
						</div>
					</div>
				</md-content>
			</md-tab>

			<md-tab label="Key contacts">
				<div layout="row" layout-wrap>
					<div flex="25" class="padding-contact-card" ng-repeat="item in contacts">
						<dmc-contacts-card card-source="item"></dmc-contacts-card>
					</div>
				</div>
			</md-tab>
		</md-tabs>

		<!--MEMBERS -->

		<div class="company-members">
			<div layout="row" layout-align="space-between center">
				<div layout="row" layout-align="center center">
					<h3>MEMBERS</h3>
					<h4>11,000 total</h4>
				</div>
				<a class="viewAll" href="">View All</a>
			</div>
			<md-divider></md-divider>
			<div layout="row">
				<div flex="20" class="padding-card" ng-repeat="item in [0,1,2,3,4]">
					<dmc-members-card></dmc-members-card>
				</div>
			</div>
		</div>

		<!--Reviews-->
		<div ng-if="!editFlag" id="review" layout="row" class="reviews" layout-margin layout-fill>
			<!--left column-->
			<div flex class="reviews-rating">
				<!--Rating header-->
				<div layout="row" class="md-toolbar-tools reviews-rating-header">
					<h2>Reviews</h2>
					<ui-widget-stars-static size="15" value="{{average_rating}}" text="({{average_rating}})"></ui-widget-stars-static>
					<span flex></span>
					<md-button class="viewAll md-raised" ng-click="ViewAllReview()">View All({{number_of_comments}})</md-button>
				</div>
					<!--Rating-->
				<div layout="row" ng-class="{'active-star' : (selectSortingStar!=5 && selectSortingStar!=0)}" ng-click="SortingReviews('5star')">
					<p>5 STAR</p>
					<md-progress-linear md-mode="determinate" value="{{precentage_stars[4]}}" flex></md-progress-linear>
					<p flex="5">{{precentage_stars[4]}}%</p>
				</div>
				<div layout="row" ng-class="{'active-star' : (selectSortingStar!=4 && selectSortingStar!=0)}" ng-click="SortingReviews('4star')">
					<p>4 STAR</p>
					<md-progress-linear md-mode="determinate" value="{{precentage_stars[3]}}" flex></md-progress-linear>
					<p flex="5">{{precentage_stars[3]}}%</p>
				</div>
				<div layout="row" ng-class="{'active-star' : (selectSortingStar!=3 && selectSortingStar!=0)}" ng-click="SortingReviews('3star')">
					<p>3 STAR</p>
					<md-progress-linear md-mode="determinate" value="{{precentage_stars[2]}}" flex></md-progress-linear>
					<p flex="5">{{precentage_stars[2]}}%</p>
				</div>
				<div layout="row" ng-class="{'active-star' : (selectSortingStar!=2 && selectSortingStar!=0)}" ng-click="SortingReviews('2star')">
					<p>2 STAR</p>
					<md-progress-linear md-mode="determinate" value="{{precentage_stars[1]}}" flex></md-progress-linear>
					<p flex="5">{{precentage_stars[1]}}%</p>
				</div>
				<div layout="row" ng-class="{'active-star' : (selectSortingStar!=1 && selectSortingStar!=0)}" ng-click="SortingReviews('1star')">
					<p>1 STAR</p>
					<md-progress-linear md-mode="determinate" value="{{precentage_stars[0]}}" flex></md-progress-linear>
					<p flex="5">{{precentage_stars[0]}}%</p>
				</div>
			</div>
			<!--right column-->
			<div flex layout layout-align="center center">
				<md-button class="md-raised" ng-click="LeaveAReview()">Leave a Review</md-button>
				<span flex></span>
				<md-input-container>
					<label>Sorting</label>
					<md-select ng-model="sortListModel" ng-change="selectItemDropDown(sortListModel)"  md-container-class="margin-dropdown">
						<md-option ng-repeat="sort in sortList track by $index"  ng-value="$index">{{sort.name}}</md-option>
					</md-select>
				</md-input-container>
			</div>
		</div>

		<!--new review-->
		<div flex class="new-review" ng-if="LeaveFlag">
			<form name="CommentForm">
				<h2>Rating</h2>
				<ui-widget-stars-active size="20" value="{{average_rating}}" select-star="stars(star)"></ui-widget-stars-active>
				<md-input-container flex>
					<label>Comment</label>
					<textarea ng-model="NewReview.Comment" columns="1" md-maxlength="150"></textarea>
				</md-input-container>
				<div layout layout-align="end end">
					<md-button class="md-raised" ng-click="Cancel()">Cancel</md-button>
					<md-button class="md-raised" ng-click="Submit(NewReview)" ng-disabled="!NewReview.Comment || submit_rating==0" >Submit</md-button>
				</div>
			</form>
		</div>

		<md-divider ng-if="!editFlag" ></md-divider>

		<div ng-if="!editFlag" ng-repeat="review in company.reviews">
			<ui-widget-review review="review" userlogin="UserLogin" typereview="'company_reviews'"></ui-widget-review>
			<md-divider></md-divider>
		</div>
	</md-content>
</div>