<div class="gray">
<section class=" container recent-news">
	<h4>Recent News</h4>
	<div class="row">
		<div class="col-sm-4">
			<article>
				<h3>Lorem Ipsum Dolor</h3>
				<time datetime="2011-01-12">January 12th, 2011</time>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</article>
		</div>
		<div class="col-sm-4">
			<article>
				<h3>Lorem Ipsum Dolor</h3>
				<time datetime="2011-01-12">January 12th, 2011</time>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</article>
		</div>
		<div class="col-sm-4">
			<article>
				<h3>Lorem Ipsum Dolor</h3>
				<time datetime="2011-01-12">January 12th, 2011</time>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</article>
		</div>
	</div>
</section>
</div>
