<div class="container dmdii-projects" layout="row" >
    <div class="content-column" layout="column" flex='20'>
        <dmc-tree-menu tree-source="treeMenuModel"></dmc-tree-menu>
        <dmc-products-filter state-name="dmdii_projects_search'" ng-if="isSearch"></dmc-products-filter>
    </div>
        <!-- Left Content Column -->
    <div class="members" layout="column" flex>
        <md-content class="md-padding" layout-padding>
            <div class="newsAndEvents" layout="column">
                <div class=" slim-margin">
                      <p class="news">Recent News</p>
                    <div ng-repeat="item in news">
                      <h3 class="no-top no-bottom ">{{item.dateCreated}}</h3>
                      <h2 class="no-top no-bottom green">{{item.title}}</h2>
                      <p class="no-top no-bottom ">{{item.content}}</p>
                        <md-divider></md-divider>
                    </div>
                </div>
            </div>

            <div layout="column" layout-padding layout-align="start">
                <div layout="row" layout-padding layout-align="center stretch">
                    <div flex="33" layout-align="center">
                        <h3>Projects Overview</h3>
                        <img style="border:1px solid;width:100% " src="{{projectOverview.documentUrl}}"></img>

                    </div>

                    <div layout-align="center center" flex="33">
                        <h3>Projects Status</h3>
                        <img style="border:1px solid; height:76%" src="{{projectStatus.documentUrl}}"></img>

                    </div>
                    <div layout-align="end start" flex="33">
                        <h3>Quick Links</h3>
                          <ul>
                            <li ng-repeat="doc in docs track by $index" ng-click="quickLinkAction(doc)"><a>{{doc.displayName}}</a></li> <br>
                         </ul>
                    </div>
                </div>

            <div>
                <horizontal-timeline
                    start-date="{{startDate}}"
                    end-date="{{endDate}}"
                    events="events">
                </horizontal-timeline>
            </div>

            <span flex></span>

            <md-divider></md-divider>

            <span flex></span>

        </md-content>

        <md-content class="dmdii-projects-search" layout="row" layout-align="left center">

            <form ng-submit="submit(searchModel)" class="dmc-search global-search-form" flex="60">
                <div layout="column">
                    <div layout="row">
                        <div layout="column" flex>
                            <md-input-container md-no-float>
                                <md-icon>
                                  <ng-md-icon icon="search"></ng-md-icon>
                                </md-icon>
                                <input type="text" placeholder="Search Partner Projects" ng-model="searchModel">
                            </md-input-container>
                        </div>
                        <div layout="column">
                            <md-input-container>
                                <md-button type="submit" class="search-button">Search</md-button>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </form>
            <span flex></span>
            <md-input-container flex=class="show-filter-input-container">
                <label>Show</label>
                <md-select ng-model="sizeModule" ng-change="selectItemDropDown()">
                    <md-option ng-repeat="item in showArray track by $index" ng-value="$index" >
                        {{item.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-content>

        <!-- <span flex></span> -->
        <md-content layout="column">

            <md-progress-linear md-mode="indeterminate" ng-show="dmdiiProjectsLoading"></md-progress-linear>

            <div class="projects-list">
                <md-data-table-container>
                    <table md-data-table>
                        <thead md-order="sort" md-trigger="onOrderChange">
                        <tr>
                            <th name="Name" class="title"/>
                            <th name="Status" order-by="status"/>
                            <th name="Focus Area"/>
                            <th name="Thrust Area"/>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="project in projects.arr">
                            <td class="title-project">
                                <h4>{{project.rootNumber | numberFixedLen:2}}-{{project.callNumber | numberFixedLen:2}}-{{project.projectNumber | numberFixedLen:2}}</h4>
                                <a class="no-bottom no-top" ng-href="{{'/dmdii-project-page.php#/'+project.id}}"><h3 class="no-bottom no-top">{{project.projectTitle}}</h3></a>
                                <a class="no-bottom no-top" ng-href="{{'member-page.php#/'+project.primeOrganization.id}}"><h5 class="project-lead no-bottom no-top">{{project.primeOrganization.name}}</h5></a>
                            </td>
                            <td>{{project.projectStatus.name}}</td>
                            <td>
                                {{project.projectFocusArea.name}}
                            </td>
                            <td>
                                {{project.projectThrust.name}}
                            </td>
                        </tr>
                        <tr ng-if="tasks.length == 0">
                            <td class="empty" colspan="4">No tasks</td>
                        </tr>
                        </tbody>
                    </table>
                </md-data-table-container>
            </div>

            <div layout="row" layout-align="center center">
                <md-input-container ng-if="hasPrev()">
                    <md-button id="prevPage" flex ng-click="getPrev()">
                        <ng-md-icon icon="chevron_left" size="20"></ng-md-icon>
                        PREV
                    </md-button>
                </md-input-container>
                <md-input-container ng-if="hasNext()">
                    <md-button id="nextPage" ng-click="getNext()" flex>
                        NEXT
                        <ng-md-icon icon="chevron_right" size="20"></ng-md-icon>
                    </md-button>
                </md-input-container>
            </div>
        </md-content>
    </div>
</div>
