<main>
		<section class="container projects-head">
			<h2>Projects</h2>
			<div class="row status-row">
				<div class="col-sm-4">
					<h4>Projects Overview</h4>
					<img ng-src="{{projectOverview.documentUrl}}" class="img-responsive">
					<a class="delete-button" href ng-click="deleteDocument(projectOverview.id, 'projectOverview')" ng-show="userData.isDmdiiAdmin"><ng-md-icon icon="delete" style="fill: #999" size="16"></ng-md-icon> Delete</a>
				</div>

				<div class="col-sm-4">
					<h4>Projects Status</h4>
					<img ng-src="{{projectStatus.documentUrl}}" class="img-responsive">
				<a class="delete-button" href ng-click="deleteDocument(projectStatus.id, 'projectStatus')" ng-show="userData.isDmdiiAdmin"><ng-md-icon icon="delete" style="fill: #999" size="16"></ng-md-icon> Delete</a>
				</div>
				<div class="col-sm-4">
					<h4>Quick Links</h4>
					<ul class="quick-links">

						<li ng-repeat="doc in docs track by $index">
							<a href ng-click="quickLinkAction(doc)">{{doc.displayName}}</a>
							<a href ng-click="deleteQuicklink($index, doc.id)" ng-show="userData.isDmdiiAdmin" class="delete-icon"><ng-md-icon icon="delete" style="fill: #999" size="16"></ng-md-icon></a>
						</li>

					</ul>
			</div>
			</div>
			<div class="row timeline-row">
			<div class="col-xs-12">

				<div>
						<horizontal-timeline
								start-date="{{startDate}}"
								end-date="{{endDate}}"
								events="events"
								user="userData">
						</horizontal-timeline>
				</div>

			</div>
			</div>

		</section>

		<!-- TODO this needs to be made in to a module suitable for members, projects and ideally services -->
		<section class="container content-padding">
        <div class="row">
            <div class="col-md-12 project-main">
								<div class="top-border"></div>
                <div layout="row">
									<div class="status status-complete">FEATURED PROJECT</div>
									<div class="status">{{randProject.projectStatus.name}}</div>
								</div>
								<!-- <time>{{randProject.rootNumber | numberFixedLen:2}}-{{randProject.callNumber | numberFixedLen:2}}-{{randProject.projectNumber | numberFixedLen:2}}</time> -->
                <h1><a ng-href="{{'/dmdii-project-page.php#/'+randProject.id}}">{{randProject.projectTitle}}</a></h1>
								<!-- <h4>Summary</h4> -->
								<div class="sublabels" layout="row">
									<div>{{randProject.projectFocusArea.name}}</div>
									<div>{{randProject.projectThrust.name}}</div>
								</div>
								<div class="slim-margin" markdown-to-html="randProject.projectSummary"></div>
            </div>
            </div>
        </div>
		</section>


		<section class="container">
      <dmc-horizontal-menu tree-source="treeMenuModel"></dmc-horizontal-menu>

			<div class="row content-row">
				<div class="col-xs-4">
					<div class="form-group has-feedback">
						<form ng-submit="submit(searchModel)">
							<input ng-model="searchModel" type="text" class="form-control " placeholder="Search Projects">
						</form>
					</div>
				</div>
				<div class="col-xs-1" style="padding-left: 0px; margin-left: -10px;">
					<ng-md-icon ng-click="submit(searchModel)" icon="search" style="fill: #999" size="30"></ng-md-icon>
				</div>
				<div class="col-xs-4 col-xs-offset-3 ">

				<div class="dropdown">


						<div class="dropdown pull-right">
							<button class="btn btn-default dropdown-toggle" type="button" id="itemstoshowdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									{{showArray[sizeModule].name}}<span class="caret"></span>
									</button>
							<ul class="dropdown-menu" aria-labelledby="itemstoshowdropdown">
								<li ng-repeat="item in showArray track by $index">
									<a ng-click="selectItemDropDown($index)">{{item.name}}</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="projects-table">			<div class="table-responsive ">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Focus</th>
						<th>Thrust Area</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="project in projects.arr">
						<td>
							<a ng-href="{{'/dmdii-project-page.php#/'+project.id}}">{{project.projectTitle}}</a>
							<!-- <time datetime="2011-01-12">January 12th, 2011</time> -->
							<a ng-href="{{'member-page.php#/'+project.primeOrganization.id}}"><h6>{{project.primeOrganization.name}}</h6></a>
							<div ng-if="project.kind != 'dmdiiEvent'" class="sublabel">{{project.rootNumber | numberFixedLen:2}}-{{project.callNumber | numberFixedLen:2}}-{{project.projectNumber | numberFixedLen:2}}</div>
							<div ng-if="project.kind == 'dmdiiEvent'" class="sublabel">EVENT</div>
						</td>

						<td>{{project.projectStatus.name}}</td>
						<td>{{project.projectFocusArea.name}}</td>
						<td>{{project.projectThrust.name}}</td>
					</tr>

				</tbody>
			</table>
			</div>

						<div class="row">
							<div class="col-xs-6">
								<button id="prevPage" ng-if="hasPrev()" class="btn btn-next pull-right" ng-click="getPrev()">
										PREV
								</button>
							</div>

							<div class="col-xs-6">
								<button id="nextPage" ng-if="hasNext()" class="btn btn-next pull-left" ng-click="getNext()">
										NEXT
								</button>
							</div>
						</div>

			</div>
		</section>

	<recent-news news="news"></recent-news>

</main>
