<main>
		<section class="container projects-head">
			<h2>Projects</h2>
			<div class="row status-row">
				<div class="col-sm-4">
					<h4>Projects Overview</h4>
					<img src="http://placehold.it/570x291" class="img-responsive">
					<a class="delete-button" href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a>
				</div>

				<div class="col-sm-4">
					<h4>Projects Status</h4>
					<img src="http://placehold.it/570x291" class="img-responsive">
				<a class="delete-button" href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a>
				</div>
				<div class="col-sm-4">
					<h4>Quick Links</h4>
					<ul class="quick-links">
						<?php for($i = 0; $i<4; $i++){?>
						<li><a href="#">Partner Innovation Projects - Overview</a> <a href="#" class="delete-icon"><span class="glyphicon glyphicon-trash"></span></a></li>
						<?php } ?>
					</ul>
			</div>
			</div>
			<div class="row timeline-row">
			<div class="col-xs-12">

				<div>
						<horizontal-timeline
								start-date="{{startDate}}"
								end-date="{{endDate}}"
								events="events"
								user="userData">
						</horizontal-timeline>
				</div>

			</div>
			</div>

		</section>

		<section class="container">
      <dmc-horizontal-menu tree-source="treeMenuModel"></dmc-horizontal-menu>

			<div class="row content-row">
				<div class="col-xs-4">
					<div class="form-group has-feedback">
					      <input type="text" class="form-control " placeholder="Search Partner Projects"><span class="glyphicon glyphicon-search form-control-feedback"></span>
					  </div><!-- /input-group -->
				</div>
				<div class="col-xs-4 col-xs-offset-4 ">

				<div class="dropdown">

						<div class="dropdown pull-right">
							<button class="btn btn-default dropdown-toggle" type="button" id="itemstoshowdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									{{showArray[0].name}}<span class="caret"></span>
									</button>
							<ul class="dropdown-menu" aria-labelledby="itemstoshowdropdown">
								<li ng-repeat="item in showArray track by $index">
									<a ng-click="selectItemDropDown($index)">{{item.name}}</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="projects-table">			<div class="table-responsive ">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Focus</th>
						<th>Thrust Area</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="project in projects.arr">
						<td>
							<a ng-href="{{'/dmdii-project-page.php#/'+project.id}}">{{project.projectTitle}}</a>
							<!-- <time datetime="2011-01-12">January 12th, 2011</time> -->
							<a ng-href="{{'member-page.php#/'+project.primeOrganization.id}}"><h6>{{project.primeOrganization.name}}</h6></a>
							<div class="sublabel">{{project.rootNumber | numberFixedLen:2}}-{{project.callNumber | numberFixedLen:2}}-{{project.projectNumber | numberFixedLen:2}}</div>
						</td>

						<td>{{project.projectStatus.name}}</td>
						<td>{{project.projectFocusArea.name}}</td>
						<td>{{project.projectThrust.name}}</td>
					</tr>

				</tbody>
			</table>
			</div>
			<button class="btn btn-next">Next</button>
			</div>
		</section>

	<recent-news news="news"></recent-news>

</main>
