<div layout="column" class="account-step1">
	<div layout="row" layout-align="space-between center">
		<h2>Brag about Your Accomplishments</h2>
		<md-button class="dmc-button md-raised" ui-sref="^.media">
			SKIP
		</md-button>
	</div>
	<h3>Highlight the customers you’ve worked with and the awards you’ve received.</h3>

	<form name="focusForm" autocomplete="off" layout="row" layout-wrap>
		<md-input-container flex="100">
			<label>Customers</label>
			<textarea ng-model="company[3].data.customers" md-maxlength="3000"></textarea>
		</md-input-container>
		<md-input-container flex="100">
			<label>Awards</label>
			<textarea ng-model="company[3].data.awardsReceived" md-maxlength="3000"></textarea>
		</md-input-container>
	</form>

	<div layout="row" layout-align="end center">
		<md-button class="dmc-button md-raised" ui-sref="^.focus">
			BACK
		</md-button>
		<md-button class="dmc-button md-raised md-primary" ng-click="next(3)">
			NEXT
		</md-button>
	</div>
</div>