<div layout="column" class="account-step1">
	<div layout="row" layout-align="space-between center">
		<h2>Explain Your R&D Focus</h2>
		<md-button class="dmc-button md-raised" ui-sref="^.accomplishments">
			SKIP
		</md-button>
	</div>
	<h3>Impress members with the cool research & development you’re working on.</h3>

	<form name="focusForm" autocomplete="off" layout="row" layout-wrap>
		<md-input-container flex="100">
			<label>R&D Focus</label>
			<textarea ng-model="company[2].data.RDFocus" md-maxlength="3000"></textarea>
		</md-input-container>
	</form>

	<div layout="row" layout-align="end center">
		<md-button class="dmc-button md-raised margin-right5" ui-sref="^.image">
			BACK
		</md-button>
		<md-button class="dmc-button md-raised md-primary" ng-click="next(2)">
			NEXT
		</md-button>
	</div>
</div>