<div layout="column" class="company-step10">
	<div layout="row" layout-align="space-between center">
		<h2>Identify Key Contacts</h2>
		<md-button class="dmc-button md-raised" ui-sref="^.membership">
			SKIP
		</md-button>
	</div>
	<h3>Connect users with the right people in your company.</h3>


<div layout="row">
    <div class="list-contacts" flex="100">
        <div layout="row" class="title-list-contacts" layout-align="space-between center">
            <h3>Key Contacts</h3>
            <md-button class="md-raised add-new-contact dmc-button"
                       ng-click="addNewContact()"
                       ng-show="!isAddingContact"
                       aria-label="Add Contact">
                Add New Contact
            </md-button>
        </div>
        <div layout="row" class="boxForAddContact" flex ng-if="isAddingContact">
            <form name="formAddContact" ng-submit="saveContact(newContact)" layout="column" flex>
                <div layout="row" flex>
                    <div layout="column" class="right-space" flex="20">
                        <md-input-container>
                            <label>Type</label>
                            <md-select required name="type" ng-model="newContact.type">
                                <md-option ng-repeat="c in keyContactTypes" value="{{c.id}}">{{c.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="column" class="left-space" flex>
                        <div layout="row">
                            <md-input-container flex="50" class="right-space">
                                <label>Name</label>
                                <input required name="name" ng-model="newContact.name">
                            </md-input-container>
                            <md-input-container flex="50" class="left-space">
                                <label>Title</label>
                                <input required name="title" ng-model="newContact.title">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="50" class="right-space">
                                <label>Phone Number</label>
                                <input required
                                       name="phoneNumber"
                                       phone-input
                                       ng-model="newContact.phoneNumber">
                            </md-input-container>
                            <md-input-container flex="50" class="left-space">
                                <label>Email</label>
                                <input required type="email" name="email" ng-model="newContact.email">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="end center">
                    <md-button class="md-raised dmc-button" type="button" ng-click="cancelAddContact()">
                        Cancel
                    </md-button>
                    <md-button class="md-raised md-primary dmc-button"
                               type="submit"
                               ng-disabled="!formAddContact.$valid">
                        Save
                    </md-button>
                </div>
            </form>
        </div>
        <div layout="row"
             layout-align="start start"
             class="contact-item"
             ng-repeat="item in company[9].data.keyContacts" flex>
            <div layout="column" class="right-space" flex="20">
                <md-input-container>
                    <label>Type</label>
                    <md-select ng-model="item.type">
                        <md-option ng-repeat="c in keyContactTypes" value="{{c.id}}">{{c.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="column" class="left-space" flex>
                <div layout="row">
                    <md-input-container flex="50" class="right-space">
                        <label>Name</label>
                        <input ng-model="item.name">
                    </md-input-container>
                    <md-input-container flex="50" class="left-space">
                        <label>Title</label>
                        <input ng-model="item.title">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="50" class="right-space">
                        <label>Phone Number</label>
                        <input phone-input
                               ng-model="item.phoneNumber">
                    </md-input-container>
                    <md-input-container flex="50" class="left-space">
                        <label>Email</label>
                        <input ng-model="item.email">
                    </md-input-container>
                </div>
            </div>
            <div layout="column" class="left-space">
                <md-button md-no-ink
                           ng-click="deleteContact($index)"
                           class="md-icon-button delete-contact"
                           aria-label="Delete Contact">
                    <ng-md-icon icon="delete" size="32"></ng-md-icon>
                </md-button>
            </div>
        </div>
        <div layout="row" ng-if="company[9].data.keyContacts.length == 0 && !isAddingContact">No contacts</div>
    </div>
</div>

	<div layout="row" layout-align="end center">
		<md-button class="dmc-button md-raised margin-right5" ui-sref="^.social">
			BACK
		</md-button>
		<md-button class="dmc-button md-raised md-primary" ng-click="next(9)">
			NEXT
		</md-button>
	</div>
</div>