<div layout="column" class="account-step1">
	<div layout="row" layout-align="space-between center">
		<h2>Let’s See Your Media</h2>
		<md-button class="dmc-button md-raised" ui-sref="^.tool">
			SKIP
		</md-button>
	</div>
	<h3>Help us learn more with videos and images about your company.</h3>

<div layout="row">
    <div class="list-images" flex="100">
        <div layout="row" layout-align="space-between center">
            <h3>Images</h3>
            <md-button class="md-raised dmc-button"
                       ng-show="!isAddingImage"
                       ng-click="addNewImage()"
                       aria-label="Add Image">
                Add New Image
            </md-button>
        </div>
        <div layout="row"
             class="boxForAddImage"
             layout-align="start start"
             ng-if="isAddingImage">
            <form name="formAddImage" layout="column">
                <div layout="row" flex>
                    <md-input-container md-no-float flex="100">
                        <input required
                               name="title"
                               ng-model="newImage.title"
                               type="text"
                               placeholder="Image Title">
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <div class="flow-box"
                         flow-init
                         flow-drag-enter="pictureDragEnter($flow)"
                         flow-drag-leave="pictureDragLeave($flow)"
                         flow-file-success="$file.msg = $message"
                         flow-file-added="addedNewFile($file, $event, $flow )"
                         layout="row" flex layout-align="start start">
                        <div class="alert" flow-drop flow-drop-enabled="true" flex="40">
                            <div class="inner-box" layout="row" layout-align="center center" flex>
                                <div ng-if="$flow.files.length > 0" class="uploaded-picture" flex="90">
                                    <img id="flowImage" flow-img="$flow.files[0]" />
                                    <md-button ng-click="removePicture($flow)" class="md-fab md-mini remove-picture" aria-label="Remove picture">
                                        <ng-md-icon icon="close" size="21"></ng-md-icon>
                                    </md-button>
                                </div>
                                <div flow-btn class="text" flex="80" ng-if="$flow.files.length == 0">
                                    Drag And Drop your picture here<br>
                                    600 x 600 px (max 2 MB)
                                    <br>or<br>
                                    <strong>Click here</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div layout="column" layout-align="start start" flex>
                <md-button class="md-raised" type="button" ng-click="cancelAddImage()">
                    Cancel
                </md-button>
                <md-button class="md-raised md-primary"
                           ng-click="saveImage(newImage)"
                           ng-disabled="!formAddImage.$valid || !newAddedImage">
                    Save
                </md-button>
            </div>
        </div>
        <div layout="row"
             layout-wrap
             layout-align="start start"
             flex ng-if="images.length > 0">
            <div class="list-images-item" ng-repeat="image in source.images">
                <div class="img"><img ng-src="{{image.url}}"/></div>
                <md-input-container md-no-float>
                    <input ng-init="image.changedTitle = image.title"
                           ng-model="image.changedTitle"
                           ng-change="changedValue('image')"
                           type="text"
                           placeholder="Image Title">
                </md-input-container>
                <md-button md-no-ink class="md-icon-button"
                           ng-click="deleteImage($index)"
                           aria-label="Delete Image">
                    <ng-md-icon icon="highlight_remove" size="32"></ng-md-icon>
                </md-button>
            </div>
        </div>
        <div layout="row" ng-if="images.length == 0 && !isAddingImage">No images</div>
    </div>
</div>
<div layout="row">
    <div class="list-videos" flex="100">
        <div layout="row" class="title-list-videos" layout-align="space-between center">
            <h3>Videos</h3>
            <md-button class="md-raised dmc-button"
                       ng-click="addNewVideo()"
                       ng-show="!isAddingVideo"
                       aria-label="Add Video">
                Add New Video
            </md-button>
        </div>
        <div layout="row" class="boxForAddVideo" flex ng-if="isAddingVideo">
            <form name="formAddVideo" ng-submit="saveVideo(newVideo)" layout="column" flex>
                <div layout="row" flex>
                    <md-input-container class="title-video right-space" flex>
                        <label>Title</label>
                        <input required name="title" ng-model="newVideo.title">
                    </md-input-container>
                    <md-input-container class="link-video left-space" flex>
                        <label>Link</label>
                        <input required name="link" ng-model="newVideo.link">
                    </md-input-container>
                </div>
                <div layout="row" layout-align="end center">
                    <md-button class="md-raised" type="button" ng-click="cancelAddVideo()">
                        Cancel
                    </md-button>
                    <md-button class="md-raised md-primary"
                               type="submit"
                               ng-disabled="!formAddVideo.$valid">
                        Save
                    </md-button>
                </div>
            </form>
        </div>
        <div layout="row"
             layout-align="start center"
             class="video-item"
             ng-repeat="video in videos" flex>
            <md-input-container class="title-video right-space" flex>
                <label>Title</label>
                <input ng-init="video.changedTitle = video.title"
                       ng-change="changedValue('video')"
                       ng-model="video.changedTitle">
            </md-input-container>
            <md-input-container class="link-video left-space" flex>
                <label>Link</label>
                <input ng-init="video.changedLink = video.link"
                       ng-change="changedValue('video')"
                       ng-model="video.changedLink">
            </md-input-container>
            <md-button md-no-ink
                       ng-click="deleteVideo($index)"
                       class="md-icon-button delete-video"
                       aria-label="Delete Video">
                <ng-md-icon icon="delete" size="32"></ng-md-icon>
            </md-button>
        </div>
        <div layout="row" ng-if="videos.length == 0 && !isAddingVideo">No videos</div>
    </div>
</div>

	<div layout="row" layout-align="end center">
		<md-button class="dmc-button md-raised" ui-sref="^.accomplishments">
			BACK
		</md-button>
		<md-button class="dmc-button md-raised md-primary" ng-click="next(4)">
			NEXT
		</md-button>
	</div>
</div>