<div layout="column" class="account-step1">
	<div layout="row" layout-align="space-between center">
		<h2>Share Past and Future Projects</h2>
		<md-button class="dmc-button md-raised" ui-sref="^.contact">
			SKIP
		</md-button>
	</div>
	<h3>Tell us about the exciting work you’ve done and plan to do.</h3>

	<form name="projectForm" autocomplete="off">
		<md-input-container>
			<label>Past Collaborations</label>
			<textarea ng-model="company[6].data.postCollaboration" md-maxlength="3000"></textarea>
		</md-input-container>
		<md-input-container>
			<label>Past DMDII Projects</label>
			<textarea ng-model="company[6].data.pastProjects" md-maxlength="3000"></textarea>
		</md-input-container>
		<md-input-container>
			<label>Collaboration Interests</label>
			<textarea ng-model="company[6].data.collaborationInterests" md-maxlength="3000"></textarea>
		</md-input-container>
		<md-input-container>
			<label>Upcoming DMDII Project Interests</label>
			<textarea ng-model="company[6].data.upcomingProjectInterests" md-maxlength="3000"></textarea>
		</md-input-container>
	</form>

	<div layout="row" layout-align="end center" class="onboarding-foter">
		<md-button class="dmc-button md-raised margin-right5" ui-sref="^.tool">
			BACK
		</md-button>
		<md-button class="dmc-button md-raised md-primary" ng-click="next(6)">
			NEXT
		</md-button>
	</div>
</div>
