<div layout="column" class="account-step1">
	<div layout="row" layout-align="space-between center">
		<h2>Social Media Connections</h2>
		<md-button class="dmc-button md-raised" ui-sref="^.key">
			SKIP
		</md-button>
	</div>
	<h3>Strengthen relationships with users over social networks.</h3>

	<form name="focusForm" autocomplete="off" layout="row" layout-wrap>
		<md-input-container flex="50" class="md-icon-float">
			<label>Twitter</label>
			<md-icon>
	            <ng-md-icon icon="twitter" size="32"></ng-md-icon>
	        </md-icon>
			<input ng-model="company[8].data.twitter" ng-pattern="/^(https?:\/\/)?([\w\.]+)\.([a-z]{2,6}\.?)(\/[\w\.]*)*\/?$/">
		</md-input-container>
		<md-input-container flex="50" class="md-icon-float">
			<label>LinkedIn</label>
			<md-icon>
	            <ng-md-icon icon="linkedin-box" size="32"></ng-md-icon>
	        </md-icon>
			<input ng-model="company[8].data.linkedIn" ng-pattern="/^(https?:\/\/)?([\w\.]+)\.([a-z]{2,6}\.?)(\/[\w\.]*)*\/?$/">
		</md-input-container>
		<md-input-container flex="50">
			<label>Website</label>
			<input ng-model="company[8].data.website" ng-pattern="/^(https?:\/\/)?([\w\.]+)\.([a-z]{2,6}\.?)(\/[\w\.]*)*\/?$/">
		</md-input-container>
	</form>

	<div layout="row" layout-align="end center" class="onboarding-foter">
		<md-button class="dmc-button md-raised margin-right5" ui-sref="^.contact">
			BACK
		</md-button>
		<md-button class="dmc-button md-raised md-primary" ng-click="next(8)">
			NEXT
		</md-button>
	</div>
</div>