<div class="container">
    <!-- Left Content Column -->
    <div layout="row" layout-margin layout-fill layout-padding>
        <div class="content-column" layout="column" flex="70">
            <div class="content-panel rfp-three">
                <div class="content-panel-header">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Search for Members to Invite</h2>
                        </div>
                    </md-toolbar>


                </div>
                <div class="content-panel-body">
                  <md-content class="md-padding top-content" layout="row" layout-align="start center">
                      <form ng-submit="searchMembers()" class="dmc-search global-search-form" flex="60">
                          <div layout="column">
                              <div layout="row">
                                  <div layout="column" flex>
                                      <md-input-container md-no-float>
                                          <md-icon>
                                              <ng-md-icon icon="search"></ng-md-icon>
                                          </md-icon>
                                          <input type="text" placeholder="Search Members" ng-model="searchModel">
                                      </md-input-container>
                                  </div>
                                  <div layout="row">
                                      <md-input-container>
                                          <md-button type="submit" class="search-button">Search</md-button>
                                      </md-input-container>
                                  </div>
                              </div>
                          </div>
                      </form>
                      <span flex></span>
                      <!-- <md-button class="md-raised dmc-button" ng-click="resetMembers()">Reset</md-button> -->
                      <span flex></span>
                      <!-- <md-button class="md-raised dmc-button" ng-click="showFavmodified Stringorites()" ng-disabled="favorites.length == 0 && !showFavoritesFlag">
                          {{(showFavoritesFlag == false) ? 'Favorites(' + favorites.length + ')' : 'All'}}
                      </md-button> -->
                        <!-- <md-button class="md-raised dmc-button margin-left12-5" compare-source="compare" invitees-source="invitees" ng-disabled="compare.length == 0" compare-members-button>Compare ({{compare.length}})</md-button> -->
                    </md-content>
                    <md-content class="md-padding top-content" layout="row">
                        <div class="content-column" layout="column" flex="100">
                            <div class="content-panel rfp-three">

                                <md-divider ></md-divider>
                                <div class="content-panel-body">
                                    <md-content layout="row" layout-wrap>
                                        <div flex="33" ng-if="!showFavoritesFlag" class="container-member-card" ng-repeat="item in foundMembers">
                                            <dmc-add-members-card
                                                    invite-member="addToInvitation"
                                                    favorite-member="addToFavorite"
                                                    card-source="item"
                                                    class="member-card">
                                            </dmc-add-members-card>
                                        </div>
                                        <div flex="33" ng-if="showFavoritesFlag" class="container-member-card" ng-repeat="item in favorites">
                                            <dmc-add-members-card
                                                    invite-member="addToInvitation"
                                                    favorite-member="addToFavorite"
                                                    card-source="item"
                                                    class="member-card">
                                            </dmc-add-members-card>
                                        </div>
                                      </md-content>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </div>
            </div>
        </div>
        <!-- Right Content Column -->
        <div class="content-column" layout="column" flex="29">
            <div dmc-selected-invitees class="content-panel invitees" invitees="invitees"></div>
            <div layout="row" class="btn-next-block" layout-padding layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="exit(invitees)">{{isUpdate ? 'Save' : 'Invite' }}</md-button>
            </div>
        </div>
    </div>
    <!-- <div layout="row" class="btn-next-block" layout-padding layout-align="end center">
        <md-button class="md-raised" ng-click="goToTab(1)">Back</md-button>
        <md-button class="md-raised md-primary" ng-click="submitProjectDetails(invitees)">{{isUpdate ? 'Save' : 'Create' }}</md-button>
    </div> -->
</div>
