<md-dialog flex="80" aria-label="View" class="basic-informations">
	<md-content layout="column">
		<div layout="row" class="header">
			<div layout="column">
				<h2>Basic Information</h2>
				<h3>Please provide some basic information to enter the site.</h3>
			</div>
		</div>
		<form name="basic" autocomplete="off">
			<div layout="row" flex="100" class="section">
				<md-input-container flex="50" class="left-input">
					<label>First Name</label>
					<input type="text" ng-model="info.firstName">
				</md-input-container>
				<md-input-container flex="50" class="left-input">
					<label>Last Name</label>
					<input type="text" ng-model="info.lastName">
				</md-input-container>
			</div>
			<div layout="row" flex="100" class="section">
				<md-input-container flex="50" class="left-input">
					<label>Email Address</label>
					<input type="text" ng-model="info.email">
				</md-input-container>




				<div flex="50">
					<md-checkbox style="float:left; margin-top: 25px;" ng-model="isDMDIIMember">
						<span style="font-size: 1.2em" ng-hide="isDMDIIMember">My Organization is a DMDII Member</span>
					</md-checkbox>
					<div ng-hide="!isDMDIIMember" style="float:left" class="autocomplete-block">
						<md-autocomplete
							md-floating-label="Organization"
							md-selected-item="ctrl.selectedCompany"
							md-search-text="ctrl.searchCompany"
							md-search-text-change="ctrl.searchCompanyChange(ctrl.searchCompany)"
							md-selected-item-change="ctrl.setCompany(item)"
							md-items="item in ctrl.queryCompanySearch(ctrl.searchCompany)"
							md-item-text="item.name"
						>
							<md-item-template>
								<span md-highlight-text="ctrl.searchCompany" md-highlight-flags="^i">{{item.name}}</span>
							</md-item-template>
							<md-not-found>
								No matches found for "{{ctrl.searchCompany}}".
							</md-not-found>
						</md-autocomplete>
					</div>
				</div>

			</div>
		</form>
		<div layout="row" layout-align="end center" class="button-aria">
			<md-button class="dmc-button md-raised md-primary" ng-click="enter()" ng-disabled="!info.firstName || !info.lastName || !info.email || !info.company">
				ENTER SITE
			</md-button>
		</div>
	</md-content>
</md-dialog>
