<div class="onboarding-home">
	<md-content layout layout-align="center center">
		<div layout="column"  layout-fills>


			<div layout="column" class="background">


				<div class="section" layout="row" layout-align="center center" layout-fills>
					<div class="image">
						<img ng-src="images/dmcLogo.png"  style="width: 350px">
					</div>
					<div layout="column" flex class="text">
						<h2 style="color: green;    font-size: 40px;    font-weight: lighter;">DIGITAL MANUFACTURING COMMONS</h2>
						<h3>Welcome to the Digital Manufacturing Commons, a cloud platform to improve manufacturing capabilities and collaboration across the manufacturing product lifecycle.
						</h3><h3>
Incubated at the Digital Manufacturing and Design Innovation Institute, the DMC is your passport to the world of digital manufacturing.  </h3>
					</div>

				</div>


<md-divider></md-divider>

				<div class="section" layout="row" layout-align="center center" layout-fills >

					<div layout="column" flex class="text">
						<h2>DMC: <span style="color:green">MISSION</span></h2>
						<h3>To enable digital transformation in the design and manufacturing ecosystem by helping to <span style="color:green">connect</span> key players, <span style="color:green">analyze</span>, and <span style="color:green">distribute</span> relevant content on our open-source platform. </h3>
						<h2><br /></h2>
						<h2>DMC: <span style="color:green">VISION</span></h2>
						<h3>To transform the manufacturing industry by providing simple and powerful digital solutions and connecting the extended enterprise of global manufacturing.<br /><br />
							We see the future of the DMC as millions of people using the platform daily, adding their own manufacturing recipes, examining networks in their web browsers, and using all this to learn about, research and evolve the "big-picture" issues of cradle-to-cradle low-to-zero-emission  manufacturing webs.

						 </h3>

					</div>

				</div>

				<md-divider></md-divider>

				<div class="section" layout="row" layout-align="center center" layout-fills>
					<div class="image">

						<img ng-src="images/Icons_Connect.svg"  style="width: 100px">

					</div>
					<div layout="column" flex class="text">
							<h2> <span style="color:green">CONNECT</span></h2>
							<h3><span style="font-weight: 900;">+ PEOPLE:</span> Enable collaboration and crowd sourcing of manufacturing solutions.</h3>
							<h3><span style="font-weight: 900;">+ APPS & DATA:</span> Link and integrate proprietary applications/data internally or externally.</h3>

					</div>

				</div>


				<md-divider></md-divider>
				<div class="section" layout="row" layout-align="center center" layout-fills>

					<div layout="column" flex class="text" style="text-align: right;">
						<h2> <span style="color:green">ANALYZE</span></h2>
						<h3><span style="font-weight: 900;">+ DATA & PROCESSES:</span> Online tools (cloud computing) to enable multiple forms of analysis.</h3>
						<h3><span style="font-weight: 900;">+ TOOLS & TERMINOLOGY:</span> Plugable, extensible and open APIs to enable vendor neutral analysis.</h3>
					</div>

					<div class="image">
						<img ng-src="images/Icons_Analyze.svg"  style="width: 100px">
					</div>
				</div>

				<md-divider></md-divider>
				<div class="section" layout="row" layout-align="center center" layout-fills>
					<div class="image">
						<img ng-src="images/Icons_Distribute.svg"  style="width: 100px">

					</div>
					<div layout="column" flex class="text">
							<h2> <span style="color:green">DISTRIBUTE</span></h2>
							<h3><span style="font-weight: 900;">+ CUSTOMERS:</span> Provide large scale and reach for app creators at an affordable price.</h3>
							<h3><span style="font-weight: 900;">+ PARTNERS:</span> Ability to host apps for both public and exclusive private use.</h3>
							<h3><span style="font-weight: 900;">+ CONTROLLED CHANNELS:</span> Ability to create, store and publish app content on any infrastructure.</h3>

					</div>

				</div>
				<md-divider></md-divider>

				<div class="section" layout="row" layout-align="center center" layout-fills>
					<h2 style="color: green;    font-size: 40px;    font-weight: lighter;"> VALUE PROPOSITIONS</h2>
				</div>

				<div class="section" layout="row" layout-align="center center" layout-fills>
					<md-tabs md-dynamic-height md-border-bottom style="width:100%">

					<md-tab label="LARGE OEMs">
					    <md-content class="tab-projects">
					                <h3>    <span style="font-weight: 900;">+ Improve supply chain collaboration:</span>  Collaborate within and outside of the firm in a simple, easy to use, secure cloud environment where all of a project’s files and conversations can reside<br /></h3>
													<h3>		<span style="font-weight: 900;">+ Improve supply chain productivity:</span>  Improve productivity of suppliers and drive down purchasing costs by providing low-cost simulation and other digital capabilities to SMMs<br /></h3>
													<h3>		<span style="font-weight: 900;">+ Grow supplier base:</span>  Gain access to a larger community of suppliers with digital capabilities <br /></h3>

					        <md-divider></md-divider>


					    </md-content>
					</md-tab>

					<md-tab label="SMALL MANUFACTURERS">
					    <md-content class="md-padding">

								<h3>    <span style="font-weight: 900;">+ Gain new business:</span>    Inexpensively increase your digital capabilities, enabling work with new OEM customers<br /></h3>
								<h3>		<span style="font-weight: 900;">+ Improve productivity:</span>  Use low-cost manufacturing simulation tools to improve productivity and quality<br /></h3>
					    </md-content>
					</md-tab>

					<md-tab label="ACADEMIC INSTITUTIONS">
					    <md-content class="tab-content">
								<h3>    <span style="font-weight: 900;">+ Support applied learning:</span>   Leverage DMC toolchain in applied learning activities and for student projects<br /></h3>


					<md-tab label="ACADEMIC INSTITUTIONS">
					    <md-content class="tab-content">
								<h2>+ Expose brilliant research to the industry at large</h2>
								<h3>		>> Find funding sources <br /></h3>
								<h3>		>> Increase the TRL or MRL levels of technology<br /></h3>
								<h3>		>> Convert Resarch into products<br /></h3>


					        <md-divider></md-divider>
					    </md-content>
					</md-tab>

					<!-- <md-tab label="HISTORY">
					    <ui-widget-tabs-history data="history"></ui-widget-tabs-history>
					</md-tab> -->

					<md-tab label="MAKERS">
					    <div layout="row" class="tab-content">
								<md-content class="tab-content">
									<h3>    <span style="font-weight: 900;">+ Build and commercialize your application:</span>   Leverage our infrastructure and user base in the DMC open marketplace where you can share and commercialize your own apps – without building a stand-alone software application, investing in best in class cybersecurity, and staffing up an expensive sales force <br /></h3>

										<md-divider></md-divider>
								</md-content>


					    </div>
					</md-tab>


					<md-tab label="GOVT. PARTNERS">
						<div layout="row" class="tab-content">
 						 <md-content class="tab-content">
								<br />
							 <h3>    <span style="font-weight: 900;">+ Democratize access and increase competitiveness:</span>   Support the democratization and advancement of digital manufacturing for U.S. competitiveness <br /></h3>



 								 <md-divider></md-divider>
 						 </md-content>


 					 </div>
					</md-tab>

					<md-tab label="INFRASTRUCTURE PROVIDERS">
						<div layout="row" class="tab-content">
							<md-content class="tab-content">
								<h3>    <span style="font-weight: 900;">+ Gain New Exposure:</span>   Access a new pipeline of manufacturing based clients<br /></h3>

									<md-divider></md-divider>
							</md-content>


						</div>
					</md-tab>

					</md-tabs>

				</div>
				<md-divider></md-divider>

			<div class="section" layout="row" layout-align="center center" layout-fills>
				<h2> <span style="color:green">FEATURED PARTNERS</span></h2>
			</div>

				<div class="section" layout="row" layout-align="center center" layout-fills>

					<div class="partners">
						<img ng-src="images/MSFTlogo.png" >

					</div>
					<div class="partners">
						<img ng-src="images/ROLLSlogo.png"  >

					</div>
					<div class="partners">
						<img ng-src="images/NCSUlog.jpg"  >

					</div>
					<div class="partners">
						<img ng-src="images/ITAMCOlogo.jpg " >

					</div>
					<div class="partners">
						<img ng-src="images/INTEGRISlogo.png" >

					</div>


									<md-divider></md-divider>
							</md-content>

				</div>
				<md-divider></md-divider>
				<md-divider></md-divider>
				<div class="section" layout="row" layout-align="center center" layout-fills>

					<div layout="column" flex class="text" style="text-align:center">
							<h2 style="color: green;    font-size: 40px;    font-weight: lighter;"> Want to Join the DMC team?</h2>
							<h3> We are looking for talented folks to helps us reshape american manufacturing.</h3>
							<h3 style="margin-top: 20px"><span style="    border: 1px solid green;    border-radius: 4px;    color: green;    font-weight: 900;    padding: 10px;"><a href="http://www.uilabs.org/what-is-ui-labs/join-our-team/">view opportunities</a></span> </h3>

					</div>

				</div>
				<md-divider></md-divider>

						</div>
					</md-tab>

					</md-tabs>

				</div>
				<md-divider></md-divider>





	</md-content>
</div>
