<div class="onboarding-home">
	<md-content layout layout-align="center center">
		<div layout="column" flex="50" layout-align="start center" layout-fill>
			<div class="section first" layout="column" layout-align="start center" layout-fill>
				<h2>Welcome to the Digital Manufacturing Commons</h2>
				<h3>The DMC will enable systems engineering accross the entire manufacturing enterprise.<br>
				You can <a ng-href="/">skip this section</a> and return to it later.</h3>

			</div>
			<div class="section" layout="row" layout-align="center center" layout-fill>
				<div flex="10">
					<img ng-src="images/icon-profile-lg.svg">
				</div>
				<div layout="column" flex="65" class="text">
					<h2><a ui-sref="^.profile">Fill out your profile</a></h2>
					<h3>Tell everyone about yourself and brag about your skills</h3>
				</div>
				<md-button class="md-raised md-primary dmc-button" ng-if="userData.onboarding.profile" flex="25">
					Completed
					<ng-md-icon icon="done" style="fill: #fff" size"14">
				</md-button>
				<md-button ui-sref="^.profile" class="md-raised dmc-button" ng-if="!userData.onboarding.profile" flex="25">
					Go To
				</md-button>
			</div>

			<div class="section" layout="row" layout-align="center center" layout-fill>
				<div flex="10">
					<img ng-src="images/icon-settings-lg.svg">
				</div>
				<div layout="column" flex="65" class="text">
					<h2><a ui-sref="^.account">Manage your account</a></h2>
					<h3>Customize your account the way you want it</h3>
				</div>
				<md-button class="md-raised md-primary dmc-button" ng-if="userData.onboarding.account" flex="25">
					Completed
					<ng-md-icon icon="done" style="fill: #fff" size"14">
				</md-button>
				<md-button ui-sref="^.account" class="md-raised dmc-button" ng-if="!userData.onboarding.account" flex="25">
					Go To
				</md-button>
			</div>

			<div ng-if="$root.userData.role == 1" class="section" layout="row" layout-align="center center" layout-fill>
				<div flex="10">
					<img ng-src="images/icon-company-lg.svg">
				</div>
				<div layout="column" flex="65" class="text">
					<h2><a ui-sref="^.company">Fill out the company profile</a></h2>
					<h3>Tell everyone about the company, its skills, and accomplishments</h3>
				</div>
				<md-button class="md-raised md-primary dmc-button" ng-if="userData.onboarding.company" flex="25">
					Completed
					<ng-md-icon icon="done" style="fill: #fff" size"14">
				</md-button>
				<md-button ui-sref="^.company" class="md-raised dmc-button" ng-if="!userData.onboarding.company" flex="25">
					Go To
				</md-button>
			</div>

			<div ng-if="$root.userData.role == 1" class="section" layout="row" layout-align="center center" layout-fill>
				<div flex="10">
					<img ng-src="images/icon-marketplace-lg.svg">
				</div>
				<div layout="column" flex="65" class="text">
					<h2><a ui-sref="^.storefront">Customize the company storefront</a></h2>
					<h3>Market creations with a beautiful storefront</h3>
				</div>
				<md-button class="md-raised md-primary dmc-button" ng-if="userData.onboarding.storefront" flex="25">
					Completed
					<ng-md-icon icon="done" style="fill: #fff" size"14">
				</md-button>
				<md-button ui-sref="^.storefront" class="md-raised dmc-button" ng-if="!userData.onboarding.storefront" flex="25">
					Go To
				</md-button>
			</div>

			<div class="section">
				<h2>You have completed the setup. <a ng-href="/">Continue to DMC Homepage</a></h2>
			</div>
		</div>
	</md-content>
</div>