<div class="onboarding-home">
	<md-content layout layout-align="center center">
		<div layout="column" flex="70" layout-fill>
			<div class="section-header" layout="column" layout-align="start start" layout-fill>
				<h2>Welcome to the Digital Manufacturing Commons</h2>
				<h3>A collaboration community to drive advanced system engineering.</h3>
			</div>
			<div class="section-skip" layout="row" layout-align="end center" 
				 ng-if="!$root.userData.onboarding.account || !$root.userData.onboarding.company || !$root.userData.onboarding.profile || !$root.userData.onboarding.storefront">
				<a class="link" ng-href="/">skip setup</a>
			</div>
			<div layout="column" class="background">
				<div class="section" layout="row" layout-align="center center" layout-fill>
					<div class="image">
						<img ng-src="images/icon-profile-lg.svg">
					</div>
					<div layout="column" flex class="text">
						<h2><a ui-sref="^.profile">Create Your Profile</a></h2>
						<h3>Let everyone know who you are and what you do.</h3>
					</div>
					<md-button class="md-raised dmc-button complete" 
							   ng-if="userData.onboarding.profile" 
							   ui-sref="^.profile"
							   ng-mousemove="text='Edit'" 
							   ng-mouseleave="text=false">
						<md-icon ng-if="!text" md-svg-src="images/icon-complete.svg" aria-label="done"></md-icon>
						{{(text)? text: 'Complete'}}
					</md-button>
					<md-button ui-sref="^.profile" class="md-raised dmc-button" ng-if="!userData.onboarding.profile">
						Go To
					</md-button>
				</div>

				<md-divider></md-divider>

				<div class="section" layout="row" layout-align="center center" layout-fill>
					<div class="image">
						<img ng-src="images/icon-settings-lg.svg">
					</div>
					<div layout="column" flex class="text">
						<h2><a ui-sref="^.account">Manage Your Account</a></h2>
						<h3>Customize things the way you want them.</h3>
					</div>
					<md-button class="md-raised dmc-button complete" 
							   ng-if="userData.onboarding.account" 
							   ui-sref="^.account"
							   ng-mousemove="text='Edit'"
							   ng-mouseleave="text=false">
						<md-icon ng-if="!text" md-svg-src="images/icon-complete.svg" aria-label="done"></md-icon>
						{{(text)? text: 'Complete'}}
					</md-button>
					<md-button ui-sref="^.account" class="md-raised dmc-button" ng-if="!userData.onboarding.account">
						Go To
					</md-button>
				</div>

				<md-divider></md-divider>


				<div ng-if="$root.userData.role == 1" class="section" layout="row" layout-align="center center" layout-fill>
					<div class="image">
						<img ng-src="images/icon-company-lg.svg">
					</div>
					<div layout="column" flex class="text">
						<h2><a ui-sref="^.company">Define the Company</a></h2>
						<h3>Profile the business, its capabilities and accomplishments.</h3>
					</div>
					<md-button class="md-raised dmc-button complete" 
							   ng-if="userData.onboarding.company" 
							   ui-sref="^.company"
							   ng-mousemove="text='Edit'" 
							   ng-mouseleave="text=false">
						<md-icon ng-if="!text" md-svg-src="images/icon-complete.svg" aria-label="done"></md-icon>
						{{(text)? text: 'Complete'}}
					</md-button>
					<md-button ui-sref="^.company" class="md-raised dmc-button" ng-if="!userData.onboarding.company">
						Go To
					</md-button>
				</div>

				<md-divider></md-divider>


				<div ng-if="$root.userData.role == 1" class="section" layout="row" layout-align="center center" layout-fill>
					<div class="image">
						<img ng-src="images/icon-marketplace-lg.svg">
					</div>
					<div layout="column" flex class="text">
						<h2><a ui-sref="^.storefront">Build Your Storefront</a></h2>
						<h3>Customize a space to promote and market your offerings.</h3>
					</div>
					<md-button class="md-raised dmc-button complete" 
							   ng-if="userData.onboarding.storefront" 
							   ui-sref="^.storefront"
							   ng-mousemove="text='Edit'" 
							   ng-mouseleave="text=false">
						<md-icon ng-if="!text" md-svg-src="images/icon-complete.svg" aria-label="done"></md-icon>
						{{(text)? text: 'Complete'}}
					</md-button>
					<md-button ui-sref="^.storefront" class="md-raised dmc-button" ng-if="!userData.onboarding.storefront">
						Go To
					</md-button>
				</div>
			
			</div>
			<div class="section-footer" layout="column" layout-align="center center"
				 ng-if="$root.userData.onboarding.account && $root.userData.onboarding.company && $root.userData.onboarding.profile && $root.userData.onboarding.storefront">
				<h2>You have completed the setup.</h2>
				<a class="link" ng-href="/">go to home</a>
			</div>
		</div>
	</md-content>
</div>