<div class="members-card" layout="column">
	<div class="header" layout="row" layout-align="space-between center">
		<md-button href="" aria-label="grou_add" class="md-icon-button">
			<ng-md-icon ng-if="version1" icon="group_add" style="fill: grey;" size="25"></ng-md-icon>
		</md-button>
		<a href="">Follow</a>
		<md-button ng-href="{{'profile.php#/'+cardSource.id}}" aria-label="arrow_forward" class="md-icon-button">
			<ng-md-icon icon="info_outline" style="fill: grey;" size="25"></ng-md-icon>
		</md-button>
	</div>
	<div layout layout-align="center center">
		<div flex="50">
			<img ng-src="{{cardSource.image}}">
		</div>
	</div>
	<div layout="column" class="info">
		<h3><a ng-href="{{'profile.php#/'+cardSource.id}}">{{cardSource.displayName}}</a></h3>
		<h4>{{cardSource.jobTitle}}</h4>
		<h4><a ng-href="{{'company-profile.php#/'+cardSource.companyId}}">{{cardSource.company}}</a></h4>
		<ui-widget-stars-static size="15" value="{{cardSource.rating}}" text="({{cardSource.rating}})"></ui-widget-stars-static>
	</div>
	
	<div class="description">
	{{cardSource.description}}
	</div>
	<div class="footer" layout="row" >
    
    <md-button href="" class="white-button" aria-label="Add to Project" flex>
        Add to Project
    </md-button>

      <!-- buttons for compare -->
    <!-- <md-button href="" class="white-button" aria-label="Add to Compare" flex>
      Add to Compare
    </md-button> -->
  </div>
</div>