<div layout="column" class="storefront-step1">
	<div layout="row" layout-align="space-between center">
		<h2>Market your storefront with a cover photo</h2>
		<md-button class="dmc-button md-raised" ui-sref="^.description">
			SKIP
		</md-button>
	</div>
	<h3>A cover photo is an image to market your storefront</h3>
    <div layout="row"  layout-align="center center">
        <div class="img-box" ng-if="storefront[0].data.featureImage.thumbnail">
            <img ng-src="{{storefront[0].data.featureImage.thumbnail}}">
        </div>
    	<div class="flow-box"
             flow-init
             flow-drag-enter="pictureDragEnter($flow)"
             flow-drag-leave="pictureDragLeave($flow)"
             flow-file-success="$file.msg = $message"
             flow-file-added="addedNewFile($file, $event, $flow )"
             layout="column">
            <div layout class="alert" flow-drop flow-drop-enabled="true">
              <div class="inner-box" layout="row" layout-align="center center" style="min-width: 100%;">
                <div ng-if="$flow.files.length > 0" class="uploaded-picture" flex="90">
                  <img flow-img="$flow.files[0]" />
                    <md-button ng-click="removePicture($flow)" class="md-fab md-mini remove-picture" aria-label="Remove picture">
                        <ng-md-icon icon="close" size="21"></ng-md-icon>
                    </md-button>
                </div>
                <div flow-btn class="text" flex="90" ng-if="$flow.files.length == 0">
                    Drag And Drop your picture here<br>
                    600 x 600 px (max 2 MB)
                    <br>or<br>
                    <strong>Click here</strong>
                </div>
              </div>
            </div>
        </div>
    </div>
	<div layout="row" layout-align="end center">
		<md-button class="dmc-button md-raised md-primary" ng-click="next(0)">
			NEXT
		</md-button>
	</div>
</div>