<div layout="column" class="storefront-step3">
	<div layout="row" layout-align="space-between center">
		<h2>Your Brand Goes Here</h2>
		<md-button class="dmc-button md-raised" ui-sref="^.^.home">
			SKIP
		</md-button>
	</div>
	<h3>Include your logo to help users identify your brand. </h3>
    <div layout="row"  layout-align="center center">
        <div class="img-box" ng-if="storefront[2].data.logoImage">
            <img ng-src="{{storefront[2].data.logoImage}}">
            <md-button md-no-ink class="md-fab md-mini md-warn md-raised removed-images"
                       ng-click="deleteLogo()"
                       aria-label="Delete Image">
                <ng-md-icon icon="delete" size="18"></ng-md-icon>
            </md-button>
        </div>
    	<div class="flow-box"
             flow-init
             flow-drag-enter="pictureDragEnter($flow)"
             flow-drag-leave="pictureDragLeave($flow)"
             flow-file-success="$file.msg = $message"
             flow-file-added="addedNewFile($file, $event, $flow )"
             layout="column">
            <div layout class="alert" flow-drop flow-drop-enabled="true">
              <div class="inner-box" layout="row" layout-align="center center" style="min-width: 100%;">
                <div ng-if="$flow.files.length > 0" class="uploaded-picture" flex="90">
                  <img flow-img="$flow.files[0]" />
                    <md-button ng-click="removePicture($flow)" class="md-fab md-mini md-warn md-raised remove-picture" aria-label="Remove picture">
                        <ng-md-icon icon="delete" size="18"></ng-md-icon>
                    </md-button>
                </div>
                <div flow-btn class="text" flex="90" ng-if="$flow.files.length == 0">
                    Drag And Drop your picture here<br>
                    600 x 600 px (max 2 MB)
                    <br>or<br>
                    <strong>Click here</strong>
                </div>
              </div>
            </div>
        </div>
    </div>
	<div layout="row" layout-align="end center" class="onboarding-foter">
		<md-button class="dmc-button md-raised margin-right5" ui-sref="^.description">
			BACK
		</md-button>
		<md-button class="dmc-button md-raised md-primary" ng-click="finish(2)">
			FINISH
		</md-button>
	</div>
</div>