<div class="content-panel-header">
    <md-toolbar>
        <div class="md-toolbar-tools widget-toolbar-title">
            <h2>{{widgetTitle}}</h2>
            <md-button ng-if="projectId > 0" href="" class="view-all-button" ng-click="newDiscussion($event)">Add New</md-button>
            <span flex></span>
            <md-button href="/" md-no-ink class="view-all-button view-all-link">View All ({{total}})</md-button>
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body">
    <md-content class="view-project-padding">
        <div class="discussions-list">
            <md-list>
                <md-list-item ng-repeat="item in discussions" class="md-3-line">
                    <div class="md-list-item-text">
                        <h3><a href="/individual-discussion.php#/1" class="link-button" target="_blank">{{item.text}}</a></h3>
                        <div class="info">
                            <span>{{item.full_name}} replied | {{item.created_at}}</span>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
            <md-list-item ng-if="discussions.length == 0">
                <div class="md-list-item-text">
                    <span>No discussions</span>
                </div>
            </md-list-item>
        </div>
    </md-content>
</div>
