<div class="documents-folder" layout="column">
	<div layout="row" class="header">
		<h2  ng-click="exitFolder(-1)">All Documents</h2>
		<h2 class="folder-title" ng-click="exitFolder($index)" ng-repeat="item in indexfolder">
			{{"> "+item.title }}
		</h2>
	</div>

	<md-list>
		<div class="header-list" layout="row" layout-align="space-around center">
			<h3 flex="50" class="row">Name</h3>
			<h3 flex="20" class="row">Owner</h3>
			<h3 flex="20" class="row">Size</h3>
			<h3 flex="10" class="row">Last Modifed</h3>
		</div>
		<md-list-item aria-label="file" ng-repeat="item in folder track by $index">
			<md-divider></md-divider>
			<div layout="row" flex="100" layout-align="start center">
				<md-button ng-if="!item.file" layout="row" flex="50" class="folderButton" ng-click="openFolder(item, $index)">
						<ng-md-icon icon="folder" style="fill: #666" size="35"></ng-md-icon>
						{{item.title}}
				</md-button>
				<div layout="row" flex="50" ng-if="item.file"  layout-align="start center">
				<ng-md-icon icon="insert_drive_file" style="fill: #666" size="35"></ng-md-icon>
				<h3>
					
					{{item.title}}
				</h3>
				</div>
				<h3 flex="20">{{item.owner}}</h3>
				<h3 flex="20">{{item.size}}</h3>
				<h3 flex="10">{{item.modifed}}</h3>
			</div>
		</md-list-item>
	</md-list>
</div>