<div class="documents documents-product">
  <md-list layout layout-wrap>
    <md-list-item  flex="33" ng-repeat="item in documents">
      <p>{{item.title}}</p>
      <md-button class="md-icon-button download" href="{{item.file}}" download aria-label="Download"><ng-md-icon icon="file_download" style="fill: #666" size="18"></ng-md-icon></md-button>
      <md-button class="md-raised view" target="_blank" href="{{item.file}}">View</md-button>
      <md-divider ng-if="$index + 1 <= total - ((total%3 == 0)?3:total%3)"></md-divider>
    </md-list-item>
  </md-list>
</div>