<div class="content-panel-header">
  <md-toolbar>
    <div class="md-toolbar-tools widget-toolbar-title">
        <h2>{{widgetTitle}}</h2>
    </div>
  </md-toolbar>
</div>
<div class="content-panel-body">
  <md-content class="documents">
    <md-list>
      <md-list-item ng-repeat="item in documents">
        <p>{{item.title}}</p>
        <md-button class="md-icon-button download" href="{{item.file}}" download aria-label="Download"><ng-md-icon icon="file_download" style="fill: #666" size="18"></ng-md-icon></md-button>
        <md-button class="md-raised view" target="_blank" href="{{item.file}}">View</md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>