<div class="documents-folder" layout="column" flex>
	<div layout="row" class="header" layout-wrap layout-align="start center" flex="100" ng-if="folder.length == 0 || indexfolder.length > 0">
		<div class="root" layout="column"  ng-click="exitFolder(0,-1)">
            <span>{{ indexfolder.length == 0 && folder.length == 0 ? 'No Documents Included' : 'All Documents' }}</span>
        </div>
		<div layout="column"
            class="folder-title"
            ng-class="{'current-folder' : serviceDocumentId == item.id}"
            ng-click="exitFolder(item.id,$index)"
            ng-repeat="item in indexfolder track by $index">
            <div layout="row" layout-align="start center">
			    <ng-md-icon icon="keyboard_arrow_right" size="32"></ng-md-icon>
                <span>{{item.title }}</span>
            </div>
		</div>
	</div>

    <md-data-table-container layout="row" flex=100 ng-hide="indexfolder.length == 0 && folder.length == 0">
        <table md-data-table>
            <thead md-order="sort" md-trigger="onOrderChange" ng-hide="indexfolder.length > 0 && folder.length == 0">
            <tr>
                <th name="Name" order-by="title"></th>
                <th name="Owner" order-by="owner"></th>
                <th name="Size" order-by="size"></th>
                <th name="Last Modifed" order-by="modifed"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in folder track by $index" ng-click="changeItem(item)">
                <td class="folder" ng-if="!item.file" ng-click="openFolder(item, $index)">
                    <div layout="row" layout-align="start center">
                        <ng-md-icon icon="folder" style="fill: #666" size="35"></ng-md-icon>
                        <span>{{item.title}}</span>
                    </div>
                </td>
                <td class="file" ng-if="item.file">
                    <div layout="row" layout-align="start center">
                        <ng-md-icon icon="insert_drive_file" style="fill: #666" size="35"></ng-md-icon>
                        <a target="_blank" ng-href="{{item.file}}" ng-if="item.file">{{item.title}}</a>
                    </div>
                </td>
                <td><a href="/profile.php#/{{item.ownerId}}">{{item.owner}}</a></td>
                <td>{{item.size}}</td>
                <td>{{item.modifedFormat}}</td>
            </tr>
            <tr ng-show="indexfolder.length > 0 && folder.length == 0">
                <td class="empty" colspan="4">No Documents Included</td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>
</div>
