<div class="content-panel-header">
    <md-toolbar>
        <div class="md-toolbar-tools widget-toolbar-title">
            <h2>{{widgetTitle}}</h2>
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body onboarding-widget">
    <md-content layout>
    	<div layout="column" layout-align="start center" layout-fill>
			<div class="section" layout="row" layout-align="center center" layout-fill>
				<div flex="10">
					<img ng-src="images/icon-profile-lg.svg">
				</div>
				<div layout="column" flex="85" class="text">
					<h2><a ng-href="{{'onboarding.php#/profile/basic-informations'}}">Create Your Profile</a></h2>
					<h3>Let everyone know who you are and what you do.</h3>
				</div>
				<div flex="5">
					<md-icon md-svg-src="images/icon-complete.svg" aria-label="done" ng-if="data.profile"></md-icon>
				</div>
			</div>
			
			<md-divider></md-divider>

			<div class="section" layout="row" layout-align="center center" layout-fill>
				<div flex="10">
					<img ng-src="images/icon-settings-lg.svg">
				</div>
				<div layout="column" flex="85" class="text">
					<h2><a ng-href="{{'onboarding.php#/account/public-information'}}">Manage Your Account</a></h2>
					<h3>Customize things the way you want them.</h3>
				</div>
				<div flex="5">
					<md-icon md-svg-src="images/icon-complete.svg" aria-label="done" ng-if="data.account"></md-icon>
				</div>
			</div>
			
			<md-divider></md-divider>

			<div ng-if="$root.userData.role == 1" class="section" layout="row" layout-align="center center" layout-fill>
				<div flex="10">
					<img ng-src="images/icon-company-lg.svg">
				</div>
				<div layout="column" flex="85" class="text">
					<h2><a ng-href="{{'onboarding.php#/company/company'}}">Define the Company</a></h2>
					<h3>Profile the business, its capabilities and accomplishments.</h3>
				</div>
				<div flex="5">
					<md-icon md-svg-src="images/icon-complete.svg" aria-label="done" ng-if="data.company"></md-icon>
				</div>
			</div>

			<md-divider></md-divider>

			<div ng-if="$root.userData.role == 1" class="section" layout="row" layout-align="center center" layout-fill>
				<div flex="10">
					<img ng-src="images/icon-marketplace-lg.svg">
				</div>
				<div layout="column" flex="85" class="text">
					<h2><a ng-href="{{'onboarding.php#/storefront/cover-image'}}">Build Your Storefront</a></h2>
					<h3>Customize a space to promote and market your offerings.</h3>
				</div>
				<div flex="5">
					<md-icon md-svg-src="images/icon-complete.svg" aria-label="done" ng-if="data.storefront"></md-icon>
				</div>
			</div>
		</div>
    </md-content>
</div>