<div class="content-panel-header">
    <div class="md-toolbar-tools widget-toolbar-title">
        <h2>{{widgetTitle}}</h2>
    </div>
</div>
<div class="content-panel-body onboarding-widget">
    <md-content layout>
    	<div layout="column" layout-align="start center" layout-fill>
			<div class="section" flex="100" layout="row" layout-align="center center" layout-fill>
				<div flex="10">
					<img ng-src="images/community-icon.png">
				</div>
				<div layout="column" flex="85" class="text">
					<h2><a ng-href="{{'profile.php#/' + userData.profileId}}">Fill out your profile</a></h2>
					<h3>Tell everyone about yourself and brag about your skills</h3>
				</div>
				<div flex="5">
					<md-icon md-svg-src="images/icon-complete.svg" aria-label="done" ng-if="data.profile"></md-icon>
				</div>
			</div>
			
			<md-divider flex="100"></md-divider>

			<div class="section" flex="100" layout="row" layout-align="center center" layout-fill>
				<div flex="10">
					<img ng-src="images/community-icon.png">
				</div>
				<div layout="column" flex="85" class="text">
					<h2><a ng-href="{{'account.php#/' + userData.accountId}}">Manage your account</a></h2>
					<h3>Customize your account the way you want it</h3>
				</div>
				<div flex="5">
					<md-icon md-svg-src="images/icon-complete.svg" aria-label="done" ng-if="data.account"></md-icon>
				</div>
			</div>
			
			<md-divider></md-divider>

			<div ng-if="$root.userData.role == 1" class="section" flex="100" layout="row" layout-align="center center" layout-fill>
				<div flex="10">
					<img ng-src="images/community-icon.png">
				</div>
				<div layout="column" flex="85" class="text">
					<h2><a ng-href="{{'company-profile.php#/' + userData.companyId}}">Fill out the company profile</a></h2>
					<h3>Tell everyone about the company, its skills, and accomplishments</h3>
				</div>
				<div flex="5">
					<md-icon md-svg-src="images/icon-complete.svg" aria-label="done" ng-if="data.company"></md-icon>
				</div>
			</div>

			<md-divider></md-divider>

			<div ng-if="$root.userData.role == 1" class="section" flex="100" layout="row" layout-align="center center" layout-fill>
				<div flex="10">
					<img ng-src="images/community-icon.png">
				</div>
				<div layout="column" flex="85" class="text">
					<h2><a ng-href="{{'company.php#/' + userData.companyId + '/storefront?product=services'}}">Customize the company storefront</a></h2>
					<h3>Market creations with a beautiful storefront</h3>
				</div>
				<div flex="5">
					<md-icon md-svg-src="images/icon-complete.svg" aria-label="done" ng-if="data.storefront"></md-icon>
				</div>
			</div>
		</div>
    </md-content>
</div>