<div class="content-panel-header" ng-hide="widgetTitle == null">
    <md-toolbar>
        <div class="md-toolbar-tools widget-toolbar-title">
            <h2>{{widgetTitle}}</h2>
            <span flex></span>
            <a href="/my-projects.php"
                       class="link-button uppercase">View All ({{total}})</a>
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body" layout="column" flex="100">
  <md-content class="rp-panel" layout="row" ng-repeat="item in projects">
      <div layout="column" flex>
          <div class="rp-panel__title my-projects" layout="row">
              <h2>
                  <a href="project.php#/{{item.id}}" class="link-button">{{item.title}}</a>
                  <span ng-if="item.dueDate">Due in {{item.dueDate}}</span>
              </h2>
          </div>

          <md-content ng-if="!widgetShowAllBlocks">
              <md-tabs md-dynamic-height md-border-bottom>
                  <md-tab label="Tasks">
                      <md-content flex
                                  ui-project-tasks
                                  limit="4"
                                  total-items="item.tasks.totalItems"
                                  project-id="item.id"></md-content>
                  </md-tab>
                  <md-tab label="Discussions">
                      <md-content flex
                                  ui-project-discussions
                                  limit="4"
                                  total-items="item.discussions.totalItems"
                                  project-id="item.id"></md-content>
                  </md-tab>
                  <md-tab label="Services">
                      <md-content flex
                                  ui-widget-services
                                  limit="4"
                                  project-id="item.id"
                                  widget-style="'my-projects'"></md-content>
                  </md-tab>
              </md-tabs>
          </md-content>

          <div class="rp-panel__tab-content widget-blocks"
               layout="row"
               layout-align="space-between start"
               ng-if="widgetShowAllBlocks">
              <!-- Tasks -->
              <md-content flex="{{flexBox}}"
                          layout-padding
                          ui-project-tasks
                          total-items="item.tasks.totalItems"
                          project-id="item.id"
                          limit="4"
                          widget-title="'Tasks'"></md-content>
              <!-- Discussions -->
              <md-content flex="{{flexBox}}"
                          layout-padding
                          ui-project-discussions
                          total-items="item.discussions.totalItems"
                          widget-format="widgetFormat"
                          project-id="item.id"
                          widget-title="'Discussions'"
                          limit="4"
                          with-avatar="false"></md-content>
              <!-- Services -->
              <md-content flex="{{flexBox}}"
                          layout-padding
                          ui-widget-services
                          limit="4"
                          project-id="item.id"
                          widget-style="'my-projects'"
                          progress-position="'bottom'"
                          widget-title="'Services'"
                          start-at-offset="14"></md-content>
          </div>
      </div>
  </md-content>
</div>

