<div class="title-widget" ng-hide="widgetTitle == null" layout="row" layout-align="start center">
    <h2>{{widgetTitle}}</h2>
    <span flex></span>
    <md-button ng-href="{{'/project.php#/'+projectId+'/tasks'}}" class="view-all-link">View All ({{totalItems}})</md-button>
</div>
<md-list class="task-list">
    <md-list-item class="md-3-line" ng-repeat="task in projectTasks">
        <div class="md-list-item-text">
            <h3 ng-click="editTask($event,task)">{{task.title}}</h3>
            <h4>Assigned To: <a href="/profile.php#/1" class="link-button">{{task.assignee}}</a></h4>
            <div class="label" ng-bind-html="task.dueDate[1]" ng-class="task.dueDate[0] == 'date' ? 'label--date' : (task.dueDate[0] == 'tomorrow' ? 'label--tomorrow' : (task.dueDate[0] == 'today' || task.dueDate[0] == 'after' ? 'label--warn' : 'label--date'))"></div>
        </div>
        <md-divider ng-if="$index < projectTasks.length-1"></md-divider>
    </md-list-item>
</md-list>