<div class="title-widget" ng-hide="widgetTitle == null" layout="row" layout-align="start center">
    <h2>{{widgetTitle}}</h2>
    <span flex></span>
    <md-button href="/all.php#/services/{{projectId}}" class="view-all-link">View All ({{totalItems}})</md-button>
</div>
<md-list>
    <md-list-item class="md-2-line service-list-item"
                  ng-if="progressPosition == 'bottom'"
                  ng-repeat="service in projectServices track by $index">
        <div class="md-list-item-text" layout="column">
            <h3>
                <a href="/component.php#/services/{{service.id}}" class="service-title link-button">{{service.title}}</a>
            </h3>
            <a href="/project.php#/{{service.currentStatus.project.id}}/run-service/{{service.id}}" class="link-button">
                <md-progress-linear md-mode="determinate" value="{{service.currentStatus.percentCompleted}}"></md-progress-linear>
                <span>Estimated - 1:30 of 2:00</span>
            </a>
        </div>
        <md-divider ng-if="$index < projectServices.length-1"></md-divider>
    </md-list-item>

    <md-list-item class="service-list-item"
                  ng-if="progressPosition != 'bottom'"
                  layout-align="start center"
                  ng-repeat="service in projectServices track by $index">
        <div layout="column" flex="50" class="title">
            <a href="/component.php#/services/{{service.id}}" class="link-button">{{service.title}}</a>
        </div>
        <div layout="column" layout-align="center center" flex="30" class="release-date">
            {{service.releaseDate}}
        </div>
        <div layout="column" flex="20" class="service-progress">
            <md-progress-linear md-mode="determinate" value="{{service.currentStatus.percentCompleted}}"></md-progress-linear>
            <span class="service-progress-info">1:30 of 2:00</span>
        </div>
    </md-list-item>
</md-list>