<label class="top10 bottom5">{{fieldName}}</label>
<div id="richdiv" class="rich" medium-editor ng-model="model"
	data-placeholder="{{placeholderText}}"
	bind-options="{toolbar: { 'buttons': ['bold','italic','underline','anchor', 'quote',  'h2', 'h3'] } }"
	ng-required="isRequired">
</div>
<div layout="row">
	<p class="textHint" flex="50">Highlight text to format</p>
	<p>{{chars + "/" + limit}}<p>
</div>

<div ng-show="isSaved">
	<p class="slim-margin error" ng-show="noDescription">You <b>must</b> enter a {{fieldName.toLowerCase()}}</p>
	<p class="slim-margin error" ng-show="descriptionOverLimit">Your {{fieldName.toLowerCase()}} is too long</p>
</div>
