<!-- My Project Services-->
<div class="title-widget" ng-if="widgetTitle && widgetStyle == 'my-projects'" layout="row" layout-align="start center">
    <h2>{{widgetTitle}}</h2>
    <span flex></span>
    <a href="{{'/project.php#/'+projectId+'/services'}}"
               ng-click="previousPage.save($event)"
               class="link-button uppercase">View All ({{total}})</a>
</div>
<md-list ng-if="widgetStyle == 'my-projects'">
    <md-list-item class="md-2-line service-list-item"
                  ng-if="progressPosition == 'bottom'"
                  ng-repeat="service in services track by $index">
        <div class="md-list-item-text">
            <h3>
                <a href="/project.php#/{{projectId}}/services/{{service.id}}/detail" class="service-title link-button">{{service.title}}</a>
            </h3>
            <a href="/project.php#/{{projectId}}/services/{{service.id}}/run" class="link-button">
                <!-- <md-progress-linear ng-if="service.currentStatus.status == 1"
                                    md-mode="determinate"
                                    value="{{service.currentStatus.percentCompleted}}"></md-progress-linear>
                <span ng-if="service.currentStatus.status == 1">Estimated - 1:30 of 2:00</span> -->
                <!-- <span ng-if="service.currentStatus.status != 0">{{service.currentStatus.status == 1 ? 'success' : ( service.currentStatus.status == -1 ? 'error' : '')}}</span> -->
                <span ng-if="serviceStatusNames[service.currentStatus.status]">{{serviceStatusNames[service.currentStatus.status]}}</span>
                <span ng-if="!serviceStatusNames[service.currentStatus.status]">Never Run</span>
            </a>
        </div>
    </md-list-item>

    <md-list-item class="service-list-item"
                  ng-if="progressPosition != 'bottom'"
                  layout-align="start center"
                  ng-repeat="service in services track by $index">
        <div layout="column" flex="50" class="title">
            <a href="/project.php#/{{projectId}}/services/{{service.id}}/detail" class="link-button">{{service.title}}</a>
        </div>
        <div layout="column" layout-align="center center" flex="30" class="release-date">
            {{service.currentStatus.startDate}}
            <span class="services-time-info">{{service.currentStatus.startTime}}</span>
        </div>
        <div layout="column" flex="20" class="service-progress">
            <a href="/project.php#/{{projectId}}/services/{{service.id}}/run" class="link-button"  ng-if="service.currentStatus.id">
                <!-- <md-progress-linear ng-if="service.currentStatus.status == 1"
                                md-mode="determinate"
                                value="{{service.currentStatus.percentCompleted}}"></md-progress-linear>
                <span ng-if="service.currentStatus.status == 1" class="service-progress-info">1:30 of 2:00</span> -->
                <span ng-if="service.currentStatus.status != 0">{{service.currentStatus.status == 1 ? 'success' : ( service.currentStatus.status == -1 ? 'error' : '')}}</span>
            </a>
        </div>
    </md-list-item>
</md-list>

<!-- Services -->

<div class="content-panel-header" ng-if="widgetTitle && widgetStyle != 'my-projects'">
    <md-toolbar>
        <div class="md-toolbar-tools widget-toolbar-title">
            <h2>{{widgetTitle}}</h2>
            <span flex></span>
            <a ng-href="{{(projectId ? '/project.php#/'+projectId+'/services' : '/all.php#/services')}}"
                       ng-click="previousPage.save($event)"
                       class="link-button uppercase">View All ({{total}})</a>
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body" ng-if="widgetStyle != 'my-projects'">
    <md-content>
        <div class="running-services-list">
            <md-data-table-container>
                <table md-data-table>
                    <thead md-order="sort" md-trigger="onOrderChange" ng-if="services.length > 0">
                    <tr>
                        <th ng-show="columns.indexOf('run') > -1" name="Run"></th>
                        <th ng-show="columns.indexOf('name') > -1" name="Name" order-by="title"></th>
                        <th ng-show="columns.indexOf('component') > -1" name="Component" order-by="parent_component"></th>
                        <th ng-show="columns.indexOf('project') > -1" name="Project" order-by="currentStatus.project.title"></th>
                        <th ng-show="columns.indexOf('start') > -1" name="Start" order-by="currentStatus.date"></th>
                        <th ng-show="columns.indexOf('status') > -1" name="Status" order-by="currentStatus.status"></th>
                        <th ng-show="columns.indexOf('dateAdded') > -1" name="Date Added" order-by="releaseDate"></th>
                        <th ng-show="columns.indexOf('addedBy') > -1" name="Added By" order-by="owner"></th>
                        <th ng-show="columns.indexOf('from') > -1" name="From" order-by="from"></th>
                        <th ng-show="columns.indexOf('edit') > -1" name="Edit"></th>
                        <th ng-show="columns.indexOf('remove') > -1" name="Remove"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in services | orderBy: sort" ng-click="changeItem(item)">
                        <td ng-show="columns.indexOf('run') > -1">
                            <md-button class="md-raised run" ng-href="{{'project.php#/' + item.projectId + '/services/' + item.id + '/run'}}">Run</md-button>
                        </td>
                        <td ng-show="columns.indexOf('name') > -1">
                            <a ng-href="{{'/project.php#/'+item.projectId+'/services/'+item.id+'/detail'}}" class="link-button">
                                <em>{{item.title}}</em>
                            </a>
                            <span class="services-time-info" ng-hide="widgetStyle == 'full'">{{item.releaseDateFormat}}</span>
                        </td>
                        <td ng-show="columns.indexOf('component') > -1">
                            {{item.parent_component ? item.parent_component : 'None'}}
                        </td>
                        <td ng-show="columns.indexOf('project') > -1">
                            <a href="/project.php#/{{item.projectId}}/home" class="link-button">{{item.currentStatus.project.title}}</a>
                        </td>
                        <td ng-show="columns.indexOf('start') > -1">
                            {{item.currentStatus.startDate}}
                            <span class="services-time-info">{{item.currentStatus.startTime}}</span>
                        </td>
                        <td class="service-status" ng-show="columns.indexOf('status') > -1">
                            <span ng-if="serviceStatusNames[item.currentStatus.status]">{{serviceStatusNames[item.currentStatus.status]}}
                              <md-button ng-if="item.currentStatus.status == 0 && columns.indexOf('cancelRun') > -1" ng-click="cancelServiceRun($event,item)">
                                <ng-md-icon icon="cancel" style="fill: #F44B2F;" size="15"></ng-md-icon>
                              </md-button>
                            </span>
                            <span ng-if="!serviceStatusNames[item.currentStatus.status]">Never Run</span>
                        </td>
                        <td ng-show="columns.indexOf('dateAdded') > -1">
                            {{item.releaseDateFormat}}
                        </td>
                        <td ng-show="columns.indexOf('addedBy') > -1">
                            <a class="link-button" href="/profile.php#/{{item.profileId}}">{{item.addedBy}}</a>
                        </td>
                        <td ng-show="columns.indexOf('from') > -1">
                            {{item.from}}
                        </td>
                        <td ng-show="columns.indexOf('edit') > -1">
                            <md-button aria-label="edit" ng-href="{{'project.php#/' + projectId  + '/services/' + item.id + '/edit'}}" class="edit">
                                <ng-md-icon icon="create" style="fill: grey;" size="25"></ng-md-icon>
                            </md-button>
                        </td>
                        <td ng-show="columns.indexOf('remove') > -1">
                            <md-button aria-label="delete" ng-click="deleteService($event,item)" class="delete">
                                <ng-md-icon icon="delete" style="fill: grey;" size="25"></ng-md-icon>
                            </md-button>
                        </td>
                    </tr>
                    <tr ng-if="services.length == 0">
                        <td class="empty" colspan="{{columns.length}}">No services</td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>
        </div>
    </md-content>
</div>
