<div class="content-panel-header">
    <md-toolbar>
        <div class="md-toolbar-tools widget-toolbar-title">
            <h2>{{widgetTitle}}</h2>
            <span flex></span>
            <md-button ng-href="{{'/all.php#/services'+(projectId ? '/'+projectId : '')}}" target="_blank" md-no-ink class="view-all-button view-all-link">View All ({{total}})</md-button>
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body">
    <md-content class="md-padding">
        <div class="running-services-list">
            <md-data-table-container>
                <table md-data-table>
                    <thead md-order="sort" md-trigger="onOrderChange" ng-if="services.length > 0">
                    <tr>
                        <th ng-show="columns.indexOf('name') > -1" name="Name" order-by="title"></th>
                        <th ng-show="columns.indexOf('project') > -1" name="Project" order-by="project"></th>
                        <th ng-show="columns.indexOf('start') > -1" name="Start" order-by="start"></th>
                        <th ng-show="columns.indexOf('status') > -1" name="Status" order-by="status"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in services" ng-click="changeItem(item)">
                        <td ng-show="columns.indexOf('name') > -1">
                            <a href="/component.php#/services/{{item.id}}" class="link-button">
                                <em>{{item.title}}</em>
                            </a>
                            <span class="services-time-info" ng-hide="widgetStyle == 'full'">{{item.releaseDate}}</span>
                        </td>
                        <td ng-show="columns.indexOf('project') > -1">
                            <a href="/project.php#/{{item.currentStatus.project.id}}/home" class="link-button">{{item.currentStatus.project.title}}</a>
                        </td>
                        <td ng-show="columns.indexOf('start') > -1">{{item.currentStatus.startDate}}<span class="services-time-info">{{item.currentStatus.startTime}}</span></td>
                        <td ng-show="columns.indexOf('status') > -1">
                            <a href="/project.php#/{{item.currentStatus.project.id}}/run-service/{{item.id}}" class="link-button">
                                <md-progress-linear md-mode="determinate" value="{{item.currentStatus.percentCompleted}}"></md-progress-linear>
                                <span class="service-progress-info">1:30 of 2:00</span>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="services.length == 0">
                        <td class="empty" colspan="{{columns.length}}">No services</td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>
        </div>
    </md-content>
</div>