<div class="content-panel-header">
    <md-toolbar>
        <div class="md-toolbar-tools widget-toolbar-title">
            <h2>{{widgetTitle}}</h2>
            <md-button ng-if="projectId > 0" class="add-button-square" href="/add-task.php{{projectId ? '#/?projectId='+projectId : ''}}" aria-label="Add Task">
                <ng-md-icon icon="add" size="18"></ng-md-icon>
            </md-button>
            <span flex></span>
            <a ng-href="{{(projectId ? '/project.php#/'+projectId+'/tasks' : '/all.php#/tasks')}}"
                       ng-click="previousPage.save($event)"
                       class="link-button uppercase">View All ({{total}})</a>
        </div>
    </md-toolbar>
</div>
<div class="content-panel-body">
    <md-content class="view-project-padding">
        <md-data-table-container sortable-columns>
            <table md-data-table class="tableTasks">
                <thead md-order="sort" md-trigger="onOrderChange" ng-if="tasks.length > 0">
                <tr>
                    <th class="title" ng-show="columns.indexOf('title') > -1" name="Task" order-by="title"></th>
                    <th ng-show="columns.indexOf('project') > -1" name="Project" order-by="project"></th>
                    <th ng-show="columns.indexOf('assignee') > -1" name="Assigned To" order-by="assignee"></th>
                    <th ng-show="columns.indexOf('priority') > -1" name="Priority" order-by="priority"></th>
                    <th ng-show="columns.indexOf('dueDate') > -1" name="Due Date" order-by="dueDate"></th>
                </tr>
                </thead>
                <tbody>
                <tr md-auto-select ng-repeat="item in tasks | orderBy: sort" class="one-task">
                    <td class="title" ng-show="columns.indexOf('title') > -1">
                        <a class="link-button" href="/project.php#/{{item.project.id}}/task/{{item.id}}">{{item.title}}</a>
                    </td>
                    <td class="assignee" ng-show="columns.indexOf('assignee') > -1">
                        <a href="/profile.php#/1" class="link-button">{{item.assignee}}</a>
                    </td>
                    <td class="project" ng-show="columns.indexOf('project') > -1">
                        <a href="/project.php#/{{item.project.id}}/home" class="link-button">{{item.project.title}}</a>
                    </td>
                    <td ng-show="columns.indexOf('priority') > -1">
                        {{item.priorityName}}
                    </td>
                    <td class="dueDate" ng-show="columns.indexOf('dueDate') > -1">
                        <span ng-bind-html="item.formatedDueDate[1]" class="label border-radius-2" ng-class="item.formatedDueDate[0] == 'date' ? 'label--date' : (item.formatedDueDate[0] == 'tomorrow' ? 'label--tomorrow' : (item.formatedDueDate[0] == 'today' || item.formatedDueDate[0] == 'after' ? 'label--warn' : 'label--date'))"></span>
                    </td>
                </tr>
                <tr ng-if="tasks.length == 0">
                   <td class="empty" colspan="{{columns.length}}">No tasks</td>
                </tr>
                </tbody>
            </table>
        </md-data-table-container>
    </md-content>
</div>