<div class="content-panel-header" ng-if="widgetTitle">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{widgetTitle}}</h2>
        </div>
    </md-toolbar>
</div>
  <div class="content-panel-body" layout="column" layout-align="space-between start" layout-wrap>
      <md-content class="md-padding" flex="99">
        <form style="z-index: 8" class="dropzone dropzone-sm dz-clickable" id="documentDropZone" dropzone="dropzoneConfig">
            <div class="dz-default dz-message">
                <div>
                    <ng-md-icon icon="cloud_upload" style="fill: #666" size="84"></ng-md-icon>
                    <span class="main-text"><b>Drop Files</b> here</span>
                    <span class="sub-text">(or click)</span>
                </div>
            </div>
        </form>
      </md-content>
    </div>
    <!-- <div layout='row' class="md-padding upload-documents" ng-if="source.length > 0" flex="{{widgetType == 'row' ? 100 : 50}}"> -->
    <div layout='column' flex="99" class="md-padding upload-documents" ng-if="source.length > 0">

      <!-- wrapping div for repeat-->
      <div class="upload-list" ng-repeat="item in source | limitTo: maxFiles" ng-show="!item.deleted">

        <!-- title and edit controls -->
        <div layout='row' class="doc-title" layout-align="start center">
          <h2>{{item.title}} <i style="color: grey; size: .6em" ng-show="item.editing">editing</i></h2>
          <!-- delete/ edit buttons -->
          <md-button class="md-icon-button edit" ng-show="!item.editing && !item.delete" ng-click="editFile(item)" aria-label="Edit"><ng-md-icon icon="mode_edit" style="fill: #666" size="24"></ng-md-icon></md-button>
          <md-button ng-show="!item.editing && !item.delete" class="md-icon-button remove" ng-click="confirmDeleteFile(item)" aria-label="Remove"><ng-md-icon icon="delete" style="fill: #666" size="24"></ng-md-icon></md-button>
        </div>

        <!-- name editing -->
        <div layout='row' class="doc-attr-group">
          <md-input-container ng-show="item.editing" flex>
              <label>Document name</label>
              <input ng-value="item.title" ng-model="item.title">
          </md-input-container>
        </div>

        <!-- access level -->
        <div layout='row' class="doc-attr-group">
          <div ng-if="!item.editing">Access Level: {{item.accessLevel}}</div>
          <md-input-container ng-if="accessLevel && item.editing" flex="50">
              <label>Access Level</label>
              <md-select ng-model="item.accessLevel" ng-if="item.editing">
                  <md-option ng-value="value" ng-repeat="(key, value) in accessLevel">{{key}}</md-option>
              </md-select>
          </md-input-container>


          <md-input-container ng-if="item.accessLevel == 'ORGANIZATION_LIST'" flex="50">
              <label>Choose Members</label>
              <md-select ng-model="item.accessLevel" ng-if="item.editing">
                  <md-option ng-value="value" ng-repeat="(key, value) in accessLevel">{{key}}</md-option>
              </md-select>
          </md-input-container>


        </div>

        <!-- tags -->
        <div layout='row' class="doc-attr-group">
          <div layout="column" ng-show="allowTagging">
            <div>
                Tags: <span ng-repeat="tag in item.tags track by $index">{{tag.tagName || tag}}{{$last ? '' : ', '}}</span>
                <br>
            </div>

            <!-- <ui-select style="max-width: 100px;" multiple tagging tagging-label="false" append-to-body="true" ng-model="item.tags" theme="select2" flex ng-show="item.editing && allowTagging">
                <label>Tags</label>
                <ui-select-match placeholder="Tags">{{$item.tagName || $item}}</ui-select-match>
                <ui-select-choices repeat="tag in tags | filter:$select.search"></ui-select-choices>
            </ui-select> -->
            <div flex="50" flex="nogrow">
              <ui-select flex ng-show="item.editing && allowTagging" multiple tagging tagging-label="Tags" ng-model="item.tags">
              <ui-select-match placeholder="add">{{$item.tagName || $item}}</ui-select-match>
              <ui-select-choices repeat="tag in tags | filter:$select.search">{{tag.tagName || tag}}</ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>

        <!-- confirm buttons -->
        <div layout='row' layout-align="start center">

          <div ng-show="item.editing">
            <md-button class="md-icon-button" ng-click="cancelEdit(item)" aria-label="delete">
              <md-tooltip md-direction="top">Cancel</md-tooltip>
              <ng-md-icon style="color: grey" icon="cancel" size="24"></ng-md-icon>
            </md-button>

            <md-button class="md-icon-button" ng-click="saveEdit(item)" aria-label="delete">
              <md-tooltip md-direction="top">Save</md-tooltip>
              <ng-md-icon style="color: lightgreen" icon="done" size="24"></ng-md-icon>
            </md-button>
          </div>

          <!-- <md-input-container ng-show="item.editing">
              <md-button class="md-raised cancel" ng-click="cancelEdit(item)" aria-label="Cancel">Cancel</md-button>
          </md-input-container>

          <md-input-container ng-show="item.editing">
              <md-button class="md-raised save" ng-click="saveEdit(item)" aria-label="Save">Save</md-button>
          </md-input-container> -->

          <div ng-show="item.delete">
            <div>Are you sure you want to remove this document?</div>
            <!-- <md-button class="md-raised cancel" ng-click="cancelConfirm(item)" aria-label="Cancel">Cancel</md-button>
            <md-button class="md-raised md-warn" ng-click="removeFile(item)" aria-label="Delete">Remove</md-button> -->

            <md-button class="md-icon-button" ng-click="cancelConfirm(item)" aria-label="Cancel">
              <md-tooltip md-direction="top">Cancel</md-tooltip>
              <ng-md-icon style="color: grey" icon="cancel" size="24"></ng-md-icon>
            </md-button>

            <md-button class="md-icon-button" ng-click="removeFile(item)" aria-label="Delete">
              <md-tooltip md-direction="top">Delete</md-tooltip>
              <ng-md-icon style="color: red;" icon="delete" size="24"></ng-md-icon>
            </md-button>

          </div>
        </div>

      <div>

            <!-- <div layout='row' ng-repeat="item in source | limitTo: maxFiles" ng-show="!item.deleted">
              <div layout='column'>
                <div layout='row'>
                  <h2 ng-show="!item.editing && !item.delete">{{item.title}}</h2>
                  <md-input-container ng-show="item.editing" flex>
                      <label>Document name</label>
                      <input ng-value="item.title" ng-model="item.title">
                  </md-input-container>

                  <md-input-container ng-show="item.editing" layout-align="end center">
                      <md-button class="md-raised cancel" ng-click="cancelEdit(item)" aria-label="Cancel">Cancel</md-button>
                  </md-input-container>

                  <md-input-container ng-show="item.editing" layout-align="end center">
                      <md-button class="md-raised save" ng-click="saveEdit(item)" aria-label="Save">Save</md-button>
                  </md-input-container>

                  <md-button layout-align="end center" class="md-icon-button edit" ng-show="!item.editing && !item.delete" ng-click="editFile(item)" aria-label="Edit"><ng-md-icon icon="mode_edit" style="fill: #666" size="24"></ng-md-icon></md-button>
                  <md-button layout-align="end center" ng-show="!item.editing && !item.delete" class="md-icon-button remove" ng-click="confirmDeleteFile(item)" aria-label="Remove"><ng-md-icon icon="delete" style="fill: #666" size="24"></ng-md-icon></md-button>
                  <p ng-show="item.delete">Are you sure you want to remove this document?</p>
                  <md-button layout-align="end center" ng-show="item.delete" class="md-raised cancel" ng-click="cancelConfirm(item)" aria-label="Cancel">Cancel</md-button>
                  <md-button layout-align="end center" ng-show="item.delete" class="md-raised md-warn" ng-click="removeFile(item)" aria-label="Delete">Remove</md-button>

                </div>

                <md-divider></md-divider>

                    <div layout="row" layout-align="end end">
                        <div flex ng-show="!item.editing && !item.delete && allowTagging">
                            Tags: <span ng-repeat="tag in item.tags track by $index">{{tag.tagName || tag}}{{$last ? '' : ', '}}</span>
                        </div>

                        <ui-select multiple tagging tagging-label="false" append-to-body="true" ng-model="item.tags" theme="select2" flex ng-show="item.editing && allowTagging">
                            <ui-select-match placeholder="Tags">{{$item.tagName || $item}}</ui-select-match>
                            <ui-select-choices repeat="tag in tags | filter:$select.search">{{tag.tagName || tag}}</ui-select-choices>
                        </ui-select>

                        <md-input-container ng-if="accessLevel" flex="40">
                            <label>Access Level</label>
                            <md-select ng-model="item.accessLevel" ng-disabled="!item.editing">
                                <md-option ng-value="value" ng-repeat="(key, value) in accessLevel">{{key}}</md-option>
                            </md-select>
                        </md-input-container>

                        <span flex></span>

                        <md-input-container ng-show="item.editing">
                            <md-button class="md-raised cancel" ng-click="cancelEdit(item)" aria-label="Cancel">Cancel</md-button>
                        </md-input-container>

                        <md-input-container ng-show="item.editing">
                            <md-button class="md-raised save" ng-click="saveEdit(item)" aria-label="Save">Save</md-button>
                        </md-input-container>

                        <md-button class="md-icon-button edit" ng-show="!item.editing && !item.delete" ng-click="editFile(item)" aria-label="Edit"><ng-md-icon icon="mode_edit" style="fill: #666" size="24"></ng-md-icon></md-button>
                        <md-button ng-show="!item.editing && !item.delete" class="md-icon-button remove" ng-click="confirmDeleteFile(item)" aria-label="Remove"><ng-md-icon icon="delete" style="fill: #666" size="24"></ng-md-icon></md-button>
                        <p ng-show="item.delete">Are you sure you want to remove this document?</p>
                        <md-button ng-show="item.delete" class="md-raised cancel" ng-click="cancelConfirm(item)" aria-label="Cancel">Cancel</md-button>
                        <md-button ng-show="item.delete" class="md-raised md-warn" ng-click="removeFile(item)" aria-label="Delete">Remove</md-button>
                    </div>
                    <div layout="row">
                        <md-autocomplete flex ng-if="item.editing && allowVip && item.accessLevel !== 'PUBLIC'"
                                md-selected-item="selectedItem"
                                md-search-text="searchText"
                                md-selected-item-change="addVip(user, item)"
                                md-items="user in updateSearchItems(searchText)"
                                simulate-query="true"
                                md-no-cache="true"
                                md-item-text="user.displayName"
                                md-min-length="3"
                                placeholder="Add VIP">
                            <md-item-template>
                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{user.displayName}} :: {{user.email || 'no email'}}</span>
                            </md-item-template>
                            <md-not-found>
                                No users matching "{{searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>

                        <div layout="row" layout-wrap flex ng-if="!item.editing && allowVip && item.accessLevel !== 'PUBLIC'">
                            <span class="no-bottom" flex>Selected VIPs(Click tag to remove)</span>
                            <div layout="row" layout-wrap>
                                <md-chips ng-repeat="vip in item.vips track by $index">
                                    <md-chip ng-click="removeVip($index, item)">
                                        <span>{{vip.displayName}} :: {{vip.email || 'no email'}}</span>
                                    </md-chip>
                                </md-chips>
                            </div>
                        </div>
                    </div>

            </div>
            </div> -->

    </div>
</div>
