<main>
    <section class="container">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive" ng-src="images/dmcAcademia.png">
            </div>
            <div class="text col-xs-9">
                <h1>DMC ACADEMIA</h1>
                <h4>One of the core pillars of the DMC is our strong commitment to academia and to lifelong learning and improvement.</h4>
                <h4>We strive to continuosly support and empower students, teachers and researchers from all walks. We will be adding additional content over time, so check back regularly for updates!</h4>
            </div>
        </div>
    </section>

    <section class="container">

      <div class="project-summary-container">
          <div class="row ">
              <div class="col-xs-12">
                  <h2>Introduction and Historical Context</h2>
                  <p class="slim-margin">Our vision for the Digital Manufacturing Commons platform is to serve as the gateway to Digital Manufacturing and be a force for democratized access to best in breed tools and technologies. Our community is looking to us to provide guidance and leadership in navigating the ever-evolving Digital Manufacturing landscape. We seek to highlight, showcase and expand the reach of innovative new approaches to learning, teaching and research that enable new forms of collaboration and new solutions to be born from both novice and expert.</p>
                  <p class="slim-margin">Under the construct of DMDII projects we have been able to extend the DMC into the classroom and expose tomorrow's engineers to a new paradigm of digital work. Learners are exposed to the digital thread and how they can leverage our platform to find, create and share solutions.</p>
                  <p class="slim-margin">In fulfilling our mission of sharing and collaboration, we endeavor to share these materials as a guide so that others may have an easier time learning and creating.</p>
              </div>
          </div>

      </div>

    </section>

    <section class="container">
        <div class="row">
            <div class="col-xs-6">
              <video controls>
                <source src="https://s3.amazonaws.com/academiaresources/DMCforAcademia0427.mp4" type="video/mp4">
              </video>
            </div>
            <div class="col-xs-6">
                <h1>Watch the DMC Academic Webinar to learn more about how the DMC is being used in the classroom.</h1>
            </div>
        </div>
    </section>

</main>
