<header class="under-header" ng-if="userData.isDmdiiAdmin">
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-sm-4"><a href="add-dmdii-project-doc.php#/{{project.id}}/projectUpdates"><ng-md-icon icon="add" style="fill: #75bc52" size="16"></ng-md-icon></ng-md-icon>Add documents &amp; updates</a></div>
            <div class="col-sm-6 pull-right text-right">
              <a href="edit-dmdii-project-page.php#/{{project.id}}/edit"><ng-md-icon icon="mode_edit" style="fill: #75bc52" size="16"></ng-md-icon> Edit Project</a>
              <a href ng-click="deleteProject($event)"> <ng-md-icon icon="delete" style="fill: #75bc52" size="16"></ng-md-icon> Delete Project </a>
            </div>
        </div>
        <!-- <div class="dropdown visible-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project Options<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="add-dmdii-project-doc.php#/{{project.id}}/projectUpdates"><ng-md-icon icon="add" style="fill: #75bc52" size="16"></ng-md-icon>Add documents &amp; updates</a></a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="edit-dmdii-project-page.php#/{{project.id}}/edit"><ng-md-icon icon="mode_edit" style="fill: #75bc52" size="16"></ng-md-icon> Edit Project</a></li>
                Delete doesn't currently match a defined function
                <li role="separator" class="divider"></li>
                <li><a href ng-click="deleteProject()"><ng-md-icon icon="delete" style="fill: #75bc52" size="16"></ng-md-icon> Delete Project </a></li>

            </ul>
        </div> -->
    </div>
</header>


<main>
    <section class="container">
        <div class="row">
            <div class="col-md-6 project-main">
                <div class="status status-complete">{{project.projectStatus.name}}</div>
                <!-- <div class="status" ng-if="project.kind == 'dmdiiEvent'">EVENT</div> -->
                <h1>{{project.projectTitle}}</h1>
<!-- ng-if="project.kind != 'dmdiiEvent'" -->
                <time>{{project.rootNumber | numberFixedLen:2}}-{{project.callNumber | numberFixedLen:2}}-{{project.projectNumber | numberFixedLen:2}}</time>

                <span href="#">{{project.projectFocusArea.name }}</span> <span href="#">{{project.projectThrust.name}}</span>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div ng-if="project.kind != 'dmdiiEvent' && project.dmdiiFunding" class="col-xs-6">

                        <h4>Project Financials</h4>
                        <dl class="project-stats">
                            <dt>DMDII Funding</dt>
                            <dd>{{project.dmdiiFunding | currency}}</dd>
                            <dt>Cost Share</dt>
                            <dd>{{project.costShare | currency}}</dd>
                        </dl>
                    </div>
                    <div ng-if="project.awardedDate" class="col-xs-6 pull-right">

                        <h4>Key Dates</h4>
                        <dl class="project-stats">
                            <!-- <dt ng-if="project.kind == 'dmdiiEvent'">Starts</dt> -->
<!-- ng-if="project.kind != 'dmdiiEvent'" -->
                            <dt>Awarded On</dt>
                            <dd><time>{{project.awardedDate}}</time></dd>
                            <!-- <dt ng-if="project.kind == 'dmdiiEvent'">Ends</dt> -->
<!-- ng-if="project.kind != 'dmdiiEvent'" -->
                            <dt>Completed</dt>
                            <dd><time>{{project.endDate}}</time></dd>
                        </dl>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-6">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 60%;">60%</div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="project-summary-container">
            <div class="row ">
                <div class="col-xs-12">
                    <h4>Summary</h4>
                    <div class="slim-margin" markdown-to-html="project.projectSummary"></div>
                </div>
            </div>

        </div>


        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active hidden-xs"><a data-target="#contributors" aria-controls="contributors" role="tab" data-toggle="tab">Contributors</a></li>
            <!-- <li role="presentation" class="hidden-xs"><a data-target="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedule</a></li> -->
<!-- ng-if="project.kind != 'dmdiiEvent'" -->
            <li role="presentation" class="hidden-xs"><a data-target="#updates" aria-controls="updates" role="tab" data-toggle="tab">Updates</a></li>
            <li role="presentation" class="hidden-xs">
<!-- ng-if="project.kind != 'dmdiiEvent'" -->
              <a data-target="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a>
              <!-- <a ng-if="project.kind == 'dmdiiEvent'" data-target="#documents" aria-controls="documents" role="tab" data-toggle="tab">Docs &amp; Presentations</a> -->
            </li>


            <li role="presentation" class="dropdown xs-tab-control visible-xs">
                <a data-target="#" class="dropdown-toggle" id="myTabDrop1" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">
                  <span class="tab-section-label">Section</span>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu"
                    aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                    <li class="">
                        <a data-target="#contributors" role="tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="false">Contrubutors</a></li>
                    <li class="">
                        <!-- <a data-target="#schedule" role="tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="false">Schedule</a></li> -->
<!-- ng-if="project.kind != 'dmdiiEvent'" -->
                    <li class="">
                        <a data-target="#updates" role="tab" data-toggle="tab" aria-controls="dropdown3" aria-expanded="false">Updates</a></li>
                    <li class="">
<!-- ng-if="project.kind != 'dmdiiEvent'" -->
                        <a data-target="#documents" role="tab" data-toggle="tab" aria-controls="dropdown3" aria-expanded="false">Documents</a>
                        <!-- <a ng-if="project.kind == 'dmdiiEvent'" data-target="#documents" role="tab" data-toggle="tab" aria-controls="dropdown3" aria-expanded="false">Docs &amp; Presentations</a> -->
                      </li>
                </ul>

            </li>
        </ul>


        </div>

        <div>
        </div>
    </section>

    <section class="gray">
        <div class="container">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="contributors">
                  <tab-contributors project="project" user-data="userData"></tab-contributors>
                </div>
                <!-- <div role="tabpanel" class="tab-pane fade " id="schedule">
                  <tab-schedule project-schedule="projectSchedule" user-data="userData"></tab-schedule>
                </div> -->
<!-- ng-if="project.kind != 'dmdiiEvent'" -->
                <div role="tabpanel" class="tab-pane fade " id="updates">
                  <tab-updates updates="updates" user-data="userData"></tab-updates>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="documents">
                  <tab-documents documents="documents" user-data="userData" project="project"></tab-documents>
                </div>
            </div>
        </div>
    </section>
</main>
