<div class="container project-box" ng-show="project" layout="row">
	<!--project-->
	<div class="content-column" flex='100'>
		<!--project-->
		<md-content class="project">
			<!--project header-->
			<div class="project-header bottom20">
				<div layout="column">
					<div layout="row" layout-align="start start">
						<div layout="column" flex="40">
							<div layout="row" layout-align="start start">
								<h2 class="no-bottom">{{project.projectIdentifier}}</h2>
								<span layout="column">
									<h5 class="project-subtitle no-bottom">{{project.projectFocusArea.name}}</h5>
									<h5 class="project-subtitle no-bottom no-top">{{project.projectThrust.name}}</h5>
								</span>
							</div>
							<div layout="row" flex="40">
								<h3>{{project.projectTitle}}</h3>
								<h5 class="project-subtitle">{{project.projectStatus.name}}</h5>
							</div>
						</div>
						<div flex="20">
							<h2>Project Financials</h2>
							<div class="project-financials">
				                <md-data-table-container>
				                    <table md-data-table>
				                        <thead>
				                        <tr>
				                            <th name="DMDII Funding"/>
				                            <th name="Cost Share"/>
				                        </tr>
				                        </thead>
				                        <tbody>
				                        <tr>
				                            <td>
				                                <h4 class="no-top no-bottom">{{project.finances[0]}}</h4>
				                            </td>
											<td>
												<h4 class="no-top no-bottom">{{project.finances[1]}}</h4>
											</td>
										</tr>
				                        </tbody>
				                    </table>
				                </md-data-table-container>
				            </div>
						</div>
						<span flex></span>
						<div layout="row" flex="30" layout-align="end start">
							<div class="project-updates">
								<h2>Key Dates</h2>
								<div layout="column">
									<h3 class="slim-margin">Project Awarded - <span class="slim-margin">{{project.awardedDate}}</span></h3>

									<h3 class="slim-margin">Project End Date - <span class="slim-margin">{{project.endDate}}</span></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<md-tabs md-selected="$parent.selectedTab" md-dynamic-height md-border-bottom>
				<md-tab label="Project Contributors">
					<md-content class="md-padding">
						<div layout="row">
							<div layout="column" flex="50">
								<h2>Principal Investigator</h2>
								<div layout="column">
									<h3 class="slim-margin no-bottom"><a ng-href="{{'/member-page.php#/'+project.principalInvestigator.id}}">{{project.principalInvestigator.firstName + ' ' + project.principalInvestigator.lastName}}</a></h3>
									<span class="slim-margin">{{project.principalInvestigator.email}}</span>
								</div>
								<h2>DMDII Project Manager</h2>
								<div layout="column">
									<h3 class="slim-margin no-bottom"><a ng-href="{{'/member-page.php#/'+project.principalPointOfContact.id}}">{{project.principalPointOfContact.firstname + ' ' + project.principalPointOfContact.lastname}}</a></h3>
									<span class="slim-margin">{{project.principalPointOfContact.email}}</span>
								</div>
							</div>
							<div layout="column" flex="50">
								<h2>Participants</h2>

								<div layout="column">
									<div layout="row">
										<h3 class="slim-margin no-bottom"><a ng-href="{{'/member-page.php#/'+project.primeOrganization.id}}">{{project.primeOrganization.organization.name}}</a></h3>
										<span class="slim-margin po-subtitle">(Prime Organization)</span>
									</div>
								</div>
								<div layout="column" ng-repeat="member in project.contributingCompanies">
									<h4 class="slim-margin no-bottom"><a ng-href="{{'/member-page.php#/'+member.id}}">{{member.organization.name}}</a></h3>
								</div>
							</div>
						</div>
					</md-content>
				</md-tab>

				<md-tab label="Project Schedule">
					<md-content class="carousel-padding">
						<div class="project-schedule">
						</div>
					</md-content>
				</md-tab>

				<md-tab label="Project Updates">
					<md-content class="md-padding">
						<div class="tabs-content" layout="column">
							<div layout="column">
								<div class="bottom20" ng-repeat="update in project.updates">
									<div class="slim-side-margin no-bottom" layout="row">
										<h4 class="no-top no-bottom">{{update.title}}</h4>
										<span class="slim-side-margin">{{update.date}}</span>
									</div>
									<p class="slim-margin">{{update.description}}</p>
									<span class="slim-side-margin no-top bottom10">-{{update.author}}</span>
								</div>
							</div>
						</div>
					</md-content>
				</md-tab>

				<md-tab label="Project Documents">
					<md-content class="md-padding">
						<div class="tabs-content" layout="column">
							<div layout="column" class="project-documents">
								<a class="slim-margin" ng-repeat="doc in project.documents">{{doc.name}}</a>
							</div>
						</div>
					</md-content>
				</md-tab>
			</md-tabs>

			<md-divider></md-divider>

			<div layout="row">
				<div flex="50">
					<!--project description-->
					<div class="project-overview">
						<h2>Summary</h2>
						<p class="slim-margin">{{project.projectSummary}}</p>
					</div>
				</div>
			</div>
		</md-content>
	</div>
</div>
