<header class="under-header">
	<div class="container">
		<div class="row hidden-xs">
		<div class="col-sm-4"><a href="#"><span class="glyphicon glyphicon-plus-sign"></span>Add documents &amp; updates</a></div>
		<div class="col-sm-6 pull-right text-right"><a href="#"><span class="glyphicon glyphicon-pencil"></span> Edit Project</a> <a href="#"> <span class="glyphicon glyphicon-trash"></span> Delete Project </a></div>
		</div>
		<div class="dropdown visible-xs">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project Options<span class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><a href="#"><span class="glyphicon glyphicon-plus-sign"></span>Add documents &amp; updates</a></a></li>
			  <li role="separator" class="divider"></li>
			  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Edit Project</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#"><span class="glyphicon glyphicon-trash"></span> Delete Project </a></li>

			</ul>
		</div>
		</div>
		</header>


	<main>
		<section class="container">
		<div class="row">
			<div class="col-md-6 project-main">
			<div class="status status-complete">Completed</div>
			<h1>Integration of AVM iFAB Tools for Industrial Use</h1>
			<time datetime="2011-01-12">January 12th, 2011</time>

			<a href="#">Model-based Design/Enterprise</a> <a href="#">Adaptive Vehicle Make</a>
		</div>
		<div class="col-md-6">
		<div class="row">
		<div class="col-xs-6">

				<h4>Project Financials</h4>
				<dl class="project-stats">
					<dt>DMDII Funding</dt>
					<dd>$1,234,567,890</dd>
					<dt>Cost Share</dt>
					<dd>$1,234,567,890</dd>
				</dl>
		</div>
		<div class="col-xs-6">

				<h4>Key Dates</h4>
				<dl class="project-stats">
					<dt>Awarded On</dt>
					<dd><time datetime="2016-3-2">3-2-2017</time></dd>
					<dt>Completed</dt>
					<dd><time datetime="2016-3-2">3-2-2017</time></dd>
				</dl>
		</div>
		</div>
		<div class="row">
		<div class="col-sm-6">
		<div class="progress">
		  <div class="progress-bar" role="progressbar" style="width: 60%;">60%</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		<div class="project-summary-container">
		<div class="row ">
		<div class="col-xs-12">
			<h4>Summary</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<h5>Example of a headline.</h5>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		</div>

			</div>


		<?php // Desktop controls ?>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active hidden-xs"><a href="#contributors" aria-controls="contributors" role="tab" data-toggle="tab">Contributors</a></li>
			    <li role="presentation" class="hidden-xs"><a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedule</a></li>
			    <li role="presentation"  class="hidden-xs"><a href="#updates" aria-controls="updates" role="tab" data-toggle="tab">Updates</a></li>
			    <li role="presentation"  class="hidden-xs"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a></li>


			    	<?php // Mobile controls ?>
			     		<li role="presentation" class="dropdown xs-tab-control visible-xs">
			     			<a href="#" class="dropdown-toggle" id="myTabDrop1" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false"><span class="tab-section-label">Section</span> <span class="caret"></span></a> <ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents"> <li class=""><a href="#contributors" role="tab"  data-toggle="tab" aria-controls="dropdown1" aria-expanded="false">Contrubutors</a></li>
			     <li class="">
			     	<a href="#schedule" role="tab"  data-toggle="tab" aria-controls="dropdown2" aria-expanded="false">Schedule</a></li>
			     	<li class="">
			     		<a href="#updates" role="tab"  data-toggle="tab" aria-controls="dropdown3" aria-expanded="false">Updates</a></li>

			     		<li class="">
			     			<a href="#documents" role="tab"  data-toggle="tab" aria-controls="dropdown3" aria-expanded="false">Documents</a></li>

			     	</ul>

</li>
			  </ul>


</div>

<div>
</div></section>

<section class="gray">
<div class="container">
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane fade in active" id="contributors">
						<?php require(dirname(__FILE__).'/components/tab-contributors.php');?>
			    </div>
			    <div role="tabpanel" class="tab-pane fade " id="schedule">
			    	<?php require(dirname(__FILE__).'/components/tab-schedule.php');?>
			    </div>

			    <div role="tabpanel" class="tab-pane fade " id="updates">
			    	<?php require(dirname(__FILE__).'/components/tab-updates.php');?>
			    </div>
			    <div role="tabpanel" class="tab-pane fade " id="documents">
			    	<?php require(dirname(__FILE__).'/components/tab-documents.php');?>
			    </div>
			  </div>
</div>
			</section>
			</main>
