<div class="row contributors-row">
<div class="col-sm-6">
  <h4>Project Investigator</h4>
  <dl>
    <dt>Himi Hsu</dt>
    <dd><a href="#">mimi.hsu@lmco.com</a></dd>
  </dl>

  <h4>DMDII Project Manager</h4>
  <dl>
    <dt>Himi Hsu</dt>
    <dd><a href="#">mimi.hsu@lmco.com</a></dd>
  </dl>
</div>
<div class="col-sm-6">
  <h4>Participants</h4>
  <dl>
  <dt>Lockheed Martin Corporation <span class="participant-meta">&bull; Prime</span></dt>
  <dt>Caterpillar Inc.</dt>
  <dt>Procter &amp; Gamble</dt>
  <dt>AREA</dt>
  </dl>
</div>
</div>
