<main>
	<section class="container">
		<h2>Membership Directory</h2>
		<div class="row content-row">
			<div class="col-lg-7">



				<!-- Desktop controls -->
				<!-- Nav tabs -->
				<ul class="nav nav-tabs event-tabs" role="tablist">
					<li class="hidden-xs tab-label">Events</li>
					<li role="presentation" class="active hidden-xs"><a data-target="#calendar" aria-controls="calendar" role="tab" data-toggle="tab">Calendar</a></li>
					<li role="presentation" class="hidden-xs"><a data-target="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">List</a></li>



					<!-- Mobile controls -->
					<li role="presentation" class="dropdown xs-tab-control visible-xs">
						<a href="#" class="dropdown-toggle" id="myTabDrop1" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false"><span class="tab-section-label">Section</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="myTabDrop1"
										id="myTabDrop1-contents">
							<li class=""><a href="#calendar" role="tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="false">Calendar</a></li>
							<li class="">
								<a href="#schedule" role="tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="false">List</a></li>
						</ul>

					</li>
				</ul>



				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="calendar">

						<div class="col-sm-6">
								<tien-clndr class="clndr" tien-clndr-object="clndr" tien-clndr-events="events" tien-clndr-options="options">
										<div class="clndr-controls">
												<div class="clndr-previous-button" ng-click="clndr.back()">
														&lsaquo;
												</div>
												<div class="month">
													{{month}}
												</div>
												<div class="clndr-next-button" ng-click="clndr.forward()">
													&rsaquo;
												</div>
										</div>
										<div class="clndr-grid">
												<div class="days-of-the-week">
													<div class="header-day" ng-repeat="day in daysOfTheWeek track by $index">
														{{day}}
													</div>
												</div>
												<div class="days">
													<div class="{{day.classes}}" ng-repeat="day in days" ng-click="dayClicked($event, day)">
														<div class="event-indicator" ng-show="day.events.length" ng-click="showEvents(day.events)">{{day.events.length}}</div>
														{{day.day}}
													</div>
												</div>
										</div>
								</tien-clndr>
							</div>




					</div>
					<div role="tabpanel" class="tab-pane fade " id="schedule">

						<div class="event-list" ng-repeat="event in events | limitTo:3">

						<div class="event-block">
						<div class="row">
							<h2 class="col-sm-6">{{event.name}}</h2><time datetime="2011-01-12" class="col-sm-6 text-right">{{event.date}}</time>
						</div>
							<p>{{plainText(event.description)}}</p>
						</div>


						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-5  hidden-xs">
				<h4 class="col-label">Membership Map</h4>
				<div class="map-col text-center">
					<datamap
						map="mapObject"
						>
					</datamap>
				</div>
			</div>
		</div>
	</section>

	<section class="container">

		<dmc-horizontal-menu tree-source="treeMenuModel"></dmc-horizontal-menu>

		<div class="row content-row">
			<div class="col-xs-4">
				<div class="form-group has-feedback">
					<form ng-submit="submit(searchModel)">
						<input ng-model="searchModel" type="text" class="form-control " placeholder="Search Members">
						<span ng-click="submit(searchModel)" class="glyphicon glyphicon-search form-control-feedback"></span>
					</form>
				</div>
				<!-- /input-group -->
			</div>
			<div class="col-xs-4 col-xs-offset-4 ">

				<div class="dropdown pull-right">
					<button class="btn btn-default dropdown-toggle" type="button" id="itemstoshowdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    			{{showArray[0].name}}<span class="caret"></span>
		  				</button>
					<ul class="dropdown-menu" aria-labelledby="itemstoshowdropdown">
						<li ng-repeat="item in showArray track by $index">
							<a ng-click="selectItemDropDown($index)">{{item.name}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="members-table">
			<div class="table-responsive ">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Tier</th>
							<th>Type</th>
							<th>Active Projects</th>
							<th>Core Capabilities</th>
							<th>Seeking Collaboration</th>
						</tr>
					</thead>
					<tbody>

						<tr ng-repeat="member in members.arr">
							<td><img ng-src="{{member.organization.logoImage ? member.organization.logoImage : 'images/icon-company-lg.svg'}}" class="img-responsive" alt=""></td>
							<td>
								<a ng-href="{{'/member-page.php#/'+member.id}}">{{member.organization.name}}</a>
								<p class="description" more-less
									element-text="{{member.organization.description}}"
									element-text-limit="140">
								</p>
							</td>

							<td>{{member.dmdiiType.tier}}</td>
							<td>{{member.dmdiiType.dmdiiTypeCategory.category}}</td>
							<td>
								<ul class="active-projects">
									<li ng-repeat="project in activeProjects[member.id] track by $index">
										<a class="gray-link" ng-href="{{'/dmdii-project-page.php#/' + project.id}}">
											<span class="gray-link"
													more-less
												 element-text ="{{project.projectTitle}}"
												 element-text-limit="30">
											 </span>
										</a>
									</li>
								</ul>
							</td>
							<td>
								<ul class="active-projects">
									<li ng-repeat="tag in member.organization.areasOfExpertise track by $index">
										<a more-less
											 ng-href="{{getUrl('expertiseTags', tag.id)}}"
											 element-text="{{tag.name}}"
											 element-text-limit="30">
										 </a>
									</li>
								</ul>
							</td>
							<td></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<button id="prevPage" ng-if="hasPrev()" class="btn btn-next pull-right" ng-click="getPrev()">
							PREV
					</button>
				</div>

				<div class="col-xs-6">
					<button id="nextPage" ng-if="hasNext()" class="btn btn-next pull-left" ng-click="getNext()">
							NEXT
					</button>
				</div>
			</div>
		</div>
	</section>
	<recent-news news="news">	</recent-news>
</main>
