<main>
		<section class="container projects-head">
			<div id="portalDropdowns">

				<div  layout="row">
					<h2>Membership Directory</h2>

					<div layout="row" style="margin-top:auto; padding-bottom:4px" class="portal-tabs">
						<a class="toggle-control collapsed" data-toggle="collapse" data-target="#recent-activity, #divider-activity">
							<h4 style="padding-left:30px; padding-bottom:0px">Recent Activity</h4>
						</a>
						<a class="toggle-control collapsed" data-toggle="collapse" data-target="#quick-links, #divider-links">
							<h4 style="padding-left:20px; padding-bottom:0px">Quick Links</h4>
						</a>
					</div>
				</div>

				<md-divider class="collapse" id="divider-activity"></md-divider>
				<md-divider class="collapse" id="divider-links"></md-divider>

				<div class="portal-dropdowns">
					<div class="collapse" id="quick-links">
						<ul class="quick-links">
							<li ng-repeat="doc in docs track by $index" layout="row" layout-align="space-between center">
								<a href ng-click="quickLinkAction(doc)">{{doc.displayName}}</a>
								<a href ng-click="deleteQuicklink($index, doc.id)" ng-show="userData.isDmdiiAdmin" class="delete-icon"><ng-md-icon icon="delete" style="fill: #999" size="16"></ng-md-icon></a>
							</li>
						</ul>
					</div>

					<div class="collapse" id="recent-activity" dmc-recent-updates></div>
				</div>

				<md-divider class="collapse" id="divider-activity"></md-divider>
				<md-divider class="collapse" id="divider-links"></md-divider>

			</div>

		</section>

	<!-- TODO this needs to be made in to a module suitable for members, projects and ideally services -->
	<!-- <section class="container content-padding">
			<div class="row">
					<div class="col-md-12 project-main">
							<div class="top-border"></div>
							<div layout="row">
								<div class="status status-complete">FEATURED MEMBER</div>
								<div class="status">TIER {{randMember.dmdiiType.tier}} {{randMember.dmdiiType.dmdiiTypeCategory.category}}</div>
							</div>
							<h1><a ng-href="{{'/member-page.php#/'+randMember.id}}">{{randMember.organization.name}}</a></h1>
							<div class="slim-margin" markdown-to-html="randMember.organization.description"></div>
					</div>
					</div>
			</div>
	</section> -->

	<section class="container">

		<!-- <dmc-horizontal-menu tree-source="treeMenuModel"></dmc-horizontal-menu> -->

		<div class="row content-row" style="padding: 10px 0px 0px 0px">

			<!-- <div class="col-xs-6">
				<dmc-horizontal-menu tree-source="treeMenuModel"></dmc-horizontal-menu>
			</div> -->

			<!-- <div class="col-xs-7"/> -->

			<div class="col-xs-11">
				<div class="form-group has-feedback">
					<form ng-submit="submit(searchModel)">
						<input ng-model="searchModel" type="text" class="form-control " placeholder="Search Members">
					</form>
				</div>
			</div>


			<!-- <div class="col-xs-1">
				<div class="form-group has-feedback">
				<button class="btn btn-default" style="padding:0px 10px 0px 10px" ng-click="submit(searchModel)" >
					<ng-md-icon icon="search" style="fill: #999" size="25"></ng-md-icon>
				</button>
			</div>
			</div> -->

			<div class="col-xs-1">
				<div class="dropdown pull-right">
					<button class="btn btn-default dropdown-toggle" type="button" id="itemstoshowdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    			{{showArray[sizeModule].name}}<span class="caret"></span>
		  		</button>
					<ul class="dropdown-menu" aria-labelledby="itemstoshowdropdown">
						<li ng-repeat="item in showArray track by $index">
							<a ng-click="selectItemDropDown($index)">{{item.name}}</a>
						</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="members-table">
			<div class="table-responsive" style="overflow:visible">
				<table class="table">
					<thead>
						<tr>
							<th class="member-logo"></th>
							<th class="member-description">Member</th>
							<th class="tier"><dmc-horizontal-menu tree-source="treeMenuModel[0]"></dmc-horizontal-menu></th>
							<th class="type"><dmc-horizontal-menu tree-source="treeMenuModel[1]"></dmc-horizontal-menu></th>
							<th class="activeProjects"><dmc-horizontal-menu tree-source="treeMenuModel[2]"></dmc-horizontal-menu></th>
						</tr>
					</thead>
					<tbody>

						<tr ng-repeat="member in members.arr">
							<td class="member-logo"><img ng-src="{{member.organization.logoImage ? member.organization.logoImage : 'images/icon-company-lg.svg'}}" class="img-responsive" alt=""></td>
							<td class="member-description">
								<a ng-href="{{'/member-page.php#/'+member.id}}">{{member.organization.name}}</a>
								<p ng-if="member.organization.industry">{{member.organization.industry}}</p>
								<p more-less
									element-text="{{member.organization.description}}"
									element-text-limit="300">
								</p>
							</td>

							<td class="tier">{{member.dmdiiType.tier}}</td>
							<td class="type">{{member.dmdiiType.dmdiiTypeCategory.category}}</td>
							<td>
								<ul class="active-projects">
									<li ng-repeat="project in activeProjects[member.id] track by $index">
										<a class="gray-link" ng-href="{{'/dmdii-project-page.php#/' + project.id}}" data-toggle="tooltip" title="{{project.projectTitle}}">
											<!-- <span class="gray-link"
													more-less
												 element-text ="{{project.projectTitle}}"
												 element-text-limit="30">
											 </span> -->
											 <span>{{project.projectIdentifier}}</span>
										</a>
									</li>
								</ul>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<button id="prevPage" ng-if="hasPrev()" class="btn btn-next pull-right" ng-click="getPrev()">
							PREV
					</button>
				</div>

				<div class="col-xs-6">
					<button id="nextPage" ng-if="hasNext()" class="btn btn-next pull-left" ng-click="getNext()">
							NEXT
					</button>
				</div>
			</div>
		</div>
	</section>
	<!-- <recent-news news="news">	</recent-news> -->
</main>
