<div class="onboarding-home">
	<md-content layout layout-align="center center">
		<div layout="column"  layout-fills>
			<div class="section-header" layout="column" layout-align="start start" layout-fills flex class="text">
				<!-- <h1>Release Notes</h1>
				<p>Learn about each of our releases, the work that goes into each release, how you may be effected, plans for the future and much more.</p> -->
			</div>


			<div class="section" layout="row" layout-align="center center" layout-fills>
				<div class="logo">
					<img ng-src="images/updates.png">
				</div>
				<div layout="column" flex class="text">
					<h1>Digital Manufacturing Commons: Releases </h1>
					<p>
					<h3>Learn about each of our releases, the work that goes into each release, how you may be effected, plans for the future and much more.</h3>
				</div>
			</div>
			<!-- <div layout="column" class="background">
				<div class="section" layout="row" layout-align="center center" layout-fills>
					<div class="image">
						<img ng-src="images/icon-profile-lg.svg"  style="width: 50px">
					</div>
					<div layout="column" flex class="text">
						<h2>Time Line</h2>
						<h3>Here you can view what the DMC has completed in the last quarter, what it has planned to be complete in this quarter and what is in store for the platform in the next three quarters. The timeline should be available to view in the next release.</h3>
					</div>

				</div> -->

			<md-divider></md-divider>

			<h1>Release Tree</h1>
			<div layout="column" class="background">
				<div class="section" layout="row" layout-align="center start" layout-fills>
					<div class="image">
						<img ng-src="images/9998520-industrielle-innovation-konzept-baum.jpg"  style="width: 100px">
					</div>
					<div layout="column" flex class="text">
						<h2>Release Tree</h2>
						<h3>During this release, the DMC team focused most efforts on updating and adding content throughout the site to both to give the site a new updated look in some locations as well as to give users more ways to learn about the DMC. This being th case you will see many changes on our site related to the DMDII Portal as well as adding a new Learn section to the main menu. Please look to the Relese tree below to find all changes associated with this release to learn more about what changes may effect you.</h3>

				<md-tabs md-dynamic-height md-border-bottom>

<!-- Release V 0.1.6 -->
<!-- <md-tab label="V 0.1.6 ">
  <md-content class="tab-projects">
    <div layout="column" class="text-row">
			<div layout="row" style="justify-content:flex-end">
			<span class="release-bug margin5px" style="margin-right:64px">
				Color Code: BUG
			</span>
			<span class="release-feature margin5px" style="margin-right:68px">
				Color Code: FEATURE
			</span>
			<span class="release-content margin5px">
				Color Code: CONTENT
			</div>
	    <release-tree ng-if="notesV016" notes="notesV016" class="release-tree"></release-tree>
    </div>

    <md-divider></md-divider>

    <div class="section" layout="row" layout-align="center start" layout-fills>
			<div class="image">
				<img ng-src="images/code.jpeg"  style="width: 50px">
			</div>
			<div layout="column" flex class="text">
				<h2>Codebase</h2>
				<p>Codebase changes for v016 coming soon.</p>
			</div>
		</div>

	<md-divider></md-divider>

	<div class="section" layout="row" layout-align="center start" layout-fills>
		<div class="image">
			<img ng-src="images/home-market-icon.png"  style="width: 50px">
		</div>
		<div layout="column" flex class="text">
			<h2>Applications</h2>
			<p>New apps available in v016 notes coming soon.</p>
		</div>
	</div>

	<md-divider></md-divider>

	</md-content>
</md-tab> -->

<!-- Release V 0.1.5 -->
			<md-tab label="V 0.1.5 ">
			  <md-content class="tab-projects">
			    <div layout="column" class="text-row">
						<div layout="row" style="justify-content:flex-end">
						<span class="release-bug margin5px" style="margin-right:64px">
							Color Code: BUG
						</span>
						<span class="release-feature margin5px" style="margin-right:67px">
							Color Code: FEATURE
						</span>
						<span class="release-content margin5px">
							Color Code: CONTENT
						</div>
						<h2 style="font-weight: 300; text-transform: uppercase; font-size:20px;">Introduction</h2>
						<p>During this release, the DMC heaviliy focused on making updates that effected the DMDII Membership Portal. The Membership Portal recieved a new look and feel (navigation hasn't changed too much so don't worry if you were a fan of how you traversed the portal before). In addition to these changes, we are slowly making the shift to releasing new content with every release we put out. We are starting this release strong with all the new static content pages we've added to the site which include our Security page and updated About and Activities pages.</p>
						<p>We've also made a few updates to our legal page so definitely look over this when you have the opportunity.</p>
						<p>As with most releases, we have added three more application to the DMC Marketplace in the form of external application contributions from DMDII Member Organizations such as Integris Engineering and Pennsylvania State University. Read more about them in our Applications section found below.</p>
						<p>Finally, if you couldn't tell already, all release notes about the platform and the website will be published to this page going forward, so you no longer need to leave the DMC to learn more about the hard work that is put into each release as well as what new features and content is available to you every two weeks. All previous release notes can still be accessed from our wiki page on Confluence, with links to each article available in the tabs above.</p>
						<md-divider></md-divider>
				    <release-tree ng-if="notesV015" notes="notesV015" class="release-tree"></release-tree>
			    </div>

			    <md-divider></md-divider>

			    <div class="section" layout="row" layout-align="center start" layout-fills>
    				<div class="image">
    					<img ng-src="images/code.jpeg"  style="width: 50px">
    				</div>
    				<div layout="column" flex class="text">
    						<h2>Codebase</h2>
					<ul>
						<li>
							<h3>White-list and Black-List Framework</h3>
						</li>
						<ul>
							<li>
								The DMC has created a framework to be able to white-list and black-list endpoints. In the past these endpoints were listed one by one, but now we will be able to white-list and black-list endpoints via a singular file. In future updates we will be utilizing this functionality to add full lists of white and blacklist on our own servers.
							</li>
						</ul>
						<li>
							<h3>Quarantine Bucket Workflow Framework</h3>
						</li>
						<ul>
							<li>
								We have made changes to our framework for our document upload process to make it even safer. In the past, our infrastructure would scan all documents being uploaded to our site before making the document available for user to download. Documents that did not pass the virus and malware scan process would be marked as not safe and would not become available for download through our site. When implimented, this will move files marked as not safe by our infrastructure will be moved into our quarentine storage solution. We will at this point be able to analyze in depth the threats our site experiences on a regular bases, to ensure our users are always safe when using our platform. This functionality will added in a future update while we are going through the process of testing this fuctionality as best we can befor adding it to our production platform.
							</li>
						</ul>
						<li>
							<h3>DMC License files have been updated</h3>
						</li>
						<ul>
							<li>
								The DMC has updated all repositories stored on GitHub with new License Files. These Files can be found in the root of all repositories. The GitHub link can be found at: <u><a href="https://github.com/dmc-uilabs" target="_blank"https://github.com/dmc-uilabs style="color:green">https://github.com/dmc-uilabs</a></u>
							</li>
						</ul>
					</ul>
    				</div>

    			</div>

    				<md-divider></md-divider>

    				<div class="section" layout="row" layout-align="center start" layout-fills>
    					<div class="image">
    						<img ng-src="images/home-market-icon.png"  style="width: 50px">
    					</div>
    					<div layout="column" flex class="text">
    							<h2>Applications</h2>
    					<p>We've include three new application in our Marketplace for our user to demo. This time the application have stepped it up a notch. Two DMDII member organization have created applications that for a limited time, our current users will be able to try using for free. Try them while they are available.</p>
    					<p>These Applicaitions have been created by Integris Engineering and Pennsylvania State University. Learn more about that apps when visting the DMC Marketplace or at their associated Confluence Pages:</p>
    					<ul>
    						<li>
									<strong>Single Shimmed Shear Join Calculator</strong>: The Single Shear Shimmed Joint app calculates an approximate minimum margin of safety (similar to a Safety Factor) on a bolted joint against a defined shear and tensile load.
									<ul><li>
										App documentation can be found at: <u><a href="https://digitalmfgcommons.atlassian.net/wiki/pages/viewpage.action?pageId=84613112" target="_blank "https://digitalmfgcommons.atlassian.net/wiki/pages/viewpage.action?pageId=84613112 style="color:green">Single Shear Shimmed Joint by INTEGRIS</a></u>
									</li></ul>
								</li>
    						<li>
									<strong>Conceptual Cost Model (Pennsylvania State University)</strong>: Estimates the cost of a part or assembly.
									<ul><li>
										App documentation can be found at: <u><a href="https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/Conceptual+Cost+Model+by+Pennsylvania+State+University" target="_blank "https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/Conceptual+Cost+Model+by+Pennsylvania+State+University style="color:green">Conceptual Cost Model by Pennsylvania State University</a></u>
									</li></ul>
								</li>
    						<li>
									<strong>Weld Cost Model (Pennsylvania State University)</strong>: Estimate cost of welds.
									<ul><li>
										App documentation can be found at: <u><a href="https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/Weld+Cost+Model+by+Pennsylvania+State+University" target="_blank "https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/Weld+Cost+Model+by+Pennsylvania+State+University style="color:green">Weld Cost Model by Pennsylvania State University</a></u>
									</li></ul>
								</li>
    					</ul>
    					</h3>
    					</div>

    				</div>


    				<md-divider></md-divider>

			      </md-content>
			</md-tab>
<!-- Release V 0.1.4 -->
			<md-tab label="V 0.1.4 ">
			  <md-content class="tab-projects">
			    <div layout="column" class="text-row">
						<h2 style="font-weight: 300; text-transform: uppercase; font-size:20px;">Introduction</h2>
						<p>The Digital Manufacturing Commons has always used an agile process to provide users with the latest updates so users can have an opportunity to help us test our site and to allow users to give us feedback which allows them to help push the platform in the right direction. Though we have always used an agile process, as well as advertised that we use this process, we have not always been very verbose about what features have been added to site. Going forward, users will see updates from us, roughly every 2 weeks (inline with our Sprint Burndowns) with details as to what changes have been made and why we've made the decision to make those changes. We'll also will be including what issues/bugs we have been able to fix/patch. Read on for more details.</p>
						<p>Read more about the DMC V 0.1.2 Release on our DMC wiki: <u><a href="https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/V+0.1.4" target="_blank"https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/V+0.1.4 style="color:green">V 0.1.4</a></u> on Confluence.</p>
			    </div>
			    <md-divider></md-divider>
				</md-content>
			</md-tab>

<!-- Release V 0.1.3 -->
			<md-tab label="V 0.1.3 ">
			  <md-content class="tab-projects">
			    <div layout="column" class="text-row">
						<h2 style="font-weight: 300; text-transform: uppercase; font-size:20px;">Introduction</h2>
						<p>The Digital Manufacturing Commons has always used an agile process to provide users with the latest updates so users can have an opportunity to help us test our site and to allow users to give us feedback which allows them to help push the platform in the right direction. Though we have always used an agile process, as well as advertised that we use this process, we have not always been very verbose about what features have been added to site. Going forward, users will see updates from us, roughly every 2 weeks (inline with our Sprint Burndowns) with details as to what changes have been made and why we've made the decision to make those changes. We'll also will be including what issues/bugs we have been able to fix/patch. Read on for more details.</p>
						<p>Read more about the DMC V 0.1.2 Release on our DMC wiki: <u><a href="https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/V+0.1.3" target="_blank"https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/V+0.1.3 style="color:green">V 0.1.3</a></u> on Confluence.</p>
			    </div>
			    <md-divider></md-divider>
				</md-content>
			</md-tab>

<!-- Release V 0.1.2 -->
			<md-tab label="V 0.1.2 ">
			  <md-content class="tab-projects">
			    <div layout="column" class="text-row">
						<h2 style="font-weight: 300; text-transform: uppercase; font-size:20px;">Introduction</h2>
						<p>The Digital Manufacturing Commons has always used an agile process to provide users with the latest updates so users can have an opportunity to help us test our site and to allow users to give us feedback which allows them to help push the platform in the right direction. Though we have always used an agile process, as well as advertised that we use this process, we have not always been very verbose about what features have been added to site. Going forward, users will see updates from us, roughly every 2 weeks (inline with our Sprint Burndowns) with details as to what changes have been made and why we've made the decision to make those changes. We'll also will be including what issues/bugs we have been able to fix/patch. Read on for more details.</p>
						<p>Read more about the DMC V 0.1.2 Release on our DMC wiki: <u><a href="https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/V+0.1.2" target="_blank"https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/V+0.1.2 style="color:green">V 0.1.2</a></u> on Confluence.</p>
			    </div>
			    <md-divider></md-divider>
				</md-content>
			</md-tab>

<!-- Release V 0.1.1 -->
			<md-tab label="V 0.1.1 BETA ">
			  <md-content class="tab-projects">
			    <div layout="column" class="text-row">
						<div>
							<h2 style="font-weight: 300; text-transform: uppercase; font-size:20px;">Introduction</h2>
							<p>With the success of the Alpha release just a little bit over a month ago we are introducing our Beta release of the Digital Manufacturing Commons platform. Users will find a few new updates which include the new Marketplace tab, access to run a set of demo applications as well as the ability to see the full organizations list of organizations signed up to use the site. We've also introduced our live chatting tool to better help users use our site more effectively and efficiently.</p>
							<p>During our Beta Launch period, only fully verified users on the website will be able to access the platform features, so if you are not verified or your organization administrator has not yet joined and verified their account, this is really the time to do so if you want to get a feel for what is to come in our full launch in the second quarter of 2017. To learn more about each of the Individual features, look in the use cases section, and as usual, if you have any questions please feel free to reach out. Modes of contact are all listed in the Contact Us section.</p>
							<p>Special Friends of the DMC (Non DMDII Members) can sign up as well. During the sign up process, do not check the I am a DMDII Member checkbox. When done with the onboarding process, make sure to e-mail <u><a href="mailto:askdmc@uilabs.org" style="color:green">askdmc@uilabs.org</a></u> and we will work to amke sure your account become verified.</p>
							<p>Read more about the DMC Beta Release on our DMC wiki: <u><a href="https://digitalmfgcommons.atlassian.net/wiki/pages/viewpage.action?pageId=81035269" target="_blank"https://digitalmfgcommons.atlassian.net/wiki/pages/viewpage.action?pageId=81035269 style="color:green">V 0.1.1 Beta</a></u> on Confluence.</p>
						</div>
			    </div>
			    <md-divider></md-divider>
				</md-content>
			</md-tab>

<!-- Release V 0.1.0 -->
			<md-tab label="V 0.1.0 ALPHA ">
			  <md-content class="tab-projects">
			    <div layout="column" class="text-row">
						<div>
							<h2 style="font-weight: 300; text-transform: uppercase; font-size:20px;">Introduction</h2>
							<p>The V.0.1.0 release of the Digital Manufacturing Commons platform was released on November 29, 2017. This release was marked as the alpha launch of the platform and was announced in a news letter sent out via UI LABS and was additionally announce at the Defense Manufacturing Conference in Colorado the same day.</p>
							<p>The major features included in this release include the DMDII Member Portal, DMDII Projects, User Profiles, My Organization, Individuals, Activities, My Workspaces, and All Workspaces. To get the features included with each of the major features above, please read below. The platform can be accessed at <u><a href="https://portal.opendmc.org/#/" target="_blank "https://portal.opendmc.org/#/ style="color:green">https://portal.opendmc.org/#/</a></u>.</p>
						</div>
						<div>
							<p>Read more about the DMC Alpha Release on our DMC wiki: <u><a href="https://digitalmfgcommons.atlassian.net/wiki/pages/viewpage.action?pageId=81035266" target="_blank"https://digitalmfgcommons.atlassian.net/wiki/pages/viewpage.action?pageId=81035266 style="color:green">V 0.1.0 Alpha</a></u> one confluence.</p>
						</div>
			    </div>
			    <md-divider></md-divider>
				</md-content>
			</md-tab>
</md-tabs>

</div>
</div>

			<md-divider></md-divider>

				<div class="section" layout="row" layout-align="center start" layout-fills>
					<div class="image">
						<img ng-src="images/icon-settings-lg.svg"  style="width: 50px">
					</div>
					<div layout="column" flex class="text">
							<h2>How to Deploy</h2>
					<h3>If you are interested in deploying our infrastructure internally for your business or for personal use, you can follow our instructions, which will be posted here in the near future. If you do run into deployment issues or have further questions about our instructions, e-mail us as <u><a href="mailto:askdmc@uilabs.org" style="color:green">askdmc@uilabs.org</a></u>.</h3>
					</div>

				</div>

				<md-divider></md-divider>
				<div class="section" layout="row" layout-align="center start" layout-fills>
					<div class="image">
						<img ng-src="images/icon-settings-lg.svg"  style="width: 50px">
					</div>
					<div layout="column" flex class="text">
							<h2>How to Upgrade</h2>
					<h3>If you wish to upgrade a previous deployment of our infrastructure but do not want to potentially lose information save in your database, these instuctions will walk you through how to do just that, once they are available in the future.</h3>
					</div>

				</div>

				<md-divider></md-divider>
				<div class="section" layout="row" layout-align="center start" layout-fills>
					<div class="image">
						<img ng-src="images/icon-profile-lg.svg"  style="width: 50px">
					</div>
					<div layout="column" flex class="text">
							<h2>How to Contribute</h2>
					<h3>Those interested in contributing to our project, we urge you to look to our: <u><a href="https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/For+Contributors" target="_blank"https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/For+Contributors style="color:green">For Contributors</a></u> wiki page on Confluence.
					</h3>
					</div>

				</div>

				<md-divider></md-divider>
				<div class="section" layout="row" layout-align="center start" layout-fills>

					<div layout="column" flex class="text-center">
							<h1>Questions About our Releases?</h1>
							<h3><p><span class="button-view-opportunities"><a href="/contact-us.php">Contact Us</a></span></h3>
							<h3>If you have questions about the DMC release process, or you've identified a bug or have a requestion for a new feature,</h3>
							<h3>please email us at <a href="mailto:askdmc@uilabs.org">askdmc@uilabs.org</a>.</h3>
					</div>

				</div>
