<div class="onboarding-home">
	<md-content layout layout-align="center center">
		<div layout="column"  layout-fills>
			<div class="section-header" layout="column" layout-align="start start" layout-fills>
				<h2>Release Notes</h2>
				<h3>Learn about each of our releases, the work that goes into each release, how you may be effected, plans for the future and much more.</h3>
			</div>





			<div layout="column" class="background">
				<div class="section" layout="row" layout-align="center center" layout-fills>
					<div class="image">
						<img ng-src="images/icon-profile-lg.svg"  style="width: 50px">
					</div>
					<div layout="column" flex class="text">
						<h2>Time Line</h2>
						<h3>Here you can view what the DMC has completed in the last quarter, what it has planned to be complete in this quarter andwhat is in store for the platform in the next three quarters.</h3>
					</div>

				</div>




			<md-divider></md-divider>

			<h1>Release Tree</h1>


			<div layout="column" class="background">
				<div class="section" layout="row" layout-align="center center" layout-fills>
					<div class="image">
						<img ng-src="images/icon-settings-lg.svg"  style="width: 50px">
					</div>
					<div layout="column" flex class="text">
						<h2>Release Tree</h2>
						<h3>During this release the DMC team focused most efforsts on doing ____,. This being so you will see many changes on our site/platform related to __, ___, ___, and ___. Please llook to the Relese Tree below to find all changes associated with this release to learn more about what changes may effect you. </h3>
					</div>

				</div>
			<release-tree notes="notes"></release-tree>

			<md-divider></md-divider>

			<div layout="column" class="background">
				<div class="section" layout="row" layout-align="center center" layout-fills>
					<div class="image">
						<img ng-src="images/icon-profile-lg.svg"  style="width: 50px">
					</div>
					<div layout="column" flex class="text">
						<h2>Content</h2>
						<h3>The portal serves as a one-stop communication and collaboration platform within the Digital Manufacturing Commons for DMDII members. It features tools to stay up to date on the latest news from the Institute, shares project updates, and allows collaboration with other members. </h3>
					</div>

				</div>

				<md-divider></md-divider>

				<div class="section" layout="row" layout-align="center center" layout-fills>
					<div class="image">
						<img ng-src="images/icon-settings-lg.svg"  style="width: 50px">
					</div>
					<div layout="column" flex class="text">
							<h2>Applications</h2>
					<h3>We've include 5 new application in our Marketplace for our user to demo. This time the application have stepped it up a notch. Three DMDII member organization have created applications that for a limited time, our current users will be able to try using for free. Try them while they are available. <br>
					<br>
					These Applicaitions have been created by Integris Engineering, North Carolina State University, and Pennsylvania State University. Learn more about that apps when visting the DMC Marketplace or at their associated Confluence Pages:
					<ul>
						<li>Single Shimmed Shear Join Calculator (Integris Engineering)</li>
						<li>App1 (North Carolina State University): </li>
						<li>App2 (North Carolina State University): </li>
						<li>Conceptual Cost Model (Pennsylvania State University): </li>
						<li>Weld Cost Model (Pennsylvania State University): </li>
					</ul>
					</h3>
					</div>

				</div>


				<md-divider></md-divider>
				<div class="section" layout="row" layout-align="center center" layout-fills>
					<div class="image">
						<img ng-src="images/icon-settings-lg.svg"  style="width: 50px">
					</div>
					<div layout="column" flex class="text">
							<h2>How to deploy</h2>
					<h3>Coming...</h3>
					</div>

				</div>

				<md-divider></md-divider>
				<div class="section" layout="row" layout-align="center center" layout-fills>
					<div class="image">
						<img ng-src="images/icon-settings-lg.svg"  style="width: 50px">
					</div>
					<div layout="column" flex class="text">
							<h2>How to Upgrade</h2>
					<h3>Coming...</h3>
					</div>

				</div>

				<md-divider></md-divider>
				<div class="section" layout="row" layout-align="center center" layout-fills>
					<div class="image">
						<img ng-src="images/icon-profile-lg.svg"  style="width: 50px">
					</div>
					<div layout="column" flex class="text">
							<h2>How to Contribute</h2>
					<h3>Those interested in contributing to our project, we urge you to look to our contribution wiki page: <u><a href="https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/For+Contributors" target="_blank"https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/For+Contributors style="color:green">https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/For+Contributors</a></u>
					</h3>
					</div>

				</div>

				<md-divider></md-divider>
				<div class="section" layout="row" layout-align="center center" layout-fills>
					<div class="image">
						<img ng-src="images/icon-profile-lg.svg"  style="width: 50px">
					</div>
					<div layout="column" flex class="text">
							<h2>Contact Us</h2>
					<h3>If you have any questions, suggestions, or concerns, please feel free to reach out to us. You can reach us using the following methods:
					<br>
					<ul>
						<li>
							E-mail: <u><a href="mailto:askdmc@uilabs.org" style="color:green">askdmc@uilabs.org</a></u>
						</li>
						<li>
							Slack:<u><a href="https://projectdmc.slack.com/" traget="_blank"https://projectdmc.slack.com/ style="color:green">https://projectdmc.slack.com/</a></u>
							<ul>
								<li>
									Register/Self Invite: <u><a href="http://slackinvite.projectdmc.org/" target="_blank"http://slackinvite.projectdmc.org/ style="color:green">http://slackinvite.projectdmc.org/</a></u>
								</li>
							</ul>
						</li>
						<li>
							Drift (Live Chat): Live Chat with a developer to solve your issue when you vist the <a style="color:green">FAQs</a> or <a style="color:green">Contact Us</a> pages found in the footer.
							<ul>
								<li>
									You can read our Drift documentation on our Conflence page <u><a href="http://slackinvite.projectdmc.org/" target="_blank"http://slackinvite.projectdmc.org/ style="color:green">here</a></u>.
								</li>
							</ul>
						</li>
					</ul>
				</h3>
					</div>

				</div>
