<div layout="row">
  <ui-widget-stars-static size="15" value="{{product.ratingAverage}}" text="({{product.ratingCount}})"></ui-widget-stars-static>
  <span flex></span>
  <div ng-if="!adding_to_project" layout="row" layout-align="center center">
    <!-- <md-button ui-sref="service-marketplace-edit({serviceId: cardSource.id})" ng-if="!cardSource.added && !addingToProject && userData.isDmdiiAdmin" class="md-raised add dmc-button margin-left20">Edit Service</md-button> -->
    <md-button ng-click="addToProject()" ng-hide="addingToProject || cardSource.added" class="md-raised add dmc-button margin-left20">Add to Workspace</md-button>
          
    <md-button aria-label="Back to Add"
               class="md-raised cancelProject"
               ng-click="backToAdd()"
               ng-show="addingToProject == false && cardSource.added">
        <ng-md-icon icon="close" size="17"></ng-md-icon>
    </md-button>
    
    <md-button aria-label="Project Link"
               flex
               class="md-raised add dmc-button margin-left20"
               ng-show="addingToProject == false && cardSource.added"
               ng-href="{{cardSource.lastProject.href}}">
    <span flex>
        Added to {{cardSource.lastProject.title}}
    </span>
        <ng-md-icon icon="keyboard_arrow_right" style="fill: #000" size="20"></ng-md-icon>
    </md-button>
    
    <md-button
        ng-click="addToCompare()"
        class="md-raised add dmc-button margin-left20"
        ng-show="!cardSource.added && addingToProject == false && (typeProduct == 'service' && $root.comparedServicesIds.services.indexOf(cardSource.id) == -1) || (typeProduct == 'component' && $root.comparedServicesIds.components.indexOf(cardSource.id) == -1)">
      Add to Compare
    </md-button>
    <md-button
        ng-click="removeFromCompare()"
        class="md-raised add dmc-button margin-left20"
        ng-hide="cardSource.added || addingToProject == true || !$root.comparedServicesIds || (typeProduct == 'service' && $root.comparedServicesIds.services.indexOf(cardSource.id) == -1) || (typeProduct == 'component' && $root.comparedServicesIds.components.indexOf(cardSource.id) == -1)">
      <ng-md-icon icon="close" size="17"></ng-md-icon>
      Compare
    </md-button>
  </div>

      <div ng-if="addingToProject" layout="row" layout-align="center center" class="add-to-project">
          <md-button class="md-raised cancelProject" ng-click="cancelAddToProject()">
              <ng-md-icon icon="close" size="17"></ng-md-icon>
          </md-button>
          <md-select placeholder="Select Project" ng-model="projectModel" md-on-open="loadProjects()">
              <md-option ng-repeat="p in projects" value="{{p.id}}">{{p.title}}</md-option>
          </md-select>
          <md-button ng-disabled="!projectModel" class="md-raised addProject" ng-click="saveToProject(projectModel)">
              Add
          </md-button>
      </div>
</div>