<div layout="row" class="add-skill-block">
    <div layout="column" flex>
        <form ng-submit="sendSkill()" layout-align="start end" layout="row" flex>
            <md-input-container md-no-float flex="30">
                <input ng-model="newSkill" type="text" placeholder="Enter Skill">
            </md-input-container>
            <md-input-container>
                <md-button class="md-raised md-primary add-skill"
                           ng-disabled="!newSkill"
                           type="submit">Add</md-button>
            </md-input-container>
        </form>
    </div>
</div>
<div layout="row" class="list-skills-block" layout-wrap>
    <div class="skill" ng-repeat="skill in source.skills">
        {{skill.name}}
        <md-button md-no-ink
                   class="md-icon-button"
                   ng-click="deleteSkill(skill)"
                   aria-label="Delete Skill">
            <ng-md-icon icon="close" size="21"></ng-md-icon>
        </md-button>
    </div>
</div>
<div layout="row" class="line-block" layout-align="start start">
    <md-input-container flex class="company-technicalExpertise right-space" >
        <label>Technical Expertise</label>
        <textarea ng-init="changes.technicalExpertise = source.technicalExpertise"
                  ng-model="changes.technicalExpertise"
                  ng-change="changedValue('technicalExpertise')"
                  columns="1"></textarea>
    </md-input-container>
    <md-input-container flex class="company-toolsSoftwareAndOther left-space" >
        <label>Tools, Software, Equipment & Machines</label>
        <textarea ng-init="changes.toolsSoftwareEquipmentMachines = source.toolsSoftwareEquipmentMachines"
                  ng-model="changes.toolsSoftwareEquipmentMachines"
                  ng-change="changedValue('toolsSoftwareEquipmentMachines')"
                  columns="1"></textarea>
    </md-input-container>
</div>
<div layout="row">
    <div class="list-images" flex="100">
        <div layout="row" layout-align="space-between center">
            <div class="title">Images</div>
            <md-button class="md-raised md-primary add-new-image"
                       ng-show="!isAddingImage"
                       ng-click="addNewImage()"
                       aria-label="Add Image">
                Add New Image
            </md-button>
        </div>
        <div layout="row"
             class="boxForAddImage"
             layout-align="start start"
             ng-if="isAddingImage">
            <form name="formAddImage" layout="column">
                <div layout="row" flex>
                    <md-input-container md-no-float flex="100">
                        <input required
                               name="title"
                               ng-model="newImage.title"
                               type="text"
                               placeholder="Image Title">
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <div class="flow-box"
                         flow-init
                         flow-drag-enter="pictureDragEnter($flow)"
                         flow-drag-leave="pictureDragLeave($flow)"
                         flow-file-success="$file.msg = $message"
                         flow-file-added="addedNewFile($file, $event, $flow )"
                         layout="row" flex layout-align="start start">
                        <div class="alert" flow-drop flow-drop-enabled="true" flex="40">
                            <div class="inner-box" layout="row" layout-align="center center" flex>
                                <div ng-if="$flow.files.length > 0" class="uploaded-picture" flex="90">
                                    <img id="flowImage" flow-img="$flow.files[0]" />
                                    <md-button ng-click="removePicture($flow)" class="md-fab md-mini remove-picture" aria-label="Remove picture">
                                        <ng-md-icon icon="close" size="21"></ng-md-icon>
                                    </md-button>
                                </div>
                                <div flow-btn class="text" flex="80" ng-if="$flow.files.length == 0">
                                    Drag And Drop your picture here<br>
                                    600 x 600 px (max 2 MB)
                                    <br>or<br>
                                    <strong>Click here</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div layout="column" layout-align="start start" flex>
                <md-button class="md-raised" type="button" ng-click="cancelAddImage()">
                    Cancel
                </md-button>
                <md-button class="md-raised md-primary"
                           ng-click="saveImage(newImage)"
                           ng-disabled="!formAddImage.$valid || !newAddedImage">
                    Save
                </md-button>
            </div>
        </div>
        <div layout="row"
             layout-wrap
             layout-align="start start"
             flex ng-if="source.skillsImages.length > 0">
            <div class="list-images-item" ng-repeat="image in source.skillsImages" ng-show="!image.hide">
                <div class="img"><img ng-src="{{image.url}}"/></div>
                <md-input-container md-no-float>
                    <input ng-init="image.changedTitle = image.title"
                           ng-model="image.changedTitle"
                           ng-change="changedValue('image')"
                           type="text"
                           placeholder="Image Title">
                </md-input-container>
                <md-button md-no-ink
                           class="md-icon-button md-warn md-raised delete-image"
                           ng-click="deleteImage(image)"
                           aria-label="Delete Image">
                    <ng-md-icon icon="delete" size="21"></ng-md-icon>
                </md-button>
            </div>
        </div>
        <div layout="row" ng-if="source.skillsImages.length == 0 && !isAddingImage">No images</div>
    </div>
</div>