<div layout="row" flex class="line-block" layout-align="space-between center">
      <md-input-container flex="35" class="company-industry">
          <label>Category and Tier (Required)</label>
          <md-select ng-model="companyTier.data"
          ng-model-options="{trackBy: '$value.id'}"
          ng-disabled="!userData.isDmdiiAdmin"
          ng-required="true">
          <md-option ng-value="type" ng-repeat="type in types">{{categories[type.category] + type.tier}}</md-option>
      </md-input-container>

      <div layout="column" layout-align="start start" flex="20">
          <label style="margin-left:53px">Join Date (Required)</label>
          <md-datepicker class="no-bottom no-pad-bottom top10" name="joinDate" ng-model="date.start" required md-placeholder="Join Date (Required)"></md-datepicker>
      </div>

      <div layout="column" layout-align="start start" flex="20">
          <label style="margin-left:42px">Expire Date (Required)</label>
          <md-datepicker class="no-bottom no-pad-bottom top10" name="expireDate" ng-model="date.expire" required md-placeholder="Expire Date (Required)"></md-datepicker>
      </div>
</div>
