<div layout="row">
    <div class="list-videos" flex="100">
        <div layout="row" layout-align="space-between center">
            <div class="title">Current File</div>
            <md-button class="md-raised md-primary add-new-image"
                       ng-show="!$ctrl.isAddingFile"
                       ng-click="$ctrl.addNewFile()"
                       aria-label="Add File">
                Add New File
            </md-button>
        </div>
        <div layout="row"
             layout-wrap
             layout-align="start start"
             flex ng-if="$ctrl.source.tdpFiles.length > 0">
            <div class="list-images-item" ng-repeat="file in source.tdpFiles" ng-show="!file.hide">
                <div class="img"><img ng-src="{{file.documentUrl}}"/></div>
                <md-input-container md-no-float>
                    <input ng-model="file.documentName"
                           type="text"
                           ng-disabled="true"
                           placeholder="File Title">
                </md-input-container>
                <md-button md-no-ink class="md-fab md-mini md-warn md-raised delete-image"
                           ng-click="$ctrl.deleteFile(file,$event)"
                           aria-label="Delete Image">
                    <ng-md-icon icon="delete" size="21"></ng-md-icon>
                </md-button>
            </div>
        </div>
        <div layout="row"
             layout-align="start start"
             ng-if="isAddingFile">
            <div layout="column" flex>
                <div class="content-panel"
                     source="imgs"
                     ui-widget-upload-documents
                     widget-type="'row'"
                     auto-upload="false"
                     allow-tagging="true"
                     widget-title="'Add New File'"
                     access-level='accessLevels'
                     file-limit="limit"
                     allow-vip="true">
                </div>
                <div layout="column" layout-align="center start">
                    <md-button class="md-raised" type="button" ng-click="cancelAddFile()">
                        Cancel
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>