<div ng-carousel rn-carousel-indicators ng-if="countSlides > 0" class="carousel-items" ng-carousel-name="{{nameCarousel}}">
    <slidecontainer class="carousel-slides">
    <slide ng-repeat="slide in arrayItems.slice(0, countSlides) track by $index">
      <div ng-if="typeCarousel != 'images'" class="slide-item" style="width:{{100/showItems}}%" ng-repeat="item in arrayItems.slice($index*showItems, $index*showItems+showItems)">
        <div class="one-item">
          <dmc-product-card 
            type-product="item.type" 
            card-source="item"
            ng-if="typeCarousel != 'images'">
          </dmc-product-card>
        </div>
      </div>
      <div class="image-padding" ng-if="typeCarousel === 'images'">
        <div class="carousel-item image-item"

             ng-class="{'selected-image' : item.selected}"
             ng-if="typeCarousel === 'images'"
             ng-repeat="item in arrayItems.slice($index*showItems, $index*showItems+showItems) track by $index">
            
            <md-button 
              class="md-icon-button md-warn md-raised delete" 
              ng-if="edit" 
              ng-click="functions.deleteImage($index + $parent.$parent.$parent.$index*showItems)" 
              aria-label="delete">
              <ng-md-icon icon="delete" style="fill: #fff" size="17"></ng-md-icon>
            </md-button>
            <img 
              ng-src="{{item.url}}" 
              ng-class="{'selected' : (functions.selected($index + $parent.$parent.$index*showItems) == true)}" 
              ng-click="functions.openImage($index + $parent.$parent.$index*showItems)" alt=""/>
        </div>
      </div>
    </slide>
  </slidecontainer>
  <div class="carousel-arrow carousel-arrow-left" ng-class="{'image-button' : typeCarousel === 'images'}" ng-hide="countSlides <= 1 || currentSlide == 1">
    <md-button aria-label="Left" class="demo-nav" ng-click="prevSlide()">
      <ng-md-icon icon="keyboard_arrow_left" title="Previous" aria-label="Previous" size="60"></ng-md-icon>
    </md-button>
  </div>
  <div class="carousel-arrow carousel-arrow-right" ng-class="{'image-button' : typeCarousel === 'images'}" ng-hide="countSlides <= 1 || currentSlide == countSlides">
    <md-button aria-label="Right" class="demo-nav" ng-click="nextSlide()">
      <ng-md-icon icon="keyboard_arrow_right" title="Next" aria-label="Next" size="60"></ng-md-icon>
    </md-button>
  </div>
  <div class="slide-buttons" ng-if="countSlides > 1 && typeCarousel !== 'images'">
    <ul>
      <li ng-repeat="item in arrayItems.slice(0, countSlides) track by $index" ng-class="$index == 0 ? 'selected' : ''" ng-click="openSlide($event,$index)">
        <md-button class="md-icon-button" aria-label="More">
          <ng-md-icon icon="lens" fill="#000" size="13"></ng-md-icon>
        </md-button>
      </li>
    </ul>
  </div>
</div>