<div class="onboarding-home">
	<div class="about-content">
		<div class="col-md-11">


			<div class="col-md-12 background">


				<div class="row section">
					<div class="logo">
						<img ng-src="images/IM Text and Shield.svg" style="width: 630px" />
					</div>
				</div>


<md-divider></md-divider>

				<div class="row">

					<div class="col-md-12 text" style="min-width:70%">

						<h2 class="about-heading">PORTAL: <span>WHAT IS IT?</span></h2>
						<h3>The Portal is a one-stop collaboration platform for DMDII members. It features tools that enable members to share project updates, network and collaborate on projects, stay up to date on the latest news from the Institute, and explore and learn about other members’ projects and capabilities.</h3>

						<h2 class="about-heading">PORTAL: <span>WHAT TO FIND HERE</span></h2>
						<h3>On the Portal, you’ll find project outcomes, institute news, and details about other members and the projects on which they are working.</h3>
						<h4>Institute News and Events</h4>
						<ul>
							The Portal is the home for all information about DMDII events, updates, and milestones, so you’ll never miss an announcement from the Institute or from other members.
						</ul>
						<h4>Member Directory</h4>
						<ul>
							The Portal’s Member Directory hosts profiles of participating organizations—including their skills, interests, and any DMDII projects they’re working on—to help facilitate networking and project teaming.
						</ul>
						<h4>Project Directory</h4>
						<ul>
							On the Portal’s project page, you’ll find information about ongoing DMDII projects. You’ll be able to download final reports and source code from completed DMDII projects, and catch the latest updates on the more than 60 projects underway at DMDII.
						</ul>

						<h2 class="about-heading">PORTAL: <span>GETTING ACCESS</span></h2>
						<h3>If you’re not a DMDII member, you cannot have access to the DMDII member portal, which is too bad, because DMDII membership is awesome! Interested in joining the more-than-300-strong institute? Shoot us an email at <a href="mailto:collaborate@uilabs.org">collaborate@uilabs.org</a>!</h3>
						<h3 class="spacing-header">If you are a member, keep reading!</h3>
						<h3>Each membership organization has an administrator who will need to approve your access. To find out who your administrator is, click My Organization and look for members who have the green ‘ADMIN’ box inside their user card. If your organization has not yet appointed an administrator, please email <a href="askdmc@uilabs.org">askdmc@uilabs.org</a> and let us know who you would like as your administrator so our helpdesk can begin the process of setting up your organization.</h3>

						<h2 class="about-heading">PORTAL: <span>GETTING STARTED</span></h2>
						<h4>Creating a Profile</h4>
						<ul>
							Once you’ve logged in, start by creating your profile to tell other members about you and your organization:
							<ul>
								<li>
									Who you are
								</li>
								<li>
									What you do
								</li>
								<li>
									What you're looking for at DMDII
								</li>
							</ul>
						</ul>
						<h4>Engage</h4>
						<ul>
							Engage with the DMDII community by following other members and participating in discussion forums. Download final reports and source code from completed DMDII projects and update your own projects on the My Projects tab.
						</ul>
						<ul>
							Check back often for the latest news, discussions, and project updates posted to the Portal!
						</ul>


					</div>

				</div>

				<md-divider></md-divider>
				<div class="row">

					<div class="col-md-12 text-center">
							<h1>Need more help?</h1>
							<h3 class="button-wrapper"><span class="button-view-opportunities"><a href="/contact-us.php">Contact Us</a></span></h3>
							<div class="col-sm-12 col-md-12">
								<h3>In the unlikely event that your onboarding process is not working properly, or should you have further questions or concerns,</h3>
								<h3>please consult the <a href="/faq.php">FAQ</a> or contact us directly <a href="mailto:askdmc@uilabs.org">askdmc@uilabs.org</a>.</h3>
							</div>
					</div>

				</div>
				<md-divider></md-divider>

				<md-divider></md-divider>





	</div>
</div>
