<div class="container container-company" layout-padding layout="row" ng-show="companyData.id">
    <!--<div class="content-column left-content" layout="column" flex="20">-->
        <!--<dmc-tree-menu tree-source="treeMenuModel"></dmc-tree-menu>-->
        <!--<dmc-products-filter ng-if="isSearch"></dmc-products-filter>-->
    <!--</div>-->
    <div class="content-column right-content" layout="column" flex>
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content class="company-content">
                    <div layout="row" layout-align="end center" ng-style="companyPicture" class="company-image">
                       <!--<img ng-src="images/company-logo.jpg" alt=""/>-->
                        <md-button class="md-fab md-mini company-buttons company-edit-picture" ng-click="changePicture()" ng-show="!isChangingPicture">
                            <ng-md-icon icon="mode_edit" size="21"></ng-md-icon>
                        </md-button>
                        <div ng-init="isChangingPicture = (companyData.featureImage.large ? false : true)"
                             ng-show="isChangingPicture"
                             ng-style="flowBoxStyle"
                             flex>
                            <div class="flow-box"
                                 flow-init
                                 flow-drag-enter="pictureDragEnter($flow)"
                                 flow-drag-leave="pictureDragLeave($flow)"
                                 flow-file-success="$file.msg = $message"
                                 flow-file-added="addedNewFile($file, $event, $flow )"
                                 layout="row" layout-align="start start">
                                <div class="alert" flow-drop flow-drop-enabled="true" flex>
                                    <div class="inner-box" layout="row" layout-align="center center" flex>
                                        <div ng-if="$flow.files.length > 0" class="uploaded-picture" flex="90">
                                            <img id="flowImage" flow-img="$flow.files[0]" />
                                            <md-button ng-click="removePicture($flow)" class="md-fab md-mini remove-picture" aria-label="Remove picture">
                                                <ng-md-icon icon="close" size="21"></ng-md-icon>
                                            </md-button>
                                        </div>
                                        <div flow-btn class="text" flex="80" ng-if="$flow.files.length == 0">
                                            Drag And Drop your picture here ( 600 x 600 )
                                            <br>
                                            or
                                            <br>
                                            <strong>Click here</strong>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <md-button class="md-raised cancel-button" ng-if="companyData.featureImage.large" ng-click="cancelChangePicture($flow)">Cancel</md-button>
                                    <md-button class="md-raised md-primary" ng-disabled="$flow.files.length == 0" ng-click="uploadFile($flow)">Save</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="start center" class="company-title">
                        <div layout="column" flex="70">
                            <md-input-container class="title-input-edit">
                                <label>Company</label>
                                <input class="md-title" ng-disabled="true" ng-model="companyData.name" ng-change="changedInput('name')">
                            </md-input-container>
                        </div>
                        <span flex></span>
                        <md-button class="md-raised company-buttons" ng-click="cancelChanges()" >Cancel</md-button>
                        <md-button class="md-raised md-primary company-buttons" ng-click="saveChanges()">Save</md-button>
                    </div>
                    <div layout="row" layout-padding layout-align="start start" class="company-description">
                        <md-input-container flex="70">
                            <label>Description</label>
                            <textarea ng-model="companyData.description" ng-change="changedInput('description')" columns="1"></textarea>
                        </md-input-container>
                    </div>

                    <div layout-padding>
                        <md-tabs md-dynamic-height md-border-bottom class="editable-featured">
                            <md-tab label="Featured">
                                <md-content ui-sortable="sortableOptions">
                                    <dmc-product-card ng-repeat="item in features.all track by $index"
                                            type-product="item.type"
                                            class="feature-item"
                                            remove-featured="removeFeatured"
                                            hide-buttons="['share','favorite']"
                                            card-source="item">
                                    </dmc-product-card>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                    <div layout-padding>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Add Featured">
                                <md-content>
                                    <div layout="row" layout-padding layout-align="start center" class="company-search" flex>
                                        <md-input-container>
                                            <md-select ng-model="selectedProductType" ng-change="productTypeChanged(true)" aria-label="Product Types">
                                                <md-option ng-repeat="type in productTypes" value="{{type.name}}">{{type.title}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <form ng-submit="submit()" class="company-search-field" flex="80">
                                            <md-input-container md-no-float>
                                                <md-icon>
                                                    <ng-md-icon icon="search"></ng-md-icon>
                                                </md-icon>
                                                <input type="text" placeholder="Start typing..." ng-model="searchModel">
                                            </md-input-container>
                                        </form>

                                        <span flex></span>
                                    </div>
                                    <div layout-align="center center" class="products-for-add">
                                        <dmc-products-card
                                                search-card="isSearch"
                                                card-source="products"
                                                card-loading="downloadData"
                                                page-size="pageSize"
                                                update-page-size="updatePageSize"
                                                current-page="currentStorefrontPage"
                                                total-size="products.count"
                                                class="content-panel-marketplace"
                                                add-featured="addFeatured"
                                                hide-buttons="['share','favorite']"
                                                layout-margin>
                                        </dmc-products-card>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>