<div class="container container-company" layout="row" ng-if="companyData.id">
    <!--<div class="content-column left-content" layout="column" flex="20">-->
        <!--<dmc-tree-menu tree-source="treeMenuModel"></dmc-tree-menu>-->
        <!--<dmc-products-filter ng-if="isSearch"></dmc-products-filter>-->
    <!--</div>-->
    <div class="content-column right-content" layout="column" flex>
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content class="company-content">
                    <div layout="row" layout-align="end center" ng-style="companyPicture" class="company-image">
                       <!--<img ng-src="images/company-logo.jpg" alt=""/>-->
                        <md-button class="md-fab md-mini company-buttons company-edit-picture" ng-click="changePicture()" ng-show="!isChangingPicture">
                            <ng-md-icon icon="mode_edit" size="18"></ng-md-icon>
                        </md-button>
                        <div ng-init="isChangingPicture = (companyData.featureImage.large ? false : true)"
                             ng-if="isChangingPicture"
                             ng-style="flowBoxStyle"
                             flex>
                            <div class="flow-box"
                                 flow-init
                                 flow-drag-enter="pictureDragEnter($flow)"
                                 flow-drag-leave="pictureDragLeave($flow)"
                                 flow-file-success="$file.msg = $message"
                                 flow-file-added="addedNewFile($file, $event, $flow )"
                                 layout="row" layout-align="start start">
                                <div class="alert" flow-drop flow-drop-enabled="true" flex>
                                    <div class="inner-box" layout="row" layout-align="center center" flex>
                                        <div ng-if="$flow.files.length > 0" class="uploaded-picture" flex="90">
                                            <img id="flowImage" flow-img="$flow.files[0]" />
                                            <md-button ng-click="removePicture($flow)" class="md-fab md-mini remove-picture" aria-label="Remove picture">
                                                <ng-md-icon icon="close" size="18"></ng-md-icon>
                                            </md-button>
                                        </div>
                                        <div flow-btn class="text" flex="80" ng-if="$flow.files.length == 0">
                                            Drag And Drop your picture here<br>
                                            600 x 600 px (max 2 MB)
                                            <br>or<br>
                                            <strong>Click here</strong>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <md-button class="md-raised cancel-button" ng-if="companyData.featureImage.large" ng-click="cancelChangePicture($flow)">Cancel</md-button>
                                    <md-button class="md-raised md-primary" ng-disabled="$flow.files.length == 0" ng-click="uploadFile($flow)">Save</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="start start" class="company-title">
                        <div layout="column" class="logo-storefront-edit" layout-align="start start">
                            <div class="storefront-logo-box" ng-show="!isChangingLogo && companyData.logoImage">
                                <img ng-src="{{companyData.logoImage}}" class="main-image" alt="" />
                                <md-button ng-click="deleteLogo()" class="md-fab md-mini delete-logo" aria-label="Delete logo">
                                    <ng-md-icon icon="delete" size="18"></ng-md-icon>
                                </md-button>
                            </div>
                            <md-button class="md-raised change-logo" ng-click="changeLogo()" ng-show="!isChangingLogo && companyData.logoImage">
                                <ng-md-icon icon="camera_alt" size="18"></ng-md-icon>
                                Change Logo
                            </md-button>
                            <div class="flow-box flow-box-logo" ng-if="isChangingLogo || !companyData.logoImage"
                                 flow-init
                                 flow-drag-enter="pictureDragEnter($flow)"
                                 flow-drag-leave="pictureDragLeave($flow)"
                                 flow-file-success="$file.msg = $message"
                                 flow-file-added="addedNewLogo($file, $event, $flow )"
                                 layout="row" layout-align="start start">
                                <div class="alert" flow-drop flow-drop-enabled="true" flex>
                                    <div class="inner-box" layout="row" layout-align="center center" flex>
                                        <div ng-if="$flow.files.length > 0" class="uploaded-picture" flex="90">
                                            <img id="flowLogo" flow-img="$flow.files[0]" />
                                            <md-button ng-click="removeLogo($flow)" class="md-fab md-mini remove-picture" aria-label="Remove logo">
                                                <ng-md-icon icon="close" size="18"></ng-md-icon>
                                            </md-button>
                                        </div>
                                        <div flow-btn class="text" flex="80" ng-if="$flow.files.length == 0">
                                            Drag And Drop your logo here<br>
                                            150 x 150 px<br>(max 2 MB)
                                            <br>or<br>
                                            <strong>Click here</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div layout="row"
                                 layout-align="space-between center"
                                 class="buttons-logo-upload"
                                 ng-show="isChangingLogo || !companyData.logoImage">
                                <md-button class="md-raised cancel-change-logo" ng-click="cancelChangeLogo()">
                                    Cancel
                                </md-button>
                                <md-button class="md-raised md-primary upload-logo"
                                       ng-disabled="!flowLogo"
                                       ng-click="uploadLogo()">Upload</md-button>
                            </div>
                        </div>
                        <div layout="column" flex layout-wrap>
                            <div layout="row" flex>
                                <md-input-container class="title-input-edit" flex="60">
                                    <label>Company</label>
                                    <input class="md-title" ng-disabled="true" ng-model="companyData.name" ng-change="changedInput('name')">
                                </md-input-container>
                                <span flex></span>
                                <md-button class="md-raised dmc-button" ng-click="cancelChanges()" >Cancel</md-button>
                                <md-button class="md-raised md-primary dmc-button margin-left20" ng-click="saveChanges()">Save</md-button>
                            </div>
                            <div layout="row" flex layout-align="start start" class="company-description">
                                <md-input-container flex="60">
                                    <label>Description</label>
                                    <textarea ng-model="companyData.description"
                                              ng-change="changedInput('description')"
                                              id="descriptionCompany"
                                              columns="1"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div layout-padding>
                        <md-tabs md-dynamic-height
                                 md-border-bottom
                                 class="editable-featured"
                                 md-selected="selectedIndexTab">
                            <md-tab label="Featured" md-on-select="onTabSelected(0)">
                                <md-content class="editable-md-content" ui-sortable="sortableOptions">
                                    <dmc-product-card ng-repeat="item in featuredItems track by $index"
                                                      type-product="item.type"
                                                      class="feature-item"
                                                      remove-featured="removeFeatured"
                                                      hide-buttons="['share','favorite']"
                                                      card-source="item">
                                    </dmc-product-card>
                                </md-content>
                            </md-tab>
                            <md-tab label="Add Featured" md-on-select="onTabSelected(1)">
                                <md-content>
                                    <div layout="row" layout-padding layout-align="start center" class="company-search" flex>
                                        <md-input-container style="display:none;">
                                            <md-select ng-model="selectedProductType" ng-change="productTypeChanged(selectedProductType)" aria-label="Product Types">
                                                <md-option ng-repeat="type in productTypes" value="{{type.name}}">{{type.title}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <form ng-submit="submit(searchModel)" class="company-search-field global-search-form" flex="80">
                                            <md-input-container md-no-float>
                                                <md-icon>
                                                    <ng-md-icon icon="search"></ng-md-icon>
                                                </md-icon>
                                                <input type="text" placeholder="Search Storefront" ng-model="searchModel">
                                            </md-input-container>
                                        </form>

                                        <span flex></span>
                                    </div>
                                    <div layout-align="center center" class="products-for-add">
                                        <dmc-products-card
                                                search-card="isSearch"
                                                card-source="storefrontItems"
                                                card-loading="downloadData"
                                                page-size="pageSize"
                                                update-page-size="updatePageSize"
                                                current-page="currentStorefrontPage"
                                                total-size="storefrontItems.count"
                                                class="content-panel-marketplace"
                                                add-featured="addFeatured"
                                                remove-featured="removeFeatured"
                                                hide-buttons="['share','favorite']"
                                                layout-margin>
                                        </dmc-products-card>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>