<div class="container container-company" layout-padding layout="row" ng-show="companyData.id">
    <div class="content-column left-content" layout="column" flex="20">
        <dmc-tree-menu tree-source="treeMenuModel"></dmc-tree-menu>
    </div>
    <div class="content-column right-content" layout="column" flex="80">
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content class="company-content">
                    <div layout="row" layout-align="center center" ng-style="{'background-image' : 'url('+companyData.featureImage.large+')'}" class="company-image">
                       <!--<img ng-src="images/company-logo.jpg" alt=""/>-->
                    </div>
                    <div layout="row" layout-padding layout-align="start start" class="company-title">
                        <div layout="column" flex="70">
                            <h2 class="md-title" layout="row" layout-align="start center">{{companyData.name}}<md-button class="company-buttons" ng-href="/">Profile</md-button></h2>
                            <p>{{companyData.description}}
                                <a class="read-more" href="/">Read More</a>
                            </p>
                        </div>
                        <span flex></span>
                        <md-button class="company-buttons" ng-href="/">Follow</md-button>
                        <md-button class="md-icon-button message-button" aria-label="Message">
                            <ng-md-icon icon="email" size="32"></ng-md-icon>
                        </md-button>
                    </div>
                    <md-divider ></md-divider>
                    <div layout="row" layout-padding layout-align="center center" class="company-search">
                        <md-input-container>
                            <md-select ng-model="selectedProductType" ng-change="productTypeChanged()" aria-label="Product Types">
                                <md-option ng-repeat="type in productTypes" value="{{type.name}}">{{type.title}}</md-option>
                            </md-select>
                        </md-input-container>
                        <form ng-submit="submit()" class="company-search-field" flex="60">
                            <md-input-container md-no-float>
                                <md-icon>
                                    <ng-md-icon icon="search"></ng-md-icon>
                                </md-icon>
                                <input type="text" placeholder="Start typing..." ng-model="searchModel">
                            </md-input-container>
                        </form>

                        <span flex></span>

                        <div layout="row" layout-align="center center">
                            <md-button class="company-buttons" href="/"><ng-md-icon icon="favorite" size="14"></ng-md-icon> Favorites</md-button>
                            <md-button class="company-buttons" href="" compare-button>Compare ({{compareProducts.services.length+compareProducts.components.length}})</md-button>
                        </div>
                    </div>
                    <div layout-padding>
                        <md-tabs md-dynamic-height md-border-bottom class="company-carousel-tabs">
                            <md-tab label="Featured">
                                <md-content class="carousel-padding">
                                    <div dmc-carousel
                                         name-carousel="'carouselFeatured'"
                                         max-items="10"
                                         show-items="2"
                                         carousel-source="carouselData.featured.arr"
                                         run-carousel="true"
                                         timeout="5">
                                    </div>
                                </md-content>
                            </md-tab>

                            <md-tab label="New">
                                <md-content class="carousel-padding">
                                    <div dmc-carousel
                                         name-carousel="'carouselNew'"
                                         max-items="10"
                                         show-items="2"
                                         carousel-source="carouselData.new.arr"
                                         run-carousel="true"
                                         timeout="5">
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                    <div layout="row" layout-padding layout-align="start start" class="company-storefront-title">
                        <div layout="column" flex="70">
                            <h2 class="md-title" layout="row" layout-align="start center">Storefront Items</h2>
                        </div>
                        <span flex></span>
                        <md-button class="company-buttons" ng-href="/">View All</md-button>
                    </div>
                    <md-divider ></md-divider>
                    <div layout-padding class="list-items" layout="row" layout-wrap>
                        <div class="one-item"
                             flex-sm="100"
                             flex-md="50"
                             flex-lg="33"
                             flex-gt-lg="25"
                             dir-paginate="item in itemsArray | itemsPerPage: pageSize">
                            <dmc-product-card card-style="'small'" ng-show="item.id"
                                              type-product="item.type"
                                              card-source="item">
                            </dmc-product-card>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>