<div class="container container-company" layout="row" ng-if="companyData.id">
    <div class="content-column left-content" layout="column" flex="20">
        <dmc-tree-menu tree-source="treeMenuModel"></dmc-tree-menu>
        <dmc-products-filter state-name="'company.search'" ng-if="isSearch"></dmc-products-filter>
    </div>
    <div class="content-column right-content" layout="column" flex="80">
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content class="company-content">
                    <div layout="row"
                         layout-align="end start"
                         ng-style="{'background-image' : 'url('+companyData.featureImage.large+')'}"
                         class="company-image"></div>
                    <div layout="row" layout-padding layout-align="start start" class="company-title">
                        <div layout="column" class="logo-storefront" layout-align="center center" ng-if="companyData.logoImage">
                            <div><img ng-src="{{companyData.logoImage}}" alt=""/></div>
                        </div>
                        <div layout="column" flex="70">
                            <h2 class="md-title" layout="row" layout-align="start center">
                                {{companyData.name}}
                                <a style="margin-left: 15px;" class="company-buttons link-button uppercase" ng-href="/company-profile.php#/{{companyData.id}}">Profile</a>
                            </h2>
                            <p>
                                <div ng-bind-html="(companyData.shortDescription == null || isReadMore ? companyData.description : companyData.shortDescription)"></div>
                                <a class="read-more"
                                   ng-show="companyData.shortDescription"
                                   ng-click="readMore()">{{(isReadMore ? 'Show Less' : 'Read More')}}</a>
                            </p>
                        </div>

                        <span flex></span>

                        <md-button ng-if="currentUser.profileId && !companyData.isOwner"
                                   ng-click="join()"
                                   ng-disabled="companyData.joinRequest"
                                   class="md-raised dmc-button margin-right15">
                            {{ !companyData.joinRequest ? 'Request to Join' : 'Pending Approval' }}
                        </md-button>
                        <md-button ng-if="!companyData.isOwner"
                                   class="md-raised dmc-button"
                                   ng-click="followCompany()">
                            {{(companyData.follow ? 'Unfollow' : 'Follow')}}
                        </md-button>
                        <!--<md-button ng-if="!companyData.isOwner"-->
                                   <!--class="md-icon-button message-button"-->
                                   <!--ng-click="openMessageDialog($event)"-->
                                   <!--aria-label="Message">-->
                            <!--<ng-md-icon icon="email" size="32"></ng-md-icon>-->
                        <!--</md-button>-->

                        <md-button ng-if="companyData.isOwner"
                                   class="md-raised dmc-button"
                                   ng-href="/company.php#/{{companyId}}/edit?product=services">
                            Edit Storefront
                        </md-button>

                    </div>
                    <div layout="row" layout-padding layout-align="center center" class="company-search">
                        <md-input-container style="display:none">
                            <md-select ng-model="selectedProductType" ng-change="productTypeChanged(selectedProductType)" aria-label="Product Types">
                                <md-option ng-repeat="type in productTypes" value="{{type.name}}">{{type.title}}</md-option>
                            </md-select>
                        </md-input-container>

                        <form ng-submit="submit(searchModel)" class="dmc-search global-search-form" flex="60">
                          <div layout="column">
                              <div layout="row">
                                  <div layout="column" flex>
                                      <md-input-container md-no-float>
                                          <md-icon>
                                              <ng-md-icon icon="search"></ng-md-icon>
                                          </md-icon>
                                          <input type="text" placeholder="Search Storefront" ng-model="searchModel">
                                      </md-input-container>
                                  </div>
                                  <div layout="column">
                                      <md-input-container>
                                          <md-button type="submit" class="search-button">Search</md-button>
                                      </md-input-container>
                                  </div>
                              </div>
                          </div>
                        </form>

                        <span flex></span>

                        <div layout="row" layout-align="center center">
                            <md-button class="company-buttons" href="/" style="display:none">
                                <ng-md-icon icon="favorite" size="14"></ng-md-icon>
                                Favorites ({{companyData.favoritesCount}})
                            </md-button>
                            <md-button class="md-raised dmc-button"
                                       ng-disabled="!$root.comparedServices || !$root.comparedServices.services || $root.comparedServices.services.length == 0"
                                       compare-button>
                                Compare ({{$root.comparedServices && $root.comparedServices.services ? $root.comparedServices.services.length : 0}})
                            </md-button>
                        </div>
                    </div>
                    <div layout-padding ng-if="!isSearch">
                        <md-tabs md-dynamic-height md-border-bottom class="company-carousel-tabs">
                            <md-tab label="Featured">
                                <md-content class="carousel-padding">
                                    <div dmc-carousel
                                         name-carousel="'carouselFeatured'"
                                         max-items="10"
                                         show-items="2"
                                         carousel-source="carouselData.featured.arr"
                                         run-carousel="true"
                                         timeout="5">
                                    </div>
                                </md-content>
                            </md-tab>

                            <md-tab label="New">
                                <md-content class="carousel-padding">
                                    <div dmc-carousel
                                         name-carousel="'carouselNew'"
                                         max-items="10"
                                         show-items="2"
                                         carousel-source="carouselData.new.arr"
                                         run-carousel="true"
                                         timeout="5">
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                    <div layout="row" layout-padding layout-align="start start" class="company-storefront-title" ng-if="!isSearch">
                        <div layout="column" flex="70">
                            <h2 class="md-title" layout="row" layout-align="start center">Storefront Items</h2>
                        </div>
                        <span flex></span>
                        <md-button class="view-all-link" ng-click="showAll()">View All</md-button>
                    </div>
                    <div layout-padding class="list-items" layout="row" layout-wrap ng-if="!isSearch">
                        <div class="one-item"
                             flex-sm="100"
                             flex-md="50"
                             flex-lg="33"
                             flex-gt-lg="25"
                             ng-repeat="item in storefrontItems.arr">
                            <dmc-product-card card-style="'small'" ng-show="item.id"
                                              type-product="item.type"
                                              hide-buttons="['compare']"
                                              card-source="item">
                            </dmc-product-card>
                        </div>
                    </div>
                    <div ng-if="isSearch">
                        <dmc-products-card
                                title-card="'STOREFRONT ITEMS'"
                                search-card="isSearch"
                                card-source="storefrontItems"
                                card-loading="downloadData"
                                page-size="pageSize"
                                update-page-size="updatePageSize"
                                current-page="currentStorefrontPage"
                                total-size="storefrontItems.count"
                                hide-buttons="['compare']"
                                class="content-panel-marketplace"
                                layout-margin>
                        </dmc-products-card>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>