<div class="space-header"></div>
<header class='main-header' layout="column">
  <!-- upper part of header -->
  <div class="top-header header-padding" layout="row" layout-align="center center">
    <div class="logo">
      <a href="index.php"><img ng-src="images/logo.png"></a>
    </div>

    <span flex></span>

    <div layout="row" class="info-button">
      <!-- Service alerts -->
      <md-menu md-offset="0 64">
        <md-button class="md-button"
             aria-label="Service alerts"
             ng-click="$mdOpenMenu($event)">
            <div class="svg-icon" style="mask-image: url(images/icon_service.svg) center / contain no-repeat;
             -webkit-mask: url(images/icon_service.svg) center / contain no-repeat;"></div>
          <span class="count-message" ng-show="service_alert > 0">{{service_alert}}</span>
        </md-button>
        <md-menu-content class="header-menu-content">
          <md-menu-item>
            <md-button>Service 1</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button>Service 2</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button>Service 3</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button>See All</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <!-- Notifications -->
      <md-menu md-offset="0 64">
        <md-button class="md-button"
             aria-label="Notifications"
             ng-click="$mdOpenMenu($event)">
          <ng-md-icon icon="notifications" size="25"></ng-md-icon>
          <span class="count-message" ng-show="notification > 0">{{notification}}</span>
        </md-button>
        <md-menu-content class="header-menu-content">
          <md-menu-item>
            <md-button>Notification 1</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button>Notification 2</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button>Notification 3</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <!-- Messages -->
      <md-menu md-offset="0 64">
        <md-button class="md-button"
             aria-label="Messages"
             ng-click="$mdOpenMenu($event)">
          <ng-md-icon icon="email" size="25"></ng-md-icon>
          <span class="count-message" ng-show="message > 0">{{message}}</span>
        </md-button>
        <md-menu-content class="message-container header-menu-content">
          <md-menu-item>
            <md-button href="/project.php#/preview/5">Pat has invited you to a challenge</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

    <div layout="column">
      <md-menu md-offset="0 64">
        <md-button class="user-button"
             aria-label="Open Latest Services Menu"
             ng-click="$mdOpenMenu($event)">
          <ng-md-icon icon="person" size="20"></ng-md-icon>
          Hi, {{userName}}
        </md-button>
        <md-menu-content class="header-menu-content">
          <md-menu-item>
            <md-button ng-href='https://apps.cirrusidentity.com/console/ds/index?entityID=https://ben-web.opendmc.org/shibboleth&amp;return=https://ben-web.opendmc.org/Shibboleth.sso/Login%3Ftarget%3Dhttps%3A%2F%2Fben-web.opendmc.org'>Login</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-href='account.php'>My Account</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-href='profile.php'>My Profile</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button href="my-projects.php">My Projects</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button href="#">My Submissions</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>

  <!-- lower part of the header -->
  <div class="bottom-header header-padding" layout="row" layout-align="space-between center">
    <div class="navigation" layout="row" layout-align="center center">
      <md-button
          href="dashboard.php"
          class="item"
          ng-class="{'active-page' : activePage.indexOf('dashboard') > -1}">
        Dashboard
      </md-button>

      <md-menu md-offset="0 57" class="item" ng-init="dropDownWidth = 136">
        <md-button
            aria-label="Open Latest Services Menu"
            ng-click="$mdOpenMenu($event); setDropDown($event,dropDownWidth);"
            ng-class="{'active-page' : activePage.indexOf('marketplace') > -1}">
          Marketplace
          <ng-md-icon icon="arrow_drop_down" size="43"></ng-md-icon>
        </md-button>
        <md-menu-content class="header-menu-content" ng-style="{width:dropDownWidth+'px'}">
          <md-menu-item>
            <md-button href="marketplace.php">Home</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button href="company.php">My Storefront</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button href="#">Favorites</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

        <md-button
                href="community.php"
                class="item"
                ng-class="{'active-page' : activePage.indexOf('community') > -1}">
            Community
        </md-button>

      <md-menu class="item" md-offset="0 57">
        <md-button aria-label="Open Latest Services Menu"
            ng-click="$mdOpenMenu($event)"
            ng-class="{'active-page' : activePage.indexOf('project') > -1}">
          Projects
          <ng-md-icon icon="arrow_drop_down" size="43"></ng-md-icon>
        </md-button>
        <md-menu-content class="header-menu-content">
          <md-menu-item>
            <md-button href="my-projects.php">My Projects</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button href="#">All Projects</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <md-menu class="item" md-offset="0 57">
        <md-button
            ng-click="$mdOpenMenu($event)"
            ng-class="{'active-page' : activePage.indexOf('challenge') > -1}">
          Challenge
          <ng-md-icon icon="arrow_drop_down" size="43"></ng-md-icon>
        </md-button>
        <md-menu-content class="header-menu-content">
          <md-menu-item>
            <md-button>Challenge1</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button>Challenge2</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

    <form ng-submit="submitSearch(searchModel)" class="search" layout="row" layout-align="center center">
      <md-input-container md-no-float>
        <md-icon>
            <ng-md-icon icon="search" size="21"></ng-md-icon>
        </md-icon>
        <input type="text" placeholder="Search" ng-model="searchModel">
      </md-input-container>
    </form>
</header>
