<div class="container container-search-faq" layout="row">
    <div layout="column" flex class="container-search-faq-inner">
        <div layout="row" layout-align="center center">
            <h3 class="title">Frequently Asked Questions</h3>
        </div>
        <div layout="row" layout-align="center center" class="search-block">
            <form ng-submit="submit()" class="dmc-search-large global-search-form" flex="100">
                <div layout="column">
                    <div layout="row">
                        <div layout="column" flex>
                            <md-input-container md-no-float>
                                <md-icon>
                                    <ng-md-icon icon="search"></ng-md-icon>
                                </md-icon>
                                <input type="text" placeholder="Search FAQ" ng-model="searchModel">
                            </md-input-container>
                        </div>
                        <div layout="column">
                            <md-input-container>
                                <md-button type="submit" class="search-button">Search</md-button>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container container-faq margin-top-25" layout="row" layout-align="center center" ng-if="categoryId == null">
    <span>Search returned no results</span>
</div>
<div class="container container-faq margin-top-25" layout="row" ng-if="categoryId != null">



    <!-- <div class="content-column left-content" layout="column" flex="20"> -->
        <!-- <md-list>
            <md-list-item ng-class="{'selected' : item.id == selectedCategory.id}" ng-repeat="item in categories">
                <md-button ng-href="{{'/faq.php#/general/'+item.id+(searchModel ? '?text='+searchModel : '')}}" flex>
                    <div class="md-list-item-text" layout="column">
                        <div>{{item.title}}</div>
                    </div>
                </md-button>
            </md-list-item>
            <md-list-item ng-click="viewAll()" ng-show="totalCategories > 2 && !showAllCategories">
                <div class="md-list-item-text" layout="column">
                    <div>View All</div>
                </div>
            </md-list-item>
            <md-list-item ng-click="showLess()" ng-show="totalCategories > 2 && showAllCategories">
                <div class="md-list-item-text" layout="column">
                    <div>Show Less</div>
                </div>
            </md-list-item>
        </md-list> -->






    </div>
    <div class="content-column right-content margin-left25" layout="column" flex>
        <div class="content-panel">
            <div class="content-panel-body">

              <div>
                <h2>General</h2>
                <div>
                <h3>1. How do I get more information about the DMC?</h3>
                    <div >
                    <h4>We have documentation that you can read on our <u><a href="http://opendmc.org/" target="_blank "http://opendmc.org>www.opendmc.org</a></u> website. You can also find a few quick start guides on the <u><a href="https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/Digital+Manufacturing+Commons+Home" target="_blank " https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/Digital+Manufacturing+Commons+Home> DMC Wiki </a></u> and technical documentation on <u><a href="http://docs.projectdmc.org/en/latest" target="_blank "http://docs.projectdmc.org/en/latest>Read the Docs</a></u>.</h4>
                    </div>
                </div>
                <div>
                  <h3>2. How do I contribute to the DMC?</h3>
                    <div >
                     <h4>You can look at our latest updated code on our <u><a href="https://bitbucket.org/DigitalMfgCommons/" target="_blank "https://bitbucket.org/DigitalMfgCommons>Bitbucket repository</a></u>. If you are interested in contributing code to the DMC, please get in contact with us via <u><a href="mailto:askdmc@uilabs.org">e-mail</a></u> or <u><a href="http://slackinvite.projectdmc.org" target="_blank "http://slackinvite.projectdmc.org>Slack</a></u>. You can find all of our modes of contact on our <u><a href="https://beta.opendmc.org/contact-us.php#">Contact-Us</a></u> page. You can also help us by building application that can live in the DMC by building <u><a href="https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/Installing+and+Launching+DOME" target="_blank "https://digitalmfgcommons.atlassian.net/wiki/display/DMDIIDMC/Installing+and+Launching+DOME>DOME models</a></u>.</h4>
                    </div>
                </div>
                <div>
                <h3>3. How do I become the admin for my company?</h3>
                    <div >
                    <h4>Answer</h4>
                    </div>
                </div>
                <div>
                <h3>4. When creating my account, I did not see my company in the modal. How do I move forward?</h3>
                    <div >
                    <h4>Answer</h4>
                    </div>
                </div>
                <div>
                <h3>5. I am a member of organization XYZ, how do I visit my company's profile page?</h3>
                    <div >
                    <h4>Answer</h4>
                    </div>
                </div>
                <div>
                <h3>6. How do I view other company profiles?</h3>
                    <div >
                    <h4>Answer</h4>
                    </div>
                </div>
                <div>
                <h3>7. How do I get access to my comppany's digital DMC assets?</h3>
                    <div >
                    <h4>Answer</h4>
                    </div>
                </div>
              </div>
              <div>
                <hr />
              <h2>Members Portal</h2>
                <div>
                  <h3>1. My organization is a member of DMDII, why don't I see the member portal?</h3>
                    <div >
                     <h3>Answer to</h3>
                    </div>
                </div>
                <div>
                  <h3>2. How do I become a member of DMDII?</h3>
                    <div >
                     <h3>Answer to</h3>
                    </div>
                </div>
                <div>
                  <h3>3. How do I?</h3>
                    <div >
                     <h3>Answer to</h3>
                    </div>
                </div>
                <div>
                  <h3>4. What useful information can I find in the member portal?</h3>
                    <div >
                     <h3>Answer to</h3>
                    </div>
                </div>
              </div>
              <hr />




                <!-- <md-content layout-padding ng-if="article">
                    <div class="block-content title-right-content" layout="row" layout-align="start center">
                        <h2 class="title">{{article.title}}</h2>
                    </div>
                    <md-divider ></md-divider>
                    <div class="block-content subcategories-content" layout="row" layout-wrap>
                        <p class="text-article" ng-bind-html="article.text"></p>
                    </div>
                    <md-divider ></md-divider>
                    <div class="block-content contact-us-content_" layout="row" layout-align="start center">
                        <p>Still need help? <a href="/contact-us.php">Contact Us</a></p>
                    </div>
                </md-content>
                <md-content layout-padding ng-if="!article">
                    <div class="block-content title-right-content" layout="row" layout-align="start center">
                        <h2 class="title">{{selectedCategory.title}}</h2>
                    </div>
                    <div class="block-content subcategories-content" layout="row" layout-wrap>
                        <div class="subcategory" ng-repeat="subcategory in selectedCategory.faq_subcategories" flex="33" flex-sm="55">
                            <md-list>
                                <md-subheader>{{subcategory.title}}</md-subheader>
                                <md-list-item ng-repeat="item in subcategory.faq_articles">
                                    <div class="md-list-item-text" layout="column">
                                        <a ng-href="{{'/faq.php#/article/'+selectedCategory.id+'/'+item.id+(searchModel ? '?text='+searchModel : '')}}">{{item.title}}</a>
                                    </div>
                                </md-list-item>
                                <md-list-item ng-if="subcategory.items.length == 0">
                                    <div class="md-list-item-text" layout="column">
                                        Subcategory is empty...
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                    <md-divider ></md-divider>
                    <div class="block-content contact-us-content_" layout="row" layout-align="start center">
                        <p>Still need help? <a href="/contact-us.php">Contact Us</a></p>
                    </div>
                </md-content> -->






            </div>
        </div>
    </div>
    <div class="content-column right-content margin-left25" layout="column" flex="20" ng-if="article">
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content layout-padding ng-if="article">
                    <div class="block-content title-right-content" layout="row" layout-align="start center">
                        <h2 class="title">Related Articles</h2>
                    </div>
                    <md-divider ></md-divider>
                    <md-list class="related-articles-list">
                        <md-list-item ng-repeat="item in relatedArticles">
                            <div class="md-list-item-text" layout="column">
                                <a ng-href="{{'/faq.php#/article/'+categoryId+'/'+item.id+(searchModel ? '?text='+searchModel : '')}}">{{item.title}}</a>
                            </div>
                        </md-list-item>
                        <md-list-item ng-if="relatedArticles.length == 0">
                            <div class="md-list-item-text" layout="column">
                                List is empty...
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
    </div>
</div>
