<div class="individual-discussion">
	<div layout="column" class="padding">
		<a class="return" href="community.php">Return to Community</a>
		<div layout="row">
			<div  flex="70">
				<div class="left-column" layout="column">
					<div class="header" layout="row" layout-align="space-between center">
						<h2>{{discussion.title}}</h2>
						<md-button class="md-raised" ng-click="follow()">
							{{(followFlag) ? 'Unfollow' : 'Follow'}}
						</md-button>
					</div>
					<md-divider></md-divider>
					<div class="comment" ng-class="{'isOwner' : comment.isOwner}" ng-repeat="comment in discussion.comments.items track by $index" layout="column">
						<div class="comment-header" layout="row" layout-align="start center">
							<img ng-src="{{comment.avatar}}">
							<div layout="row" layout-align="space-between center" layout-fill>
								<h3>{{comment.full_name}}</h3>
								<h3>{{comment.created_at}}</h3>
							</div>
						</div>
						<div class="text">
							{{comment.text}}
						</div>
						<div class="comment-footer" layout="row" layout-align="space-between center">
							<a href="">Flag post</a>
							<div layout="row" layout-align="center center">
								<p>Was this review helpful?</p>
								<md-button aria-label="Like" md-no-ink class="md-button"  ng-click="Like(comment)">
									<ng-md-icon icon="thumb_up" ng-style="(comment.userRatingReview[userlogin] === 'like')? {fill:'#65AF3F'}: {fill:'black'}" size="14"></ng-md-icon>
									{{(comment.like > 0)? comment.like: ''}}
								</md-button>
								<md-button aria-label="Dislike" md-no-ink class="md-button"  ng-click="DisLike(comment)">
									<ng-md-icon icon="thumb_down" ng-style="(comment.userRatingReview[userlogin] === 'dislike')? {fill:'red'}: {fill:'black'}" size="14"></ng-md-icon>
									{{(comment.dislike > 0)? comment.dislike: ''}}
								</md-button>
							</div>
						</div>
					</div>
                    <form name="CommentForm" ng-submit="Submit()">
                        <md-input-container flex>
                            <label>Comment</label>
                            <textarea ng-model="newComment" columns="1" md-maxlength="1000"></textarea>
                        </md-input-container>
                        <div layout layout-align="end end">
                            <md-button class="md-raised" submit ng-disabled="!newComment" >Submit</md-button>
                        </div>
                    </form>
				</div>
			</div>
			<div flex="30">
				<div class="right-column" layout="column">
					<div class="related">
						<h2>Related Discussions</h2>
						<md-list>
							<md-list-item ng-repeat="item in realtedDiscussions track by $index">
								<a ng-href="individual-discussion.php#/{{item.id}}"><h3>{{item.title}}</h3></a>
							</md-list-item>
						</md-list>
					</div>
					<div class="tags" layout="row" layout-wrap>
						<h2 flex="100">Tags</h2>
						<md-chips ng-repeat="tag in discussion.tags" ng-show="discussion.tags.length > 0">
							<md-chip>
								{{tag.name}}
							</md-chip>
						</md-chips>
                        <div layout="row" flex="100" layout-align="start center" layout-padding ng-show="discussion.tags.length == 0">
                            No tags
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>