<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Share</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-content>
      <section>
          <h3>{{file.documentName}}</h3>
          <md-select ng-model="currentDoc" placeholder="Version" class="md-no-underline">
              <md-option ng-repeat="doc in docs" ng-value="doc">Version {{doc.version+1}}</md-option>
          </md-select>
          <md-select ng-model="shareOption" placeholder="How To Share" class="md-no-underline">
            <md-option ng-repeat="option in shareOptions" ng-value="option">{{option.name}}</md-option>
          </md-select>
          <md-select ng-model="shareType" placeholder="Share Type" class="md-no-underline">
              <md-option ng-repeat="(key, value) in shareTypes" value="{{key}}">{{value}}</md-option>
          </md-select>
          <md-autocomplete ng-if="shareType != 'external'" flex
              md-input-name="autocompleteField"
              md-no-cache="true"
              md-selected-item="user"
              md-search-text="query"
              md-items="item in search(query)"
              md-item-text="item.displayName"
              md-floating-label="User"
              ng-hide="!shareOption.internal">
              <md-item-template>
                  <span md-highlight-text="searchText">{{item.displayName}}</span>
              </md-item-template>
          </md-autocomplete>

          <md-input-container ng-hide="!shareOption || shareOption.internal">
      			<label>Email</label>
      			<input type="email"
                    ng-model="user.email"
                    >
      		</md-input-container>
          <md-input-container ng-show="shareType === 'external'">
              <label>Email</label>
              <input name="shareEmail" ng-model="shareEmail" placeholder="Email"/>
          </md-input-container>
          <md-button ng-hide="showConfirm" class="md-raised md-primary" ng-click="showConfirm=true" ng-disabled="!user && !email" aria-label="share">Share</md-button>
          <h5 ng-hide="!showConfirm">Are you sure you want to share with {{shareOption.internal ? user.displayName : user.email}}?</h5>
          <md-button ng-hide="!showConfirm" class="md-raised md-primary" ng-click="showConfirm=false" aria-label="cancel">Cancel</md-button>
          <md-button ng-hide="!showConfirm" class="md-raised md-primary" ng-click="share()" ng-disabled="!user && !email" aria-label="share">Confirm</md-button>
          <md-button class="md-raised md-primary" ng-if="shareType === 'external'" ng-click="shareWithEmail()" ng-disabled="shareEmail == ''" aria-label="share">Share</md-button>
      </section>
  </md-content>
</md-dialog>
