<section id="main-section" class="main-section">
    <div class="container transform-main">
        <div class="row nav-row">
            <a href="index.php"><ng-md-icon class="nav-back" style="fill: white" icon="navigate_before" size="25"></ng-md-icon></a>
            <a href="index.php"><ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon></a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="transform-title">EDUCATE:</h3>
                <h3 class="help-title">HOW CAN WE HELP YOU?</h3>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <a ng-click="gotoElement('cybersecurity')">
                <img class="bullet-image" ng-src="images/check.png" type="image/png" height="80px">
            </a>
            <div class="col-sm-7 col-md-10 bottom-border path-link">
                <a ng-click="gotoElement('cybersecurity')">I want to learn about CyberSecurity.</a>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <a ng-click="gotoElement('model-enterprise')">
                <img class="bullet-image" ng-src="images/cube.png" type="image/png" height="80px">
            </a>
            <div class="col-sm-7 col-md-10 bottom-border path-link">
                <a ng-click="gotoElement('model-enterprise')">I want to learn about Model Based Enterprises.</a>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <a ng-click="gotoElement('digital-thread')">
                <img class="bullet-image" ng-src="images/thread.png" type="image/png" height="80px">
            </a>
            <div class="col-sm-7 col-md-10 bottom-border path-link">
                <a ng-click="gotoElement('digital-thread')">I want to learn about the Digital Thread.</a>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <a ng-click="gotoElement('networks')">
                <img class="bullet-image" ng-src="images/network.png" type="image/png" height="80px">
            </a>
            <div class="col-sm-7 col-md-10 bottom-border path-link">
                <a ng-click="gotoElement('networks')">I want to learn about Design & Supply Networks.</a>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <a ng-click="gotoElement('jobs')">
                <img class="bullet-image" ng-src="images/jobs.png" type="image/png" height="80px">
            </a>
            <div class="col-sm-7 col-md-10 bottom-border path-link">
                <a ng-click="gotoElement('jobs')">I want to learn about Jobs & Organizational Change.</a>
            </div>
        </div>
    </div>
</section>

<section id="cybersecurity" class="transform-section">
    <div class="container transform-content">
        <div class="row nav-row">
            <a ng-click="gotoElement('main-section')"><ng-md-icon class="nav-back top" style="fill: white" icon="navigate_before" size="25"></ng-md-icon></a>
            <a href="index.php"><ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon></a>
            <img ng-click="gotoElement('jobs')" class="pull-right margin-right-3" ng-src="images/jobs_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('networks')" class="pull-right margin-right-3" ng-src="images/network_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('digital-thread')" class="pull-right margin-right-3" ng-src="images/thread_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('model-enterprise')" class="pull-right margin-right-3" ng-src="images/cube_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('cybersecurity')" class="pull-right margin-right-3" ng-src="images/check.png" type="image/png" height="25px">
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="transform-title">EDUCATE:</h3>
                <h3 class="help-title">CYBERSECURITY</h3>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <img ng-src="images/videos.png" class="col-xs-6 col-sm-6 col-md-6">
            <img ng-src="images/case_studies.png" class="col-xs-6 col-sm-6 col-md-6">
        </div>
        <div class="row">
            <img ng-src="images/courses.png" class="col-xs-4 col-sm-4 col-md-4">
            <img ng-src="images/research.png" class="col-xs-4 col-sm-4 col-md-4">
            <img ng-src="images/blog_posts.png" class="col-xs-4 col-sm-4 col-md-4">
        </div>
    </div>
</section>

<section id="model-enterprise" class="transform-section">
    <div class="container transform-content">
        <div class="row nav-row">
            <a ng-click="gotoElement('main-section')"><ng-md-icon class="nav-back top" style="fill: white" icon="navigate_before" size="25"></ng-md-icon></a>
            <a href="index.php"><ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon></a>
            <img ng-click="gotoElement('jobs')" class="pull-right margin-right-3" ng-src="images/jobs_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('networks')" class="pull-right margin-right-3" ng-src="images/network_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('digital-thread')" class="pull-right margin-right-3" ng-src="images/thread_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('model-enterprise')" class="pull-right margin-right-3" ng-src="images/cube.png" type="image/png" height="25px">
            <img ng-click="gotoElement('cybersecurity')" class="pull-right margin-right-3" ng-src="images/check_grey.png" type="image/png" height="25px">
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="transform-title">EDUCATE:</h3>
                <h3 class="help-title">MODEL BASED ENTERPRISES</h3>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <img ng-src="images/videos.png" class="col-xs-6 col-sm-6 col-md-6">
            <img ng-src="images/case_studies.png" class="col-xs-6 col-sm-6 col-md-6">
        </div>
        <div class="row">
            <img ng-src="images/courses.png" class="col-xs-4 col-sm-4 col-md-4">
            <img ng-src="images/research.png" class="col-xs-4 col-sm-4 col-md-4">
            <img ng-src="images/blog_posts.png" class="col-xs-4 col-sm-4 col-md-4">
        </div>
    </div>
</section>

<section id="digital-thread" class="transform-section">
    <div class="container transform-content">
        <div class="row nav-row">
            <a ng-click="gotoElement('main-section')"><ng-md-icon class="nav-back top" style="fill: white" icon="navigate_before" size="25"></ng-md-icon></a>
            <a href="index.php"><ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon></a>
            <img ng-click="gotoElement('jobs')" class="pull-right margin-right-3" ng-src="images/jobs_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('networks')" class="pull-right margin-right-3" ng-src="images/network_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('digital-thread')" class="pull-right margin-right-3" ng-src="images/thread.png" type="image/png" height="25px">
            <img ng-click="gotoElement('model-enterprise')" class="pull-right margin-right-3" ng-src="images/cube_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('cybersecurity')" class="pull-right margin-right-3" ng-src="images/check_grey.png" type="image/png" height="25px">
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="transform-title">EDUCATE:</h3>
                <h3 class="help-title">THE DIGITAL THREAD</h3>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <img ng-src="images/videos.png" class="col-xs-6 col-sm-6 col-md-6">
            <img ng-src="images/case_studies.png" class="col-xs-6 col-sm-6 col-md-6">
        </div>
        <div class="row">
            <img ng-src="images/courses.png" class="col-xs-4 col-sm-4 col-md-4">
            <img ng-src="images/research.png" class="col-xs-4 col-sm-4 col-md-4">
            <img ng-src="images/blog_posts.png" class="col-xs-4 col-sm-4 col-md-4">
        </div>
    </div>
</section>

<section id="networks" class="transform-section">
    <div class="container transform-content">
        <div class="row nav-row">
            <a ng-click="gotoElement('main-section')"><ng-md-icon class="nav-back top" style="fill: white" icon="navigate_before" size="25"></ng-md-icon></a>
            <a href="index.php"><ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon></a>
            <img ng-click="gotoElement('jobs')" class="pull-right margin-right-3" ng-src="images/jobs_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('networks')" class="pull-right margin-right-3" ng-src="images/network.png" type="image/png" height="25px">
            <img ng-click="gotoElement('digital-thread')" class="pull-right margin-right-3" ng-src="images/thread_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('model-enterprise')" class="pull-right margin-right-3" ng-src="images/cube_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('cybersecurity')" class="pull-right margin-right-3" ng-src="images/check_grey.png" type="image/png" height="25px">
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="transform-title">EDUCATE:</h3>
                <h3 class="help-title">DESIGN & SUPPLY NETWORKS</h3>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <img ng-src="images/videos.png" class="col-xs-6 col-sm-6 col-md-6">
            <img ng-src="images/case_studies.png" class="col-xs-6 col-sm-6 col-md-6">
        </div>
        <div class="row">
            <img ng-src="images/courses.png" class="col-xs-4 col-sm-4 col-md-4">
            <img ng-src="images/research.png" class="col-xs-4 col-sm-4 col-md-4">
            <img ng-src="images/blog_posts.png" class="col-xs-4 col-sm-4 col-md-4">
        </div>
    </div>
</section>

<section id="jobs" class="transform-section">
    <div class="container transform-content">
        <div class="row nav-row">
            <a ng-click="gotoElement('main-section')"><ng-md-icon class="nav-back top" style="fill: white" icon="navigate_before" size="25"></ng-md-icon></a>
            <a href="index.php"><ng-md-icon class="pull-right nav-home" icon="home" style="fill: white" size="25"></ng-md-icon></a>
            <img ng-click="gotoElement('jobs')" class="pull-right margin-right-3" ng-src="images/jobs.png" type="image/png" height="25px">
            <img ng-click="gotoElement('networks')" class="pull-right margin-right-3" ng-src="images/network_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('digital-thread')" class="pull-right margin-right-3" ng-src="images/thread_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('model-enterprise')" class="pull-right margin-right-3" ng-src="images/cube_grey.png" type="image/png" height="25px">
            <img ng-click="gotoElement('cybersecurity')" class="pull-right margin-right-3" ng-src="images/check_grey.png" type="image/png" height="25px">
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="transform-title">EDUCATE:</h3>
                <h3 class="help-title">JOBS & ORGANIZATIONAL CHANGE</h3>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <img ng-src="images/videos.png" class="col-xs-6 col-sm-6 col-md-6">
            <img ng-src="images/case_studies.png" class="col-xs-6 col-sm-6 col-md-6">
        </div>
        <div class="row">
            <img ng-src="images/courses.png" class="col-xs-4 col-sm-4 col-md-4">
            <img ng-src="images/research.png" class="col-xs-4 col-sm-4 col-md-4">
            <img ng-src="images/blog_posts.png" class="col-xs-4 col-sm-4 col-md-4">
        </div>
    </div>
</section>


