<div class="container marketplace-box" layout="row" >
  <div class="content-column" layout="column" flex='20' layout-padding>
    <dmc-tree-menu tree-source="treeMenuModel"></dmc-tree-menu>
    <dmc-products-filter ng-if="isSearch"></dmc-products-filter>
  </div>
  <!-- Left Content Column -->
  <div class="marketplace" layout="column" flex>
    <md-content class="marketplace-search" layout="row" layout-align="center center">
      <form ng-submit="submit()" class="marketplace-search-field" flex="60">
        <md-input-container md-no-float>
          <md-icon>
            <ng-md-icon icon="search"></ng-md-icon>
          </md-icon>
          <input type="text" placeholder="Search the Marketplace" ng-model="searchModel">
        </md-input-container>
      </form>

      <span flex></span>

      <div class="marketplace-search-button" layout="row" layout-align="center start">
        <md-button href="/">
          <ng-md-icon icon="favorite" size="14"></ng-md-icon>
          Favorites
        </md-button>
        <md-button href="" ng-disabled="compareProducts.services.length+compareProducts.components.length == 0" compare-button>
          Compare ({{compareProducts.services.length+compareProducts.components.length}})
        </md-button>
      </div>
    </md-content>

    <md-tabs md-dynamic-height md-border-bottom ng-if="!isSearch" class="marketplace-carousel-tabs">
      <md-tab label="Popular">
        <md-content class="carousel-padding">
          <div dmc-carousel 
              name-carousel="'carouselPopular'" 
              max-items="10" 
              show-items="2" 
              carousel-source="carouselData.arr" 
              run-carousel="true" 
              timeout="5">
          </div>
        </md-content>
      </md-tab>

      <md-tab label="New">
        <md-content class="carousel-padding">
          <div dmc-carousel 
              name-carousel="'carouselNew'" 
              max-items="10" 
              show-items="2"
              carousel-source="carouselData.arr" 
              run-carousel="true" 
              timeout="5">
          </div>
        </md-content>
      </md-tab>
    </md-tabs>

    <!-- Favorit items -->
    <div class="marketplace-favorit">
      <dmc-products-card 
          title-card="'ITEMS FROM FAVORITE STOREFRONTS'" 
          search-card="isSearch" 
          card-source="products"
          card-loading="downloadData" 
          page-size="productCardPageSize" 
          current-page="productCardCurrentPage"
          total-size="products.count" 
          class="content-panel-marketplace"
          hide-buttons="[]"
          layout-margin>
      </dmc-products-card>
    </div>
  </div>
</div>