
<md-input-container flex="45">
  <md-icon>
    <ng-md-icon icon ="search"></ng-md-icon>
  </md-icon>
    <label>Search Companies</label>
    <input ng-model="item.accessCompanySearch">
</md-input-container>
<div class="container marketplace-box" layout="row" >
  <div class="marketplace" layout="column" flex>
  <div class="marketplace-search-button" layout="row" layout-align="center center">
  </div>
  <hr />
      <dmc-products-card
          search-card="isSearch"
          card-source="marketplaceItems"
          card-loading="downloadData"
          page-size="productCardPageSize"
          update-page-size="updatePageSize"
          current-page="productCardCurrentPage"
          total-size="marketplaceItems.count"
          class="content-panel-marketplace"
          hide-buttons="['compare']"
          view-all-link="'/marketplace.php#/search?product=services'"
          layout-margin>
      </dmc-products-card>
  </div>
</div>
