<div layout="row" class="contact-us-top" layout-align="center center" flex="100">
    <h3>Contact Us</h3>
</div>
<div layout="row" class="contact-us-content" layout-align="center center">
    <!--<div layout="column" flex>-->

    <!--</div>-->
    <div layout="column" class="get-in-touch">
        <!--<h4>Get in touch</h4>-->
        <!-- Address -->
        <div layout="row" flex class="contact-block location" layout-align="start center">
            <ng-md-icon icon="location_on" size="32"></ng-md-icon>
            <span>1415 N Cherry Ave<br>Chicago, IL 60642</span>
        </div>
        <!-- Phone -->
        <div layout="row" flex class="contact-block phone" layout-align="start center">
            <ng-md-icon icon="phone" size="32"></ng-md-icon>
            <a href="tel:111-111-1111">111-111-1111</a>
        </div>
        <!-- Email -->
        <div layout="row" flex class="contact-block email" layout-align="start center">
            <ng-md-icon icon="email" size="32"></ng-md-icon>
            <a href="mailto:test@dmc.org">test@dmc.org</a>
        </div>
    </div>
</div>