<div layout="row" class="contact-us-top" layout-align="center center" flex="100">
    <h3>Contact Us</h3>
</div>
<div layout="row" class="contact-us-content" layout-align="center start">
    <div layout="column" class="get-in-touch">
        <div layout="row" class="contact-block location" layout-align="start center">
            <div layout="column" class="contact-block-column">
                <div layout="row" layout-align="center start"><ng-md-icon icon="location_on" size="32"></ng-md-icon></div>
                <div layout="row" layout-align="center start"><span>1415 N Cherry Ave<br>Chicago, IL 60642</span></div>
            </div>
        </div>
    </div>
    <div layout="column" class="get-in-touch">
        <div layout="row" class="contact-block phone" layout-align="start center">
            <div layout="column" class="contact-block-column">
                <div layout="row" layout-align="center start"><ng-md-icon icon="phone" size="32"></ng-md-icon></div>
                <div layout="row" layout-align="center start"><a href="tel:111-111-1111">111-111-1111</a></div>
            </div>
        </div>
    </div>
    <div layout="column" class="get-in-touch">
        <div layout="row" class="contact-block email" layout-align="start center">
            <div layout="column" class="contact-block-column">
                <div layout="row" layout-align="center start"><ng-md-icon icon="email" size="32"></ng-md-icon></div>
                <div layout="row" layout-align="center start"><a href="mailto:test@dmc.org">test@dmc.org</a></div>
            </div>
        </div>
    </div>
</div>