<!-- <div class="horizontal-menu" layout="row">
  <div class="menu-title" layout="column">
    <div class="title">FILTER BY:</div>
    <a class="category clear-button" ng-href="{{clearUrl}}">Clear Filters</a>
  </div>
  <div layout="row">

    <div class="category-column"  layout="column" ng-repeat="level in treeSource.data">
      <div class="title">
        {{level.title}}
      </div>

      <div class="category" ng-repeat="category in level.categories">
        <a ng-class="{'selected' : category.opened}" ng-href="{{category.href}}">{{category.title}}</a>
      </div>
    </div>

  </div>

</div> -->


<div class="filter-container">
  <div class="row content-row">
    <div class="col-sm-6">
      <a class="toggle-control collapsed" data-toggle="collapse" data-target="#member-filters">Filters <span class="caret"></span></a>
    </div>
    <div class="col-sm-6 text-right">
      <a href="#">Clear Filters</a>
    </div>

  </div>
  <div class="collapse" id="member-filters">
    <div class="row">
      <div class="col-sm-4" ng-repeat="level in treeSource.data">
        <h4>{{level.title}}</h4>
        <div ng-repeat="category in level.categories">
          <a ng-class="{'selected' : category.opened}" ng-href="{{category.href}}">{{category.title}}</a>
        </div>

      </div>


    </div>
  </div>
</div>
