<md-list class="menu-filter-item">
    <md-subheader>Author</md-subheader>
    <md-list-item class="md-1-line" ng-repeat="author in authors">
        <div class="md-list-item-text" layout="column">
            <md-checkbox ng-model="author.checked"
                         ng-change="checkAuthor(author)"
                         aria-label="{{author.name}}">{{author.name}} ({{author.count}})</md-checkbox>
        </div>
    </md-list-item>
</md-list>
<md-list class="menu-filter-item">
    <md-subheader>Rating</md-subheader>
    <md-list-item class="md-1-line" ng-repeat="rating in ratings">
        <div class="md-list-item-text" layout="column">
            <md-checkbox ng-model="rating.checked"
                         ng-change="checkRating(rating)"
                         aria-label="{{rating.stars.length+' Stars'}}">
                <div class="stars">
                    <ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="19" ng-repeat="star in rating.stars track by $index"></ng-md-icon>
                    <span>& up ({{rating.count}})</span>
                </div>
            </md-checkbox>
        </div>
    </md-list-item>
</md-list>
<md-list class="menu-filter-item">
    <md-subheader>Favorites</md-subheader>
    <md-list-item class="md-1-line" ng-repeat="item in favorites">
        <div class="md-list-item-text" layout="column">
            <md-checkbox ng-model="item.checked"
                         ng-change="checkFavorite(item)"
                         aria-label="{{item.name}}">{{item.name}}</md-checkbox>
        </div>
    </md-list-item>
</md-list>
<md-list class="menu-filter-item">
    <md-subheader>Date</md-subheader>
    <md-list-item class="md-1-line" ng-repeat="item in dates">
        <div class="md-list-item-text" layout="column">
            <md-checkbox ng-model="item.checked"
                         ng-change="checkDate(item)"
                         aria-label="{{item.name}}">{{item.name}} ({{item.count}})</md-checkbox>
        </div>
    </md-list-item>
</md-list>