<div class="footer" layout-padding>
    <div class="footer-menu" ng-if="type == 'home'">
        <ul>
            <li><md-button href="/" md-no-ink>Lorem Ipsum</md-button></li>
            <li><md-button href="/" md-no-ink>Lorem Ipsum</md-button></li>
            <li><md-button href="/" md-no-ink>Lorem Ipsum</md-button></li>
            <li><md-button href="/" md-no-ink>Lorem Ipsum</md-button></li>
        </ul>
    </div>
    <div class="copyright" ng-class="{'copyright-home' : type == 'home'}">
        <p>© 2015 Digital Manufacturing Commons</p>
    </div>
    <div class="footer-links" ng-if="type != 'home'">
        <md-button href="/feedback" md-no-ink>
            <span>Feedback</span> <ng-md-icon icon="swap_horiz" style="fill: white;" size="16"></ng-md-icon>
        </md-button>
    </div>
</div>